﻿@using System.Text.RegularExpressions
@inherits umbraco.MacroEngines.DynamicNodeContext
@{
	var url = "";
    var entryImageUrl = String.Format("http://{0}", Request.Url.Authority);
    dynamic entryImage = null;
    var height = "0";
    var width = "0";

    switch (CurrentModel.NodeTypeAlias)
    {
        case "RecordVideoEntry":
            url = String.Format("{0}#content-box2_{1}", Model.Parent.Url, Model.Id);
            entryImage = Model.MediaById(Model._entryImageForVideo);
            entryImageUrl = String.Format("{0}{1}", entryImageUrl, entryImage.Url);
            height = entryImage.umbracoHeight;
            width = entryImage.umbracoWidth;
            break;
        case "UploadImageEntry":
            url = String.Format("{0}#content-box_{1}", Model.Parent.Url, Model.Id);
			var image = System.Drawing.Image.FromFile(Server.MapPath(String.Format("~{0}", Model.entryUrl)));
            entryImageUrl = String.Format("{0}{1}", entryImageUrl, Model.entryUrl);
            height = image.Height.ToString();
            width = image.Width.ToString();
            break;
        case "WriteTextEntry":
            url = String.Format("{0}#content-box3_{1}", Model.Parent.Url, Model.Id);
			entryImage = Model.MediaById(Model._entryImageForText);
            entryImageUrl = String.Format("{0}{1}", entryImageUrl, entryImage.Url);
            height = entryImage.umbracoHeight;
            width = entryImage.umbracoWidth;
            break;
    }
}

<html xmlns:fb="http://ogp.me/ns/fb#">
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
		<meta property="og:title" content="Check out this entry!" />
        <meta property="og:site_name" content="Mutti Parma" />
		<meta property="og:image" content="@(entryImageUrl)" />
		<meta property="og:image:width" content="@width" />
		<meta property="og:image:height" content="@height" />
		<meta property="og:description" content="Enter the Mutti Parma competition for your chance to Win a trip to Italy" />
<script type="text/javascript">
	$(document).ready(function() {
		document.location = '@url';
	});
</script>
	</head>
		<body>
<script>
  FB.Event.subscribe('edge.create', function(href, widget) {
    console.log('You liked' + href);
  });
</script>
		@*<p>Redirecting ... <a href="@url">Click to redirect</a></p>*@
		</body>
</html>

@functions {
   public static string StripTagsRegex(string source)
  {
    return Regex.Replace(source, @"<(.|\n)*?>|\\n|\\", string.Empty);
  }
}