﻿@inherits umbraco.MacroEngines.DynamicNodeContext

@*
	Model = The current page the macro is executed on
			@Model.bodyText

	Parameter = collection of parameter values passed from the macro
			@Paramter.myParam

    Library = utillity library with common methods
    		@Library.NodeById(1233)
*@



@* The fun starts here *@

@{	
	<meta property="og:title" content="Mutti Parma - @Model.Name"/>
	<meta property="og:image" content="http://www.muttiparma.com.au/images/mutti-center-logo.png"/>
	<meta property="og:site_name" content="Mutti Parma"/>
	<meta property="og:description" content=""/>
}