﻿@using umbraco.NodeFactory
@inherits umbraco.MacroEngines.DynamicNodeContext

@{
    Node currentNode = new Node(Model.Id);
	Node contentNode = new Node(1088);
	 
	var rightNavTitle = contentNode.GetProperty("rightFlyoutNavigationTitle").Value;
	var rightNavContentTitle = contentNode.GetProperty("rightFlyoutTitle").Value;
	var rightNavContent = contentNode.GetProperty("rightFlyoutContent").Value;
	var rightNavLinkto = contentNode.GetProperty("rightFlyoutNavigationLinkto").Value;
	var rightNavLinktoText = contentNode.GetProperty("rightFlyoutLinkText").Value;
	var leftNavTitle = contentNode.GetProperty("leftFlyoutNavigationTitle").Value;
	var leftNavContentTitle = contentNode.GetProperty("leftFlyoutTitle").Value;
	var leftNavContent = contentNode.GetProperty("leftFlyoutContent").Value;
	var lefttNavLinkto = contentNode.GetProperty("leftFlyoutLinkto").Value;
	var lefttNavLinktoText = contentNode.GetProperty("leftFlyoutLinkText").Value;
	
    if (currentNode.Id == 1088)
    {		
        <div class="footer-nav" style="display:block;">
            <div class="footer-nav-wrapper"><div class="fnav-inner">
                <ul class="clearfix">
                    <li><!--<a href="#" class="link fnlink">MUTTI ITALIAN COOKBOOK APP</a>-->
                        <div class="boxwrapper boxwrapper-app boxwrapper-closed">
                            <div class="boxheader">
                                <a href="#" class="link fnlink">@rightNavTitle</a>
                            </div>
                            <div class="boxcontent">
                                <h4>@rightNavContentTitle </h4>
                                <div class="left"><img src="@Url.Content("~/images/iphone.jpg")" alt="" /></div>
                                <div class="right">
                                    <p>@Html.Raw(rightNavContent)</p>
                                    <p class="center">
                                        <a href="@umbraco.library.NiceUrl(int.Parse(rightNavLinkto))"> <button class="button green"><span><span>@rightNavLinktoText</span></span></button></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                    <!-- <a href="#" class=" fnlink-">TOMATO JOURNEY TRACKER</a> -->
                    <div class="boxwrapper boxwrapper-tracker boxwrapper-closed">
                        <div class="boxheader">
                            <a href="#" class="link fnlink">@leftNavTitle</a>
                        </div>
                        <div class="boxcontent">
                            <h4>@leftNavContentTitle</h4>
                            <p>@Html.Raw(leftNavContent)</p>
                            <p class="right">
                                  <a href="@umbraco.library.NiceUrl(int.Parse(lefttNavLinkto))"> <button class="button green"><span><span>@lefttNavLinktoText</span></span></button></a>
                            </p>
                        </div>
                    </div>
                </ul>
            </div>
          </div>
        </div>
    }
    else
    {
        
    }
}