﻿@using System.Text.RegularExpressions
@inherits umbraco.MacroEngines.DynamicNodeContext
@{
	var url = String.Format("{0}#product-{1}", Model.Parent.Url, Model.Id);
	var imageUrl = String.Format("http://{0}{1}", Request.Url.Host, Model.Media("RecipeItemImage", "umbracoFile"));
	var description = @Html.Raw(StripTagsRegex(CurrentModel.GetProperty("recipeItemDescription").Value));
}

<html xmlns:fb="http://ogp.me/ns/fb#">
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
		<meta property="og:title" content="Mutti Parma - @(Model.Name)" />
        <meta property="og:site_name" content="Mutti Parma" />
		<meta property="og:image" content="@imageUrl" />
		<meta property="og:image:width" content="255" />
		<meta property="og:image:height" content="255" />
		<meta property="og:description" content="@description" />
<script type="text/javascript">
	$(document).ready(function() {
		document.location = '@url';
	});
</script>
	</head>
		<body>
	<script>
  FB.Event.subscribe('edge.create', function(href, widget) {
    console.log('You liked' + href);
  });
</script>
		@*<p>Redirecting ... <a href="@url">Click to redirect</a></p>*@
		</body>
</html>

@functions {
   public static string StripTagsRegex(string source)
  {
    return Regex.Replace(source, @"<(.|\n)*?>|\\n|\\", string.Empty);
  }
}