﻿@using umbraco.NodeFactory
@inherits umbraco.MacroEngines.DynamicNodeContext

@{
    Node parentNode = new Node(1088);
    
    <ul class="right">
    @foreach (Node children in parentNode.Children)
    {
        if (int.Parse(children.GetProperty("umbracoNaviHide").Value) != 1)
        {
            if (children.GetProperty("topNavigationPosition").Value == "Right")
            {
                try
                {
                    <li><a href="@umbraco.library.NiceUrl(children.Id)">@children.Name</a></li>
                }
                catch (Exception)
                {
  
                    throw;
                }
            }
            else
            {
                
            }
        }
        else
        {
  
        }
    }
    </ul>
}