@using System.Net.Mail
@using Lucene.Net.Documents
@using umbraco.BusinessLogic
@using umbraco.NodeFactory
@using umbraco.cms.businesslogic.packager

<script src="~/scripts/knockout.js"></script>
<style>
    table.viewentries {
        margin: 6px auto;
        padding: 30px;
        border: 2px solid #e8e8e8;
    
    }
    table.viewentries th {
        color: #424242;
        font-size: 20px;
        width: 100%;
    }
    table.viewentries tr td {
        float: left;
        color: #424242;
        font-size: 12px;
    }

    td.vew-entry-title {
        float: left;
        width: 430px;
    }
</style>
@{
         
    <table class="viewentries">
        <thead>
             <tr><th>New Comments</th></tr>
        </thead>
        <tbody  data-bind="foreach: list">
                <tr data-bind="attr: { id: EntryId }">
                    <td class="vew-entry-title" data-bind="text: combineprop " ></td>
                    <td><input type="button" name="viewentry" class="view-comment" value="View Entry"  data-bind=" attr: { entryType: EntryType } " /></td>
                    <td><input type="button" name="approve" class="approve-comment" value="Approve"  data-bind=" click: $root.ApproveComment"  /></td>
                    <td><input type="button" name="deny" class="deny-comment" id="" value="Deny" data-bind=" click: $root.DenyComment" /></td>
                </tr>
          
        </tbody>
    </table>
}
@{
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                dataType: 'json',
                url: subdirectoryName + "/tomatomaster/comment/GetComment/",
                async: false,
                data: {
                    status: 0,
                    competitionNodeId: '@Model.Id'
                },
                success: function (data) {
                    ko.applyBindings(new CommentListViewModel(data));
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.statusText);
                }
        
            });

            $('.view-comment').click(function () {
                var entryId = $(this).closest('tr').attr('id');
                var entryType = $.trim($(this).attr('entryType'));
                var contextBox = "";

                switch (entryType) {
                    case 'UploadImageEntry':
                        contextBox = "content-box_";
                        break;
                    case 'RecordVideoEntry':
                        contextBox = "content-box2_";
                        break;
                    case 'WriteTextEntry':
                        contextBox = "content-box3_";
                        break;
                }

                if ($.trim(contextBox).length > 0) {
                    var id = contextBox + entryId;
                    
                    window.open("@wwwroot.Utility.CompetitionHelper.getEntriesNodeNiceURLByCompetitionId(Model.Id)" + "#" + id);
                }
            });
        });

        function Comments(data) {
            var self = this;

            self.PkCommentId = ko.observable(data.PkCommentId);
            self.CommentDescription = ko.observable(data.CommentDescription);
            self.FirstName = ko.observable(data.FirstName);
            self.LastName = ko.observable(data.LastName);
            self.Email = ko.observable(data.Email);
            self.DateCreated = ko.observable(data.DateCreated);
            self.EntryId = ko.observable(data.EntryId);

            self.EntryType = ko.observable(data.EntryType);

            self.Status = ko.observable(data.Status);
            self.EntriesUrl = ko.observable(data.EntriesUrl);
            self.UserPicture = ko.observable(data.UserPicture);

            self.combineprop = ko.computed(function () {
                return self.CommentDescription() + "        " + formatdate(self.DateCreated());
            });
        }

       

        function CommentListViewModel(requestedcomment) {
            var self = this;
            var commentdata = requestedcomment;

            self.list = ko.observableArray(getModel(commentdata));

            self.ApproveComment = function (Comm) {
                var conf = confirm("Are you sure you want to Approve this entry?");
                if (conf == true) {
                    $.ajax(subdirectoryName + "/mutti/comment/ApproveComment/", {
                        data: ko.toJSON({ comment: Comm }),
                        type: "post", contentType: "application/json",
                        success: function (result) { self.list.remove(Comm) }
                    });
                }
            }

            self.DenyComment = function (Comm) {
                var conf = confirm("Are you sure you want to Deny this entry?");
                if (conf == true) {
                    $.ajax(subdirectoryName + "/mutti/comment/DenyComment/", {
                        data: ko.toJSON({ comment: Comm }),
                        type: "post", contentType: "application/json",
                        success: function (result) { self.list.remove(Comm) }
                    });
                }
            }

            function getModel(data) {
                var mappedComment = $.map(data, function (item) {
                    return new Comments(item);
                });
                return mappedComment;
            }
        }

        function formatdate(thisDate) {
            var myDate = new Date(thisDate.match(/\d+/)[0] * 1);
           
            var m = myDate.getMonth() + 1;
            var d = myDate.getDate();
            m = m > 9 ? m : "0" + m;
            d = d > 9 ? d : "0" + d;
            var prettyDate = m + '/' + d + '/' + myDate.getFullYear() + " at ";
            return prettyDate + formatAMPM(thisDate);
        }

        function formatAMPM(tdate) {
            var date = new Date(tdate.match(/\d+/)[0] * 1);
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0' + minutes : minutes;
            var strTime = hours + ':' + minutes + ' ' + ampm;
            return strTime;
        }



    </script>
}
