@using System.Net.Mail;
@using umbraco.cms.businesslogic.web;
@using umbraco.NodeFactory;
<script src="~/scripts/knockout.js"></script>
<style>
    table.viewapprovedentries {
        margin: 6px auto;
        padding: 30px;
        border: 2px solid #e8e8e8;
        width: 95%;
    }

        table.viewapprovedentries th {
            color: #424242;
            font-size: 20px;
            width: 100%;
        }

        table.viewapprovedentries tr td {
            float: left;
            color: #424242;
            font-size: 12px;
        }

    td.view-approved-entry-title {
        float: left;
        width: 430px;
    }

    td.view-approved-entry-title1 {
        float: left;
        width: 520px;
    }
</style>
@{
    //Get the winning entry Id mark radio option as selected
    //Get Competition Node and get propery 'winningEntryId'
    Node competitionNode = new Node(Model.Id);
    int winningEntryId = competitionNode.GetProperty("winningEntryId") != null && !string.IsNullOrEmpty(competitionNode.GetProperty("winningEntryId").Value) ? Convert.ToInt32(competitionNode.GetProperty("winningEntryId").Value) : 0;

    int finalist1EntryId = competitionNode.GetProperty("finalist1EntryId") != null && !string.IsNullOrEmpty(competitionNode.GetProperty("finalist1EntryId").Value) ? Convert.ToInt32(competitionNode.GetProperty("finalist1EntryId").Value) : 0;
    int finalist2EntryId = competitionNode.GetProperty("finalist2EntryId") != null && !string.IsNullOrEmpty(competitionNode.GetProperty("finalist2EntryId").Value) ? Convert.ToInt32(competitionNode.GetProperty("finalist2EntryId").Value) : 0;
    int finalist3EntryId = competitionNode.GetProperty("finalist3EntryId") != null && !string.IsNullOrEmpty(competitionNode.GetProperty("finalist3EntryId").Value) ? Convert.ToInt32(competitionNode.GetProperty("finalist3EntryId").Value) : 0;


    //Get entries to bind grid
    int entriesNodeId = wwwroot.Utility.CompetitionHelper.getEntriesNodeIdByCompetitionId(Model.Id);
    Node ParentId = new Node(entriesNodeId);

    var entriesList = ParentId.ChildrenAsList.OrderBy(obj => obj.CreateDate);
       
    <table class="viewapprovedentries">
        <thead>
            <tr>
                <th>Approved Entries</th>
            </tr>
                
        </thead>
       <tbody>
           <tr>
                <td class="view-approved-entry-title"></td>
               <td style="width:10%"></td>
                <td style="font-size:13px;text-align:right; margin-right:20px; text-align: center;"> <input type="button" title="Save Finalist" value="Save Finalist" id="btnSaveFinalist" /><br/> Mark as Finalists</td>
               <td style="font-size:13px;text-align:right; text-align: center;"><span>Mark a Winner</span></td>
               @*<td style="font-size:13px;text-align:right; text-align: center;"><input type="button" title="Save Winner" value="Save Winner" id="btnSaveWinner" /><br/> Mark as Winner</td>*@
            </tr>    
                  
           @foreach (Node item in entriesList)
           {
               var name = item.Name;

               //fixed '&' in name issue
               if (name.Contains("&amp;"))
               {
                   name = name.Replace("&amp;", "&");
               }

               var date = item.CreateDate.ToString("MM/dd/yyyy hh:mm tt");               

               <tr id="parent-@item.Id">
                    <td class="view-approved-entry-title">@name @date</td>
                    <td><a href="@item.NiceUrl" target="_blank"><input type="button" name="viewentry" class="view-approved-entry" entry-type="@item.NodeTypeAlias" value="View Entry" title="@name" id="@item.Id" /></a></td>
                   @if (finalist1EntryId == item.Id || finalist2EntryId == item.Id || finalist3EntryId == item.Id)
                   {
                   <td style="text-align:center;width:13%"><input type="checkbox" class="chkFinalist" id="chk_@item.Id" name="finalist" checked="checked" title="@name" value="@item.Id" onchange="markFinalist(this, '@name')"  /></td>                    
                   }
                   else
                   {
                   <td style="text-align:center;width:13%"><input type="checkbox" class="chkFinalist" id="chk_@item.Id" name="finalist" title="@name" value="@item.Id" onchange="markFinalist(this, '@name')" /></td>                    
                   }

                   @if (winningEntryId == item.Id)
                   {
                    <td style="text-align:center;width:16%"><input type="radio" id="@item.Id" class="chkWinner" name="winner" title="@name" value="@name" disabled="disabled" checked="checked" onchange="markWinner(this, '@name');" /></td>                    
                   }
                   else if(finalist1EntryId == item.Id || finalist2EntryId == item.Id || finalist3EntryId == item.Id)
                   {
                       <td style="text-align:center;width:16%"><input type="radio" id="@item.Id" class="chkWinner" name="winner" title="@name" value="@name" style="display:''" onchange="markWinner(this, '@name');" /></td>                    
                   }
                    
                   else
                   {
                   <td style="text-align:center;width:16%"><input type="radio" id="@item.Id" class="chkWinner" name="winner" title="@name" value="@name" style="display:none" onchange="markWinner(this, '@name');" /></td>                    
                   }

                </tr>
           }
           
        </tbody>
    </table>
    
    
    
}

 <script type="text/javascript">
     $(document).ready(function () {

         //Disable the winning entry id textbox
         $("#body_prop_winningEntryId").attr("disabled", true);

         $("#body_prop_finalist1EntryId").attr("disabled", true);

         $("#body_prop_finalist2EntryId").attr("disabled", true);

         $("#body_prop_finalist3EntryId").attr("disabled", true);



         $('#btnSaveFinalist').click(function () {
             saveFinalist();
         });


         $('#btnSaveWinner').click(function () {
             markWinner();
         });



         if ($('.chkFinalist').filter(':checked').length == 3) {
             $('.chkFinalist:not(:checked)').attr('disabled', 'disabled'); //alert(121);

         }
         else {
             $('.chkFinalist').removeAttr('disabled'); //alert(221);
         }


         $('.chkFinalist').click(function () {

             if ($(this).is(':checked')) {
                 var chkId = $(this).attr('value');

                 $("input[type='radio'][id='" + chkId + "']").show();
             }

             else {

                 var chkId = $(this).attr('value');

                 $("input[type='radio'][id='" + chkId + "']").hide();
             }

         });

     });


     var prevWinningEntryId = $('input[name=winner]:checked').attr('id');
     function markWinner(sender, name) {
         if (finalistEntryIds.length == 3) {

             var result = confirm("Mark '" + name + "' as winner?")
             if (result) {
                 $.ajax({
                     contentType: "application/x-www-form-urlencoded",
                     url: subdirectoryName + "/tomatomaster/register/MarkAsWinningEntry/",
                     async: false,
                     data: { entryId: sender.id },
                     success: function (data) {
                         if (data == "True") {
                             alert("'" + name + "' is marked as winner.");
                             $("#body_prop_winningEntryId").val(sender.id);
                             prevWinningEntryId = sender.id;
                         }
                         else {
                             alert("Some error occurred.");
                         }
                     }
                 })
             }
             else {
                 //on cancel, reset radio selection
                 if (prevWinningEntryId != null && prevWinningEntryId != undefined) {
                     $('input[name=winner][id=' + prevWinningEntryId + ']').attr('checked', true);

                 }
                 else {
                     //on cancel, reset radio selection. If no radio selected previously then uncheck selection
                     $('input[name=winner][id=' + sender.id + ']').attr('checked', false);
                 }

             }
         }

         else
             alert('Please save 3 finalists!');

     }

     var finalistEntryIds = [];
     $.each($('.chkFinalist').filter(':checked'), function (i, o) {
         finalistEntryIds.push(o.id.replace('chk_', ''));
     });

     function markFinalist(sender, name) {

         if ($('.chkFinalist').filter(':checked').length == 3) {
             $('.chkFinalist:not(:checked)').attr('disabled', 'disabled');
             // $('.chkWinner').hide();
         }
         else {
             $('.chkFinalist').removeAttr('disabled');
         }

         finalistEntryIds = [];
         $.each($('.chkFinalist').filter(':checked'), function (i, o) {
             finalistEntryIds.push(o.id.replace('chk_', ''));
         });
     }

     function saveFinalist() {

         if ($('.chkFinalist').filter(':checked').length == 3) {

             var result = confirm("Save Selected Finalist?")
             if (result) {
                 $.ajax({
                     contentType: "application/x-www-form-urlencoded",
                     url: subdirectoryName + "/tomatomaster/register/MarkAsFinalistEntry/",
                     async: false,
                     //data: "{'playerId':" + PlayerId + ", 'companyId':" + $('#lblCompanyId').text() + "}",
                     data: { entryId1: finalistEntryIds[0], entryId2: finalistEntryIds[1], entryId3: finalistEntryIds[2] },
                     success: function (data) {
                         if (data == "True") {
                             alert("Selected entries marked as Finalist.");
                             $("#body_prop_finalist1EntryId").val(finalistEntryIds[0]);
                             $("#body_prop_finalist2EntryId").val(finalistEntryIds[1]);
                             $("#body_prop_finalist3EntryId").val(finalistEntryIds[2]);
                         }
                         else {
                             alert("Some error occurred.");
                         }
                     }
                 })
             }
         }

         else if ($('.chkFinalist').filter(':checked').length == 0) {

             var result = confirm("Remove selected finalists?")
             if (result) {
                 $.ajax({
                     contentType: "application/x-www-form-urlencoded",
                     url: subdirectoryName + "/tomatomaster/register/MarkAsFinalistEntry/",
                     async: false,
                     data: { entryId1: 0, entryId2: 0, entryId3: 0 },
                     success: function (data) {
                         if (data == "True") {
                             alert("Data saved successfully!");
                             $("#body_prop_finalist1EntryId").val(0);
                             $("#body_prop_finalist2EntryId").val(0);
                             $("#body_prop_finalist3EntryId").val(0);
                         }
                         else {
                             alert("Some error occurred.");
                         }
                     }
                 })
             }
         }

         else {
             alert('Please select 3 finalists!');
         }
     }
</script>