﻿@using System.Net.Mail;
@using umbraco.cms.businesslogic.web;
@using umbraco.NodeFactory;
<script src="~/scripts/knockout.js"></script>
<style>
    table.viewentries
    {
        margin: 6px auto;
        padding: 30px;
        border: 2px solid #e8e8e8;
    }

        table.viewentries th
        {
            color: #424242;
            font-size: 20px;
            width: 100%;
        }

        table.viewentries tr td
        {
            float: left;
            color: #424242;
            font-size: 12px;
        }

    td.vew-entry-title
    {
        float: left;
        width: 430px;
    }
</style>
@{
    int avaitingApprovalNodeId = wwwroot.Utility.CompetitionHelper.getAwaitingApprovalEntriesNodeIdByCompetitionId(Model.Id);
    Node ParentId = new Node(avaitingApprovalNodeId);
    Node denyreasonsParentId = new Node(1272);
    var entriesList = ParentId.ChildrenAsList.OrderBy(obj => obj.CreateDate);
    
    <table class="viewentries">
        <thead>
            <tr>
                <th>New Entries</th>
            </tr>
        </thead>
       <tbody>

           @foreach (Node item in entriesList)
           {
               var name = item.Name;

               //fixed '&' in name issue
               if (name.Contains("&amp;"))
               {
                   name = name.Replace("&amp;", "&");
               }

               var date = item.CreateDate.ToString("MM/dd/yyyy hh:mm tt");

               <tr id="parent-@item.Id">
                    <td class="vew-entry-title">@name @date</td>
                    <td><a href="@item.NiceUrl" target="_blank"><input type="button" name="viewentry" class="view-entry" entry-type="@item.NodeTypeAlias" value="View Entry" id="@item.Id" /></a></td>
                    <td><input type="button" name="approve" class="approve" value="Approve" id="@item.Id" /></td>
                    <td><input type="button" name="deny" class="deny" value="Deny"  id="@item.Id"/></td>
					<td><select id="select_@item.Id" class="select_deny">
                            <option value="Please Select">Please Select</option>
						@foreach (Node reasons in denyreasonsParentId.Children)
      {
							<option value="@reasons.Name">@reasons.Name</option>
      }
						</select>
						<input type="hidden" class="deny_reason_@item.Id" />
					</td>
                </tr>
           }
           
        </tbody>
    </table>
}

 <script type="text/javascript">
     var subdirectoryName = '@System.Configuration.ConfigurationManager.AppSettings["subdirectoryName"]';
     $(document).ready(function () {
         $(".approve").click(function () {
             var uid = $(this).attr("id");

             $.ajax({
                 contentType: "application/x-www-form-urlencoded",
                 url: subdirectoryName + "/tomatomaster/register/UpdateEntry/",
                 async: false,
                 data: { entryId: uid, commandtype: "Approve" },
                 success: function (data) {

                     $("#parent-" + uid).remove();
                     alert('The selected entry has been approved');
                 }
             });
         });
         var inputId = "";
         $(".select_deny").change(function () {
             $(this).next().val($(this).val());
             inputId = $(this).next().attr("class");
             //console.log(inputId);
         });

         $(".deny").click(function (e) {
             var uid = $(this).attr("id");
             if (inputId == "" || inputId.indexOf(this.id) < 0) {
                 alert("Please select reason");
                 return false;
             }
             var reason = $("." + inputId).val();

             //console.log(reason);
             $.ajax({
                 contentType: "application/x-www-form-urlencoded",
                 url: subdirectoryName + "/tomatomaster/register/UpdateEntry1/",
                 async: false,
                 data: { entryId: uid, commandtype: "Deny", denyreason: reason },
                 success: function (data) {
                     $("#parent-" + uid).remove();
                     alert('The selected entry has been denied');
                 }
             });
         });
     });

</script>