﻿@using umbraco.cms.businesslogic.media
@model umbraco.NodeFactory.Node

@{
    var recipeItemTitle = Model.GetProperty("recipeItemTitle").Value;
    var recipeItemDescription = Model.GetProperty("recipeItemDescription").Value;
    var recipeItemImage = Model.GetProperty("recipeItemImage").Value;
    var recipeItemLargeImage = Model.GetProperty("recipeItemLargeImage").Value;
    var recipeItemVideo = Model.GetProperty("recipeItemVideo").Value;
    var dishType = Model.GetProperty("dishType").Value;
    
    
    var timeToCookInMinutes = 0;
    var numberOfServing = 0;
    
    int.TryParse(Model.GetProperty("timeToCookInMinutes").Value, out timeToCookInMinutes);
    int.TryParse(Model.GetProperty("numberOfServing").Value, out numberOfServing);

    var timeToCookStr = timeToCookInMinutes >= 60 ? 
                        (timeToCookInMinutes / 60) + "h " + 
                        ((timeToCookInMinutes % 60)) + "m" : 
                        timeToCookInMinutes + " mins";
    
    string recipeItemImageUrl = string.Empty;

    try
    {
        var recipeItemImageMedia = new Media(int.Parse(recipeItemImage));
        recipeItemImageUrl = recipeItemImageMedia.getProperty("umbracoFile").Value.ToString();
    }
    catch
    {
    }
}

<div class="recipe-content product-content@Model.Id">
    <div class="recipe-image"><a class="fancyboxrecipe" href="#product-@Model.Id">
    <img src="/ImageGen.ashx?width=240&height=215&pad=true&image=@recipeItemImageUrl" alt="Recipe 01"/>
    <!--img src="@recipeItemImageUrl" alt="Recipe 01"/-->
    </a></div>
    <div class="recipe-details">
        <div class="recipe-name">@Model.Name</div>
        <div class="recipe-other-details"><span class="cooking-time fltleft">@timeToCookStr</span>
            <span class="people-no fltright">
                @for (var x = 0; x < numberOfServing; x++)
                {
                    <img style="float: left;" src="@Url.Content("~/images/people-no1.png")" alt="No of Peope"/>
                }
            </span> 
        </div>
    </div>
</div>