﻿@using umbraco.NodeFactory
@using umbraco.cms.businesslogic.media
@model umbraco.NodeFactory.Node

<script type="text/javascript">
    $(document).ready(function () {
        $(".st_sharethis_large").click(function () {
            $(".addthis_floating_style.addthis_32x32_style").fadeIn();
        });	
    });

</script>
@{
    var completeUrl = "http://" + HttpContext.Current.Request.Url.Authority + Model.Url + "/?pid=" + Model.Id;
	var facebookUrl = "http://" + HttpContext.Current.Request.Url.Authority + Model.Url;
    var recipeItemTitle = Model.GetProperty("recipeItemTitle").Value;
    var recipeItemDescription = Model.GetProperty("recipeItemDescription").Value;
    var recipeItemImage = Model.GetProperty("recipeItemImage").Value;
    var recipeItemLargeImage = Model.GetProperty("recipeItemLargeImage").Value;
    var recipeItemVideo = Model.GetProperty("recipeItemVideo").Value;
    var dishType = Model.GetProperty("dishType").Value;

    var dishTypes = new List<Node>();
    foreach (var dt in (Model.GetProperty("dishType").Value ?? String.Empty).Split(','))
    {
        var dishTypeId = 0;
        if (int.TryParse(dt, out dishTypeId))
        {
            dishTypes.Add(new Node(dishTypeId));
        }
    }

    var timeToCookInMinutes = 0;
    var numberOfServing = 0;
    
    int.TryParse(Model.GetProperty("timeToCookInMinutes").Value, out timeToCookInMinutes);
    int.TryParse(Model.GetProperty("numberOfServing").Value, out numberOfServing);

    var timeToCookStr = timeToCookInMinutes >= 60 ? 
                        (timeToCookInMinutes / 60) + "h " + 
                        ((timeToCookInMinutes % 60)) + "m" : 
                        timeToCookInMinutes + " mins";
    
    string recipeItemImageLargeUrl = string.Empty;

    try
    {
        var recipeItemImageLargeMedia = new Media(int.Parse(recipeItemLargeImage));
        recipeItemImageLargeUrl = recipeItemImageLargeMedia.getProperty("umbracoFile").Value.ToString();
    }
    catch
    {
    }
}



<div id="product-@Model.Id" class="lightbox-container lightbox-product">
    <div class="leftsharebox">
        <div class="fb-like" data-href="@facebookUrl" data-send="false" data-layout="box_count" data-show-faces="false" data-font="segoe ui"></div>		 
        <span class='st_sharethis_large' displayText='ShareThis'></span>
        <div class="addthis_toolbox addthis_floating_style addthis_32x32_style">
            <a data-id="@Model.Id" class="btnshare addthis_button_twitter" id="addthis_button_twitter"></a>
            <a data-id="@Model.Id" class="btnshare addthis_button_pinterest_share" id="addthis_button_pinterest_share" ></a>
            <a data-id="@Model.Id" class="btnshare addthis_button_google_plusone_share" id="addthis_button_google_plusone_share" ></a>
            <a data-id="@Model.Id" class="btnshare addthis_button_linkedin" id="addthis_button_linkedin"></a>
            <a data-id="@Model.Id" class="btnshare addthis_button_tumblr" id="addthis_button_tumblr"></a>
            <a data-id="@Model.Id" class="btnshare addthis_button_email" id="addthis_button_email"></a>
        </div>
	    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=undefined"></script>
    </div>
    <div class="lightbox-product-container fltleft" style="width: 758px;">
        <h3 class="heading">@Model.Name</h3>
        <div class="lightbox-product-image"> 
			@if( recipeItemImageLargeUrl != "")
			{
				<img src="/ImageGen.ashx?image=@recipeItemImageLargeUrl&width=758&height=450&pad=true" alt="@recipeItemTitle"/>
			}
			else
			{
				<iframe width="720" height="420" src="@recipeItemVideo?wmode=opaque" mce_src="http://www.youtube.com/embed/W7ap1AU2P_I?wmode=opaque" allowfullscreen="" frameborder="0" ></iframe>
			}			 
		</div>
        <div class="lightbox-recipe-details">
            <div class="recipe-category"> <span class="title">DISH TYPE:</span>
                @foreach(var item in dishTypes)
                {
                    var media = new Media(int.Parse(item.GetProperty("relatedMedia").Value));
                    var mediaFile = media.GetProperty<string>("umbracoFile");
                <span class="category">
                    <span class="icon meat">
                        <img src='@mediaFile' alt="@item.Name"/>
                    </span>
                    @item.Name
                </span> 
                }
            </div>
            <div class="recipe-coocking-time">
                <span class="title">TIME TO COOK:</span> 
                <span class="time"><span class="icon clock"><img src="@Url.Content("~/images/icon-cooking-time.png")" alt="Meat"/></span>@timeToCookStr</span> 
            </div>
            <div class="recipe-serve-no">
                <span class="title">SERVES:</span> 
                <span class="serve">
                    @for (var x = 0; x < numberOfServing; x++)
                    {
                        <img style="float: left;" src="@Url.Content("~/images/people-no-blue1.png")" alt="Serve-no"/>
                    }
                </span> 
            </div>
        </div>
        <div class="lightbox-discription">
            <h3 class="heading">@Model.Name</h3>
            <p>@Html.Raw(Model.GetProperty("recipeItemDescription").Value)</p>
        </div>
    </div>
</div>