﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<script src="@Url.Content("~/scripts/footer-bottom.js")"></script>
@{
    Response.Redirect("/");
    Layout = "MasterTemplate.cshtml";
}
<style>
    .inside {
        height: 750px;
        min-height: 0;
        background: transparent;
    }
    h1.title {
        line-height: 1.3em;
    }
	@*.story-image img {
		width:100%;
		height:100%;
	}*@
</style>
<script type="text/javascript">
    (function ($) {
        $(window).load(function () {
            $("#bg-our-story-container").fadeIn("slow");
            $("#content_1").mCustomScrollbar({
                scrollInertia: 550,
                horizontalScroll: true,
                mouseWheelPixels: 1166,
                scrollButtons: {
                    enable: true,
                    scrollType: "pixels",
                    scrollAmount: 158
                }
            });
            /* toggle buttons scroll type */
            var content = $("#content_1");
            $("a[rel='toggle-buttons-scroll-type']").html("<code>scrollType: \"" + content.data("scrollButtons_scrollType") + "\"</code>");
            $("a[rel='toggle-buttons-scroll-type']").click(function (e) {
                e.preventDefault();
                var scrollType;
                if (content.data("scrollButtons_scrollType") === "pixels") {
                    scrollType = "continuous";
                } else {
                    scrollType = "pixels";
                }
                content.data({ "scrollButtons_scrollType": scrollType }).mCustomScrollbar("update");
                $(this).html("<code>scrollType: \"" + content.data("scrollButtons_scrollType") + "\"</code>");
            });
            /* snap scrollbar fn */
            var snapTo = [];
            $("#content_1 .images_container img").each(function () {
                var $this = $(this), thisX = $this.position().left;
                snapTo.push(thisX);
            });
            function snapScrollbar() {
                var posX = $("#content_1 .mCSB_container").position().left, closestX = findClosest(Math.abs(posX), snapTo);
                $("#content_1").mCustomScrollbar("scrollTo", closestX, { scrollInertia: 350, callbacks: false });
            }
            function findClosest(num, arr) {
                var curr = arr[0];
                var diff = Math.abs(num - curr);
                for (var val = 0; val < arr.length; val++) {
                    var newdiff = Math.abs(num - arr[val]);
                    if (newdiff < diff) {
                        diff = newdiff;
                        curr = arr[val];
                    }
                }
                return curr;
            }
        });
    })(jQuery);
</script>
    @Umbraco.RenderMacro("Stories")
  <!-- fancybox end-->