﻿@using umbraco.NodeFactory
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
	<script src="@Url.Content("~/scripts/footer-bottom.js")"></script>
	<script type="text/javascript">	
	$(window).scroll(function() {
	   if($(window).scrollTop() + $(window).height() == $(document).height()) {
		   $(".footer-nav").css({"bottom":"22px"});
	   }else {
		  $(".footer-nav").css({"bottom":"-10px"});
	   }
	});	
</script>
@{
    Response.Redirect("/");
    Layout = "MasterTemplate.cshtml";
}
<section class="inside">
    <div class="content-inner-trip">
        <div class="inner-trip-part">
            <div class="inner_trip">
                <h3 class="title">
					<img alt="" src="@Url.Content("~/images/dotted.png" />WIN A TRIP TO<img alt="" src="@Url.Content("~/images/dotted.png")" />
				</h3>
            </div>
            <div class="inner_trip1">
                <span class="largetext">Italy</span>
            </div>         
            <div class="trit-part-content">
              <h3>@Umbraco.Field("competitionTitle")</h3>
              <div class="trip-part-left">
                @Umbraco.Field("competitionLeftContent")
              </div>
              <div class="trip-part-right">
                @Umbraco.Field("competitionRightContent")
                <div class="btn-competition">
					<a href="@(new Node(int.Parse(Umbraco.Field("competitionLinkto").ToString())).Url)">
						<button class="button large">
							<span>
								<span>ENTER THE COMPETITION</span>
							</span>
						</button>
					</a>										
				</div>
							<p>&nbsp;</p>
              </div>
            </div>
        </div>
    </div>
</section>