﻿@using umbraco.NodeFactory
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using uComponents.DataTypes.UrlPicker.Dto;
@using Umbraco.Web
@using Umbraco.Core.Models
@using Umbraco.Core;
@using umbraco.NodeFactory;

@{
    Layout = "MasterTemplate.cshtml";
}

<!--jquery Validation start-->
<script src="@Url.Content("~/scripts/jquery.validate.js")"></script>
<script src="@Url.Content("~/scripts/additional-methods.js")"></script>

<!--jquery Validation end-->
<script type="text/javascript" id="sourcecode">
    var dropTxt = '';
    var lastActiveElement = null;
    /*for customised dropdown*/
    function DropDown(el) {
        this.dd = el;
        this.placeholder = this.dd.children('span');
        this.opts = this.dd.find('ul.dropdown > li');
        this.val = '';
        this.index = -1;
        this.initEvents();
    }

    DropDown.prototype = {
        initEvents: function () {
            var obj = this;

            obj.dd.on('click', function (event) {
                $(this).toggleClass('active');
                return false;
            });

            obj.opts.on('click', function () {
                dropTxt = '';
                $('#dd').css('background-color', '');
                $("#staterror").css({ 'display': 'none' });
                dropTxt = $(this).text()
                var opt = $(this);
                obj.val = opt.text();
                obj.index = opt.index();
                obj.placeholder.text(obj.val);
                obj.placeholder.css("font-weight", "bold");
            });
        },
        getValue: function () {
            return this.val;

        },
        getIndex: function () {
            return this.index;
        }
    }

    $(function () { 

        var dd = new DropDown($('#dd'));

        $(document).click(function () {
            // all dropdowns
            $('.wrapper-dropdown-2-details').removeClass('active');
        });

        $("#ddlbtn").on('click', function (e) {
            if (dropTxt == '') {
                $('#dd').css('background-color', '#E6D0A2');
                $("#staterror").css({ 'display': 'block', 'margin-top': '10px' });
                $("#staterror .error").css({ 'display': '' });
            } else {
                $('#dd').css('background-color', '');
                $("#staterror").css({ 'display': 'none' });
            }

            if ($("label[for='fulfill']").is(":visible")) {
                if (!($("input[name=fulfill]").is(':checked'))) {
                    $("#fulfill").removeClass('checklabel').addClass('errorchk');
                }
            }
            if ($("label[for='agree']").is(":visible")) {
                if (!($("input[name=agree]").is(':checked'))) {
                    $("#agree").removeClass('checklabel').addClass('errorchk');
                }
            }
           
            
        });



       /* $('input[type=text]').on('keyup', function (e) {
           
            var code = e.keyCode || e.which;
            if (code == '9') {

            } else {
                var input = $(this).val()
                username = $(this).attr('id');
                if ($("#" + username).valid() == true) {
                    //make ajax called
                    $(this).css('background-color', '#FFFFFF');
                } else {
                    $(this).css('background-color', '#E6D0A2');
                }
            }
        });*/

        $("input[name=fulfill]").on('click', function () {
            if ($('.error').is(":visible")) {
                $("#fulfill").addClass('checklabel').removeClass('errorchk');
            }
        });
        $("input[name=agree]").on('click', function () {
            if ($('.error').is(":visible")) {
                $("#agree").addClass('checklabel').removeClass('errorchk');
            }
        });
        $("input[name=phone]").on('click', function () {
            if ($('.error').is(":visible")) {
                $("#phone").addClass('checklabel').removeClass('errorchk');
            }
        });

        //focus in and out border
        $("#enter-details").on('mouseup focus blur', 'input[type=text]', function () {
            if ($(this).is(":focus")) {
                $(this, 'input').parent().append('<span class="focus"></span>');

            }
            else {
                $(this).parent().find('span').remove(".focus");
            }
        });
       /* $('#dd').on('mouseup focus blur', function () {
            if ($('#dd').is(":focus")) {
                $(this).find('span').after('<span class="focus"></span>');
            }
            else {
                $(this).find('span').remove(".focus");
            }
        });*/
     /*  $('#agree').on('mouseup focus blur', function () {

            if ($(this).is(":active")) {

                $(this).css('border-left', '2px solid #d09c2c');
            }
            else {
                console.log('here33')

            }
        });
        $('#fulfill').on('mouseup focus blur', function () {

            if ($(this).is(":active")) {

                $(this).css('border-left', '2px solid #d09c2c');
            }
            else {
                console.log('here33')

            }
        });*/

        //tab in and out border
        $("#enter-details").on('focusin', 'input[type=text]', function () {
            $(this, 'input').parent().append('<span class="focus"></span>');
        });
        $("#enter-details").on('focusout', 'input[type=text]', function () {
            $(this).parent().find('span').remove(".focus");
        });

        $("#dd").on('focusin', function () {
               $(this, 'input').parent().append('<span class="focus"></span>');
                  $('#dd').on('keyup', function (e) {
                    if (e.keyCode == 40) {
                        $('#dd').find('span').click();
                    }
                });

            

        });
        $("#dd").on('focusout', function () {
           
            $(this).parent().find('span.focus').remove();
        });
            
        $('input[tabindex=7]').on('focusin', function () {
            $(this).parent().append('<span class="focus-checkBox"></span>');
        });
        $('input[tabindex=8]').on('focusin', function () {
            $(this).parent().append('<span class="focus-checkBox"></span>');
            $('input[tabindex=7]').parent().find('span').remove(".focus-checkBox");
        });
        $('input[tabindex=8]').on('focusout', function () {
            $(this).parent().find('span').remove(".focus-checkBox");
        });
        $('#ddlbtn').on('focusin', function () {
           // $('#ddlbtn').after('<span class="focus-button"></span>');
        });
        $('#ddlbtn').on('focusout', function () {
            
            $('#ddlbtn').parent().find('span').remove();
            $('#ddlbtn').parent().css('float', 'none');
        });
        

        $('#ddlbtn').on('mouseup focus blur', function () {
            if ($(this).is(":active")) {
                $(this).parent().css('float', 'right');
                if ($(this).parent().find('span') && $(this).parent().find('span').length > 0) {
                  
                } else {
                    $(this).parent().append('<span style="border-left:2px solid #d09c2c;height:32px;position:absolute;margin-top:1px;margin-left:-6px;"></span>')
                }
            }
            else {
               
            }
        });
        //focus end

    });

</script>

<script type="text/javascript">
    @*$(function () {
        $('#phone').keyup(function () {
            var phone = $("input#phone").val();
            if (!$.isNumeric(phone)) {
                //Check if phone is numeric
                alert('in');
                debugger;
                $("#phone").next().text('Please enter a valid phone number'); //Show error
                $("input#phone").focus(); //Focus on field
                return false;
            }
        });
    });*@
    /**
      * Basic jQuery Validation Form Demo Code
      * Copyright Sam Deering 2012
      * Licence: http://www.jquery4u.com/license/
      */
    (function ($, W, D) {

        var JQUERY4U = {};

        JQUERY4U.UTIL =
        {
            setupFormValidation: function () {
                // $("enter-details").validate();    
                //form validation rules

                $("#enter-details").validate({

                    rules: {
                        firstname: {
                            required: true,
                            alphanumeric: true
                        },
                        lastname: {
                            required: true,
                            alphanumeric: true
                        },
                        email: {
                            required: true,
                            email: true
                        },
                        phone: {
                            required: true,
                            number: true,
                            alphanumeric: false
                        },
                        postcode: {
                            required: true,
                            number: true
                        },
                        state: {
                            required: true,
                            alphanumeric: true
                        },
                        agree: "required",
                        fulfill: "required"
                    },
                    errorPlacement: function (error, element) {
                        if (element.attr("name") == "agree")
                            error.insertAfter("#agree");
                        else if (element.attr("name") == "fulfill")
                            error.insertAfter("#fulfill");
                        else
                            error.insertAfter(element);
                    },

                    messages: {
                        firstname: {
                            required: "please enter your first name",
                            alphanumeric: "please enter valid first name"

                        },
                        lastname: {
                            required: "please enter your last name",
                            alphanumeric: "please enter valid last name"

                        },
                        email: {
                            required: "please enter your email address",
                            email: "please enter valid email address"

                        },
                        phone: {
                            required: "please enter your phone number",
                            alphanumeric: "please enter valid phone number",
                            number: "please enter valid phone number"
                        },
                        postcode: {
                            required: "please enter your postcode",
                            number: "please enter valid postcode",
                        },
                        
                        state: "please choose a state",
                        agree: "please agree to the terms and conditions",
                        fulfill: "please agree to the responsibilities"
                    },
                    submitHandler: function (form) {
                        localStorage.setItem('fname', $("#fname").val());
                        var phoneno = /^\d{10}$/;
                        //alert('successhandler');
                        if (dropTxt == '') {
                            return false;
                        }


                        var d = {
                            FirstName: $("#fname").val(),
                            LastName: $("#lname").val(),
                            Email: $("#email").val(),
                            Phone: $("#phone").val(),
                            PostCode: $("#pcode").val(),
                            State: dropTxt.trim()

                        };
                        $.ajax({
                            type: "GET",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            url: subdirectoryName + "/tomatomaster/Register/RegisterCompetition",
                            data: d,
                            success: function (data) {                               
                                if (data == 'InvalidEmail')
                                {
                                    $('#email').after('<label for="email" class="error" style="">This email address alredy exists</label>');
                                    
                                    $('#email').css('background-color', 'rgb(230, 208, 162)');
                                }
                                else {
                                    window.location = "@wwwroot.Utility.CompetitionHelper.EnterNodeNiceUrl";
                                    //$('#email').css('background-color', 'rgb(255, 255, 255)');
                                }
                                
                            },
                            error: function (xhr, ajaxOptions, thrownError) {                                
                                console.log(xhr.statusText);
                            }
                        });
                                               
                        // event.preventDefault();
                    }
                });
            }
        }

        //when the dom has loaded setup form validation rules
        $(D).ready(function ($) {
           // JQUERY4U.UTIL.setupFormValidation();
            $('#ddlbtn').click(function (e) {
                JQUERY4U.UTIL.setupFormValidation();
                var isvalidate = $("#enter-details").valid();
                if (!isvalidate) {
                    $("#enter-details input.valid").css('background-color', '#fff');
                    e.preventDefault();
                    // alert("invalid");
                } else {

                }
            });

            $(window).on('keyup', function (e) {
                var keyCode = e.keyCode || e.which;
                //console.log('press');
                if (keyCode === 9) {
                   // alert(1);
                   // console.log('tab');
                    if (lastActiveElement) {
                        if ($(lastActiveElement).parent().find('.focus-checkBox').length > 0) {
                            $(lastActiveElement).parent().find('span').remove(".focus-checkBox");
                        } else if ($(lastActiveElement).parent().find('.focus-button').length > 0) {
                            $(lastActiveElement).parent().find('span').remove(".focus-button");
                        }
                    }

                    if ($(document.activeElement).is('input[type="checkbox"]')) {
                        
                        $(document.activeElement).parent().append('<span class="focus-checkBox"></span>');

                        lastActiveElement = document.activeElement;
                    } else if ($(document.activeElement).is(':button')) {
                        

                        $(document.activeElement).after('<span class="focus-button"></span>');
                        lastActiveElement = document.activeElement;
                    }
                    
                }

            });
           
        });

    })(jQuery, window, document);
</script>




<!--Brief Section Start-->
<div class="container-main">
    <div class="container-inner">
        <nav class="brief-nav">
            <span class="selected">1. Enter Your Details</span> <span class="brief-nav-seperator">&rsaquo;</span>
          <span>2. Upload A Video</span> <span class="brief-nav-seperator">&rsaquo;</span>
          <span>3. Submit Application</span>
        </nav>
    </div>
</div>
<div class="container-main brief-black-bg">
    <div class="container-inner">
        <div class="brief-title">The Brief</div>
        <div class="brief-copy">
            <p>Mutti is Italy’s No.1 tomato company because they follow one simple rule. No compromises. So, what’s the one thing you’d never compromise on? Think hard, then think harder. Now make an unforgettable 60 second video about it starring yourself. The top three entries will earn their creators a place in the do or die Sydney cook-off that will decide the winner.</p>
        </div>
    </div>
    <div class="brief-step">
        <ul>
            <img class="right-strip" src="@Url.Content("~/images/step-strip.png")" width="1" height="102" />
            <li><span>
                <img src="@Url.Content("~/images/step1.png")" width="86" height="24"></span>Don’t forget, we’re looking for a pro chef who’s not only a great cook, but who can also engage an audience and make a good impression, so here are some <u id="rules2">tips</u> to give you an idea.</li>
            <img class="right-strip" src="@Url.Content("~/images/step-strip.png")" width="1" height="102" />
            <li><span>
                <img src="@Url.Content("~/images/step2.png")" width="86" height="24"></span>The winner must be prepared to fulfil their responsibilities. This is a job application after all. So please read the <u id="res1">job description</u>.</li>
            <img class="right-strip" src="@Url.Content("~/images/step-strip.png")" width="1" height="102" />
            <li><span>
                <img src="@Url.Content("~/images/step3.png")" width="86" height="24"></span>You must abide by the <u id="Terms-condition1">terms and conditions.</u> So make sure you read them.</li>
            <img class="right-strip" src="@Url.Content("~/images/step-strip.png")" width="1" height="102" />
        </ul>
    </div>
</div>
<div class="container-main">
    <div class="container-inner">
        <div class="brief-title EYDetails">Enter Your Details</div>
        <form id="enter-details" method="post">
            @*novalidate="novalidate">*@
            <div class="frm-row-odd">
                <div class="frm-cell">
                    <label for="firstname">First Name*</label>
                </div>
                <div class="frm-cell">
                    <label for="lastname">Last Name*</label>
                </div>
            </div>
            <div class="frm-row-even">
                <div class="frm-cell">
                    <input name="firstname" tabindex="1" maxlength="200" type="text" id="fname" />
                </div>
                <div class="frm-cell">
                    <input name="lastname" tabindex="2" maxlength="200" type="text" id="lname" />
                </div>
            </div>

            <div class="frm-row-odd">
                <div class="frm-cell">
                    <label for="email">Email*</label>
                </div>
                <div class="frm-cell">
                    <label for="phone">Phone*</label>
                </div>
            </div>
            <div class="frm-row-even">
                <div class="frm-cell">
                    <input name="email" tabindex="3" maxlength="200" type="text" id="email" />
                </div>
                <div class="frm-cell">
                    <input name="phone" tabindex="4" maxlength="200" type="text" id="phone" />
                </div>
            </div>

            <div class="frm-row-odd">
                <div class="frm-cell">
                    <label for="postcode">Postcode*</label>
                </div>
                <div class="frm-cell">
                    <label for="state">State*</label>
                </div>
            </div>
            <div class="frm-row-even">
                <div class="frm-cell">
                    <input name="postcode" tabindex="5" maxlength="4" type="text" id="pcode" />
                </div>
                <div class="frm-cell" name="state">
                    <div id="dd" tabindex="6" class="wrapper-dropdown-2-details">
                        <span>Please choose a state</span><label for="state"></label>
                        <ul class="dropdown">
                            @{
                                Node parentState = new Node(1392);

                                foreach (Node state in parentState.Children)
                                {
                                <li>
                                    @state.Name
                                </li>
                                }
                            }
                        </ul>
                    </div>
                    <span id="staterror" style="display: none; margin-top: 10px"><span class="error">please choose a state</span></span>
                </div>
            </div>
            <div class="inputRadio-button">
                <div class="frm-row-even mtop20">
                    <input name="agree" tabindex="7" type="checkbox" value="">
                    <label for="agree" id="agree" class="normalText checklabel">  I agree to the <u id="Terms-condition">terms and conditions.</u></label>

                </div>

                <div class="frm-row-even">
                    <input name="fulfill" tabindex="8" type="checkbox" value="" />
                    <label for="fulfill" id="fulfill" class="normalText checklabel">
                          I am able to fulfil the <u> job description.</u>
                    </label>


                </div>

            </div>
            <div>
                <button tabindex="9" class="gradBGprimary main-button floatr mright88" id="ddlbtn">Sign up and Continue</button>
               </div>
            @*<input type="button" class="gradBGprimary main-button floatr mright88" value="Sign up and Continue" id="ddlbtn"/>*@

        </form>

        <div class="frm-row-even mtop centeralign mbottom">
            <img src="@Url.Content("~/images/ornament.png")" width="51" height="20" alt="Ornament" />
        </div>
    </div>

</div>


<!--Brief Section End-->

<!--Details Section Start-->

<!--Details Section End-->

<!--Responsibilities Section Start-->
<div class="fadeBG"></div>
<div class="popupOverlay" id="Description-popup">
    <div class="lightcaseTitle">
        JOB DESCRIPTION<br />
        <img src="@Url.Content("~/images/ornament.png")" width="51" height="20" alt="Ornament">
    </div>
    <div class="popup-close">
        <img src="@Url.Content("~/images/popup-close.png")" width="22" height="22" alt="Close">
    </div>
    <div class="scroll-pane">
        @Umbraco.Field("responsibilities")
    </div>
</div>
<!--Responsibilities Section End-->

<!--Rules Section Start-->
<div class="popupOverlay" id="Rules-popup">
    <div class="lightcaseTitle">
        TIPS<br />
        <img src="@Url.Content("~/images/ornament.png")" width="50" height="20" alt="Ornament">
    </div>
    <div class="popup-close">
        <img src="@Url.Content("~/images/popup-close.png")" width="22" height="22" alt="Close">
    </div>
    <div class="scroll-pane">
        @Umbraco.Field("rules")
    </div>
</div>
<!--Rules Section End-->



