﻿@using umbraco.cms.businesslogic.media
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<script src="@Url.Content("~/scripts/footer-bottom.js")"></script>
	<script type="text/javascript">
	    $(window).scroll(function () {
	        if ($(window).scrollTop() + $(window).height() == $(document).height()) {
	            $(".footer-nav").css({ "bottom": "22px" });
	        } else {
	            $(".footer-nav").css({ "bottom": "-10px" });
	        }
	    });


</script>
@{
    Response.Redirect("/");
    Layout = "MasterTemplate.cshtml";
}

@{
    var firstImageId = Umbraco.Field("firstColumnImage").ToString();
    var secondImageId = Umbraco.Field("secondColumnImage").ToString();
    var thirdImageId = Umbraco.Field("thirdColumnImage").ToString();

    string firstImageUrl = string.Empty;
    string secondImageUrl = string.Empty;
    string thirdImageUrl = string.Empty;

    try
    {
        var firstImageMedia = new Media(int.Parse(firstImageId));
        firstImageUrl = firstImageMedia.getProperty("umbracoFile").Value.ToString();
    }
    catch
    {
    }

    try
    {
        var secondImageMedia = new Media(int.Parse(secondImageId));
        secondImageUrl = secondImageMedia.getProperty("umbracoFile").Value.ToString();
    }
    catch
    {
    }

    try
    {
        var thirdImageMedia = new Media(int.Parse(thirdImageId));
        thirdImageUrl = thirdImageMedia.getProperty("umbracoFile").Value.ToString();
    }
    catch
    {
    }
}
<section class="inside">
    <div class="content-inner">
      <div class="page_entryform">
        <h1 class="title"><img src="@Url.Content("~/images/dotted.png")" alt="" /> Entry Form <img src="@Url.Content("~/images/dotted.png")" alt="" /></h1>
		@Umbraco.Field("topBodyContent")
        <div class="instruction_step">
          <ul>
            <li>
              <h3><span>1</span>@Umbraco.Field("firstColumnTitle")</h3>
              <p class="image"><img src="@firstImageUrl" alt="" /></p>
              @Umbraco.Field("firstColumnContent")
            </li>
            <li>
              <h3><span>2</span>@Umbraco.Field("secondColumnTitle")</h3>
              <p class="image"><img src="@secondImageUrl" alt="" /></p>
              @Umbraco.Field("secondColumnContent")
            </li>
            <li>
              <h3><span>3</span>@Umbraco.Field("thirdColumnTitle")</h3>
              <p class="image"><img src="@thirdImageUrl" alt="" /></p>
              @Umbraco.Field("thirdColumnContent")
            </li>
          </ul>
          <div class="btn-conetainer">
            <a href="@umbraco.library.NiceUrl(Convert.ToInt32(Umbraco.Field("linkTo").ToString()))"><button class="button large"><span><span class="entry-form-btn nobigpadding">@Umbraco.Field("linkText")</span></span></button></a>
          </div>
        </div>
      </div>
    </div>
  </section>