﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using uComponents.DataTypes.UrlPicker.Dto;
@using Umbraco.Web
@using Umbraco.Core.Models
@using Umbraco.Core;
@using umbraco.NodeFactory;
<script src="@Url.Content("~/scripts/footer-bottom.js")"></script>


@{    
    Layout = "MasterTemplate.cshtml";

    bool submitAnApplicationButtonIsInactive = Model.Content.GetPropertyValue<bool>("submitAnApplicationButtonIsInactive");
    int contentPickerNodeId = Model.Content.GetPropertyValue<int>("submitAnApplicationButtonLink");
    var SubmitButtonLink = string.Empty;

    if (contentPickerNodeId > 0)
    {
        int nodeId = Convert.ToInt32(contentPickerNodeId);

        Node linkNode = new Node(nodeId);
        if (linkNode != null)
        {
            SubmitButtonLink = linkNode.NiceUrl;
        }
    }


    Node Competition = new Node(wwwroot.Utility.CompetitionHelper.ActiveCompetitionId);
    int finalist1EntryId = Competition.GetProperty<int>("finalist1EntryId");
    int finalist2EntryId = Competition.GetProperty<int>("finalist2EntryId");
    int finalist3EntryId = Competition.GetProperty<int>("finalist3EntryId");

    Node termsparent = new Node(wwwroot.Utility.CompetitionHelper.ActiveCompetitionId);
    int homeNode2 = termsparent.Parent.Id;
    Node homeNode = new Node(homeNode2);
    var heroBodyCopy = homeNode.GetProperty("heroBodyCopy");
       
 }

<link rel="icon" href="/favicon.ico" type="image/x-icon" />


<script src="@Url.Content("~/scripts/Comments.js")" type="text/javascript"></script>
<script type="text/javascript" id="sourcecode">

    $(function () {

        $('#dd').removeAttr('active').addClass('wrapper-dropdown-2');
    });

    /*for customised dropdown*/
    function DropDown(el) {
        this.dd = el;
        this.placeholder = this.dd.children('span');
        this.opts = this.dd.find('ul.dropdown > li');
        this.val = '';
        this.index = -1;
        this.initEvents();
    }

    DropDown.prototype = {
        initEvents: function () {
            var obj = this;

            obj.dd.on('click', function (event) {
                $(this).toggleClass('active');
                return false;
            });

            obj.opts.on('click', function () {
                var opt = $(this);
                obj.val = opt.text();
                obj.index = opt.index();
                obj.placeholder.text(obj.val);
                //obj.placeholder.css("font-weight", "bold");
            });
        },
        getValue: function () {
            return this.val;
        },
        getIndex: function () {
            return this.index;
        }
    }

    $(function () {

        var dd = new DropDown($('#dd'));

        $(document).click(function () {
            // all dropdowns
            $('.wrapper-dropdown-2').removeClass('active');
        });
    });
</script>


<div class="page-container-black">


    @if (finalist1EntryId > 0 && finalist2EntryId > 0 && finalist3EntryId > 0)
    {
        Node Finalist1EntryNode = new Node(finalist1EntryId);
        Node Finalist2EntryNode = new Node(finalist2EntryId);
        Node Finalist3EntryNode = new Node(finalist3EntryId);

        string finalist1EntryName = Finalist1EntryNode.GetProperty<string>("entryName");
        string finalist1Entrantdetails = "By " + Finalist1EntryNode.GetProperty<string>("firstName") + " from " + Finalist1EntryNode.GetProperty<string>("state");
        int finalist1Views = Finalist1EntryNode.GetProperty<int>("entryViews");
        var finalist1entrySplitValue = Finalist1EntryNode.GetProperty("entryUrl").Value;

        var finalist1entryContentPath = string.Empty;
        var finalist2entryContentPath = string.Empty;
        var finalist3entryContentPath = string.Empty;


        //Recorded Video Entry
        //Node nimmbParent = new Node(wwwroot.Utility.CompetitionHelper.ActiveCompetitionId);
        //var nimbbId = nimmbParent.GetProperty("nimbbPublicKey").Value;
        //var thumbnailId = Model.Content.GetProperty("thumbnail").ToString();
        //var thumbnail = string.Empty;

        //if (!string.IsNullOrEmpty(thumbnailId))
        //{
        //    var media = Umbraco.TypedMedia(thumbnailId);
        //    thumbnail = media.Url;
        //}


        if (finalist1entrySplitValue.ToString().ToLower().Contains("/media"))
        {
            finalist1entryContentPath = String.Format("{0}/html5/index.files/html5video/{1}",
       Path.GetDirectoryName(finalist1entrySplitValue).Replace("\\", "/"), Path.GetFileNameWithoutExtension(finalist1entrySplitValue));
        }
        else if (finalist1entrySplitValue.ToString().ToLower().Contains("youtube.com"))
        {
            finalist1entryContentPath = Finalist1EntryNode.GetProperty("entryUrl").ToString();
            string[] videoId = finalist1entryContentPath.Split('=');


            finalist1entryContentPath = "http://img.youtube.com/vi/" + videoId[1] + "/hqdefault";
        }

        else
        {
            string x = "http://api.nimbb.com/Live/Thumbnail.aspx?key=80f645bbff&guid=entryContentPath&width=153&mirror=mirror";
            finalist1entryContentPath = x.Replace("entryContentPath", finalist1entrySplitValue);
        }


        string finalist2EntryName = Finalist2EntryNode.GetProperty<string>("entryName");
        string finalist2Entrantdetails = "By " + Finalist2EntryNode.GetProperty<string>("firstName") + " from " + Finalist2EntryNode.GetProperty<string>("state");
        int finalist2Views = Finalist2EntryNode.GetProperty<int>("entryViews");
        var finalist2entrySplitValue = Finalist2EntryNode.GetProperty("entryUrl").Value;

        if (finalist2entrySplitValue.ToString().ToLower().Contains("/media"))
        {
            finalist2entryContentPath = String.Format("{0}/html5/index.files/html5video/{1}",
         Path.GetDirectoryName(finalist2entrySplitValue).Replace("\\", "/"), Path.GetFileNameWithoutExtension(finalist2entrySplitValue));
        }
        else if (finalist2entrySplitValue.ToString().ToLower().Contains("youtube.com"))
        {
            finalist2entryContentPath = Finalist2EntryNode.GetProperty("entryUrl").ToString();
            string[] videoId = finalist2entryContentPath.Split('=');


            finalist2entryContentPath = "http://img.youtube.com/vi/" + videoId[1] + "/hqdefault";
        }
        else
        {
            string x = "http://api.nimbb.com/Live/Thumbnail.aspx?key=80f645bbff&guid=entryContentPath&width=153&mirror=mirror";
            finalist2entryContentPath = x.Replace("entryContentPath", finalist2entrySplitValue);
        }


        string finalist3EntryName = Finalist3EntryNode.GetProperty<string>("entryName");
        string finalist3Entrantdetails = "By " + Finalist3EntryNode.GetProperty<string>("firstName") + " from " + Finalist3EntryNode.GetProperty<string>("state");
        int finalist3Views = Finalist3EntryNode.GetProperty<int>("entryViews");
        var finalist3entrySplitValue = Finalist3EntryNode.GetProperty("entryUrl").Value;

        if (finalist3entrySplitValue.ToString().ToLower().Contains("/media"))
        {
            finalist3entryContentPath = String.Format("{0}/html5/index.files/html5video/{1}",
         Path.GetDirectoryName(finalist3entrySplitValue).Replace("\\", "/"), Path.GetFileNameWithoutExtension(finalist3entrySplitValue));
        }
        else if (finalist3entrySplitValue.ToString().ToLower().Contains("youtube.com"))
        {
            finalist3entryContentPath = Finalist3EntryNode.GetProperty("entryUrl").ToString();
            string[] videoId = finalist3entryContentPath.Split('=');
            finalist3entryContentPath = "http://img.youtube.com/vi/" + videoId[1] + "/hqdefault";
        }

        else
        {
            string x = "http://api.nimbb.com/Live/Thumbnail.aspx?key=80f645bbff&guid=entryContentPath&width=153&mirror=mirror";
            //finalist1entryContentPath = Finalist1EntryNode.GetProperty("entryUrl").ToString();
            finalist3entryContentPath = x.Replace("entryContentPath", finalist3entrySplitValue);
        }
        


        <div class="container-main-entry" style="background-image: url(@(Url.Content("~" + Model.Content.GetPropertyValue<string>("topImagePostFinalistsAnnounced") + ".ashx?width=1278&height=585&bgcolor=black&Scale=canvas")))">
            <div class="container-inner">
                <div class="homeCompContainer">
                    <div class="homeCompTitle no-border off-white-text fontSize22 Font-Steagal-Re">
                        Tomato Master Finalists                   
                    </div>
                    <div class="homeCompText ptop15 Font-Times-Roman">
                        Congratulations to our finalists! These three applicants have proven their resolve and will go head to head in the Sydney cook-off on 25 July 2014, at Salt Meats Cheese, Alexandria is Sydney, NSW.                   
                        <br />
                        The winner will be crowned Australia's first Tomato Master.
                    </div>
                </div>
                <div class="entryFinalOrnament">
                    <img src="@Url.Content("~/images/ornament.png")" width="50" height="20" alt="Ornament">
                </div>
            </div>
            <!--Entries Top Section End-->
            <div class="container-inner container-entries">
                <table id="entryVideo">
                    <tr>
                        <td class="entry-container">
                            <div class="entry-image">
                                <img src="@(finalist1entryContentPath).jpg" width="278" height="195" alt="Entry">
                                <a href='@Finalist1EntryNode.NiceUrl'>
                                    <div class="video-overlay-button"></div>
                                </a>
                            </div>
                            <div class="entry-title">@finalist1EntryName</div>
                            <div class="entry-details">&#8211; @finalist1Entrantdetails</div>
                            <div class="entry-views">
                                <span>@finalist1Views</span> Views
                           
                            </div>
                        </td>
                        <td class="entry-container">
                            <div class="entry-image">

                                <img src="@(finalist2entryContentPath).jpg" width="278" height="195" alt="Entry">
                                <a href='@Finalist2EntryNode.NiceUrl'>
                                    <div class="video-overlay-button"></div>
                                </a>
                            </div>
                            <div class="entry-title">@finalist2EntryName</div>
                            <div class="entry-details">&#8211; @finalist2Entrantdetails</div>
                            <div class="entry-views">
                                <span>@finalist2Views</span> Views
                           
                            </div>
                        </td>
                        <td class="entry-container">
                            <div class="entry-image">
                                <img src="@(finalist3entryContentPath).jpg" width="278" height="195" alt="Entry">
                                <a href='@Finalist3EntryNode.NiceUrl'>
                                    <div class="video-overlay-button"></div>
                                </a>
                            </div>
                            <div class="entry-title">@finalist3EntryName</div>
                            <div class="entry-details">&#8211; @finalist3Entrantdetails</div>
                            <div class="entry-views">
                                <span>@finalist3Views</span> Views
                           
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
    else
    {

        <!--Entries Top3 Section start-->

        <div class="container-running-entry">
            <img class="hero-img" src="@Html.Raw(Model.Content.GetPropertyValue<string>("topPanelBackgroundImage") + ".ashx?width=1280&bgcolor=black&Scale=canvas")"+ alt="Hero Image">

            <!--width="100%" height="374"-->
            <!--Entries Top Section Start-->
            <div class="container-inner">
                <div class="runnerContainerLeft">
                    <div class="runnerSubTitle">Will you be</div>
                    <div class="runnerTitle">Australia's First Tomato Master?</div>
                    <div class="ornament-entries">
                        <img src="@Url.Content("~/images/ornament.png")" width="50" height="20" alt="Ornament">
                    </div>
                </div>
                <div class="runnerContainerRight">
                    <div class="runnerCopy">@Html.Raw(heroBodyCopy)
                    </div>
                    @if (!submitAnApplicationButtonIsInactive)
                    {

                        <a href="@SubmitButtonLink">
                            <button class="gradBGprimary main-button mtop btnWidth">@Umbraco.Field("submitAnApplicationButtonTitle")</button></a>
                    }
                </div>


            </div>
            <!--Entries Top Section End-->
        </div>
    }

    @{
        //If checkbox for 'Hide All Applications' then panel must be hidden
        if (!Model.Content.GetPropertyValue<bool>("hideAllApplications"))
        { 

        <div class="cboth"></div>

        <div class="container-inner container-entries">


            <div class="sortPositionSet">
                <div class="sortLabel">Applications</div>
                <div class="sort-button">SORT BY:</div>
                <div class="sort-entries">
                    <div id="dd" class="wrapper-dropdown-2 active">
                        <span>Newest - Oldest</span>
                        <ul class="dropdown">
                            <li class="filter-entries active" data-id="shared"><a href="#">Newest - Oldest</a></li>
                            <li class="filter-entries active" data-id="oldest-newset"><a href="#">Oldest - Newest </a></li>
                            <li class="filter-entries" data-id="viewed"><a href="#">Most Viewed - Least Viewed</a></li>
                            <li class="filter-entries" data-id="least-viewed"><a href="#">Least Viewed - Most Viewed</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="cboth"></div>
            <div class="entry-container">
                @Umbraco.RenderMacro("EntriesContent")

                <div class="bottom-divider-line "></div>
            </div>
        </div>
        }
 }
</div>
