﻿@using umbraco.cms.businesslogic.media
@using umbraco.NodeFactory
@using wwwroot.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using uComponents.DataTypes.UrlPicker.Dto;
@using Umbraco.Core;
@using Umbraco.Web
@using Umbraco.Core.Models

@{
    Layout = "MasterTemplate.cshtml";

    wwwroot.Utility.SetNoBrowserCacheForpage();

    int contentPickerNodeId = Model.Content.GetPropertyValue<int>("viewAllApplicationsButton");
    var ViewAllApplicationsButtonLink = string.Empty;

    if (contentPickerNodeId > 0)
    {
        int nodeId = Convert.ToInt32(contentPickerNodeId);

        Node linkNode = new Node(nodeId);
        if (linkNode != null)
        {
            ViewAllApplicationsButtonLink = linkNode.NiceUrl;
        }
    }
    Session["isEntrySubmitted"] = true;
   
}

<script>
    $(document).ready(function () {
        var fname = localStorage.getItem('fname');
        var text = $('#message').html();
        $('#message').html(text.replace('[Firstname]', fname));
    });

</script>


<div class="container-main">
    <div class="container-inner">
        <nav class="brief-nav">
            <span>1. Enter Your Details</span>
            <span class="brief-nav-seperator">›</span>
            <span class="">2. Upload A Video</span>
            <span class="brief-nav-seperator">›</span>
            <span class="selected">3. Submit Application</span>
        </nav>
    </div>
</div>

<div id="uploadVideo" class="container-main brief-black-bg">

    <div class="container-inner">
        <div class="brief-title">@Umbraco.Field("entrySuccessTitleMessage")</div>
        <div class="brief-copy-thanks" id="message">
            <p>@Umbraco.Field("entrySuccessBodyCopy")</p>
        </div>
        <div class="thanks-center">
            <a href="@ViewAllApplicationsButtonLink">
                <button class="gradBGprimary main-button mtop btnWidth thanks-btn-width">@Umbraco.Field("viewAllApplicationsButtonTitle")</button></a>
        </div>
    </div>

    <div>
        <div class="container-inner">
            <div class="frm-row-even centeralign mbottom mtop">
                <img src="@Url.Content("~/images/ornament.png")" width="61" height="20" alt="Ornament">
            </div>
        </div>

    </div>

</div>
