﻿    @using umbraco.NodeFactory
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<script src="@Url.Content("~/scripts/footer-bottom.js")"></script>
	<script type="text/javascript">
	    $(window).scroll(function () {
	        if ($(window).scrollTop() + $(window).height() == $(document).height()) {
	            $(".footer-nav").css({ "bottom": "22px" });
	        } else {
	            $(".footer-nav").css({ "bottom": "-10px" });
	        }
	    });
</script>
@{
    Response.Redirect("/");
    Layout = "MasterTemplate.cshtml";
}
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script type="text/javascript" src="~/scripts/Comments.js"></script>
<script type="text/javascript">

    $(document).ready(function (e) {

        $(".images_container").show();

        var url = window.location.href;
        var openFancy = url.split('#')[1];
        $(".a" + openFancy).click();
    });

</script>


<style>
    .leftscroll
    {
        background: url("@Url.Content("~/images/scroll-arrow-left.png")") no-repeat scroll left top transparent;
        height: 80px;
        margin-top: 150px;
        position: absolute;
        width: 50px;
        cursor: pointer;
        z-index: 30000;
        display: none;
        left: -5px;
    }

    .rightscroll
    {
        background: url("@Url.Content("~/images/scroll-arrow-right.png")") no-repeat scroll left top transparent;
        height: 80px;
        margin-top: 149px;
        position: absolute;
        right: -9px;
        width: 50px;
        z-index: 3000;
        cursor: pointer;
        display: none;
    }

    .scr_slider .mCSB_horizontal .mCSB_scrollTools .mCSB_buttonLeft, .scr_slider .mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight
    {
        top: -50% !important;
    }
</style>
<section class="inside">
    <div class="slider-wrapper">
      <div class="slider-toptext">
        <h1 class="title"><img src="@Url.Content("~/images/dotted.png")" alt="" /> Entries <img src="@Url.Content("~/images/dotted.png")" alt="" /></h1>
          <div id="secondary-menu">
              <ul>
                  <li class="filter-entries active" data-id="all"><a href="#">ALL ENTRIES</a></li>
                  <li class="filter-entries" data-id="shared"><a href="#">MOST SHARED</a></li>
                  <li class="filter-entries" data-id="voted"><a href="#">MOST VOTED</a></li>
                  <li class="filter-entries" data-id="viewed"><a href="#">MOST VIEWED</a></li>
              </ul>
          </div>
      </div>
      <div class="scr_slider entry_slider">
          <div class="second-scroll-btn">
                <div class="leftscroll"></div>
                <div class="rightscroll"></div>
            </div>
          <div id="content_1">
              <div class="images_container" style="display: none">
                  @Umbraco.RenderMacro("EntriesPreviewContent")
              </div>
          </div>
      </div>
      <div class="join_button">
        <a href="@wwwroot.Utility.CompetitionHelper.ActiveCompetitionNiceUrl"><button class="button"><span><span>JOIN THE COMPETITON</span></span></button></a>
      </div>
    </div>
  </section>
<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
@Umbraco.RenderMacro("AddComment")