﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using umbraco.interfaces
@using Umbraco.Core.Logging
@using Umbraco.Web
@using Umbraco.Core.Models
@using Umbraco.Core;
@using umbraco.NodeFactory;
@using System.Text.RegularExpressions
@using wwwroot;


@{
    var referrer = (string)null;
    try
    {
        referrer = Request.UrlReferrer.AbsolutePath;
    }
    catch (Exception)
    {
        referrer = Request.Path.ToString();
    }
    Layout = "MasterTemplate.cshtml";

    var entryViews = 0;
    if (!(referrer.ToLower().Contains("/umbraco")))
    {
        wwwroot.Utility.UpdateEntryViewCount(Model.Content.Id);
        entryViews = Model.Content.GetPropertyValue<int>("entryViews") + 1;
    }

    else
    {
        entryViews = Model.Content.GetPropertyValue<int>("entryViews");
    }

    Node EntriesNode = new Node(wwwroot.Utility.CompetitionHelper.EntriesNodeId);
    string entryContent = Model.Content.GetPropertyValue<string>("entryUrl");
    string viewAllApplicationsButtonTitle = EntriesNode.GetProperty<string>("viewAllApplicationsButtonTitle");
    int viewAllApplicationsButtonNodeId = EntriesNode.GetProperty<int>("viewAllApplicationsButtonLink");
    Node viewAllApplicationsButtonNode = new Node(viewAllApplicationsButtonNodeId);
    var viewAllApplicationsButtonLink = viewAllApplicationsButtonNode.NiceUrl;

    string submitAnApplicationButtonTitle = EntriesNode.GetProperty<string>("submitAnApplicationButtonTitle");
    bool submitAnApplicationButtonIsInactive = EntriesNode.GetProperty<bool>("submitAnApplicationButtonIsInactive");
    int submitAnApplicationButtonNodeId = EntriesNode.GetProperty<int>("submitAnApplicationButtonLink");
    Node submitAnApplicationButtonNode = new Node(submitAnApplicationButtonNodeId);
    var submitAnApplicationButtonLink = submitAnApplicationButtonNode.NiceUrl;

    var nodefacebookapi = new Node(wwwroot.Utility.CompetitionHelper.RegisterPageNodeId).GetProperty("faceBookAppId").Value;
    string entryName = Model.Content.GetPropertyValue("entryName").ToString();
    string Entrantdetails = "By  " + Model.Content.GetPropertyValue("firstName") + "  from  " + Model.Content.GetPropertyValue("state");
    //var entryViews = Model.Content.GetPropertyValue<int>("entryViews") + 1;
    //var entryViews = Model.Content.GetPropertyValue<int>("entryViews") + 1;
    string youtubeUrl = Model.Content.GetPropertyValue<string>("entryUrl");

    //Hide Most Viewed Entries if 'View All Entries' from Entries page is also hidden
    bool hidePopularEntries = EntriesNode.GetProperty<bool>("hideAllApplications");
}




<div class="page-container-faded-black">
    <!--Entry Page start-->
    <div class="container-entry">


        <div class="submit-success">
            <script>


                $(document).ready(function () {
                    var chkmuted = false;
                    $('#fbshare').click(function () {

                        var popup;
                        var w = 500;
                        var h = 500;
                        var left = Number((screen.width / 2) - (w / 2));
                        var tops = Number((screen.height / 2) - (h / 2));

                        var fburl = 'https://www.facebook.com/dialog/feed?app_id=227271484147869&' +
                        'link=' + window.location.href + '&' +
                        'picture=http://dev.tomatomaster.com.au/images/homeProduct.png&' +
                        'name=Mutti%20Tomato%20Master&caption=Check out this Mutti Tomato Master application:&' +
                        'description=' + window.location.href + '&' +
                        'redirect_uri=https://www.facebook.com';

                        popup = window.open(fburl, '', 'status=yes, height=400; width=400; resizeable=0,width=' + w + ', height=' + h + ', top=' + tops + ', left=' + left);

                    }
                    );

                    if (localStorage.getItem('wasVisited') !== undefined) {
                        $(".submit-success").hide();
                    } else {
                        localStorage.setItem('wasVisited', 1);
                        $(".submit-success").delay(5000).fadeOut(500);
                    }
                    $('.html-player-volume-button').live('hover', function () {
                        if ($('.html-player-volume-button').hasClass('muted')) {
                            chkmuted = true;
                        }
                    });
                    var old_vol;
                    $('.html-player-volume').live('mousedown', function () {
                        if (chkmuted) {

                            chkmuted = false;
                            old_vol = $("#video-element video").get(0).volume;

                            $("#video-element video").get(0).volume = old_vol;
                            $('.html-player-volume-button').click();
                        }
                    });

                    /*$('.html-player-volume').live('click', function () {
                        $('.html-player-volume-button.muted').parent().css('background-image','none');
                        if ($(this).find('.html-player-volume-button').hasClass('muted')) {
                            $(this).addClass('muted'); 
                        } else {

                            $(this).removeClass('muted');

                        }
                    });*/

                });
            </script>
            Successfully Submitted<span class="unicode-symbols">  &#10004;</span>
        </div>

        <div class="entry-container-left">

            <div class="btn-left-entry-page"></div>
            <div class="btn-left-entry-page-bot"></div>
            <a href="@viewAllApplicationsButtonLink">
                <button class="gradBG main-button mtop50 mBottom">@viewAllApplicationsButtonTitle</button></a>

            <div class="entry-page-image">
                <!-- video player-->
                <div id="video-element"></div>

                @if (entryContent.ToLower().Contains("/media"))
                {
                    var entrySplitValue = Model.Content.GetPropertyValue<string>("entryUrl");
                    var entryContentPath = String.Format("{0}{1}/html5/index.files/html5video/{2}",
             System.Configuration.ConfigurationManager.AppSettings["subdirectoryName"], Path.GetDirectoryName(entrySplitValue).Replace("\\", "/"), Path.GetFileNameWithoutExtension(entrySplitValue));
                    <script type="text/javascript">
                        var playerTest;
                        $(document).ready(function () {

                            var videoElement = $('#video-element');
                            var options = {
                                subtitle: true,
                                controls: ['play', 'progress', 'time', 'volume', 'fullscreen', 'alternative'],
                                videos: {
                                    p720: {
                                        source: {
                                            mp4: '@(entryContentPath).mp4',
                                            webm:'@(entryContentPath).webm'
                                        },
                                        label: '720p',
                                        poster: 'img/poster.jpg'
                                    },
                                    p360: {
                                        source: {
                                            mp4: '@(entryContentPath).m4v',
                                            webm:'@(entryContentPath).webm'
                                    },
                                    label: '360p',
                                    subtitle: 'media/subtitles.srt',
                                    poster: '@(entryContentPath).jpg.ashx?width=498&height=284&bgcolor=black'
                                }
                                },
                                defaultVideo: 'p360',
                            };

                            playerTest = videoElement.jQPlayer(options);
                            if ($('.html-player-volume-button') && $('.html-player-volume-button').length > 0) {
                                $('.html-player-volume-button').live('hover', function () {
                                    var height;
                                    if ($('.volume-bar') && $('.volume-bar').length == 0) {

                                        $('.html-player-volume-position').append('<div class="volume-bar"></div>');

                                    }

                                });
                            }



                            /*if ($('.video-overlay-button-entry') && $('.video-overlay-button-entry').length > 0) {
                                $('.video-overlay-button-entry').live('click', function () {
                                    $('.html-player-play').click();
                                });
                            }*/
                            if ($('.html-player-play').length > 0) {
                                $('.html-player-play').live('click', function () {
                                    $('.video-overlay-button-entry').hide();
                                });
                            }


                            $('#video-element').bind('mouseover', function () {
                                $('.html-player-video-controls').show();
                            });

                            $('#video-element').bind('mouseout', function () {
                                $('.html-player-video-controls').hide();
                            });

                        });
                    </script>
                }


                else if (entryContent.ToLower().Contains("youtube.com"))
                {
                    <script>
                        var urlyt = "@Html.Raw(youtubeUrl)";

                        $(document).ready(function () {

                            urlyt = urlyt.replace("watch?v=", "embed/");
                            localStorage.setItem('vid_id', urlyt);
                            // console.log($('#video-element').html());
                            $('#video-element').html('<iframe width="500" height="290" src="' + urlyt + '" frameborder="0" wmode="transparent"></iframe>');
                            $('.video-overlay-button-entry').hide();

                        });

                    </script>
                }
                else
                {

                    Node nimmbParent = new Node(wwwroot.Utility.CompetitionHelper.ActiveCompetitionId);
                    var nimbbId = nimmbParent.GetProperty("nimbbPublicKey").Value;
                   <script>
                       var nimbburl = '@entryContent';
                       var videoel = '<object id="nimbb" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="500" height="300" codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">' +
                    '<param name="movie" value="http://player.nimbb.com/nimbb.swf?guid=@entryContent&nologo=1&key=@nimbbId&lang=en&showmenu=1&playonclick=0" />' +
                           '<param name="allowScriptAccess" value="always" />' +
                        '<embed name="nimbb" src="http://player.nimbb.com/nimbb.swf?guid=@entryContent&nologo=1&key=@nimbbId&lang=en&showmenu=1&playonclick=0" width="500" height="300" allowScriptAccess="always" pluginspage="http://www.adobe.com/go/getflashplayer" type="application/x-shockwave-flash">' +
                        '</embed>' + '</object>';

                              $('#video-element').html(videoel);
                              $(document).ready(function () {
                                  $('.video-overlay-button-entry').hide();
                              });
                  </script>

                }


                <div class="video-overlay-button-entry"></div>
            </div>



            <!--API for face book Integration-->
            <div id="fb-root"></div>
            <script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=227271484147869";

    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
                var a = window.location.href;
                $('.fb-share-button').attr('data-href', a);

                // Tweet Functioning
                function Tweet() {
                    var popup;
                    var w = 500;
                    var h = 500;
                    var left = Number((screen.width / 2) - (w / 2));
                    var tops = Number((screen.height / 2) - (h / 2));

                    popup = window.open('http://twitter.com/share?text=Check out this Mutti Tomato Master application:' + window.location.href, '', 'status=yes, height=400; width=400; resizeable=0,width=' + w + ', height=' + h + ', top=' + tops + ', left=' + left);

                }
            </script>


            <div class="entry-title entry-title-heading">@entryName</div>
            <div class="entry-details">&#8211; @Entrantdetails</div>
            <div class="entry-views pBottom">
                <span>@entryViews</span> Views  | 
                <span class="entryPageBtnAlign">
                    <img src="@Url.Content("~/images/btn-twitter.png")" width="55" height="22" alt="Twitter" onclick="Tweet()">
                    <div class="fb-like" data-href="@Request.Url.ToString()"  layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
                    @* <div class="fb-share-button" data-href="@Request.Url.ToString()" data-type="button"></div>*@
                    <img id="fbshare" src="@Url.Content("~/images/btn-fbShare.png")" width="56" height="19" alt="Facebook Share"> 
                    
                </span>
            </div>
            @{
                if (!hidePopularEntries)
                {
            <!--Script to render Most Popular entries -->
            <script type="text/javascript">
                $.ajax({
                    type: "POST",
                    url: subdirectoryName + "/rest-page-entries?sortedby=popularEntries",
                    success: function (response) {

                        $(".MostViewed").append(response);
                        $('.entry-container:first').addClass('entry-container-first');
                    },
                    timeout: function () {
                    }
                });
            </script>
                }
            }
            <!-- disqus comment Section -->
            <div id="disqus_thread">
            </div>

            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'muttitomatomaster'; // required: replace example with your forum shortname
                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function () {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    var s = document.createElement('script'); s.async = true;
                    s.type = 'text/javascript';
                    dsq.async = true;
                    s.src = '//' + 'muttitomatomaster' + '.disqus.com/count.js';
                    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);

                })();
            </script>

            <div class="ornament-entry-page lh73">
                <img src="@Url.Content("~/images/ornament.png")" width="50" height="20" alt="Ornament">
            </div>
        </div>
          @{
              if (!hidePopularEntries)
              {
        <div class="entry-container-right MostViewed">
            @if (submitAnApplicationButtonIsInactive == false)
            {
                <a href="@submitAnApplicationButtonLink">
                    <button class="gradBGprimary main-button mtop50 entryPageSubmitBtn">@submitAnApplicationButtonTitle</button></a>
            }
            <div class="entry-title centerAlign fSize16 width275">Most Viewed</div>

        </div>
              }
          }
    </div>
    <!--Entry Page  End-->

</div>