﻿@using umbraco.NodeFactory
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterTemplate.cshtml";
	var leftButtonNodeId = Umbraco.Field("leftButtonLink").ToString();
	var rightButtonNodeId = Umbraco.Field("rightButtonLink").ToString();
    Node termsparent = new Node(wwwroot.Utility.CompetitionHelper.RegisterPageNodeId);	
}
<style>
	.fancybox-title-float-wrap .child
	{
		display:none;
	}
</style>
<section style="padding:0;">
    <div class="home-container">
      @*<div class="background" style="height:auto;position:absolute;"><img src="@Url.Content("~/images/Mutti_HomePage_Background_Wide.jpg")" alt="" /></div>*@
	  <div class="innercontent">
		 <div class="product-box">
			  <div class="product-image">
				  @Umbraco.Field("leftBodyText")
			  </div>
			  <div class="product-text">
				@Umbraco.Field("bodyText")
				<div class="bottom-links">
					@if(!string.IsNullOrEmpty(leftButtonNodeId))
					{
					<div class="btnlink">
						<a href="@(new Node(int.Parse(leftButtonNodeId)).Url)">
							<button class="button green">
								<span>
									<span>@Umbraco.Field("leftButtonText")</span>
								</span>
							</button>
						</a>
					</div>
					}
					@if(!string.IsNullOrEmpty(rightButtonNodeId))
					{
					<div class="btnlink">
						<a href="@(new Node(int.Parse(rightButtonNodeId)).Url)">
							<button class="button">
								<span>
									<span>@Umbraco.Field("rightButtonText")</span>
								</span>
							</button>
						</a>
					</div>
					}
				</div>
			  </div>         
		  </div>
		  <div class="homebodytext">
			@Html.Raw(Umbraco.Field("bodyContent"))
		  </div>
	  </div>
    </div>
  </section>
<script type="text/javascript">
			  
	$(document).ready(function(){
	  $("section").css({"height":screen.height});
	  //$(".background img").css({"height":screen.height});		
	if(screen.width <= 1366)
	{
	$(".innercontent").css({"bottom":-($("section").height()* .40)});
	}
		else
		{
		$(".innercontent").css({"bottom":-($("section").height()* .45)});
		}
	
	});
	//window.onresize = function(event){$(".innercontent").css({"margin-top":screen.height/2.2});}



</script>
<div class="registerpopup-termsandcondition" id="terms-and-condition" style="display: none;">
    <h3 style="text-align: center;">TERMS AND CONDITIONS</h3>
    <div class="margintop20content">
        @Html.Raw(termsparent.GetProperty("termsAndConditions").Value)
    </div>
</div>