﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Core.Models.IPublishedContent>
@using umbraco.MacroEngines.Library;
@using System.Web.Mvc.Html;
@using Umbraco.Web;
@using Umbraco.Core.Models
@using Umbraco.Core;
@using umbraco.NodeFactory;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    Node termsparent = new Node(wwwroot.Utility.CompetitionHelper.RegisterPageNodeId);
    Node ActiveCompetitionId = new Node(wwwroot.Utility.CompetitionHelper.ActiveCompetitionId);
    int homeNodeID = ActiveCompetitionId.Parent.Id;
    Node homeNode = new Node(homeNodeID);
    bool isCompititionOver = homeNode.GetProperty<bool>("isCompetitionOver");
    string facebookLink = homeNode.GetProperty<string>("facebookLink");
    string twitterLink = homeNode.GetProperty<string>("twitterLink");
    string instagramLink = homeNode.GetProperty<string>("instagramLink");
        
}
@if (facebookLink.StartsWith("http://") || facebookLink.StartsWith("https://"))
{ }
else
{
    facebookLink = "http://" + facebookLink;
}

@if (twitterLink.StartsWith("http://") || twitterLink.StartsWith("https://"))
{ }
else
{
    twitterLink = "http://" + twitterLink;
}

@if (instagramLink.StartsWith("http://") || instagramLink.StartsWith("https://"))
{ }
else
{
    instagramLink = "http://" + instagramLink;
}


<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
    <meta name="description" content='@Umbraco.Field("metaDescription")'/>
    <meta name="keywords" content='@Umbraco.Field("metaKeywords")'/>
    <meta name="Author" content='@Umbraco.Field("seoPageTitle")' />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>@Model.Content.GetPropertyValue("seoPageTitle")</title>


    <!-- Add jQuery and the plugin file in your HTML page -->
    <link href="@Url.Content("~/stylesheets/css/screen.css")" rel="stylesheet" type="text/css">

    <link href="@Url.Content("~/css/MyFontsWebfontsKit.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/MT-styles.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/scripts/jquery-1.8.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.js")"></script>

    <script src="@Url.Content("~/scripts/jquery.jqplayer.js")"></script>
    <!--Typekit font start-->
    <script type="text/javascript" src="//use.typekit.net/rlv3wnc.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
    <!--Typekit font end-->

    <!-- styles needed by jScrollPane - include in your own sites -->
    <link href="@Url.Content("~/css/jquery.jscrollpane.css")" rel="stylesheet" media="all" />


    <!-- latest jQuery direct from google's CDN -->

    @{
        
        //This is because the player need jquery version 1.5.1
        if (Model.Content.DocumentTypeAlias.Equals("RecordVideoEntry"))
        {
        @Html.Raw("<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js'></script>");
        }
        else
        {
        @Html.Raw("<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>");
        }
    }
    <!-- the mousewheel plugin -->
    <script src="@Url.Content("~/scripts/jquery.mousewheel.js")" type="text/javascript"></script>
    <!-- the jScrollPane script -->
    <script src="@Url.Content("~/scripts/jquery.jscrollpane.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/scripts/jquery.jqplayer.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/scripts/Comments.js")" type="text/javascript"></script>

    <script type="text/javascript" id="sourcecode">
        $(function () {



            //$('body').css("z-index", 0);
            // $('.popupOverlay').css("z-index", '-1');
            $('.popupOverlay').hide();
            // $('.popupOverlay').css("z-index", '101');
            //var totheight = window.outerHeight;
            var totheight = $(document).height();

            $('.fadeBG').css("height", totheight);
            $('#Description, #fulfill u, #res1').click(function () {
                // $('body').scrollTop(0);
                totheight = $(document).height();

                var currentscrollpos = $(window).scrollTop();
                $('#Description-popup').show();
                $('.scroll-pane').jScrollPane();
                var screenCenter = (window.innerHeight - $('#Description-popup').height()) / 2;
                $('#Description-popup').css("top", currentscrollpos + screenCenter);
                $("html, body").animate({ scrollTop: currentscrollpos }, 500);
                $('.fadeBG').css("height", totheight);
                $('.fadeBG').show();
                $('html').css("overflow", "hidden");
                //$('#Description-popup').css('visibility', 'visible');
            });

            $('#Rules, #agree u, #agree1 u, #rules1, #rules2').click(function () {
                // $('body').scrollTop(0);
                totheight = $(document).height();

                var currentscrollpos = $(window).scrollTop();
                $('#Rules-popup').show();
                $('.scroll-pane').jScrollPane();
                var screenCenter = (window.innerHeight - $('#Rules-popup').height()) / 2;
                $('#Rules-popup').css("top", currentscrollpos + screenCenter);
                $("html, body").animate({ scrollTop: currentscrollpos }, 500);
                $('.fadeBG').css("height", totheight);
                $('.fadeBG').show();
                $('html').css("overflow", "hidden");
                //$('#Rules-popup').css('visibility', 'visible');
            });
            $('#Terms-condition, #Terms-condition1').click(function () {
                // $('body').scrollTop(0);
                totheight = $(document).height();

                var currentscrollpos = $(window).scrollTop();
                $('#Terms-condition-popup').show();
                $('.scroll-pane').jScrollPane();
                var screenCenter = (window.innerHeight - $('#Terms-condition-popup').height()) / 2;
                $('#Terms-condition-popup').css("top", currentscrollpos + screenCenter);
                $("html, body").animate({ scrollTop: currentscrollpos }, 500);
                $('.fadeBG').css("height", totheight);
                $('.fadeBG').show();
                $('html').css("overflow", "hidden");
                //$('#Terms-condition-popup').css('visibility', 'visible');
            });
            $('.popup-close, .fadeBG').click(function () {
                $('#Description-popup').hide();
                $('#Rules-popup').hide();
                $('#Terms-condition-popup').hide();
                $('.fadeBG').hide();
                $('html').css("overflow", "scroll");
                $('.jspDrag, .jspPane').css('top', '0');
            });
            /*poup overlay center position*/
            $(window).resize(function () {
                $('.popupOverlay').css({
                    position: 'absolute',
                    //left: ($(window).width() - $('.popupOverlay').outerWidth()) / 2,
                    //top: ($(window).height() - $('.popupOverlay').outerHeight()) / 2,
                });
                $('.uploadaFile').css({
                    position: 'absolute',
                    //left: ($(window).width() - $('.uploadaFile').outerWidth()) / 2,
                    //top: ($(window).height() - $('.uploadaFile').outerHeight()) / 2,
                });
                $('.youtubeUrl').css({
                    position: 'absolute',
                    left: ($(window).width() - $('.youtubeUrl').outerWidth()) / 2,
                    top: ($(window).height() - $('.youtubeUrl').outerHeight()) / 2,
                });
            });
            $(window).load(function () {
                $('.popupOverlay').css({
                    position: 'absolute',
                    //left: ($(window).width() - $('.popupOverlay').outerWidth()) / 2,
                    //top: ($(window).height() - $('.popupOverlay').outerHeight()) / 2,
                });
                $('.uploadaFile').css({
                    position: 'absolute',
                    //left: ($(window).width() - $('.uploadaFile').outerWidth()) / 2,
                    //top: ($(window).height() - $('.uploadaFile').outerHeight()) / 2,
                });
                $('.youtubeUrl').css({
                    position: 'absolute',
                    left: ($(window).width() - $('.youtubeUrl').outerWidth()) / 2,
                    top: ($(window).height() - $('.youtubeUrl').outerHeight()) / 2,
                });
                $('.container-running-entry img').css({
                    position: 'absolute',
                    left: ($(window).width() - $('.container-running-entry img').outerWidth()) / 2,
                });
            });


            $('.video-overlay-button-entry').click(function () {
                $('video').get(0).play();
                /*playing = true;*/
                $('.video-overlay-button-entry').hide();
            });

            //$('.html-player-play').click(function(){
            //    if (myVideo.paused) {
            //        $('.video-overlay-button-entry').css('display','none');
            //    }
            //    else { 
            //        $('.video-overlay-button-entry').css('display','block');
            //    } 
            //});

            /*bug 2385*/
            //$('.html-player-volume-button').click(function () {
            //    alert('hi');
            //    //$('.html-player-video-controls').css('left',' 33px !important');
            //    $('.html-player-video-controls .html-player-volume.hover').css('background-position', '-487px 0 !important');
            //});


            equalheight = function (container) {

                var currentTallest = 0,
                     currentRowStart = 0,
                     heights = new Array(),
                     rowDivs = new Array(),
                     $el,
                     topPosition = 0;
                $(container).each(function () {

                    //$el = $(this);
                    //$($el).height('auto')
                    //topPostion = $el.position().top;

                    //if (currentRowStart != topPostion) {
                    //    for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
                    //        rowDivs[currentDiv].height(currentTallest);
                    //    }
                    //    rowDivs.length = 0; // empty the array
                    //    currentRowStart = topPostion;
                    //    currentTallest = $el.height();
                    //    rowDivs.push($el);
                    //} else {
                    //    rowDivs.push($el);
                    //    currentTallest = (currentTallest < $el.height()) ? ($el.height()) : (currentTallest);
                    //}
                    //for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
                    //    rowDivs[currentDiv].height(currentTallest);
                    //}


                    $(this).css('height', 'auto');
                    heights.push($(this).height());
                    rowDivs.push($(this));
                    heights = heights.sort(sortNumber).reverse();
                    console.log(heights[0]);
                    for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
                        rowDivs[currentDiv].height(heights[0]);
                        console.log(rowDivs[currentDiv].html() + rowDivs[currentDiv].height());
                    }
                });
            }

            $(window).load(function () {
                equalheight('.product-title');
                equalheight('.product-subtitle');
            });


            $(window).resize(function () {
                equalheight('.product-title');
            });
            function sortNumber(a, b) {
                return a - b;
            }
        });

        var subdirectoryName = '@System.Configuration.ConfigurationManager.AppSettings["subdirectoryName"]';

        $(document).ready(function () {
            $('div[style*="background"]').each(function () {
                var currentBg = $(this).css('background-image');
                if (currentBg != null && currentBg.toLowerCase().indexOf(subdirectoryName) == -1 && (currentBg.indexOf('http') == -1)) {
                    $(this).css('background-image', 'url(' + window.location.pathname + '/' + currentBg.split(window.location.host + '/')[1]);
                }
            });

            $('a').each(function () {
                var currentBg = $(this).attr('href');
                if (currentBg != null && currentBg.toLowerCase().indexOf(subdirectoryName) == -1 && (currentBg.indexOf('http') == -1) && currentBg != '#') {
                    $(this).attr('href', subdirectoryName + currentBg);
                }
            });

            $('img').each(function () {
                var elementPath = $(this).attr('src').toLowerCase();
              
                if (elementPath != null && elementPath.indexOf('media') > -1 && elementPath.indexOf(subdirectoryName) == -1) {
                    $(this).attr('src', subdirectoryName + '/' + elementPath);
                }
                if (elementPath != null && elementPath.indexOf('images') > -1 && elementPath.indexOf(subdirectoryName) == -1) {
                    $(this).attr('src', subdirectoryName + elementPath);
                }
            });
            $('.popupOverlay').hide();
            if ($('.homeProductBG').length > 0) {
                $('.homeProductBG').height(-($('.homeProductBG').offset().top - $('footer').offset().top));
            }


            $(window).resize(function () {
                if ($('.homeProductBG').length > 0) {
                    $('.homeProductBG').height(383);
                    $('.homeProductBG').height(-($('.homeProductBG').offset().top - $('footer').offset().top));
                }

            });
        });

    </script>

    <!-- styles needed by jScrollPane - include in your own sites -->
</head>
<!-- Head End-->
@Umbraco.Field("googleAnalytics", recursive: true)

<body>
    <div class="wrapper">
        <!-- Navigation Start-->
        @Umbraco.Field("googleAnalytics", recursive: true)
        <div id="container-main">

           
            <div class="container-inner header">

                <a href="/" class="logoAdjust">
                    <img src="@Url.Content("~/images/mutti-logo.png")" width="85" height="54" alt="Mutti"></a>


                @Html.Partial("Header", Model.Content)
                       
            <div class="social-links">
                <ul>
                    <li id="facebook_icon"><a target="_blank" href="@facebookLink" title="Facebook">facebook
                    </a></li>

                    <li id="twitter_icon"><a target="_blank" href="@twitterLink" title="Twitter">Twitter
                    </a></li>

                    <li id="instagram_icon"><a target="_blank" href="@instagramLink" title="Instagram"></a></li>

                </ul>
            </div>
                @{
                Node foodServiceNode = uQuery.GetNodesByType("RightMenuItem").FirstOrDefault();
                if (foodServiceNode != null && foodServiceNode.Id > 0)
                {
                    string text = foodServiceNode.GetProperty<string>("menuName");
                    string url = foodServiceNode.GetProperty<string>("menuURL");
                    <a href="@url" class="left-link" target="_blank">@text</a>
                }
            
            }
            </div>
      
        </div>

        <!-- Navigation End-->
        <!-- Content Section Start-->
        @RenderBody()
        <!-- Content End-->
        <!-- Footer Start-->
    </div>
    <!-- END wrapper-->
    <div class="clearfix"></div>
    @if (isCompititionOver == false)
    {     
       
        <footer>
            <div class="container-inner">
                <nav>
                    |
          <a class="letter-space" href="#" id="Description">TOMATO MASTER JOB DESCRIPTION </a>|
          <a class="letter-space" href="#" id="Terms-condition">TOMATO MASTER TERMS AND CONDITIONS </a>
                    |
          <br />
                    <span>&copy;Copyright Sandhurst Fine Foods 2014 all rights reserved</span>  |
          <span>Contact us at info@muttiparma.com.au</span>
                </nav>
            </div>
        </footer>
    }
    else
    {
        
        <footer>
            <div class="container-inner">
                <nav>
                    <span>&copy;Copyright Sandhurst Fine Foods 2014 all rights reserved</span> |
          <span>Contact us at info@muttiparma.com.au</span>
                </nav>
            </div>
        </footer>
    }
    <!--Footer End-->

    <!--Responsibilities Section Start-->

    <div class="fadeBG"></div>
    <div class="popupOverlay" id="Description-popup">
        <div class="lightcaseTitle">
            JOB DESCRIPTION<br />
            <img src="@Url.Content("~/images/ornament.png")" width="50" height="20" alt="Ornament">
        </div>
        <div class="popup-close">
            <img src="@Url.Content("~/images/popup-close.png")" width="22" height="22" alt="Close">
        </div>
        <div class="scroll-pane">
            @Html.Raw(termsparent.GetProperty<string>("responsibilities"))
        </div>
    </div>
    <!--Responsibilities Section End-->

    <!--Rules Section Start-->
    <div class="popupOverlay" id="Rules-popup">
        <div class="lightcaseTitle">
            TIPS<br />
            <img src="@Url.Content("~/images/ornament.png")" width="50" height="20" alt="Ornament">
        </div>
        <div class="popup-close">
            <img src="@Url.Content("~/images/popup-close.png")" width="22" height="22" alt="Close">
        </div>
        <div class="scroll-pane">
            @Html.Raw(termsparent.GetProperty<string>("rules"))
        </div>
    </div>
    <!--Rules Section End-->

    <!--Terms-condition Section Start-->
    <div class="popupOverlay" id="Terms-condition-popup">
        <div class="lightcaseTitle">
            Terms and Conditions<br />
            <img src="@Url.Content("~/images/ornament.png")" width="50" height="20" alt="Ornament">
        </div>
        <div class="popup-close">
            <img src="@Url.Content("~/images/popup-close.png")" width="22" height="22" alt="Close">
        </div>
        <div class="scroll-pane">
            @Html.Raw(termsparent.GetProperty<string>("termsAndConditions"))
        </div>
    </div>
    <!--Terms-condition Section End-->

    <!-- wrapper End-->
</body>
</html>
