﻿@using umbraco.NodeFactory
@using umbraco.cms.businesslogic.media
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
	<script src="@Url.Content("~/scripts/footer-bottom.js")"></script>
	<script type="text/javascript">	
	$(window).scroll(function() {
	   if($(window).scrollTop() + $(window).height() == $(document).height()) {
		   $(".footer-nav").css({"bottom":"22px"});
	   }else {
		  $(".footer-nav").css({"bottom":"-10px"});
	   }
	});	
</script>
@{
    Response.Redirect("/");
    Layout = "MasterTemplate.cshtml";
}
<style>
    .inside {
        background: none;
    }
	.content-inner-full {
		min-height:650px;
		background:url("../images/sheadow-2.png") repeat-x scroll left 64% transparent;
	}
</style>
<section class="inside noheight">
    <div class="content-inner-full">
      <div class="content-inner-part">
        <div class="content-inner-left">@Html.Raw(Umbraco.Field("featuredImage"))</div>
        <div class="content-inner-right">
          <div class="mobilefont">
			  @try
			  {
				  Node currentNode = new Node(CurrentPage.Id);
				  
				  int featuredMediaId;
				  bool featuredMediaImage = int.TryParse(currentNode.GetProperty("muttiAppLogo").Value, out featuredMediaId);
				  if (featuredMediaId == 0)
				  {
					  featuredMediaId = 2888;
				  }
				  Media teamMemberMedia1 = new Media(featuredMediaId);
				  var featuredImgUrl = teamMemberMedia1.getProperty("umbracoFile").Value.ToString();
				  
				  <img src="/Imagegen.ashx?width=136&height=136&image=@featuredImgUrl" alt="@currentNode.Name" />
			  }
			  catch (Exception)
			  {
				  throw;
		      }			  
		  </div>
          <div class="inner-right-title">
            <h3><img src="@Url.Content("~/images/dot-small.png")" alt=""> @Umbraco.Field("mobileAppDottedTitle") <img src="@Url.Content("~/images/dot-small.png")" alt=""></h3>
          </div>
          <div class="inner-right-text">
            @Html.Raw(Umbraco.Field("mobileAppContent"))
          </div>
          <div class="black-btn">
            @Html.Raw(Umbraco.Field("mobileAppLinksContent"))
          </div>
        </div>
      </div>
    </div>
  </section>