﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web
@using Umbraco.Core.Models
@using Umbraco.Core;
@using umbraco.NodeFactory;
@using uComponents.DataTypes.UrlPicker.Dto;
@{
    Layout = "MasterTemplate.cshtml";
    bool isCompetitionOver = Model.Content.GetPropertyValue<bool>("isCompetitionOver");
    bool primaryButtonIsInactive = Model.Content.GetPropertyValue<bool>("primaryButtonIsInactive");
    bool secondaryButtonIsInactive = Model.Content.GetPropertyValue<bool>("secondaryButtonIsInactive");  
}
<!-- Header End-->
<!-- Content Section Start-->

@if (isCompetitionOver == false)
{
    <script>
        $(document).ready(function () {
            $('.wrapper').removeClass('bgcolor');
        });
    </script>
    <!--Hero Section Start-->    
    <div class="container-inner hero-image">      
    </div>
    <div class="hero-body" style="background-image: url(@(Url.Content("~" + Model.Content.GetPropertyValue<string>("heroPanelBackgroundImage") + ".ashx?width=1500&bgcolor=black&Scale=canvas")))"> 
        
   
        <div class="container-inner">
            <div class="hero-title">@Umbraco.Field("message")</div>
            <div class="hero-name">
                <img src="@Url.Content("~" + Model.Content.GetPropertyValue<string>("heroTitleImage"))" alt="" />
            </div>
            <div class="hero-ornament">
                <img src="@Url.Content("~/images/ornament.png")" width="68" height="20" alt="Ornament">
            </div>
            <div class="hero-body-copy">@Html.Raw(Umbraco.Field("heroBodyCopy"))</div>
            @if (secondaryButtonIsInactive == false)
            {
                string secondaryButtonLink = Model.Content.GetPropertyValue("secondaryButtonLink").ToString();


                if (secondaryButtonLink.Contains("https://") || secondaryButtonLink.Contains("http://"))
                {
                <a href="@secondaryButtonLink">
                    <button class="gradBG main-button mtop">@Umbraco.Field("secondaryButtonTitle")</button></a>
              
                }
                else
                {
                    secondaryButtonLink = "http://" + secondaryButtonLink;                      
                <a href="@secondaryButtonLink">
                    <button class="gradBG main-button mtop">@Umbraco.Field("secondaryButtonTitle")</button></a>
              
                }
            }
             @if (primaryButtonIsInactive == false)
             {
                string PrimaryButtonLink = Model.Content.GetPropertyValue("PrimaryButtonLink").ToString();


                if (PrimaryButtonLink.Contains("https://") || PrimaryButtonLink.Contains("http://"))
                {
                <a href="@PrimaryButtonLink">
                    <button class="gradBGprimary main-button mtop mleft8">@Umbraco.Field("primaryButtonTitle")</button></a>
              
                }
                else
                {
                    PrimaryButtonLink = "http://" + PrimaryButtonLink;                      
                <a href="@PrimaryButtonLink">
                    <button class="gradBGprimary main-button mtop mleft8">@Umbraco.Field("primaryButtonTitle")</button></a>
              
                }


            }

        </div>
    </div>     
@*</div> *@ 
    <!--Hero Section End-->
    <!--Product Section Start-->
    <div class="homeProductBG">
        <div class="container-inner">
            <div class="homeProduct">
                <img src="@Url.Content("~/images/homeProduct.png")" width="375" alt="homeProduct">
            </div>
            <div class="homeProductContainer">
                <div class="homeProductTitle-wrap">
                    <div class="homeProductTitle"><div>&bull;&bull;&bull;</div><span>The Mutti Range</span><div class="bRight">&bull;&bull;&bull;</div></div>
                </div>
                <div class="homeProductText">Using only the best Italian tomatoes in all our products, Mutti is Italy's number one tomato company for good reason: their unceasing commitment to quality.</div>
                <a href="@Model.Content.GetPropertyValue("viewProductsButtonLink")">
                    <button class="gradBGgray main-button mtop border-gray">@Umbraco.Field("viewProductsButtonTitle")</button></a>
            </div>
        </div>
    </div>
}
else
{
    <script>
        $(document).ready(function () {
            $('.wrapper').addClass('bgcolor');
        });
    </script>
    <div class="page-container">
        <div class="container-inner">
            <div class="homeCompContainer">
                <div>
                    <span class="homeCompTitle"><span>&bull;&bull;&bull;&nbsp;&nbsp;The Mutti Range&nbsp;&nbsp;&bull;&bull;&bull;</span></span>
                </div>
                <div class="homeCompText">In Italy, Mutti has been synonymous with tomatoes since 1899. And today, they remain the best choice for food service professionals by offering a suite of premium tomato products that give you great quality and a great yield.</div>
                <div class="homeCompImage">
                    <img src="@Url.Content("~/images/homeComp.png")" width="733" height="306" alt="Mutti Range">
                </div>
                <a href="@Model.Content.GetPropertyValue("viewProductsButtonLink")">
                    <button class="gradBGgray main-button mtop border-gray floatn mbottom postcomm">@Umbraco.Field("viewProductsButtonTitle")</button>
            </div>
        </div>
    </div>
}
<!--Product Section End-->
<!-- wrapper End-->
