﻿@using umbraco.NodeFactory
@using umbraco.cms.businesslogic.media
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<script src="@Url.Content("~/scripts/footer-bottom.js")"></script>
<script type="text/javascript">	
	$(window).scroll(function() {
	   if($(window).scrollTop() + $(window).height() == $(document).height()) {
		   $(".footer-nav").css({"bottom":"22px"});
	   }else {
		  $(".footer-nav").css({"bottom":"-10px"});
	   }
	});	
</script>
@{
    Response.Redirect("/");
    Layout = "MasterTemplate.cshtml";
}
@{
    var productTitle = Umbraco.Field("productItemTitle");
	var productleftContent = Umbraco.Field("productItemLandingPageLeftContent");
	var productrightContent = Umbraco.Field("productItemLandingPageRightContent");
    int productMediaId;
	bool productMediaImage = int.TryParse(Umbraco.Field("productItemLandingPageImage").ToString(), out productMediaId);
    if (productMediaImage == false)
    {
        productMediaId = 1161;
    }
    Media productMainMedia = new Media(productMediaId);
    var productImgUrl = productMainMedia.getProperty("umbracoFile").Value.ToString();

    var dishesList = new Node(1080); //DISHES LIST
    var selectedDishList = dishesList
                            .ChildrenAsList
                            .RandomOrder()
                            .Where(e => (e.GetProperty("products").Value ?? string.Empty).Contains(CurrentPage.Id.ToString()))
                            .Take(3);
                            
                            
    var countLoop = 0;    
                            
    <section class="inside">
        <div class="content-inner">
            <div class="product-title page-title">
                <h1 class="title yat">
                    <img src="@Url.Content("~/images/dotted.png")" alt="" /> 
                    @CurrentPage.Name 
                    <img src="@Url.Content("~/images/dotted.png")" alt="" />
                </h1>
            </div>
            <div class="product-image-full-width">
                <img src="/Imagegen.ashx?height=367&width=753&pad=true&image=@productImgUrl" alt="@CurrentPage.Name" />
            </div>
            <div class="product-description">
                <h3 style="text-transform: uppercase;">@productTitle</h3>
                <div class="section-text-container fltleft">
                    <div class="half-width fltleft">@Html.Raw(productleftContent)</div>
                    <div class="half-width fltright">@Html.Raw(productrightContent)</div>
                </div>
            </div>
            <div class="product-recipes">
                <h3 style="text-transform: uppercase;">@CurrentPage.Name RECIPES</h3>
                <div class="full-width all-clear section-text-container nobdr">
                    
                    @foreach (var node in selectedDishList)
                    {
                        countLoop++;
						var completeUrl = "http://" + HttpContext.Current.Request.Url.Authority + node.Url;
                        var recipeItemTitle = node.GetProperty("recipeItemTitle").Value;
                        var recipeItemDescription = node.GetProperty("recipeItemDescription").Value;
                        var recipeItemImage = node.GetProperty("recipeItemImage").Value;
                        var recipeItemLargeImage = node.GetProperty("recipeItemLargeImage").Value;
                        var recipeItemVideo = node.GetProperty("recipeItemVideo").Value;
                        var dishType = node.GetProperty("dishType").Value;


                        var timeToCookInMinutes = 0;
                        var numberOfServing = 0;

                        int.TryParse(node.GetProperty("timeToCookInMinutes").Value, out timeToCookInMinutes);
                        int.TryParse(node.GetProperty("numberOfServing").Value, out numberOfServing);

                        var timeToCookStr = timeToCookInMinutes >= 60 ?
                                            (timeToCookInMinutes / 60) + "h " +
                                            ((timeToCookInMinutes % 60)) + "m" :
                                            timeToCookInMinutes + " mins";

                        string recipeItemImageUrl = string.Empty;
                        string recipeItemImageLargeUrl = string.Empty;

                        try
                        {
                            var recipeItemImageMedia = new Media(int.Parse(recipeItemImage));
                            recipeItemImageUrl = recipeItemImageMedia.getProperty("umbracoFile").Value.ToString();
                            var recipeItemImageLargeMedia = new Media(int.Parse(recipeItemLargeImage));
                            recipeItemImageLargeUrl = recipeItemImageLargeMedia.getProperty("umbracoFile").Value.ToString();
                        }
                        catch
                        {
                        }

                        <div class="recipe-container-box" @if (countLoop < 3)
                                                          { <text>style="margin-right: 20px;"</text> }>
                            <div class="recipe-content">
                                <a class="fancyboxrecipe" href="#product-@node.Id"><img src="/Imagegen.ashx?width=176&height=157&pad=true&image=@recipeItemImageUrl" alt="recipe 1"/></a> 
                            </div>
                            <p>@node.Name</p>
                        </div>
                        
                        <!-- fancybox Content-->
                        <div id="product-@node.Id" class="lightbox-container lightbox-product">
                            <div class="leftsharebox">
								<div class="fb-like" data-href="@completeUrl" data-send="false" data-layout="box_count" data-show-faces="false" data-font="segoe ui"></div>
                                <span class='st_sharethis_large' displayText='ShareThis'></span>
                                <span class='st_twitter_large' displayText='Tweet'></span>
                                <span class='st_pinterest_large' displayText='Pinterest'></span>
                                <span class='st_googleplus_large' displayText='Google +'></span>
                                <span class='st_linkedin_large' displayText='LinkedIn'></span>
                                <span class='st_tumblr_large' displayText='Tumblr'></span>
                                <span class='st_email_large' displayText='Email'></span>
                            </div>
                            <div class="lightbox-product-container fltleft" style="width: 758px;">
                                <h3 class="heading">@node.Name</h3>
                                <div class="lightbox-product-image"> <img src="/Imagegen.ashx?width=758&&height=500&pad=true&image=@recipeItemImageLargeUrl" alt="Product 01"/> </div>
                                <div class="lightbox-recipe-details">
                                    <div class="recipe-category"> <span class="title">DISH TYPE:</span> 
                                        <span class="category"><span class="icon meat"><img src="@Url.Content("~/images/icon-meat.png")" alt="Meat"/></span>Meat</span> 
                                    </div>
                                    <div class="recipe-coocking-time">
                                        <span class="title">TIME TO COOK:</span> 
                                        <span class="time"><span class="icon clock"><img src="@Url.Content("~/images/icon-cooking-time.png")" alt="Meat"/></span>@timeToCookStr</span> 
                                    </div>
                                    <div class="recipe-serve-no">
                                        <span class="title">SERVES:</span> 
                                        <span class="serve">
                                            @for (var x = 0; x < numberOfServing; x++)
                                            {
                                                <img style="float: left;" src="@Url.Content("~/images/people-no-blue1.png")" alt="Serve-no"/>
                                            }
                                        </span> 
                                    </div>
                                </div>
                                <div class="lightbox-discription">
                                    <h3 class="heading">@node.Name</h3>
                                    <p>@Html.Raw(node.GetProperty("recipeItemDescription").Value)</p>
                                </div>
                            </div>
                        </div>
                        <!-- fancybox end--> 
                    }
                    
                </div>
            </div>
        </div>
    </section>
    
    <script>
        $('a.fancyboxrecipe').fancybox({
            width: 840,
            height: 550,
            topRatio: 0.1,
            autoSize: false,
            autoHeight: false,
            autoWidth: false
        });
    </script>
}
<script>
  FB.Event.subscribe('edge.create', function(href, widget) {
    console.log('You liked' + href);
  });
</script>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>