﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage	
@{
    Layout = "MasterTemplate.cshtml";
}
<div class="page-container">
	<!--Products Top Section Start-->
	<div class="container-inner">
		<div class="homeCompContainer border-bottom-space">
			<div>
				<span class="homeCompTitle productTitle no-border">&bull;&bull;&bull;The Mutti Range&bull;&bull;&bull;</span>
			</div>
			<div class="homeCompText">In Italy, Mutti has been synonymous with tomatoes since 1899. And today, they remain the best choice for food service professionals by offering a suite of premium tomato products that give you great quality and a great yield.</div>
		</div>
		<div class="border-bottom"></div>    
	</div>
	<!--Products Top Section End-->

	<!--Products Listing Section start-->
	<div class="container-inner">      
         @Umbraco.RenderMacro("ProductItems")
	</div>
	<!--Products Listing Section End-->
</div>