﻿@using umbraco.NodeFactory
@using umbraco.interfaces
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<script src="@Url.Content("~/scripts/footer-bottom.js")"></script>
<script type="text/javascript">	
	$(window).scroll(function() {
	   if($(window).scrollTop() + $(window).height() == $(document).height()) {
		   $(".footer-nav").css({"bottom":"22px"});
	   }else {
		  $(".footer-nav").css({"bottom":"-10px"});
	   }
	});	
</script>
@{
    Response.Redirect("/");
    Layout = "MasterTemplate.cshtml";
}
<style>
    #addthis_button_twitter span
	{
		background: url('/images/Social/twitter_icon.png') no-repeat 0 0 transparent !important;
	}
	#addthis_button_pinterest_share span
	{
		background: url('/images/Social/pinterest_icon.png') no-repeat 0 0 transparent !important;
	}
	#addthis_button_google_plusone_share span
	{
		background: url('/images/Social/google_icon.png') no-repeat 0 0 transparent !important;
	}
	#addthis_button_linkedin span
	{
		background: url('/images/Social/LinkedIn_icon.png') no-repeat 0 0 transparent !important;
	}
	#addthis_button_tumblr span
	{
		background: url('/images/Social/tumbler_icon.png') no-repeat 0 0 transparent !important;
	}
	#addthis_button_email span
	{
		background: url('/images/Social/email_icon.png') no-repeat 0 0 transparent !important;
	}
	.addthis_floating_style.addthis_32x32_style{
		width: 36px;
		margin-top: 27px;
		display: none;
		margin-left: 5px;
	}
	.st_sharethis_large
	{
		cursor: pointer;
	}
	#comments-block-recordvideo {
		min-height: 312px !important;
	}
	#comments-block-write{
		min-height: 255px !important
	}
	#comments-block-upload{
		min-height: 316px !important
	}
	.fb-like iframe {
		position:relative !important;
		z-index:9999 !important;
	}
</style>

@{
    var dishesTypeList = new Node(1107); //DISHES TYPE LIST
}
<section class="inside">
    <div class="content-inner">
        <div class="product-title page-title">
            <h1 class="title"><img src="@Url.Content("~/images/dotted.png")" alt="" /> Our Recipes <img src="@Url.Content("~/images/dotted.png")" alt="" /></h1>
        </div>
        <div id="secondary-menu" style="display: none;">
            <ul>
                <li class="active"><a class="dishTypeLink" href="#all" data-id="0">ALL</a></li>
                @foreach (Node dishTypeNode in dishesTypeList.Children)
                {
                    <li><a class="dishTypeLink" href="#@dishTypeNode.Name" data-id="@dishTypeNode.Id" >@dishTypeNode.Name.ToUpper()</a></li>
                }
            </ul>
        </div>
        <div id="recipe-list-container" style="display: none;">
            @ShowRecipes(0)
            @foreach (Node dishTypeNode in dishesTypeList.Children)
            {
                @ShowRecipes(dishTypeNode.Id)
            }
        </div>
    </div>
</section>

@ShowFancyBox()

@helper ShowFancyBox(){
    var dishesList = new Node(1080); //DISHES LIST
    var selectedDishList = dishesList
        .ChildrenAsList;
    
    <script type="text/javascript">

        $(".recipe-content").hover(function () {

            $(this).find(".recipe-other-details").slideDown(400);

        }, function () {

            $(this).find(".recipe-other-details").slideUp(400);

        });
</script>
        
    foreach (Node node in selectedDishList)
    {
        @Html.Partial("~/Views/RecipePartials/RecipeContentFancyBoxPartial.cshtml", node)
    }
}

@helper ShowRecipes(int dishTypeNodeId)
{
    IEnumerable<INode> firstFourDishes;
    IEnumerable<INode> secondFourDishes;

    if (dishTypeNodeId == 0)
    {
        var dishesList = new Node(1080); //DISHES LIST
        var selectedDishList = dishesList
                                .ChildrenAsList;

        var countDishList = selectedDishList.Count();

        firstFourDishes = selectedDishList.Take(4);
        @ShowRecipesIteration(firstFourDishes, dishTypeNodeId)

        for (var iterDish = 4; iterDish < countDishList; iterDish += 4)
        {
            var fourDishes = selectedDishList.Skip(iterDish).Take(4);
            @ShowRecipesIteration(fourDishes, dishTypeNodeId)
        }
    }
    else
    {
        var dishesList = new Node(1080); //DISHES LIST
        var selectedDishList = dishesList
                                .ChildrenAsList
                                .Where(e => e.GetProperty("dishType").Value.Contains(dishTypeNodeId.ToString()));

        var countDishList = selectedDishList.Count();

        firstFourDishes = selectedDishList.Take(4);
        @ShowRecipesIteration(firstFourDishes, dishTypeNodeId)

        for (var iterDish = 4; iterDish < countDishList; iterDish += 4)
        {
            var fourDishes = selectedDishList.Skip(iterDish).Take(4);
            @ShowRecipesIteration(fourDishes, dishTypeNodeId)
        }
    }
}

@helper ShowRecipesIteration(IEnumerable<INode> fourDishes, int dishTypeNodeId)
{
    <ul class="recipe-list dishtype-@dishTypeNodeId dishtypeall" id="list1" style="width:1046px;">
        @foreach (Node dish in fourDishes)
        {
            <li>
                @Html.Partial("~/Views/RecipePartials/RecipeContentPartial.cshtml", dish)
            </li>
        }
    </ul>
}

<script>

    ShowRecipeByDishType(0);

    $('a.fancyboxrecipe').fancybox({
        width: 840,
        height: 550,
        topRatio: 0.1,
        autoSize: false,
        autoHeight: false,
        autoWidth: false
    });    

    
    $(".dishTypeLink").each(function() {
        $(this).click(function () {
            var id = $(this).attr("data-id");

            ShowRecipeByDishType(id);

            $("li.active").removeClass("active");
            $(this).parent().addClass("active");
        });
    });
    
    function ShowRecipeByDishType(id) {
        $(".dishtypeall").hide();
        $(".dishtype-" + id).show();
    }
        
    $(document).ready(function (e) {
        $("#recipe-list-container").show();
    });

    $(window).load(function () {
        //$("#recipe-list-container").fadeIn("slow");
		$("#secondary-menu").fadeIn("slow");
		var url = window.location.href;
		var openFancy = url.split('#')[1];
		$("#"+openFancy).fancybox().trigger('click');		
    });

    
</script>