﻿@using umbraco.NodeFactory
@using umbraco.interfaces
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Response.Redirect("/");
    Layout = null;
}


@{
    var dishTypeId = Request["dishtypeid"];

    IEnumerable<INode> firstFourDishes;
    IEnumerable<INode> secondFourDishes;
    
    
    if (dishTypeId != null)
    {
        try
        {
            var dishesTypeList = new Node(int.Parse(dishTypeId)); //DISHES TYPE LIST
            var dishesList = new Node(1080); //DISHES LIST
            var selectedDishList = dishesList
                                    .ChildrenAsList
                                    .Where(e => e.GetProperty("dishType").Value.Contains(dishTypeId));

            firstFourDishes = selectedDishList.Take(4);
            secondFourDishes = selectedDishList.Skip(4).Take(4);
        }
        catch (Exception exxx)
        {
            var dishesList = new Node(1080); //DISHES LIST
            var selectedDishList = dishesList.ChildrenAsList;

            firstFourDishes = selectedDishList.Take(4);
            secondFourDishes = selectedDishList.Skip(4).Take(4);
        }
    }
    else
    {
        var dishesList = new Node(1080); //DISHES LIST
        var selectedDishList = dishesList.ChildrenAsList;

        firstFourDishes = selectedDishList;
        secondFourDishes = selectedDishList;
    }
    
}



<ul class="recipe-list dishtype-@dishTypeId dishtypeall" id="list1" style="width:1046px;">
    @foreach (Node dish in firstFourDishes)
    {
        <li>
            @Html.Partial("~/Views/RecipePartials/RecipeContentPartial.cshtml", dish)
        </li>
    }
</ul>
<ul class="recipe-list dishtype-@dishTypeId dishtypeall"  id="list2" style="width:1046px;">
    @foreach (Node dish in secondFourDishes)
    {
        <li>
            @Html.Partial("~/Views/RecipePartials/RecipeContentPartial.cshtml", dish)
        </li>
    }
</ul>