﻿@using System.Collections
@using umbraco.NodeFactory
@using umbraco.interfaces
@using Umbraco.Core.Logging

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
@{
    //from web.config
    int resultSetCount = wwwroot.Utility.CompetitionEntriesCount;

    var sortedby = Request["sortedby"];
    var lastIndex = Request["lastIndex"] == null ? 0 : Convert.ToInt32(Request["lastIndex"]);

    var docId = Request["documentId"] == null ? wwwroot.Utility.CompetitionHelper.EntriesNodeId : Convert.ToInt32(Request["documentId"]);
    int entryPreviewId = 0;

    if (Request["entryPreviewId"] != null && !string.IsNullOrWhiteSpace(Request["entryPreviewId"]))
    {
        entryPreviewId = Convert.ToInt32(Request["entryPreviewId"]);
    }

    //Pass showWinningEntry=true if response should not contain the list for entries.
    bool showWinningEntry = false;
    if (Request["showWinningEntry"] != null && !string.IsNullOrWhiteSpace(Request["showWinningEntry"]))
    {
        showWinningEntry = Convert.ToBoolean(Request["showWinningEntry"]);
    }

    var entriesParent = new Node(docId);
    List<INode> childrenList = null;
    if (showWinningEntry)
    {
        childrenList = entriesParent.ChildrenAsList.FindAll(obj => obj.Id == entryPreviewId);
    }
    else
    {
        childrenList = entriesParent.ChildrenAsList;
        childrenList.RemoveAll(obj => obj.NodeTypeAlias != "RecordVideoEntry");
    }
    int childCount = childrenList.Count;//entriesParent.ChildrenAsList.Count;
    wwwroot.Models.CompetitionEntry requiredEntry = null;

    if (childrenList != null && childrenList.Count > 0)
    {

        //get list and sort
        var list = childrenList
           .Select(e =>
           {
               var views = 0;
               var shares = 0;
               var likes = 0;

               var entryViews = e.GetProperty("entryViews").Value;
               var entryShare = e.GetProperty("entryShare").Value;
               var entryLikes = e.GetProperty("entryLikes").Value;
               int.TryParse(entryViews, out views);
               int.TryParse(entryShare, out shares);
               int.TryParse(entryLikes, out likes);

               return new wwwroot.Models.CompetitionEntry() { Id = e.Id, Views = views, Shares = shares, Likes = likes };
           }).ToList();

        if (sortedby == "popularEntries")
        {
            list = list.OrderByDescending(x => x.Views).ToList().Take(5).ToList();
        }
        else if (sortedby == "viewed")
        {
            list = list.OrderByDescending(x => x.Views).ToList();
        }
        else if (sortedby == "shared")
        {
            list = list.OrderByDescending(x => x.Id).ToList();
        }
        else if (sortedby == "oldest-newset")
        {
            list = list.OrderBy(x => x.Id).ToList();
        }
        else if (sortedby == "least-viewed")
        {
            list = list.OrderBy(x => x.Views).ToList();
        }
        //get required entry from for preview
        if (entryPreviewId != 0)
        {
            requiredEntry = list.Find(x => x.Id == entryPreviewId);
        }

        int totalCount = childCount;
        if (showWinningEntry)
        {
            totalCount = 1;
        }
    <script type="text/javascript">
        totalListCount = "@totalCount";
        //alert(youtube_parser("http://www.youtube.com/html5/index.files/html5video/watch?v=Dy8Yt-P614w.jpg.ashx"));
        //$(document).ready(function () {
        //    $('.entry-container img').each(function () {
        //        if ($(this).attr('src').indexOf('youtube.com') > 0) {

        //        }
        //    });
        //});

        function youtube_parser(url) {
            var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
            var match = url.match(regExp);
            if (match && match[7].length == 11) {
                return match[7];
            }
        }
    </script>    
    
        //check for last index
        if (lastIndex == 0)
        {
            if (childCount > resultSetCount)
            {
                list = list.Take(resultSetCount).ToList();

                if (requiredEntry != null)
                {
                    if (!list.Any(x => x.Id == entryPreviewId))
                    {
                        list.Add(requiredEntry);
                    }
                }
            }
        }
        else
        {
            if (childCount > (resultSetCount * lastIndex))
            {
                list = list.Skip(resultSetCount * lastIndex).Take(resultSetCount).ToList();

                if (requiredEntry != null)
                {
                    if (list.Any(x => x.Id == entryPreviewId))
                    {
                        list.Remove(requiredEntry);
                    }
                }
            }
            else
            {
                return;
            }
        }

        if (sortedby == "popularEntries")
        {
    @CretePopularEntriesGrid(list);
        }
        else
        {
    @CreteEntriesGrid(list);
        }
    }
    else
    {
        LogHelper.Info(System.Reflection.MethodBase.GetCurrentMethod().DeclaringType, "Mutti: Failed to load competition entries");
    }
}

@helper CretePopularEntriesGrid(List<wwwroot.Models.CompetitionEntry> list)
{  
             
    foreach (var item in list)
    {

        try
        {

    @PopularEntryDiv(item.Id);

        }
        catch
        { }


    }       
}



@helper PopularEntryDiv(int entryGroupId)
{ 
        
    try
    {

        var entries = new Node(entryGroupId);
        var entryname = entries.GetProperty("entryName").Value;
        var entrySplitValue = entries.GetProperty("entryUrl").Value;
        var countLength = 0;
        var entryimagevalue = "";

        if (entries.NodeTypeAlias.Trim().ToLower().Equals("uploadimageentry"))
        {
            entryimagevalue = entrySplitValue.Trim();
        }
        else
        {

            entryimagevalue = string.Join(" ", entrySplitValue.Split(' ').Select(e =>
            {
                countLength += e.Length;
                return countLength < 35 ? e : string.Empty;
            })).Trim();
        }

        var applicantFirstname = entries.GetProperty("firstName").Value;
        var entryViews = entries.GetProperty("entryViews").Value;
        var entryTitle = entries.GetProperty("entryName").Value;
        var entryContent = entries.GetProperty("entryUrl").Value;
        var state = entries.GetProperty("state").Value; ;
        DateTime time = entries.CreateDate;
        const string format = "dd/MM/yyyy";
        var entryCreated = time.ToString(format);

        var entryContentPath = String.Format("{0}{1}/html5/index.files/html5video/{2}",
        System.Configuration.ConfigurationManager.AppSettings["subdirectoryName"], Path.GetDirectoryName(entrySplitValue).Replace("\\", "/"), Path.GetFileNameWithoutExtension(entrySplitValue));




        //Recorded Video Entry
        Node nimmbParent = new Node(wwwroot.Utility.CompetitionHelper.ActiveCompetitionId);
        var nimbbId = nimmbParent.GetProperty("nimbbPublicKey").Value;
        var thumbnailId = entries.GetProperty("thumbnail").Value;
        var thumbnail = string.Empty;

        if (!string.IsNullOrEmpty(thumbnailId))
        {
            var media = Umbraco.TypedMedia(thumbnailId);
            thumbnail = media.Url;
        }

    
       <div class="entry-container">
        <div class="entry-image">

            @if (entryContentPath.Contains("/media") )
            {
                <img src="@(entryContentPath).jpg.ashx?width=278&crop=both" width="278" height="195" alt="Entry">
                <a href='@entries.NiceUrl'>
                    <div class="video-overlay-button"></div>
                </a>
            }
            else
             if(entryContentPath.Contains("youtube.com"))
             {
                 string[] youtubeVideoId = entryContent.Split('=');
                 string youtubeThumbnail = "http://img.youtube.com/vi/" + youtubeVideoId[1] + "/hqdefault";
                   <img src="@(youtubeThumbnail).jpg" width="278" height="195" alt="Entry">
                <a href='@entries.NiceUrl'>
                    <div class="video-overlay-button"></div>
                </a>
             }
            else
            {
                <img src="http://api.nimbb.com/Live/Thumbnail.aspx?key=80f645bbff&guid=@entryContent&width=153&mirror=mirror" style="width:100%;height:137px;">
                 <a href='@entries.NiceUrl'>
                    <div class="video-overlay-button"></div>
                </a>
            }

        </div>
        <div class="entry-title">@entryname</div>
        <div class="entry-details">&#8211; By @applicantFirstname from @state</div>
        <div class="entry-views">
            <span>@entryViews</span> Views
        </div>
        <div class="bottom-divider-line "></div>
    </div>
          
    }

    catch (Exception ex)
    {
        LogHelper.Info(System.Reflection.MethodBase.GetCurrentMethod().DeclaringType, "Mutti: Error Generating Competition Entries Html " + ex.StackTrace);
    }
}

@helper CreteEntriesGrid(List<wwwroot.Models.CompetitionEntry> list)
{
    
    <div class="container-inner container-entries">
        <table id="entryVideo">

            <tr>
                @{
                    int tdCount = 0;
                    foreach (var item in list)
                    {
                        tdCount++;

                        try
                        {
                            //@CreatePopularEntriesGrid(item.Id);
                            if (tdCount % 3 == 1 && tdCount != 1)
                            {      
                    @Html.Raw("  </tr><tr>    ");
                    @EntryDiv(item.Id);
                            }
                            else
                            {
                    @EntryDiv(item.Id);
                            }
                        }
                        catch
                        { }

                    }
                }
            </tr>
        </table>
    </div>
}

@helper EntryDiv(int entryGroupId)
{
  
    try
    {

        var entries = new Node(entryGroupId);
        var entryname = entries.GetProperty("entryName").Value;
        var entrySplitValue = entries.GetProperty("entryUrl").Value;
        var countLength = 0;
        var entryimagevalue = "";

        if (entries.NodeTypeAlias.Trim().ToLower().Equals("uploadimageentry"))
        {
            entryimagevalue = entrySplitValue.Trim();
        }
        else
        {

            entryimagevalue = string.Join(" ", entrySplitValue.Split(' ').Select(e =>
            {
                countLength += e.Length;
                return countLength < 35 ? e : string.Empty;
            })).Trim();
        }

        var applicantFirstname = entries.GetProperty("firstName").Value;
        var applicantLastname = entries.GetProperty("lastName").Value;
        var entryViews = entries.GetProperty("entryViews").Value;
        var entryShare = entries.GetProperty("entryShare").Value;
        var entryLikes = entries.GetProperty("entryLikes").Value;
        var entryTitle = entries.GetProperty("entryName").Value;
        var entryContent = entries.GetProperty("entryUrl").Value;
        var state = entries.GetProperty("state").Value; ;
        DateTime time = entries.CreateDate;
        const string format = "dd/MM/yyyy";
        var entryCreated = time.ToString(format);
        var entryContentPath = string.Empty;
       
        
        <td class="entry-container">
        <div class="entry-image">
        
        @{
            if (entryContent.ToLower().Contains("/media"))
        {
            entryContentPath = String.Format("{0}{1}/html5/index.files/html5video/{2}",System.Configuration.ConfigurationManager.AppSettings["subdirectoryName"],
          Path.GetDirectoryName(entrySplitValue).Replace("\\", "/"), Path.GetFileNameWithoutExtension(entrySplitValue));
            
         <img src="@(entryContentPath).jpg.ashx?width=278&crop=both" width="278" height="195" alt="Entry">
                <a href='@entries.NiceUrl'>
                    <div class="video-overlay-button"></div>
                </a>   
            
        }
        else if (entryContent.ToLower().Contains("youtube.com"))
        {

            string[] videoId = entryContent.Split('=');


            entryContentPath = "http://img.youtube.com/vi/" + videoId[1] + "/hqdefault";
            <img src="@(entryContentPath).jpg" width="278" height="195" alt="Entry">
                <a href='@entries.NiceUrl'>
                    <div class="video-overlay-button"></div>
                </a>
        }

        else
        {
            entryContentPath = entryContent;
            <img src="http://api.nimbb.com/Live/Thumbnail.aspx?key=80f645bbff&guid=@entryContentPath&width=153&mirror=mirror" style="width:100%;height:137px;">
                 <a href='@entries.NiceUrl'>
                    <div class="video-overlay-button"></div>
                </a>
        }
        }
        
        </div>
            <div class="entry-title">@entryname</div>
        <div class="entry-details">&#8211; By @applicantFirstname from @state</div>
        <div class="entry-views">
            <span>@entryViews</span> Views
        </div>
    </td>
    }

    catch (Exception ex)
    {
        LogHelper.Info(System.Reflection.MethodBase.GetCurrentMethod().DeclaringType, "Mutti: Error Generating Competition Entries Html " + ex.StackTrace);
    }
}
