﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<script src="@Url.Content("~/scripts/footer-bottom.js")"></script>
<script type="text/javascript">	
	$(window).scroll(function() {
	   if($(window).scrollTop() + $(window).height() == $(document).height()) {
		   $(".footer-nav").css({"bottom":"22px"});
	   }else {
		  $(".footer-nav").css({"bottom":"-10px"});
	   }
	});	
</script>
@{
    Response.Redirect("/");
    Layout = "MasterTemplate.cshtml";
}
<script type="text/javascript">
    $(function () {
		
		 $("#accordion dt").each(function () {
            $(this).find("span.ui-icon").appendTo($(this).find("a"));

        });
		
        $("#accordion").accordion({
            collapsible: true,
            active: 'none'
        });

    });

    function RedirectToAddress(element) {
        if (checkURL($(element).html()))
           window.open("//"+ $(element).html(),'_blank');
    }

    function checkURL(value) {
        var urlregex = new RegExp("^(http:\/\/www.|https:\/\/www.|ftp:\/\/www.|www.){1}([0-9A-Za-z]+\.)");
        if (urlregex.test(value)) {
            return (true);
        }
        return (false);
    }


</script>
<style>
    .half-width {
        width: 100% !important;
    }
</style>

<section class="inside">
    <div class="content-inner">
      <!--<div class="product-title"><img src="images/stockist.png" alt="Stockists"/> </div>-->
      <div class="product-title page-title">
        <h1 class="title"><img src="@Url.Content("~/images/dotted.png")" alt="" /> Stockists <img src="@Url.Content("~/images/dotted.png")" alt="" /></h1>
      </div>
      <div class="product-text-container">
        <p class="mb25">@Umbraco.Field("stockistContent")</p>
      </div>
      <div class="product-text-container">
        <div>
          <dl id="accordion">
		  	@Umbraco.RenderMacro("StockistDetails")            
          </dl>
        </div>
      </div>
    </div>
</section>