﻿    @using umbraco.cms.businesslogic.media
@using umbraco.NodeFactory
@using wwwroot.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "MasterTemplate.cshtml";

    wwwroot.Utility.SetNoBrowserCacheForpage();
    Node termsparent = new Node(wwwroot.Utility.CompetitionHelper.RegisterPageNodeId);
    Node nimmbParent = new Node(wwwroot.Utility.CompetitionHelper.ActiveCompetitionId);
    var applicant = (ApplicantDetail)HttpContext.Current.Session["ApplicantSession"];
    if (Session["isEntrySubmitted"] == null || Convert.ToBoolean(Session["isEntrySubmitted"]) == true)
    {
        Response.Redirect("/");
    }
}

<script src="~/scripts/jquery.validate.js"></script>

	<script type="text/javascript">
	    $(document).ready(function () {
	        $('#record-video').click(function () {
	            $('#bottom-copy').addClass('record');
	        });
	        $('#youtube-video').click(function () {
	            $('#bottom-copy').removeClass('record');
	        });

	        $('#upload-file').click(function () {
	            $('#bottom-copy').removeClass('record');
	        });
	        $('#myvideo').click(function () {
	            $('#bottom-copy').removeClass('record');
	        });
	        $('#uploadvideo').show();
	        //form validation rules
	        if (sessionStorage.getItem('file') == 'true') {

	            sessionStorage.setItem('file', 'false');
	            //$('.fadeBG, #nimbbLoader').show();

	        }
	        $('.bgfaded').css('height', $(document).height());
	        $("#entery-details").validate({
	            rules: {
	                applicationName: {
	                    required: true,
	                    minlength: 1
	                },
	            },
	            messages: {
	                applicationName: "please enter a title for your application",
	            }
	        })
	       
	    });




	    var xc;
	    $(window).load(function () {

	        setTimeout(function () {
	            xc = $('#btnUploadaFile1').offset().left;
	            yc = $('#btnUploadaFile1').offset().top;
	            //console.log('x: ' + xc + '..yc: ' + yc);
	            $('#uploadvideo,#uploadtrue2').css('height', $('#btnUploadaFile1').height() + 15);
	            $('#uploadvideo,#uploadtrue2').css('width', $('#btnUploadaFile1').width() + 10);

	            $('#uploadvideo').offset({ 'left': xc });
	            $('#uploadvideo').offset({ 'top': yc });



	            document.getElementById('uploadtrue2').addEventListener("dragover", function (e) {
	                $('.upload-file').css('background-image', 'url(../../images/upload-file-hover.png)');

	                $('#btnUploadaFile1').css('color', ' #e1bc70');

	            });


	            document.getElementById('uploadtrue2').addEventListener("dragleave", function (e) {
	                $('.upload-file').css('background-image', 'url(../../images/upload-file.png)');
	                $('#btnUploadaFile1').css('color', 'white');

	            });


	            // console.log($('#uploadvideo').offset());
	        }, 300);
	    });

	    $(window).resize(function () {
	        xc = $('#btnUploadaFile1').offset().left;
	        yc = $('#btnUploadaFile1').offset().top;
	        $('#uploadvideo,#uploadtrue2').css('height', $('#btnUploadaFile1').height() + 15);
	        $('#uploadvideo,#uploadtrue2').css('width', $('#btnUploadaFile1').width() + 10);
	        // console.log($('#btnUploadaFile1').offset());
	        $('#uploadvideo').offset({ 'left': xc });
	        $('#uploadvideo').offset({ 'top': yc });
	        //console.log($('#uploadvideo').offset());
	    });


</script>
<!--jquery Validation end-->
<style type="text/css">
    #uploadvideo {
        opacity: 0;
        z-index: 0 !important;
    }



    /*.mothertext {
        margin-left: -300px;
        margin-top: 9px;
    }*/


    #uploadtrue2 {
        cursor: pointer;
    }
</style>

<script type="text/javascript" id="sourcecode">

    function showError(text) {
        $('#errorextnew').empty();
        $('#errorextnew').html(text);
        $('#errorextnew').show();
    }

    function hideError() {
        $('#errorextnew').hide();
    }

    //Variables used for video recording
    var bRecording = false;
    var recorder = null;
    var state = '';
    var entry_NameUpload = '';
    $(function () {

        if (navigator.userAgent.toUpperCase().indexOf('MSIE') >= 0) {
            console.log('IE found');
            $('#upload-file').parent().html('<div id="upload-file" class="video-title"><a id="btnUploadaFile1"  href="#"><span class="upload-file video-step-align"></span>Upload a file</a> </div>Select file to upload.');
        }

        $('#uploadvideo').show();
        $('#uploadtrue2').mouseover(function () {
            $('.upload-file').css('background-image', 'url(../../images/upload-file-hover.png)');

            $('#btnUploadaFile1').css('color', ' #e1bc70');
        });

        $('#uploadtrue2').mouseout(function () {
            $('.upload-file').css('background-image', 'url(../../images/upload-file.png)');

            $('#btnUploadaFile1').css('color', 'white');
        });


        if (sessionStorage.getItem('isUploaded') == 'true') {
            sessionStorage.setItem('isUploaded', 'false');
            //$('.fadeBG').show();
            @*window.location = "@wwwroot.Utility.CompetitionHelper.EntrySubmitedSuccessfullyNodeNiceUrl";*@


        }

        $('#gotoUploadMainPage').click(function () {
            resetRecorder();
            $('#uploadVideo').show();
            $('#recordVideo').hide();

        });
        $('#recordvideo').show();
        //$('.scroll-pane').jScrollPane();
        $('#entry-details-container').hide();
        $('.popupOverlay').hide();
        /*var totheight = $('#container-main').height()+ $('.page-container-black').height() +$('footer').height()+15;*/
        var totheight = window.outerHeight;
        $('.fadeBG').css("height", totheight);

        $('#Rules').click(function () {
            $('#Rules-popup').show();
            $('.fadeBG').css("height", totheight);
            $('.fadeBG').show();
        });

        $('#Description').click(function () {
            $('#Description-popup').show();
            $('.fadeBG').css("height", totheight);
            $('.fadeBG').show();
        });
        $('.popup-close, .fadeBG').click(function () {
            $('#Description-popup').hide();
            $('#Rules-popup').hide();
            $('.filePath').hide();
            $('.youtubeUrl').hide();
           /* $('.uploadaFile').hide();*/
            $('.fadeBG').hide();
        });


        /*poup overlay center position*/
        $(window).resize(function () {
            $('.popupOverlay').css({
                position: 'absolute',
                left: ($(window).width() - $('.popupOverlay').outerWidth()) / 2,
                top: ($(window).height() - $('.popupOverlay').outerHeight()) / 2,
            });
        });

        //$('#upload-file input').click(function () {
        //    $('#upload-file input').click();
        //});

        $('#uploadtrue2').change(function (e) {
            //file = this.files[0];
            var target = e.target ? e.target : e.srcElement
            videoForPreview = target.files;
            state = 'uploadfile';
           /* $('html').css("overflow", "hidden");*/
            var fileName = e.target.files[0].name.toLowerCase();
            var fileSize = this.files[0].size / 1048576;
            // alert(fileName.match('.mp4'));
            if ((fileName.match('.mov') || fileName.match('.mp4') || fileName.match('.m4v') || fileName.match('.ogv') || fileName.match('.webm')) && fileSize <= 100) {
                setTimeout(function () { $('#saveaFile').click(); }, 300);
                hideError();
                $('#loader,.bgfaded').show();
            }
            else {
                //alert('Uploaded file must be submitted in the following formats only: mp4, m4v, webm, mov,ogv and it must not exceed 100MB file size');
                showError('@wwwroot.Utility.CompetitionErrorMessage.InvalidExtensionVideo');
        }
        });

        $('#uploadFileField').change(function () {
            file = this.files[0];
            $('#uploadtrue2').val(file);
            $('#hiddenFP').attr('placeholder', file.name);
            $('#saveaFile').click();
        });

        $('#saveaFile').click(function () {
            if ($('#uploadtrue2').val() != "") {
                $('#uploadVideo,.fadeBG,#uploadvideo').hide();
                $('#entry-details-container').show();
                $('#bottom-copy').show();
                //$('video::-webkit-media-controls-time-remaining-display').append('/');
                $('.container-video-title').css('margin-top', '35px');
                //fileURL = URL.createObjectURL(file);

                //$('#videoElement1').get(0).src = fileURL;
                //$('#videoElement1').get(0).play();
                uploadVideoForPreviewAndPreview();

                $('.brief-nav span:nth-child(3)').removeClass('selected');
                $('.brief-nav span:nth-child(5)').addClass('selected');
                $('#playYouTube').hide();
            }
        });

        $('#upload').click(function () {
            var videoUrl = $('#youtubeUrlBox').val();
            var youtubeRegex = "youtu(?:\.be|be\.com)/(?:.*v(?:/|=)|(?:.*/)?)([a-zA-Z0-9-_]+)";
            //var youtubeRegex = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
            //var youtubeRegex = /^(?:https?:\/\/)?(?:www\.)?youtube\.com\/watch\?(?=.*v=((\w|-){11}))(?:\S+)?$/;

            var matches = videoUrl.match(youtubeRegex);
            if ($('#youtubeUrlBox').val() != "" && matches && videoUrl.indexOf('oembed') < 0) {
              
                $("#youtubeUrlMsg").hide();
                $("#youtubeUrlBox").css("background-color", "rgb(255,255, 255)");

                $('#uploadVideo,.fadeBG,.youtubeUrl').hide();
                $('#entry-details-container').show();
                $('#bottom-copy').show();
                $('#videoElement1').hide();
                $('.brief-nav span:nth-child(3)').removeClass('selected');
                $('.brief-nav span:nth-child(5)').addClass('selected');
                //$('video::-webkit-media-controls-time-remaining-display').html('/');
                $('.container-video-title').css('margin-top', '35px');
                // $('#SelectedVideo').html('<embed id="playYouTube" width="500" height="290" src="' + $('#youtubeUrlBox').val() + '" type="application/x-shockwave-flash" allowfullscreen/>')
                //$('#playYouTube').attr('src',$('#youtubeUrlBox').val());

                var vid = matches[1];
                videoUrl = "http://www.youtube.com/watch?v=" + vid;

                $('#SelectedVideo').html('<iframe width="500" height="290" src="' + videoUrl.replace("watch?v=", "embed/") + '" frameborder="0" wmode="transparent"></iframe>');

            } else {
                if ($('#youtubeUrlBox').val() == "") {
                    $("#youtubeUrlMsg").html('Please enter a URL.');
                    $("#youtubeUrlMsg").show();
                } else {
                    $("#youtubeUrlMsg").html('Please enter a valid Youtube URL.');
                    $("#youtubeUrlMsg").show();
                }
                
               
                $("#youtubeUrlBox").css("background-color", "rgb(230, 208, 162)");
            }
        });
        //$('.custom-upload input[type=file]').change(function () {
        //    $(this).next().find('input').val($(this).val());
        //});

        $('#youtube-video').click(function () {
            state = 'youtube';


            $('.youtubeUrl').show();
            $('.fadeBG').show();
        });
        $('#cancelYT').click(function () {
            $("#youtubeUrlMsg").hide();
            $("#youtubeUrlBox").css("background-color", "rgb(255, 255, 255)");
            $('.youtubeUrl').hide();
            $('.fadeBG').hide();
            $('#uploadtrue2').val('');
            $('#youtubeUrlBox').val('');
        });
        $('#cancelUF').click(function () {
            $('.uploadaFile').hide();
            $('.fadeBG').hide();
            $('#uploadtrue2').val('');
            $('#hiddenFP').attr('placeholder', 'Browse a file...');
            $('#placeholder').html('Browse a file...');

        });
        $('#record-video').click(function () {
            state = 'record';

            $('#uploadVideo').hide();
            //$('#nimbbLoader').show();
            $('#recordVideo').show();
        });
        $('#cancel').click(function (e) {
            e.preventDefault();
            window.location.reload();
            /*$('#bottom-copy').hide();
            $('#top-copy').show();
            $('#SelectedVideo').hide();
            $('#buttonsRecording').show();
            $('.brief-title').hide();*/
            
        });



        $('#uploadRecording1').click(function () {
            if ($('#startRecording1').attr('readonly') == 'readonly') {

            } else {
                $('#buttonsRecording').hide();
                $('#top-copy').hide();
                $('#topCancelButton').hide();
                $('.brief-nav span:nth-child(3)').removeClass('selected');
                $('.brief-nav span:nth-child(5)').addClass('selected');
                $('.brief-title').html('Entry Details');
                $('.brief-title').removeClass('container-video-title');
                $('#bottom-copy').show();
            }
        });


        /*character count*/
        $("#charRemaining").html(28);
        var ctrlDown = false;
        var ctrlKey = 17, vKey = 86, cKey = 67;

        $(document).keydown(function (e) {
            if (e.keyCode == ctrlKey) ctrlDown = true;
        }).keyup(function (e) {
            if (e.keyCode == ctrlKey) ctrlDown = false;
        });

        $("#applicationName").keyup(function (e) {
            if (ctrlDown && (e.keyCode == vKey || e.keyCode == cKey)) {
                var chklength = $("#applicationName").val().length;
                if (chklength > 28) {
                    var newstr = $("#applicationName").val().substring(0, 28);
                    $("#applicationName").val(newstr);
                }
            }
        });
        $("#applicationName").keyup(function (e) {
            /* var ANLength = $("#applicationName").val();
             var ANwithoutSpace = ANLength.replace(/\s/g, "");
             var ANwithoutSpaceLength = ANwithoutSpace.length;
             var length1 = ANwithoutSpaceLength;
             var length2 = 28 - length1;
             var code = e.keyCode || e.which;
             $("#charRemaining").html(length2);
 */



            // if (e.keyCode == 8) {
            // debugger;
            if ($(this).val().trim().match(/^[A-Za-z0-9 _-]*$/)) {
                $('#submitVideo').attr("disabled", false);
                $(this).css('background-color', 'rgb(255, 255, 255)');
                $(this).removeClass('error');
                $('.error').hide();
            }

            else {
                $(this).css('background-color', 'rgb(230, 208, 162)');
                $(this).addClass('error');
                if ($(this).parent().find('label') && $(this).parent().find('label').length) {
                } else {
                    $(this).after('<label for="applicationName" class="error">please enter a valid title for your application</label>');
                }
                $('#submitVideo').attr("disabled", "disabled");
                $(this).parent().find('label').css('display', 'block !important');
            }
            // }

            var ANLength = $("#applicationName").val();
            var ANwithoutSpace = ANLength.replace(/\s/g, "");
            var ANwithoutSpaceLength = ANwithoutSpace.length;
            var length1 = ANwithoutSpaceLength;
            var length2 = 28 - length1;
            var code = e.keyCode || e.which;
            $("#charRemaining").html(length2);
            if (e.which < 0x20) {
                // e.which < 0x20, then it's not a printable character
                // e.which === 0 - Not a character
                return;     // Do nothing
            }
            var x = this.value.length;
            if (this.value.length == 28) {
                e.preventDefault();
            } else if ($(this).val().replace(/ /g, '').length > 28) {
                // Maximum exceeded
                if (e.keyCode == 8) { e.substring(0, 28); }
            }

            if ($(this).val().trim().match(/^[A-Za-z0-9 _-]*$/)) {
                $('#submitVideo').attr("disabled", false);
                $(this).css('background-color', 'rgb(255, 255, 255)');
                $(this).removeClass('error');
                $('.error').hide();


            } else {
                $('.error').show();

                $(this).css('background-color', 'rgb(230, 208, 162)');
                $(this).addClass('error');

                if ($(this).parent().find('label') && $(this).parent().find('label').length) {

                }
                else {
                    $(this).after('<label for="applicationName" class="error">please enter a valid title for your application</label>');
                } $('#submitVideo').attr("disabled", "disabled");
                $(this).parent().find('label').css('display', 'block !important');
            }


        });

        $("#applicationName").keypress(function (e) {
            var ANLength = $("#applicationName").val();
            var ANwithoutSpace = ANLength.replace(/\s/g, "");
            var ANwithoutSpaceLength = ANwithoutSpace.length;
            var length1 = ANwithoutSpaceLength;
            var length2 = 28 - length1;
            if (length2 <= 0) {
                if (e.keyCode == 8 || e.keyCode == 46) {

                } else {
                    e.preventDefault();
                }
                $("#charRemaining").html(length2);
            } 
        });

        /*Submit Video issue*/
        $('#submitVideo').click(function (event) {
            var element = $('#applicationName');
            if (element.val().trim().match(/^[A-Za-z0-9 _-]*$/)) {
                //$('#submitVideo').attr("disabled", false);
                element.css('background-color', 'rgb(255, 255, 255)');
                element.removeClass('error');
                //$('.error').hide();
                handleupload();

            }

            else {

                element.css('background-color', 'rgb(230, 208, 162)');
                element.addClass('error');
                if (element.parent().find('label') && element.parent().find('label').length) {
                } else {
                    element.after('<label for="applicationName" class="error">please enter a valid title for your application</label>');
                }
                //$('#submitVideo').attr("disabled", "disabled");
                element.parent().find('label').css('display', 'block !important');
            }



        });


        $('.firstname').text(firstname);
        $('#cancelUF').click(function (event) {
            event.preventDefault();
        });

        $('#uploadFile').click(function () {
            //alert('submitted');
        });
    });

function handleupload() {

    $("#entery-details").valid();
    if ($("#applicationName").val().length > 0) {

        $('#submitVideo').attr("disabled", false);
        $("#applicationName").css('background-color', 'rgb(255, 255, 255)');
        $("#applicationName").removeClass('error');
        $('.error').hide();
    } else {
        //mandatory check
        $("#applicationName").css('background-color', 'rgb(230, 208, 162)');
        $("#applicationName").addClass('error');
        // $("#applicationName").after('<label for="applicationName" class="error">please enter a title for your application</label>');
        $('#submitVideo').attr("disabled", "disabled");
        $("#applicationName").parent().find('label').css('display', 'block !important');
    }
    if ($('#applicationName').val().length != 0) {
        this.value = '';
        this.value = 'Submitting...';
        $('#submitVideo').val('');
        $('.uploadEntryOrnament').css('margin-top', '-30px');
        // $('#submitVideo').hide();
        $('#submitting').show();

        /* var submittingWidth = 0;
         setInterval(function () {
             if (submittingWidth < 214) {
                 $('#submitting').css('width', (submittingWidth) + 'px');
                 submittingWidth = submittingWidth + 21.3;
             }
             else {
                 submittingWidth = 0;
             }
         }, 500);*/




        if (state == 'uploadfile') {
            entry_NameUpload = $('#applicationName').val();
            sessionStorage.setItem('entry_NameUpload', entry_NameUpload);

            //Removed for new ajax post and added js function call
            //$('#uploadFile').click();
            SaveVideoFileEntry();
            sessionStorage.setItem('isUploaded', 'true');
        }
        if (state == 'youtube') {
            var videoUrl = $('#youtubeUrlBox').val();

            var youtubeRegex = "youtu(?:\.be|be\.com)/(?:.*v(?:/|=)|(?:.*/)?)([a-zA-Z0-9-_]+)";
            var matches = videoUrl.match(youtubeRegex);
            if (matches) {
                //alert('valid');

                var vid = matches[1];

                var img_url = 'http://img.youtube.com/vi/' + vid + '/default.jpg';                
                var entry_Name = $('#applicationName').val();
                //videoUrl = "http://www.youtube.com/watch?v=" + vid;

                $.ajax({
                    type: "POST",
                    contentType: "application/x-www-form-urlencoded",
                    url: subdirectoryName + "/tomatomaster/register/SubmitEntry/?entryName=" + entry_Name + "&memberId=0&entryType=uploadYoutubeVideo&entryDescription=&entryUrl=" + vid,@*//+ encodeURIComponent("@name")*@

                    xhrFields: {
                        onprogress: function (e) {
                            if (e.lengthComputable) {

                                var percentComplete = e.loaded / e.total;
                                //Do something with upload progress

                                $('#submitting').css('width', (percentComplete * 2) + 'px');
                            }
                        }
                    },


                    success: function (data) {
                        $('#submitting').css('width', '213px');
                        setTimeout(function () {
                            window.location = data.Value;
                            $('#submitVideo, #submitting').hide();
                            $('.uploadEntryOrnament').css('padding-top', '178px');
                            $('#cancel').hide();
                        }, 300);

                    },
                    error: function (xhr, ajaxOptions, thrownError) {

                    }

                });
            }
        }
        if (state == 'record') {

            submitvideo();
        }
    }

}



</script>


<script src="@Url.Content("~/scripts/Entry.js")"></script>
<script type="text/javascript">
    //MCU-121 - Upload error messages
    var InvalidExtensionVideo = "@wwwroot.Utility.CompetitionErrorMessage.InvalidExtensionVideo";
    var InvalidExtensionImage = "@wwwroot.Utility.CompetitionErrorMessage.InvalidExtensionImage";
    var MaxDuration = "@wwwroot.Utility.CompetitionErrorMessage.MaxDuration";
    var MaxFileSizeVideo = "@wwwroot.Utility.CompetitionErrorMessage.MaxFileSizeVideo";
    var MaxFileSizeImage = "@wwwroot.Utility.CompetitionErrorMessage.MaxFileSizeImage";
    var Generic = "@wwwroot.Utility.CompetitionErrorMessage.Generic";
    var MaxTextWordLimit = "@wwwroot.Utility.CompetitionErrorMessage.MaxTextWordLimit";

</script>
@{
    var iserror = Request["error"];
    if (iserror == "true")
    {
          <script>
              $(document).ready(function () {
                  $("#clicksomethingwrongMessage").click();
              });
          </script>
    }
}

<style>
    #enter-details label.error, #entery-details label.error {
        padding-top: 10px !important;
        background-position: 0 17px !important;
    }

    .btnlink a button span span {
        font-size: 21px !important;
    }

    button.button span span {
        font-size: 21px;
    }

    .instruction_step ul li {
        width: 164px;
    }

    .submitimages {
        height: 82px;
    }

    #uploadtrue {
        top: 0 !important;
        left: 0 !important;
    }

    #uploadtrue2 {
        /*top: 0 !important;
        left: 0 !important;*/
    }

    .datafile {
        position: absolute;
        margin-top: 7px;
    }

    .datafile1 {
        position: absolute;
        margin-top: 7px;
    }

    .bgfaded {
        background-color: #ffffff;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        -webkit-opacity: 0.5;
        display: none;
        z-index: 100;
    }

    #loader {
        display: none;
        position: fixed;
        top: 40%;
        left: 45%;
        background-image: url(../../images/ajax-loader.gif);
        background-repeat: no-repeat;
        width: 130px;
        height: 135px;
        z-index: 124;
    }
</style>
<style>
    .SI-FILES-STYLIZED label.cabinet {
        background: url("@Url.Content("~/images/form/input/input_text_right.gif")") no-repeat scroll right top transparent;
        border: medium none;
        float: right;
        height: 30px;
        width: 270px;
    }
</style>

<div id="loader"></div>
<div class="bgfaded"></div>
<div class="container-main">
    <div class="container-inner"> 
        <nav class="brief-nav">
          <span>1. Enter Your Details</span> 
             <span class="brief-nav-seperator">&rsaquo;</span>
          <span class="selected">2. Upload A Video</span> 
             <span class="brief-nav-seperator">&rsaquo;</span>
          <span>3. Submit Application</span> 
        </nav>
    </div>
</div>

        <div id="uploadVideo" class="container-main brief-black-bg">
        
          <div class="container-inner"> 
		<div class="brief-title">Upload a Video</div>
		<div class="brief-copy"><p>Hi <span class="firstname"></span>, thanks for signing up. You can submit your 60 second video application in one of three ways, as shown below. And remember if it's off brief or breaks the rules, you'll be automatically excluded from the competition.</p></div>
	</div>
       
        <div class="video-step">
          <ul>
       	 <img class="right-strip" src="@Url.Content("~/images/video-strip.png")" width="1" height="102">
		  <li><div id="upload-file" class="video-title"><a id="btnUploadaFile1"  href="#">
                
				<span class="upload-file video-step-align"></span>Upload a file</a>
			  </div>Select files to upload or drag and drop video files.</li>
          <img class="right-strip" src="@Url.Content("~/images/video-strip.png")" width="1" height="102">
		  <li><div id="record-video" class="video-title"><a><span class="record-video video-step-align"></span>Record a video</a></div>Record a video using your computer’s webcam.</li>
          <img class="right-strip" src="@Url.Content("~/images/video-strip.png")" width="1" height="102">
		  <li><div id="youtube-video" class="video-title"><a><span class="youtube-video video-step-align"></span>Use a youtube video</a></div>Submit a video from your own YouTube account.</li>
          <img class="right-strip" src="@Url.Content("~/images/video-strip.png")" width="1" height="102">
		</ul>
</div>

          	<div class="container-inner"> 
		<div class="frm-row-even centeralign mbottom mtop">
			<span class="error" style="text-align: center;width: 100%;background-image: none;" id="errorextnew"></span>
    <img src="@Url.Content("~/images/ornament.png")" width="61" height="20" alt="Ornament">
		</div>
	</div>

</div>


<!--Record Video start-->
<div id="recordVideo" class="container-main">
	<div id="topCancelButton" class="container-main brief-black-bg"> 
		<div class="container-inner"> 
			<div class="btn-left-record-page btn-left-record-page-adjust"></div>
			<div class="btn-left-record-page-bot"></div>
			<button id="gotoUploadMainPage" class="gradBG main-button mBottom mtop20 mleft100 wid100">Cancel</button>
		</div>
	</div>
	
	<div class="container-video"> 
		<div class="brief-title container-video-title">Record a Video</div>
		<div id="top-copy" class="container-video-copy"><p>If you think you can impress us in one take, then this is the method for you. All you need is a computer with a webcam. Once you are happy with what you have just click the 'UPLOAD RECORDING' button.</p></div>
		
		<div class="entry-page-image">
			<!-- video player-->
			<div id="recordContainer">
				  <div class="record-video" id="recordvideo"  style="display: none;">
                     <div  id="myvideo1">
	                    @try
                     {
                         var nimbbId = nimmbParent.GetProperty("nimbbPublicKey").Value;
                         
                         
<br>

                            <object id="nimbb" wmode="Opaque" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="500"" height="275" codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
			                    <param name="movie" value="http://player.nimbb.com/nimbb.swf?lang=en&mode=record&recordlength=6000&showlabels=0&quality=10&fps=15&showicons=0&showcounter=0&audioquality=5&nologo=1&key=@nimbbId&showmenu=0&playonclick=0" />
			                    <param name="allowScriptAccess" value="always" />
			                    <param name="allowFullScreen" value="true" />
			                    <embed wmode="Opaque"   name="nimbb" src="http://player.nimbb.com/nimbb.swf?lang=en&mode=record&recordlength=6000&showlabels=0&quality=10&fps=15&showicons=0&showcounter=0&audioquality=5&key=@nimbbId&showmenu=0&playonclick=0" width="500"" height="275" allowScriptAccess="always" allowFullScreen="true" pluginspage="http://www.adobe.com/go/getflashplayer" type="application/x-shockwave-flash"></embed>
		                    </object>
                     }
                     catch
                     {
                         var nimbbId = "1d903fe04a";
                     }
                    </div>
                     </div>
                <div id="nimbbLoader"></div>
                <div id="timer"><span id="min">0</span>:<span id="sec">00</span></div>
                <div id="timer1"><span id="min1"><span>/&nbsp;&nbsp;</span>1</span>:<span id="sec1">00</span></div>
               
			</div>
		</div>
		<div id="buttonsRecording" class="centeralign">
            <input id="startRecording1" class="main-button gradBG-b4startRecordingBlack mtop"  type="button" onclick="customStart();"  value="&nbsp;&nbsp;&nbsp;Start Recording" readonly="readonly"></input>
            <div class="red-dot"></div>
            <input type="button" id="uploadRecording1" onclick="customplay();" class="main-button gradBG-b4startRecordingYellow mtop mleft"  readonly="readonly" value="Upload Recording"></input>


		</div>
        <div class="recordOrnPos mbottom mtop">
			<img src="@Url.Content("~/images/ornament.png")" width="40" height="20" alt="Ornament">
		</div>
	</div>

</div>
<!--Record Video End-->


<input type="hidden" id="entry_Id" />
<!--Submit file/recorded video/youtube url start-->
<div class="container-main" id="entry-details-container">
	<div class="container-video">
        <div id="bCopy" class="brief-title container-video-title">Entry Details</div>
        @*<div id="timeSeperator">/</div>*@
        <div id="SelectedVideo">
			<video autoplay="true" controls="" id="videoElement1">   
                
			</video>
            <!--<embed id="playYouTube" width="500" height="290" src="" type="application/x-shockwave-flash"/>-->
		</div>
		<div id="bottom-copy" class="container-video-copy">
          
    <input type="button" id="playPauseVideo" onclick="customplay();" class="playerControl">
@*<input type="button" id="pauseVideo" class="playerControl" onclick="_Nimbb.stopVideo(); return false;" style="display:none; background-image:url(/images/icons/pause.png);width: 37px; height: 31px;">*@
            
			<p>All that's left is to name your application, simply type one into the text field below:<br>
			Once you've picked a title you're happy with you can submit your application for all the world to see.
			</p>
			<form id="entery-details" action="" method="post" novalidate="novalidate">
				<div class="frm-row-odd paddingleft0">
					<label for="applicationName">Name your application* - <span>Maximum 28 characters</span></label>
				</div>
				<div class="frm-row-even paddingleft0">
					<div id="charCount"><span id="charRemaining">28</span> characters remaining</div>
					<input id="applicationName" name="applicationName" type="text">
				</div>
				<div id="buttonsSubmitting">
					<button id="cancel" class="gradBG main-button mtop entryDetails-button">Cancel</button>
					<input type="button" id="submitVideo" value="Submit my application" class="gradBGprimary main-button mtop entryDetails-button" onclick="">
                    @*<button class="button gradBGprimary main-button mtop mleft youtubeUrl-button" type="submit"><span><span>Upload</span></span></button>*@
					<div id="submitting"><span>Submitting...</span></div>
					<div class="recordingUploadedOuter">
                        <div class="unicode-symbols"></div>
                        <input type="button" id="recordingUploaded" class="main-button gradBG-endRecordingGreen" onclick="ViewApplication();" value="View Application" />
                    </div>
				</div>
			</form>
            <div class="recordOrnPosBot mbottom mtop">
			    <img src="@Url.Content("~/images/ornament.png")" width="40" height="20" alt="Ornament">
		    </div>
		</div>
	</div>
                </div>
<!--Submit file/recorded video/youtube url End-->



@Html.Partial("~/Views/MacroPartials/RecordVideo.cshtml")

<div class="registerpopup-termsandcondition" id="terms-and-condition" style="display:none">
    	<h3 style="text-align: center;">TERMS AND CONDITIONS</h3>
    	<div class="margintop20content">
    	    @Html.Raw(termsparent.GetProperty("termsAndConditions").Value)
    	</div>
	</div>



<script type="text/javascript">

    function AssignSIFilesStylize() {
        state = 'uploadfile';


        $('.fadeBG').show();
        $('#browse_img_btn').css("display", "inline-block");
        $('#browse_vid_btn').css("display", "inline-block");
        $('.datafile').css("display", "inline-block");
        $('.datafile1').css("display", "none");

        //SI.Files.stylizeAll();
    }

    $('#btnUploadaFile').click(function (event) {
        event.preventDefault();
        $('#uploadtrue2').click();
        state = 'uploadfile';
        return false;
    });


    function filepicked() {


        //alert($('#saveaFile'));
        $('#saveaFile').click();
    }

    function RecordVideo() {

        $('#recordVideo').show();
        $('#uploadVideo').hide();
        //SI.Files.stylizeAll();
    }
    // <![CDATA[

    //if (!$.browser.msie) {
    //    SI.Files.stylizeAll();
    //}

    /*
    --------------------------------
    Known to work in:
    --------------------------------
    - IE 5.5+
    - Firefox 1.5+
    - Safari 2+
                              
    --------------------------------
    Known to degrade gracefully in:
    --------------------------------
    - Opera
    - IE 5.01
    
    --------------------------------
    Optional configuration:
    
    Change before making method calls.
    --------------------------------
    SI.Files.htmlClass = 'SI-FILES-STYLIZED';
    SI.Files.fileClass = 'file';
    SI.Files.wrapClass = 'cabinet';
    
    --------------------------------
    Alternate methods:
    --------------------------------
    SI.Files.stylizeById('input-id');
    SI.Files.stylize(HTMLInputNode);
    
    --------------------------------
    */

    // ]]>
    var videoForPreview;
    var timer = 0, intervalid;
    function startTimer() {



        intervalid = setInterval(function () {

            timer = timer + 1;

        }, 1000);


    }
    function uploadVideoForPreviewAndPreview(event) {
        if (event) {
            event.stopPropagation(); // Stop stuff happening
            event.preventDefault(); // Totally stop stuff happening
        }

        // START A LOADING SPINNER HERE

        if (typeof (FormData) == 'undefined') {
            // This browser does not have native FormData support. Use the FormDataCompatibility
            // class which implements the needed fucncitonlity foro building multi part HTTP POST requests
            var data = new FormDataCompatibility();
        }
        else {
            var data = new FormData();
        }

        if (videoForPreview !== undefined) {
            $.each(videoForPreview, function (key, value) {
                data.append('videoForPreview_' + key, value);
            });
        }


        startTimer();

        $.ajax({
            url: subdirectoryName + '/FileUploadPreview.ashx',
            type: 'POST',
            data: data,
            cache: false,
            async: true,
            //dataType: 'json',
            processData: false, // Don't process the files
            contentType: false, // Set content type to false as jQuery will tell the server its a query string request
            success: function (result) {

                clearTimeout(intervalid);

                result = JSON.parse(result);
                if (result != null) {
                    if (!result.IsError) {
                        var parentOfVidep = $('#videoElement1').parent();
                        $('#videoElement1').remove();


                        parentOfVidep.append('<video autoplay="true" controls="" id="videoElement1"><source src="' + result.M4VURL + '" type="video/mp4"></source><source src="' + result.OGVURL + '" type="video/ogg"></source><source src="' + result.WEBMURL + '" type="video/webm"></source> </video>');
                        //parentOfVidep.append('<video src="' + result.WEBMURL + '" autoplay="true" controls="" id="videoElement1"> </video>');
                        $('#loader,.bgfaded').hide();
                        $('#videoElement1').get(0).play();

                    } else {
                        alert(result.ErrorMessage);
                        window.location.reload();

                        $('#loader,.bgfaded').hide();
                    }
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                // Handle errors here
                // console.log('ERRORS: ' + textStatus);
                // STOP LOADING SPINNER
            }
        });
    }

    window.FormDataCompatibility = (function () {
        function FormDataCompatibility(form) {
            this.fields = {};
            this.boundary = this.generateBoundary();
            this.contentType = "multipart/form-data; boundary=" + this.boundary;
            this.CRLF = "\r\n";

            if (typeof form !== 'undefined') {
                for (var i = 0; i < form.elements.length; i++) {
                    var e = form.elements[i];
                    // If not set, the element's name is auto-generated
                    var name = (e.name !== null && e.name !== '') ? e.name : this.getElementNameByIndex(i);
                    this.append(name, e);
                }
            }
        }

        FormDataCompatibility.prototype.getElementNameByIndex = function (index) {
            return '___form_element__' + index;	// Strange enough to avoid collision with user-defined names
        }

        FormDataCompatibility.prototype.append = function (key, value) {
            return this.fields[key] = value;
        };

        FormDataCompatibility.prototype.setContentTypeHeader = function (xhr) {
            return xhr.setRequestHeader("Content-Type", this.contentType);
        };

        FormDataCompatibility.prototype.getContentType = function () {
            return this.contentType;
        };

        FormDataCompatibility.prototype.generateBoundary = function () {
            return "AJAX--------------" + ((new Date).getTime());
        };

        FormDataCompatibility.prototype.buildBody = function () {
            var body, key, parts, value, _ref;
            parts = [];
            _ref = this.fields;
            for (key in _ref) {
                value = _ref[key];
                parts.push(this.buildPart(key, value));
            }
            body = "--" + this.boundary + this.CRLF;
            body += parts.join("--" + this.boundary + this.CRLF);
            body += "--" + this.boundary + "--" + this.CRLF;
            return body;
        };

        FormDataCompatibility.prototype.buildPart = function (key, value) {
            var part;
            if (typeof value === "string") {
                part = "Content-Disposition: form-data; name=\"" + key + "\"" + this.CRLF;
                part += "Content-Type: text/plain; charset=utf-8" + this.CRLF + this.CRLF;
                part += unescape(encodeURIComponent(value)) + this.CRLF;	// UTF-8 encoded like in real FormData
            } else if (typeof value === typeof File) {
                part = "Content-Disposition: form-data; name=\"" + key + "\"; filename=\"" + value.fileName + "\"" + this.CRLF;
                part += "Content-Type: " + value.type + this.CRLF + this.CRLF;
                part += value.getAsBinary() + this.CRLF;
            } else if (typeof value === typeof HTMLInputElement) {
                if (value.type == 'file') {
                    // Unsupported
                } else {
                    part = "Content-Disposition: form-data; name=\"" + key + "\"" + this.CRLF;
                    part += "Content-Type: text/plain; charset=utf-8" + this.CRLF + this.CRLF;
                    part += unescape(encodeURIComponent(value.value)) + this.CRLF;	// UTF-8 encoded like in real FormData
                }
            }
            return part;
        };
        return FormDataCompatibility;
    })();
</script>
