﻿@using Umbraco.Core.Logging
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

@{
    var isError = Request["error"];
    string pageResponse = "Site Under Construction";
    string linkStyle = "display:none;";
    if (isError != null)
    {
        linkStyle = string.Empty;

        switch (isError)
        {
            case "404":
                pageResponse = "Page Not Found";

                break;
            case "500":
                pageResponse = "Internal Server Error";

                var isRediredtedFromHomePage = TempData["RedirectedFromHomePage"];

                if (isRediredtedFromHomePage == null)
                {
                    Exception ex = Server.GetLastError();

                    if (ex != null)
                    {
                        if (ex.GetBaseException() != null)
                        {
                            ex = ex.GetBaseException();

                            LogHelper.Info(System.Reflection.MethodBase.GetCurrentMethod().DeclaringType, "Mutti: 500 Internal Server Error " + ex.StackTrace);
                        }
                    }

                    LogHelper.Info(System.Reflection.MethodBase.GetCurrentMethod().DeclaringType, "Mutti: Site Republish - Started");
                    umbraco.library.UpdateDocumentCache(1088);
                    umbraco.library.RefreshContent();
                    LogHelper.Info(System.Reflection.MethodBase.GetCurrentMethod().DeclaringType, "Mutti: Site Republish - Completed");
                }
                else
                {
                    LogHelper.Info(System.Reflection.MethodBase.GetCurrentMethod().DeclaringType, "Mutti: 500 Error - Cache Refresh Failed");
                }
                break;
            default:
                linkStyle = "display:none;";
                break;
        }
    }
    }

<p style="width:1024px;margin:20% auto;position:relative;font-size:50px;text-align:center;">@pageResponse
    <br />
   <span style="font-size:20px;@linkStyle">  Go to <a href="/" style="position:relative;text-align:center;">Home Page</a></span>
</p> 

