﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterTemplate.cshtml";
    var termsNode = Umbraco.TypedContent(wwwroot.Utility.CompetitionHelper.RegisterPageNodeId);
}
<script src="@Url.Content("~/scripts/footer-bottom.js")"></script>
	<script type="text/javascript">	
	$(window).scroll(function() {
	   if($(window).scrollTop() + $(window).height() == $(document).height()) {
		   $(".footer-nav").css({"bottom":"22px"});
	   }else {
		  $(".footer-nav").css({"bottom":"-10px"});
	   }
	});	
</script>
<section class="inside">
    <div class="content-inner">
      <div class="product-title page-title">
            <h1 class="title"><img style="position: relative;top: -11px;" src="@Url.Content("~/images/dotted.png")" alt="" />@Model.Content.Name<img src="@Url.Content("~/images/dotted.png")" alt="" style="position: relative;top: -11px;"/></h1>
      </div>
      <div class="product-text-container">
        @Html.Raw(termsNode.GetProperty("termsAndConditions").Value.ToString())
      </div>
    </div>
</section>
<p>&nbsp;</p><p>&nbsp;</p>