﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

@Model.Content.GetProperty("testing").Value
	@{
        string url = @umbraco.library.NiceUrl(1082);
     }
<script>alert(@url);

</script>
<iframe name="inlineframe" src="@url" frameborder="0" scrolling="auto" width="500" height="180" marginwidth="5" marginheight="5" ></iframe>