﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage	
<script src="@Url.Content("~/scripts/footer-bottom.js")"></script>	
<script type="text/javascript">	
$(window).scroll(function() {
   if($(window).scrollTop() + $(window).height() == $(document).height()) {
	   $(".footer-nav").css({"bottom":"22px"});
   }else {
   	  $(".footer-nav").css({"bottom":"-10px"});
   }
});	
</script>
@{
    Response.Redirect("/");
    Layout = "MasterTemplate.cshtml";
}
@Umbraco.RenderMacro("TomatoJourneyTracker")