﻿@using Umbraco.Core.Logging
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

@{
    var isError = Request["error"];
    string pageResponse = "Somethong error occured. Please make sure that all content is valid.";

    if (isError != null)
    {
        switch (isError)
        {
            case "IsActive_false":
                pageResponse = "One competition should be active.";

                break;
            case "WinningEntry_invalid":
                pageResponse = "Winning entry must be an approved entry from same competition. Please correct 'Winning Entry Id' from 'Properties' tab.";
                break;

            case "MaxLength":
                pageResponse = "A description point can't contain more than 100 characters";
                break;
        }
    }
 }
<title>Error</title>
<p style="width:100%;margin:10% auto;position:relative;font-size:20px;text-align:center; font: bold 100% 'Lucida Grande', Arial, sans-serif; color:gray;">@pageResponse
    <br />   
</p> 