@using umbraco.NodeFactory
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    Node facebookParent = new Node(wwwroot.Utility.CompetitionHelper.RegisterPageNodeId);
    var facebookappId = Html.Raw(facebookParent.GetProperty("faceBookAppId").Value);
 }
<style>
    .block-img img {
        width: 100%;
    }

    #facebookregister_button {
        margin-bottom: -22px;
        background: url("@Url.Content("~/images/connectwithfacebook.png")") no-repeat scroll 0 0 transparent;
        display: inline-block;
        height: 68px;
        width: 250px;
    }

        #facebookregister_button:hover {
            background: url("@Url.Content("~/images/connectwithfacebook.png")") no-repeat scroll 0 0 transparent;
        }

    p.devider {
        width: 250px;
    }

    #registration-form {
        margin-left: -14px;
    }

    .btnbacktoform {
        float: right;
        margin-right: 10px;
    }

    .thissubmit {
        float: right;
        margin-right: 10px;
    }

    .fancybox-skin {
        background: transparent!important;
        padding: 13px 0 10px 10px!important;
    }

    .fancybox-close {
        top: 15px!important;
        right: 5px!important;
        width: 9px!important;
        height: 9px!important;
    }

    .mCSB_buttonLeft, .mCSB_buttonRight {
        opacity: 0 !important;
    }
</style>



<a id="clicklogincomment" href="#logincomment" class="fancybox"></a>
<div class="logincomment" id="logincomment" style="display: none;">
    <div class="descriptlogin fb-register-ui">Please log in or register with facebook to comment on an entry </div>
    <div class="register-inner-container" style="margin-top: 18px;">
        <h3 class="fb-register-ui">SIGN IN WITH FACEBOOK</h3>
        <div class="btn-fb-conetainer fltleft fb-register-ui">
            <a id="facebookregister_button" onclick="fb_login();" href="#"></a>
        </div>
        <p class="devider fltleft full-width fb-register-ui fb-register-ui"><span class="fb-register-ui">OR</span></p>
        <h3>FILL IN YOUR DETAILS</h3>
        <div class="fltleft" id="registration-form">
            <ul class="first last">
                <li class="first">
                    <span class="asterisk">*</span>
                    <div class="jqTransformInputWrapper" style="width: 253px;">
                        <div class="jqTransformInputInner">
                            <div>
                                <input type="text" value="First Name.." id="fname" name="fname" class="jqtranformdone jqTransformInput">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <span class="asterisk">*</span>
                    <div class="jqTransformInputWrapper" style="width: 253px;">
                        <div class="jqTransformInputInner">
                            <div>
                                <input type="text" value="Last Name.." id="lname" name="lname" class="jqtranformdone jqTransformInput">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <span class="asterisk">*</span>
                    <div class="jqTransformInputWrapper" style="width: 253px;">
                        <div class="jqTransformInputInner">
                            <div>
                                <input type="text" value="Email.." id="email" name="email" class="jqtranformdone jqTransformInput">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <button class="button  got-it-button thissubmit"><span><span>SUBMIT</span></span></button>
        </div>
    </div>
</div>

<script>
    @{
        string authorInfo = string.Empty;
        string authorSrc = string.Empty;
        if (Session["RegisterForCommentModel"] != null)
        {
            var customerdetail = (wwwroot.Controllers.CommentController.RegisterForCommentModel)Session["RegisterForCommentModel"];
            if (customerdetail != null)
            {
                authorInfo = customerdetail.FirstName + " " + customerdetail.LastName;
                authorSrc = customerdetail.Picture;
            }
        }
        }

    //are referenced in comment.js
    var id = "";
    var commid = "";
    var commessage = "";
    var authorName = "@authorInfo";
    var authorPicture = "@authorSrc";
    var isCodeEntryView = false;
    var fb_NodeId = "@facebookappId";

    FB.getLoginStatus(function (response) {
        if (response.status === 'connected') {
            GetFbInfo(response.authResponse.accessToken);
        } else if (response.status === 'not_authorized') {
        } else {
            $(".fb-register-ui").show();
        }
    });

    FB.Event.subscribe('auth.login', function (response) {
        if (response.status === 'connected') {
            GetFbInfo(response.authResponse.accessToken);
        }
        else {
            $(".fb-register-ui").show();
        }
    });

    function GetFbInfo(accessToken) {
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: subdirectoryName + "/mutti/auth/Handshake?access_token=" + accessToken,
            success: function (data) {
                var userInfo = JSON.parse(data);
                $("#fname").val(userInfo.first_name);
                $("#lname").val(userInfo.last_name);
                $("#email").val(userInfo.email);

                id = userInfo.id;
                if (userInfo.location.name != "") {
                    $("#address1").val(userInfo.location.name);
                }

                //if (userInfo.hometown.name != "") {
                //    $("#addres2").val(userInfo.hometown.name);
                //}
            },
            error: function (xhr, ajaxOptions, thrownError) {

            }
        });
    }

    function fb_login() {
        FB.login(function (response) {
            if (response.authResponse) {
                GetFbInfo(response.authResponse.accessToken);
            } else {
            }
        }, {
            scope: 'publish_stream,email'
        });
    }


</script>
