@using umbraco.NodeFactory
@using wwwroot.Models
@using wwwroot.Controllers
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    Node nimmbParent = new Node(wwwroot.Utility.CompetitionHelper.ActiveCompetitionId);
    var nodefacebookapi = new Node(wwwroot.Utility.CompetitionHelper.RegisterPageNodeId).GetProperty("faceBookAppId").Value;
}
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=" + "@nodefacebookapi";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script>
    FB.Event.subscribe('edge.create', function (href, widget) {
        var urlname = href.split('?')[1];
        var pid = urlname.split('=')[1];
        $.ajax({
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            url: subdirectoryName + "/tomatomaster/register/UpdateEntry/?entryId=" + pid + "&commandtype=Likes",
            success: function (data) {
                console.log("like" + pid);
            },
            error: function (xhr, ajaxOptions, thrownError) {

            }
        });
    });
</script>


<style>
	#addthis_button_twitter span
	{
		background: url('/images/Social/twitter_icon.png') no-repeat 0 0 transparent !important;
	}
	#addthis_button_pinterest_share span
	{
		background: url('/images/Social/pinterest_icon.png') no-repeat 0 0 transparent !important;
	}
	#addthis_button_google_plusone_share span
	{
		background: url('/images/Social/google_icon.png') no-repeat 0 0 transparent !important;
	}
	#addthis_button_linkedin span
	{
		background: url('/images/Social/LinkedIn_icon.png') no-repeat 0 0 transparent !important;
	}
	#addthis_button_tumblr span
	{
		background: url('/images/Social/tumbler_icon.png') no-repeat 0 0 transparent !important;
	}
	#addthis_button_email span
	{
		background: url('/images/Social/email_icon.png') no-repeat 0 0 transparent !important;
	}
	.addthis_floating_style.addthis_32x32_style{
		width: 36px;
		margin-top: 27px;
		display: none;
		margin-left: 5px;
	}
	.st_sharethis_large
	{
		cursor: pointer;
	}
	#comments-block-recordvideo {
		min-height: 312px !important;
	}
	#comments-block-write{
		min-height: 255px !important
	}
	#comments-block-upload{
		min-height: 316px !important
	}
	
</style>
<script>
$(document).ready(function () {
	$(".st_sharethis_large").hover(function () {
		$(".addthis_floating_style.addthis_32x32_style").fadeIn();
	}, function () {$(".addthis_floating_style.addthis_32x32_style").fadeOut();});
});
</script>
@helper socialmessage(Node entry)
{
    var pid = entry.Id;
    var url = String.Format("http://{0}{1}", Request.Url.Authority, entry.Url);
	<!-- AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_floating_style addthis_32x32_style">
		<a data-id="@pid" class="btnshare addthis_button_twitter" id="addthis_button_twitter"></a>
		<a data-id="@pid" class="btnshare addthis_button_pinterest_share" id="addthis_button_pinterest_share" ></a>
		<a data-id="@pid" class="btnshare addthis_button_google_plusone_share" id="addthis_button_google_plusone_share" ></a>
		<a data-id="@pid" class="btnshare addthis_button_linkedin" id="addthis_button_linkedin"></a>
		<a data-id="@pid" class="btnshare addthis_button_tumblr" id="addthis_button_tumblr"></a>
		<a data-id="@pid" class="btnshare addthis_button_email" id="addthis_button_email" addthis:url="@url"></a>
	</div>
	<!-- AddThis Button END -->
}
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=undefined"></script>
@{
    Node entriesParent = new Node(wwwroot.Utility.CompetitionHelper.AwaitingApprovalEntriesNodeId);
    var commentsList = (new CommentController()).GettingComment(1);

    foreach (Node entries in entriesParent.Children)
    {
        var completeUrl = "http://" + HttpContext.Current.Request.Url.Authority + entries.Url + "/?pid=" + entries.Id;
        var facebookUrl = wwwroot.Utility.CompetitionHelper.EntriesNodeNiceUrl + "#content-box2_" + entries.Id;
		facebookUrl = String.Format("http://{0}{1}", HttpContext.Current.Request.Url.Authority, entries.Url);
        var facebookUrl2 = wwwroot.Utility.CompetitionHelper.EntriesNodeNiceUrl + "#content-box_" + entries.Id;
		var facebookUrl3 = wwwroot.Utility.CompetitionHelper.EntriesNodeNiceUrl +"#content-box3_" + entries.Id;
		var entryTitle = entries.GetProperty("entryName").Value;
        var entryContent = entries.GetProperty("entryUrl").Value;
        DateTime time = entries.CreateDate;
        const string format = "dd/MM/yyyy";
        var entryCreated = time.ToString(format);
        var applicantFirstname = entries.GetProperty("firstName").Value;
        var applicantLastname = entries.GetProperty("lastName").Value;
        switch (entries.NodeTypeAlias)
        {
            case "RecordVideoEntry":
                var nimbbId = nimmbParent.GetProperty("nimbbPublicKey").Value;
                <div id="content-box2_@entries.Id" class="entry-popup-box vid small">
                    <div class="main_content">
                        <div class="leftsharebox"><span class='st_facebook_vcount' displayText='Facebook'></span>
                            <div class="fb-like" data-href="@facebookUrl" data-send="false" data-layout="box_count" data-show-faces="false" data-font="segoe ui"></div>
                            <span class='st_sharethis_large'  data-id="@entries.Id" displayText='ShareThis'>
                                @socialmessage(entries)
                            </span>
                            <span class='st_twitter_large' displayText='Tweet'></span><span class='st_pinterest_large' displayText='Pinterest'></span><span class='st_googleplus_large' displayText='Google +'></span><span class='st_linkedin_large' displayText='LinkedIn'></span><span class='st_tumblr_large' displayText='Tumblr'></span><span class='st_email_large' displayText='Email'></span></div>
                        <div class="block-img">
                            @if (entryContent.ToLower().StartsWith("/media/"))
                            {
                                var item = Path.GetDirectoryName(Server.MapPath(entryContent));
                                var entryContentPath = String.Format("{0}/html5/index.files/html5video/{1}",
                                    Path.GetDirectoryName(entryContent).Replace("\\", "/"), Path.GetFileNameWithoutExtension(entryContent));
<video controls="controls"  poster="@(entryContentPath).jpg" width="455" height="323" title="@(entries.Name)">
<source src="@(entryContentPath).m4v" type="video/mp4" />
<source src="@(entryContentPath).webm" type="video/webm" />
<source src="@(entryContentPath).ogv" type="video/ogg" />
<object type="application/x-shockwave-flash" data="@Url.Content("~/images/flashfox.swf")" width="455" height="323" style="position:relative;">
<param name="movie" value="@Url.Content("~/images/flashfox.swf")" />
<param name="allowFullScreen" value="true" />
<param name="flashVars" value="autoplay=false&amp;controls=true&amp;fullScreenEnabled=true&amp;posterOnEnd=true&amp;loop=false&amp;poster=@(entryContentPath).jpg&amp;src=@(entryContentPath).m4v" />
<embed src="/media/movies/flashfox.swf" width="455" height="323" style="position:relative;" flashVars="autoplay=false&amp;controls=true&amp;fullScreenEnabled=true&amp;posterOnEnd=true&amp;loop=false&amp;poster=@(entryContentPath).jpg&amp;src=@(entryContentPath).m4v"	allowFullScreen="false" wmode="transparent" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer_en" />
<img alt="@(entries.Name)" src="@(entryContentPath).jpg" style="position:absolute;left:0;" width="455" height="323" title="Video playback is not supported by your browser" />
</object>
</video>
                            }
                            else
                            {
								<object id="nimbb" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="500" height="300" codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
								 <param name="movie" value="http://player.nimbb.com/nimbb.swf?guid=@entryContent&nologo=1&key=@nimbbId&lang=en&showmenu=1&playonclick=0" />
								 <param name="allowScriptAccess" value="always" />
								 <embed name="nimbb" src="http://player.nimbb.com/nimbb.swf?guid=@entryContent&nologo=1&key=@nimbbId&lang=en&showmenu=1&playonclick=0" width="500" height="300" allowScriptAccess="always" pluginspage="http://www.adobe.com/go/getflashplayer" type="application/x-shockwave-flash">
								 </embed>
								 </object>
                            }
                            <p class="image-label">@applicantFirstname @applicantLastname @entryCreated</p>
                        </div>
                    </div>
                    <div class="left_panel">
                        <div class="post_form">
                            <div  class="form jqtransformdone">
                                <ul class="first last">
                                    <li class="first">
                                        <div  class="jqTransformInputWrapper" style="width: 10px;"><div class="jqTransformInputInner">
                                            <div>
                                                <input type="text" value="Leave comment.." id="txt-@entries.Id" name="comment" class="jqtranformdone jqTransformInput" />
                                            </div>
                                           </div>
                                        </div>
                                    </li>
                                    <li class="last">
                                        <p class="note note-@entries.Id" style="display: none;">Your comment has 
                                            been sent for approval</p>
                                        <button id="submitComment-@entries.Id" class="submitComment button green"><span><span>POST</span></span></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="comments-block" id="comments-block-recordvideo">
                            <ul>
                              @GetComments(entries.Id,commentsList)
                            </ul>
                        </div>
                    </div>
                </div>
                break;
            case "UploadImageEntry":
                <div id="content-box_@entries.Id" class="entry-popup-box">
                    <div class="main_content">
                        <div class="leftsharebox"><span class='st_facebook_vcount' displayText='Facebook'></span>
                            <div class="fb-like" data-href="@facebookUrl2" data-send="false" data-layout="box_count" data-show-faces="false" data-font="segoe ui"></div>
                            <span class='st_sharethis_large'  data-id="@entries.Id" displayText='ShareThis'>@socialmessage(entries)</span>
							<span class='st_twitter_large' displayText='Tweet'></span><span class='st_pinterest_large' displayText='Pinterest'></span><span class='st_googleplus_large' displayText='Google +'></span><span class='st_linkedin_large' displayText='LinkedIn'></span><span class='st_tumblr_large' displayText='Tumblr'></span><span class='st_email_large' displayText='Email'></span></div>
                        <div class="block-img">
                            <p><img src="/ImageGen.ashx?width=455&height=323&pad=true&image=@entryContent" alt="" /></p>
                            <p class="image-label">@applicantFirstname @applicantLastname @entryCreated</p>
                        </div>
                    </div>
                    <div class="left_panel">
                        <div class="post_form">
                            <div  class="form jqtransformdone">
                                <ul class="first last">
                                    <li class="first">
                                        <div  class="jqTransformInputWrapper" style="width: 10px;"><div class="jqTransformInputInner">
                                            <div>
                                                <input type="text" value="Leave comment.." id="txt-@entries.Id" name="comment" class="jqtranformdone jqTransformInput" />
                                            </div>
                                           </div>
                                        </div>
                                    </li>
                                    <li class="last">
                                        <p class="note note-@entries.Id" style="display: none;">Your comment has 
                                            been sent for approval</p>
                                        <button id="submitComment-@entries.Id" class="submitComment button green"><span><span>POST</span></span></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="comments-block" id="comments-block-upload">
                            <ul>
                               @GetComments(entries.Id,commentsList)
                            </ul>
                        </div>
                    </div>
                </div>
                break;
            case "WriteTextEntry":				
                <div id="content-box3_@entries.Id" class="entry-popup-box small">
                    <div class="main_content brdleft">
                        <div class="leftsharebox"><span class='st_facebook_vcount' displayText='Facebook'></span>
                            <div class="fb-like" data-href="@facebookUrl3" data-send="false" data-layout="box_count" data-show-faces="false" data-font="segoe ui"></div>
                            <span class='st_sharethis_large'  data-id="@entries.Id" displayText='ShareThis'>@(socialmessage(entries))</span>
							<span class='st_twitter_large' displayText='Tweet'></span><span class='st_pinterest_large' displayText='Pinterest'></span><span class='st_googleplus_large' displayText='Google +'></span><span class='st_linkedin_large' displayText='LinkedIn'></span><span class='st_tumblr_large' displayText='Tumblr'></span><span class='st_email_large' displayText='Email'></span></div>
                        <div class="block-img">
                            <div class="post-content">
                                <h4>@applicantFirstname @applicantLastname @entryCreated</h4>
                                <div class="post_text">
                                    <p>@entryContent</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="left_panel">
                        <div class="post_form">
                            <div  class="form jqtransformdone">
                                <ul class="first last">
                                    <li class="first">
                                        <div  class="jqTransformInputWrapper" style="width: 10px;"><div class="jqTransformInputInner">
                                            <div>
                                                <input type="text" value="Leave comment.." id="txt-@entries.Id" name="comment" class="jqtranformdone jqTransformInput" />
                                            </div>
                                           </div>
                                        </div>
                                    </li>
                                    <li class="last">
                                        <p class="note note-@entries.Id" style="display: none;">Your comment has 
                                            been sent for approval</p>
                                        <button id="submitComment-@entries.Id" class="submitComment button green"><span><span>POST</span></span></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="comments-block" id="comments-block-write" >
                            <ul>
                                @GetComments(entries.Id,commentsList)
                            </ul>
                        </div>
                    </div>
                </div>
                break;
        }
    }
}

@helper GetComments(int eid, List<Comment> comments)
{
    var requiredComments = comments.Where(e => e.EntryId == eid).ToList();

    if (requiredComments != null && requiredComments.Count > 0)
    {
        foreach (var item in requiredComments)
        {
    <li>
        <div class="avatar">
            <img width="100%" src="@item.UserPicture" alt="" />
        </div>
        <p class="author">@item.FirstName @item.LastName</p>
        <p class="comment">@item.CommentDescription</p>
        <span class="date">@item.DateCreated.ToString("MMM dd yyyy at HH:mm")</span>
    </li>
       
        }
    }
}
<script>
    
    $(document).ready(function () {
        $(".addthis_toolbox").click(function () {
            var id = $(this).parent().attr("data-id");
            sharethis(id);
        });
       

    });

    function sharethis(dataId) {

            $.ajax({
                type: "POST",
                contentType: "application/x-www-form-urlencoded",
                url: subdirectoryName + "/tomatomaster/register/UpdateEntry/?entryId=" + dataId + "&commandtype=Share",
                success: function (data) {
                    console.log(data);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    
                }
            });
        }
</script>