@using umbraco.NodeFactory
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    Node nimmbParent = new Node(wwwroot.Utility.CompetitionHelper.ActiveCompetitionId);
    var nodefacebookapi = new Node(wwwroot.Utility.CompetitionHelper.RegisterPageNodeId).GetProperty("faceBookAppId").Value;	
}
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=" + "@nodefacebookapi";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script>
    FB.Event.subscribe('edge.create', function (href, widget) {
        var urlname = href.split('?')[1];
        var pid = urlname.split('=')[1];
        $.ajax({
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            url: subdirectoryName + "/tomatomaster/register/UpdateEntry/?entryId=" + pid + "&commandtype=Likes",
            success: function (data) {
                console.log("like" + pid);
            },
            error: function (xhr, ajaxOptions, thrownError) {

            }
        });
    });
</script>

<style>
    .copy p a
    {
        text-shadow: 0px 2px 2px #727272;
        -webkit-text-shadow: 0px 2px 2px #727272;
        -khtml-text-shadow: 0px 2px 2px #727272;
        -moz-text-shadow: 0px 2px 2px #727272;
    }

    .entry-title p
    {
        text-shadow: 0px 2px 2px #a3a3a3;
        -webkit-text-shadow: 0px 2px 2px #a3a3a3;
        -khtml-text-shadow: 0px 2px 2px #a3a3a3;
        -moz-text-shadow: 0px 2px 2px #a3a3a3;
    }
</style>
<style>
    #addthis_button_twitter span
    {
        background: url('/images/Social/twitter_icon.png') no-repeat 0 0 transparent !important;
    }

    #addthis_button_pinterest_share span
    {
        background: url('/images/Social/pinterest_icon.png') no-repeat 0 0 transparent !important;
    }

    #addthis_button_google_plusone_share span
    {
        background: url('/images/Social/google_icon.png') no-repeat 0 0 transparent !important;
    }

    #addthis_button_linkedin span
    {
        background: url('/images/Social/LinkedIn_icon.png') no-repeat 0 0 transparent !important;
    }

    #addthis_button_tumblr span
    {
        background: url('/images/Social/tumbler_icon.png') no-repeat 0 0 transparent !important;
    }

    #addthis_button_email span
    {
        background: url('/images/Social/email_icon.png') no-repeat 0 0 transparent !important;
    }

    .addthis_floating_style.addthis_32x32_style
    {
        width: 36px;
        margin-top: 27px;
        display: none;
        margin-left: 5px;
    }

    .st_sharethis_large
    {
        cursor: pointer;
    }

    #comments-block-recordvideo
    {
        min-height: 312px !important;
    }

    #comments-block-write
    {
        min-height: 296px !important;
    }

    #comments-block-upload
    {
        min-height: 316px !important;
    }
</style>
<ul class="entries-content-ul" id="ulCompetitionEntries" style="width: 632px; float: none; margin: 0 auto;">
    <li style="display: none;"></li>
</ul>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=undefined"></script>

<script>

    var index = 0;
    var sortedId = "";

    //used in RestPageEntries
    var totalListCount = "";
    var isPageRefreshed = true;

    $(document).ready(function () {
        $(".filter-entries").each(function () {
            $(this).click(function () {                
                if (isPageRefreshed)
                    GetRequiredEntryIdURL();
                else {
                    entryPreviewHref = "";
                    entryPreviewId = "";
                }

                //re-initialize index on tab click
                index = 0;

                var id = $(this).attr("data-id");
                sortedId = id;

                $.ajax({
                    type: "POST",
                    url: subdirectoryName + "/rest-page-entries?sortedby=" + id + "&lastIndex=" + index + "&documentId=" + @Model.Content.Id + "&entryPreviewId=" + entryPreviewId,
                    success: function (response) {
                        $(".entries-content-ul").html(response);
                        HoverFunc();
                        EntryPopUpLoadShare();
                        AssignTextHintLiClass();
                        SubmitUserComment();
                        addthis.toolbox('.addthis_toolbox');

                        if ($.trim(entryPreviewHref).length > 0) {
                            var aElement = $('#ulCompetitionEntries').find('li[data-entry-count=1]').find('a[href=#' + entryPreviewHref + ']');

                            if ($(aElement).length > 0)
                                $(aElement).click();
                        }

                        isPageRefreshed = false;
                    },
                    timeout: function () {
                        //$("#loading-image").css("display", "block");
                    }
                });

                $(".filter-entries").removeClass("active");
                $(this).addClass("active");
            });
        });

        $(".filter-entries").first().trigger('click');
    });


    $(window).scroll(function () {
        var liCount = $('#ulCompetitionEntries').find('li[data-entry-count=1]').length;
        if ($(window).scrollTop() >= $(document).height() - $(window).height()) {
            if (liCount < totalListCount) {
                AppendCompetitionEntry();
            }
        }
    });

    function AppendCompetitionEntry() {
        index += 1;
        $.ajax({
            type: "POST",
            url: subdirectoryName + "/rest-page-entries?sortedby=" + sortedId + "&lastIndex=" + index + "&documentId=" + @Model.Content.Id + "&entryPreviewId=" + entryPreviewId,
            success: function (response) {
                $(".entries-content-ul").append(response);
                HoverFunc();
                EntryPopUpLoadShare();
                AssignTextHintLiClass();
                SubmitUserComment();
                addthis.toolbox('.addthis_toolbox');
            },
            timeout: function () {
                //$("#loading-image").css("display", "block");
            }
        });
    }

    function HoverFunc() {
        $(".entry_slider ul li .txtbox, .entry_slider ul li .imgbox, .entry_slider ul li .vidbox").hover(function () {
            $(this).find(".entry-content").fadeIn(500);
        }, function () {
            $(this).find(".entry-content").fadeOut(500);
        });
    }

    function viewBindViewEvent(dataId) {
        if (!isCodeEntryView) {
            $.ajax({
                type: "POST",
                contentType: "application/x-www-form-urlencoded",
                url: subdirectoryName + "/tomatomaster/register/UpdateEntry/?entryId=" + dataId + "&commandtype=Views",
                success: function (data) {
                    //console.log("data");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                }
            });
        }
    }

    function EntryPopUpLoadShare() {
        $(".st_sharethis_large").hover(function () {
            $(".addthis_floating_style").fadeIn();
        }, function () { $(".addthis_floating_style").fadeOut(); });

        $(".addthis_toolbox").click(function () {
            var id = $(this).parent().attr("data-id");
            sharethis(id);
        });
    }

    function sharethis(dataId) {

        $.ajax({
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            url: subdirectoryName + "/tomatomaster/register/UpdateEntry/?entryId=" + dataId + "&commandtype=Share",
            success: function (data) {
                console.log(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {

            }
        });
    }
</script>
