@using umbraco.NodeFactory
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    Node nimmbParent = new Node(wwwroot.Utility.CompetitionHelper.ActiveCompetitionId);
    var nodefacebookapi = new Node(wwwroot.Utility.CompetitionHelper.RegisterPageNodeId).GetProperty("faceBookAppId").Value;
    var winningEntryId = string.Empty;
    if (Model.MacroParameters != null && Model.MacroParameters.Count > 0)
    {
        winningEntryId = Convert.ToString(Model.MacroParameters["winningEntryId"]);
    }
}


<ul class="entries-content-ul" id="ulCompetitionEntries" style="width: 632px; float: none; margin: 0 auto;">
    <li style="display: none;"></li>
</ul>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=undefined"></script>

<script>

    var index = 0;
    var sortedId = "";

    //used in RestPageEntries
    var totalListCount = "";
    var isPageRefreshed = true;

    $(document).ready(function () {
        $(".filter-entries").each(function () {
            $(this).click(function () {

                if (isPageRefreshed) {
                   // GetRequiredEntryIdURL();
                }
                else {
                    entryPreviewHref = "";
                    entryPreviewId = "";
                }

                //re-initialize index on tab click
                index = 0;

                var id = $(this).attr("data-id");

                sortedId = id;
                @{
                    //If request comes from Home page to show winning entry then documentid should be parent node id(Entries node id of winning entry)
                    string urlPart = string.Empty;
                    if (Model.Content.Id == 1088)
                    {
                        urlPart = Convert.ToString(new Node(Convert.ToInt32(winningEntryId)).Parent.Id);
                    }
                    else
                    {
                        urlPart = Convert.ToString(Model.Content.Id);
                    }                 
                }
                var _urlPart = "@urlPart";
                if (_urlPart != "") {
                    _urlPart = "&documentId=" + _urlPart;
                }

                //Change entryPreviewId if request comes from home page to show winner
                var winningEntryId = "@winningEntryId";
                var paramShowWinningEntry = "";
                if (winningEntryId != null && winningEntryId != "") {
                    //get id                  
                    entryPreviewId = winningEntryId;

                    //Pass "showWinningEntry=true" to rest-page so that response will contain only one entry as we dont need remaining entry on home page
                    paramShowWinningEntry = "&showWinningEntry=true";
                }

                $.ajax({
                    type: "POST",
                    url: subdirectoryName +"/rest-page-entries?sortedby=" + id + "&lastIndex=" + index + _urlPart + paramShowWinningEntry + "&entryPreviewId=" + entryPreviewId,
                    success: function (response) {
                        $(".entries-content-ul").html(response);
                        addthis.toolbox('.addthis_toolbox');

                        appendTd();

                        if ($.trim(entryPreviewHref).length > 0) {
                            var aElement = $('#ulCompetitionEntries').find('li[data-entry-count=1]').find('a[href=#' + entryPreviewHref + ']');

                            if ($(aElement).length > 0)
                                $(aElement).click();
                        }

                        isPageRefreshed = false;
                    },
                    timeout: function () {
                    }
                });

                $(".filter-entries").removeClass("active");
                $(this).addClass("active");
            });
        });

        $(".filter-entries").first().trigger('click');
    });



    $(window).scroll(function () {

        var liCount = $('#ulCompetitionEntries').find('li[data-entry-count=1]').length;
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {
            if (liCount < totalListCount) {
                AppendCompetitionEntry();
            }
        }
    });

    function AppendCompetitionEntry() {
        index += 1;

        $.ajax({
            type: "POST",
            url: subdirectoryName + "/rest-page-entries?sortedby=" + sortedId + "&lastIndex=" + index + "&documentId=" + "@Model.Content.Id" + "&entryPreviewId=" + entryPreviewId,
            success: function (response) {
                $(".entries-content-ul").append(response);

                appendTd();

                addthis.toolbox('.addthis_toolbox');
            },
            timeout: function () {
            }
        });
    }


    function appendTd() {


        $('table tr').each(function () {

            if ($(this).children('td').length == 0) {
                console.log($(this));
                    $(this).remove();
                }

                if ($(this).children('td').length == 1) {
                    //alert('last 1 td');
                    $(this).append("<td style='border-bottom: 1px solid transparent'></td><td style='border-bottom: 1px solid transparent'></td>");
                }

                if ($(this).children('td').length == 2) {
                    // alert('last 2 td');
                    $(this).append("<td style='border-bottom: 1px solid transparent'></td>");
                }
            });
 
    }


    function viewBindViewEvent(dataId) {
        if (!isCodeEntryView) {
            $.ajax({
                type: "POST",
                contentType: "application/x-www-form-urlencoded",
                url: subdirectoryName + "/tomatomaster/register/UpdateEntry/?entryId=" + dataId + "&commandtype=Views",
                success: function (data) {
                },
                error: function (xhr, ajaxOptions, thrownError) {
                }
            });
        }
    }

    function sharethis(dataId) {

        $.ajax({
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            url: subdirectoryName + "/tomatomaster/register/UpdateEntry/?entryId=" + dataId + "&commandtype=Share",
            success: function (data) {
                console.log(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {

            }
        });
    }
</script>
