@using umbraco.NodeFactory
@using umbraco.cms.businesslogic.media
@using Umbraco.Core.Logging;
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    Node currentNode = new Node(CurrentPage.Id);
    int count = 0;
    string strTableRowStart = string.Empty;
    string strTableRowEnd = string.Empty;  
    <table id="productTbl">
        @foreach (Node children in currentNode.Children)
        {
            strTableRowStart = string.Empty;
            strTableRowEnd = string.Empty;
            try
            {
                if (count == 0 | count % 3 == 0)
                {
                    strTableRowStart = "<tr>";
                }
                var productItemTitle = children.GetProperty("productItemTitle").Value;
                var cartonSize = children.GetProperty("cartonSize").Value;
                var ProductSubtitle = children.GetProperty("productSubtitle").Value;
                var productDescription = children.GetProperty("productItemDescription").Value;
                System.Xml.Linq.XElement xmlTree = System.Xml.Linq.XElement.Parse(productDescription);
                List<string> lstSteps = new List<string>();
                int productMediaId;
                bool productMediaImage = int.TryParse(children.GetProperty("productItemImage").Value, out productMediaId);
                if (productMediaId == 0)
                {
                    productMediaId = 1093;
                }
                Media productMedia = new Media(productMediaId);
               var productImgUrl = productMedia.getProperty("umbracoFile").Value.ToString() + ".ashx?width=218&height=218";
                @Html.Raw(strTableRowStart)
            <td class="product-container">
                <div class="product-image">
                    <img src="@Url.Content("~" + productImgUrl)" alt="Product">
              <br>
                </div>
                <div class="product-titles">
                <div class="product-title">@productItemTitle</div>
                <div class="product-subtitle">@ProductSubtitle</div>
               
                <div class="product-desc">
                    <p><span>Carton sizes: </span>@cartonSize</p>
                    @foreach (System.Xml.Linq.XElement xle in xmlTree.Elements())
                    {
                        lstSteps.Add(xle.Value);

                    }
                    <ul>
                        @foreach (var item1 in lstSteps)
                        {                          
                            <li>@item1</li>
                        }
                    </ul>
                </div>
            </td>                            
            }
            catch (Exception ex)
            {
                LogHelper.Info(System.Reflection.MethodBase.GetCurrentMethod().DeclaringType, "Mutti: Error while loading Product Item " + ex.StackTrace);
            }
            ++count;
            if (count % 3 == 0)
            {
                strTableRowEnd = "</tr></br>";
            }
        }      
         @Html.Raw(strTableRowEnd)

    </table>
}






