﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System
@using System.Collections.Generic
@using System.Drawing
@using System.Drawing.Drawing2D
@using System.Drawing.Imaging
@using System.IO
@using System.Linq
@using System.Threading.Tasks
@using System.Web
@using System.Xml
@using umbraco.BusinessLogic
@using umbraco.cms.businesslogic.media
@using Encoder = System.Text.Encoder
@using ImageHelper
@using wwwroot.Models
@using umbraco.NodeFactory
@using wwwroot.Controllers
@using X.Media.Encoding
@using Umbraco.Core.Logging

@{
    Layout = null;
}

@{
    Node nimmbParent = new Node(wwwroot.Utility.CompetitionHelper.ActiveCompetitionId);
    var applicant = (ApplicantDetail)HttpContext.Current.Session["ApplicantSession"];
    
    if (applicant == null)
    {
        Response.Redirect("/");
        return;
    }
    var name = @applicant.FirstName;
}

<div class="fadeBG"></div>
<div class="uploadaFile" id="uploadvideo" style="display: none;">
    @* ReSharper restore CSharpWarnings::CS0612 *@
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="stepv" value="v1" />
        <video id="hiddenvid" style="display: none;"></video>
        <div id="myvideo">
            <div class="mothertext">

                @{
                    string uploadStyle = string.Empty;
                    if (Request.Browser.Type.Contains("IE"))
                    {
                        uploadStyle = "width:150px !important;left:150px !important;margin-top : -27px !important;";
                    } 
                }

                <!--<div class="youtubeUrl-title">Select a file to upload</div>
                        <div class="youtubeUrl-ornament"><img src="@Url.Content("~/images/ornament.png")" width="40" height="14" alt="Ornament"></div>
                        <input id="hiddenFP" type="text" value=""  readonly placeholder="Browse a file..."/>-->

                <input type="file" class="file" id="uploadtrue2" name="image" style="border: 1px; position: relative;">
            </div>
            <div class="btnlink uploadbtn" style="display: none">

                @* <div class="youtubeUrl-bottom">
			                <button id="cancelYT" class="gradBG main-button mtop youtubeUrl-button">Cancel</button>
			                <button id="upload" class="gradBGprimary main-button mtop mleft youtubeUrl-button" type="submit">Upload</button>
                        </div>*@

                <div class="FileUrl-bottom">
                    <input type="button" id="cancelUF" value="Cancel" class="gradBG main-button mtop youtubeUrl-button" />
                    <input type="button" id="saveaFile" value="Preview File" class="gradBGprimary main-button mtop mleft5 youtubeUrl-button" />
                    @*  <button class="button gradBGprimary main-button mtop mleft5 youtubeUrl-button" id="uploadFile" type="submit" style="display: none"><span><span>Upload</span></span></button>*@<br />
                    <br />
                    <span style="display: none; color: red;" id="errorext">Uploaded file must be submitted in mp4, m4v, webm, mov or ogv format,<br />
                        and must not exceed 100MB file size</span>
                </div>
            </div>
        </div>
    </form>
    <div class="uploadimageentryname">
        @*@applicant.FirstName @applicant.LastName @DateTime.Now.ToString("dd/MM/yyyy")*@
    </div>
</div>


<!--Youtube URL popup start-->
<form id="enter-details" action="" method="post" novalidate="novalidate">
    <div class="youtubeUrl" style>
        <div class="youtubeUrl-top">
            <div class="youtubeUrl-title">Enter a youtube url</div>
            <div class="youtubeUrl-ornament">
                <img src="@Url.Content("~/images/ornament.png")" width="40" height="14" alt="Ornament">
            </div>
            <div class="youtubeUrl-copy">
                <p>If you’re submitting using your own YouTube video, then all you have to do is enter the URL of the video in the box below.</p>
            </div>
            <label for="youtubeUrl">Youtube url</label><br />
            <input id="youtubeUrlBox" name="youtubeUrlBox" type="text"><br />
             <label for="fname" id="youtubeUrlMsg" class="error">Please enter url</label>
        </div>
        <div class="youtubeUrl-bottom">
            <input type="button" id="cancelYT" value="Cancel" class="gradBG main-button mtop25 youtubeUrl-button" />
            <input type="button" id="upload" value="Upload" class="gradBGprimary main-button mtop25 mleft youtubeUrl-button" />
           
        </div>
    </div>
</form>
<!--Youtube URL popup end-->




<script type="text/javascript">
    //MCU-121
    //$(document).ready(function () {
    //    if (navigator.userAgent.toUpperCase().indexOf('MAC') >= 0) {
    //        console.log('mac');
    //        $('#uploadtrue2').css('margin-left', '350px');
    //    }
    //});

    $("#youtubeUrlMsg").hide();

    function ShowError(type) {
        //alert('show error');
        $('#removevideo').show();
        $(document).ready(function () {
            switch (type) {
                case 'extension':
                    $('#divEntryErrorMessage').empty().html(InvalidExtensionVideo);
                    break;
                case 'generic':
                    $('#divEntryErrorMessage').empty().html(Generic);
                    break;
                case 'duration':
                    $('#divEntryErrorMessage').empty().html(MaxDuration);
                    break;
                case 'filesize':
                    $('#divEntryErrorMessage').empty().html(MaxFileSizeVideo);
                    break;
                default:
                    break;
            }
            // $("#clicksomethingwrongMessage").click();
        });
    }

    function AppendDivUploadVideo() {
        var template = $('#divUploadVideoTemplate').clone();
        var requiredHtml = "";
        $.each(template, function (i, o) {
            requiredHtml = $(o).html();
        });

        if ($.trim(requiredHtml).length > 0) {
            $('#divUploadVideoSection').empty();
            $('#divUploadVideoSection').append(requiredHtml);
        }
    }
    var firstname = "@applicant.FirstName";
     $(document).ready(function () {
         AppendDivUploadVideo();
     });
</script>


<div id="divUploadVideoSection" style="display: none;"></div>

          

    @* @if (IsPost)
    {
        
        <script>
            sessionStorage.setItem('file', 'true');

        </script>
        var step = Request["stepv"];
        if (step == "v1")
        {
            var thisV = Request.Files[0];
            if (thisV != null)
            {
                var vextension = thisV.FileName.Split('.').ToList().Last();
                var fileSize = thisV.ContentLength;
                if (
                    (vextension.ToLower().Contains("webm")) ||
                    (vextension.ToLower().Contains("m4v")) ||
                    (vextension.ToLower().Contains("mov")) ||
                    (vextension.ToLower().Contains("mp4")) ||
                    (vextension.ToLower().Contains("ogv")) 
                    //(vextension.ToLower().Contains("wmv"))
                    )
                {
                    if (fileSize > 105381888)
                    {   <script type="text/javascript">
                            ShowError('filesize');
                         </script>
                        return;
                    }
                    else
                    {

                        var ename = string.Format("{0} {1}", applicant.FirstName, applicant.LastName);
                        var resolvedFileName = Path.GetFileName(thisV.FileName);

                        //fix for space, '#' and '&'  in filename
                        resolvedFileName = resolvedFileName.Trim().Replace(" ", "_");
                        resolvedFileName = resolvedFileName.Trim().Replace("#", "_");
                        resolvedFileName = resolvedFileName.Trim().Replace("&", "_");

                        //MCU-124 - multiple "." in uploaded filename
                        var splitCount = resolvedFileName.Split('.').Count();
                        if (splitCount > 2)
                        {
                            Char replaceChar = '.';
                            int lastIndex = resolvedFileName.LastIndexOf(replaceChar);
                            if (lastIndex != -1)
                            {
                                IEnumerable<Char> chars = resolvedFileName
                                    .Where((c, i) => c != replaceChar || i == lastIndex);
                                resolvedFileName = new string(chars.ToArray());
                            }
                        }

                        var tempFile = String.Format("//media//{0}", resolvedFileName);
                        thisV.SaveAs(Server.MapPath(tempFile));
                        X.Media.Encoding.Encoder encoder = new X.Media.Encoding.Encoder();

                        if (encoder == null)
                        {
                            LogHelper.Info(System.Reflection.MethodBase.GetCurrentMethod().DeclaringType, "Mutti: X.Media.Encoding.Encoder failed cannot transcode video , User - " + ename + ", Filename - " + resolvedFileName);
                             <script type="text/javascript">
                                 ShowError('duration');
                         </script> 
                            return;
                        }

                        //get video duration
                        TimeSpan duration = encoder.GetVideoTimeSpan(Server.MapPath(tempFile));

                        //MCU - 135
                        var maxDuration = new TimeSpan(0, 0, 60);

                        //less than 30 seconds check
                        
                        //removed for 100MB video
                        
                        if (duration > maxDuration)
                        {
                              <script type="text/javascript">
                                  //ShowError('duration');
                                  alert("Maximum length of the video should be 60 seconds");
                         </script>        
        
                            //dispose encoder intance
                            encoder = null;
                            return;
                        }
                        
                        
                        //save file in media folder
                        var mid = UmbracoMediaHelper.MakeNewFile(1276, tempFile);
                        Media m = new Media(mid);
                        m.Save();

                        //get umbraco created folder path
                        var inputFilePath = m.getProperty("umbracoFile").Value.ToString();
                        string outputFilePath = string.Empty;
                        if (!string.IsNullOrWhiteSpace(inputFilePath.Trim()))
                        {
                            inputFilePath = inputFilePath.TrimStart('/');

                            var splitResult = inputFilePath.Split('/');

                            if (splitResult.Count() == 3)
                            {
                                //e.g. //media//12345
                                inputFilePath = String.Format("//{0}//{1}", splitResult[0], splitResult[1]);

                                //create required folder structure 
                                var requiredLocation = "\\html5\\index.files\\html5video\\";
                                inputFilePath = Server.MapPath(inputFilePath);

                                outputFilePath = inputFilePath + requiredLocation;
                                Directory.CreateDirectory(outputFilePath);

                                //update input and output file path
                                inputFilePath = String.Concat(inputFilePath, "\\", resolvedFileName);
                                outputFilePath = String.Concat(outputFilePath, resolvedFileName.Split('.').ToList().First());

                                bool isM4VFileCreated = false;
                                bool isOGGFileCreated = false;
                                bool isWEBMFileCreated = false;

                                try
                                {
                                    isM4VFileCreated = encoder.EncodeVideo(inputFilePath, Format.Mp4, Quality.Custom450x336, outputFilePath + ".m4v");
                                    isOGGFileCreated = encoder.EncodeVideo(inputFilePath, Format.Ogg, Quality.Custom450x336, outputFilePath + ".ogv");
                                    isWEBMFileCreated = encoder.EncodeVideo(inputFilePath, Format.Webm, Quality.Custom450x336, outputFilePath + ".webm");
                                }
                                catch (Exception ex)
                                {
                                    LogHelper.Info(System.Reflection.MethodBase.GetCurrentMethod().DeclaringType, "Mutti: Error Transcoding video , User - " + ename + " Filename - " + resolvedFileName + ex.StackTrace);
                                }

                                if (!isM4VFileCreated && !isOGGFileCreated && !isOGGFileCreated)
                                {
                                   <script type="text/javascript">
                                       ShowError('generic');
                         </script>
                                    //dispose encoder intance
                                    encoder = null;
                                    return;
                                }

                                bool isThumbnailGenerated = false;

                                //extract thumbnail from trancoded video
                                try
                                {
                                    if (isM4VFileCreated)
                                    {
                                        if (File.Exists(outputFilePath + ".m4v"))
                                        {
                                            isThumbnailGenerated = encoder.GetThumbnail(outputFilePath + ".m4v", outputFilePath);
                                        }
                                    }
                                    else if (isOGGFileCreated)
                                    {
                                        if (File.Exists(outputFilePath + ".ogv"))
                                        {
                                            isThumbnailGenerated = encoder.GetThumbnail(outputFilePath + ".ogv", outputFilePath);
                                        }
                                    }
                                    else if (isWEBMFileCreated)
                                    {
                                        if (File.Exists(outputFilePath + ".webm"))
                                        {
                                            isThumbnailGenerated = encoder.GetThumbnail(outputFilePath + ".webm", outputFilePath);
                                        }
                                    }
                                }
                                catch (Exception ex)
                                {
                                    LogHelper.Info(System.Reflection.MethodBase.GetCurrentMethod().DeclaringType, "Mutti: Error extracting video thumbnail for , User - " + ename + " Filename - " + resolvedFileName + " " + ex.StackTrace);
                                }
                            }
                            else
                            { 
                         <script type="text/javascript">
                             ShowError('generic');
                         </script>
                                //dispose encoder intance
                                encoder = null;
                                return;
                            }
                        }
                        else
                        { 
                          <script type="text/javascript">
                              ShowError('generic');
                         </script>
                            //dispose encoder intance
                            encoder = null;
                            return;
                        }

                        //dispose encoder intance
                        encoder = null;

                        var appName = Request["applicationName"];
                        
                        //var register = new RegisterController();

                        //JsonResult jsonResult = register.SubmitEntry(applicant.FirstName, "0", "video", "", mid.ToString()).Result;
                        <script type="text/javascript">
                            //var entry_Name = $('#applicationName').val();
                            var appName = "@appName";
                            var actualName = sessionStorage.getItem('entry_NameUpload');
                            //alert(appName);
                            //MCU-116 - '# and '&' in name fix
                            $.ajax({

                              
                                async: false,
                                type: "POST",
                                contentType: "application/x-www-form-urlencoded",
                                url: "/tomatomaster/register/SubmitEntry/?entryName=" + actualName + "&memberId=0&entryType=uploadvideo&entryDescription=&entryUrl=@mid.ToString()",
                                xhrFields: {
                                    onprogress: function (e) {
                                        if (e.lengthComputable) {
                                            console.log('in if');
                                            var percentComplete = e.loaded / e.total;
                                            //Do something with upload progress
                                            console.log(percentComplete * 2);
                                            $('#submitting').css('width', (percentComplete * 2) + 'px');
                                        }
                                    }
                                },
                                success: function (data) {
                                    $('#entry_Id').val(data.Value);
                                    $('#submitVideo, #submitting').hide();
                                    $('#recordingUploaded').show();
                                    $('.uploadEntryOrnament').css('padding-top', '178px');
                                    $('#cancel').hide();
                                    $('#uploadVideo').html('')
                                    window.location = "@wwwroot.Utility.CompetitionHelper.EntrySubmitedSuccessfullyNodeNiceUrl";
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    //alert('error');
                                    $("#clicksomethingwrongMessage").click();
                                    $('#uploadVideo').html('')
                                    window.location = "@wwwroot.Utility.CompetitionHelper.EntrySubmitedSuccessfullyNodeNiceUrl";
                                }
                            });
                            //alert("@wwwroot.Utility.CompetitionHelper.EntrySubmitedSuccessfullyNodeNiceUrl");
            
                        </script>                    
                    }
                }
                else
                {
                    
                     <script type="text/javascript">
                         alert('ext error');
                         ShowError('extension');
                         </script>
                }
            }
        }

    }
      *@




<script>
    function startProgress(){

        var progress = 0;
        var timervalue = timer;
        var width = 200/timervalue;
        var interval, count = 0;

        interval = setInterval(function () {

            count++;
            progress = progress + width;

            $('#submitting').css('width', progress + 'px');

            
            if (count == timervalue) {
                clearInterval(interval);
            }
        }, 1000);

    }
    function SaveVideoFileEntry(event) {
        if (event) {
            event.stopPropagation(); // Stop stuff happening
            event.preventDefault(); // Totally stop stuff happening
        }

        // START A LOADING SPINNER HERE

        startProgress();

        if (typeof (FormData) == 'undefined') {
            // This browser does not have native FormData support. Use the FormDataCompatibility
            // class which implements the needed fucncitonlity foro building multi part HTTP POST requests
            var data = new FormDataCompatibility();
        }
        else {
            var data = new FormData();
        }

        if (videoForPreview !== undefined) {
            $.each(videoForPreview, function (key, value) {
                data.append('videoForPreview_' + key, value);
            });
        }

        data.append('applicationName', sessionStorage.getItem('entry_NameUpload'));

        $.ajax({
           
            url: subdirectoryName + "/tomatomaster/register/SaveVideoFileEntry/",
            type: 'POST',

            data: data,
            cache: false,
            async: true,
            //dataType: 'json',
            processData: false, // Don't process the files
            contentType: false, // Set content type to false as jQuery will tell the server its a query string reque

            success: function (result) {

                $('#submitting').css('width', '214px');

                setTimeout(function () {
                    if (result == "sucess") {
                        window.location = "@wwwroot.Utility.CompetitionHelper.EntrySubmitedSuccessfullyNodeNiceUrl";
                    }                    
                    else {
                        alert(result);
                    }
                }, 300);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                // Handle errors here
                
                // STOP LOADING SPINNER
            }
        });
}

</script>
