@using umbraco.NodeFactory
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    Node stockistParent = new Node(1082);

    try
    {
        foreach (Node stockist in stockistParent.Children)
        {
            <dt> <a>@stockist.Name</a> </dt>
            <dd>
                <div class="half-width">
                    <ul class="stockist_nav">
                        @foreach (Node stockistdetails in stockist.Children)
                        {
                            var stockistdetAddress = stockistdetails.GetProperty("address").Value;
                            var stockistdetNumber = stockistdetails.GetProperty("contactNumber").Value;
                            var stockistsuburb = stockistdetails.GetProperty("suburbName").Value;

                            var isValidUrl = Uri.IsWellFormedUriString(stockistdetAddress.Trim(), UriKind.RelativeOrAbsolute);
                            
                            <li>
								<a href="#">
									<h2 class="stockist_suburb">@stockistsuburb</h2>
									<h2 class="stockist_name">@stockistdetails.Name</h2>
                                    
                                    @if (isValidUrl){ <h3 class="stockist_address" onclick="RedirectToAddress(this);">@stockistdetAddress</h3>}
                                    else{ <h3 class="stockist_address">@stockistdetAddress</h3>}

									<h4 class="stockist_phone">@stockistdetNumber</h4>
								</a>
							</li>
                            <li class="stockist_divider"></li>
                        
                        }
                    </ul>
                </div>
            </dd>
        }
    }
    catch
    {

    }
}
