@using umbraco.NodeFactory
@using umbraco.cms.businesslogic.media
@inherits Umbraco.Web.Macros.PartialViewMacroPage

<style>
    .social_container {
        width: 120px;
        height: auto;
        position: absolute;
        z-index: 9999;
        background: #ffffff;
        left: 0;
    }
    #social_container_close_button {
        float: right;
        border-style: none;
        color: #000000;
        font-size: 12px;
        background: url("@Url.Content("~/images/fancybox/btn-close.png")") no-repeat scroll 0 0 transparent;
        margin-top: 5px;
        margin-right: 1px;
    }
    .social_icons_container {
        width: 100%;
        display: inline-block;
        position: relative;
        margin: 10px 10px;
    }
    #addthis_button_twitter span
	{
		background: url('/images/Social/twitter_icon.png') no-repeat 0 0 transparent !important;
	}
	#addthis_button_pinterest_share span
	{
		background: url('/images/Social/pinterest_icon.png') no-repeat 0 0 transparent !important;
	}
	#addthis_button_google_plusone_share span
	{
		background: url('/images/Social/google_icon.png') no-repeat 0 0 transparent !important;
	}
	#addthis_button_linkedin span
	{
		background: url('/images/Social/LinkedIn_icon.png') no-repeat 0 0 transparent !important;
	}
	#addthis_button_tumblr span
	{
		background: url('/images/Social/tumbler_icon.png') no-repeat 0 0 transparent !important;
	}
	#addthis_button_email span
	{
		background: url('/images/Social/email_icon.png') no-repeat 0 0 transparent !important;
	}
	.addthis_floating_style.addthis_32x32_style{
		width: 36px;
		margin-top: 27px;
		display: none;
		margin-left: 5px;
	}
	.st_sharethis_large
	{
		cursor: pointer;
	}
	#comments-block-recordvideo {
		min-height: 312px !important;
	}
	#comments-block-write{
		min-height: 255px !important
	}
	#comments-block-upload{
		min-height: 316px !important
	}
	.fb-like iframe {
		position:relative !important;
		z-index:9999 !important;
	}
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $(".st_sharethis_large").click(function () {
            $(".addthis_floating_style.addthis_32x32_style").fadeIn();
        });
		var os = $.client.os;
		var browser = $.client.browser;
		//alert(os + "," + browser)
		if(os == "Windows"){
			$(".story-year-container").css("margin-top","0");
		}
		
    });

</script>

@helper socialmessage(int pid)
{
	<!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_floating_style addthis_32x32_style">
        <a data-id="@pid" class="btnshare addthis_button_twitter" id="addthis_button_twitter"></a>
        <a data-id="@pid" class="btnshare addthis_button_pinterest_share" id="addthis_button_pinterest_share" ></a>
        <a data-id="@pid" class="btnshare addthis_button_google_plusone_share" id="addthis_button_google_plusone_share" ></a>
        <a data-id="@pid" class="btnshare addthis_button_linkedin" id="addthis_button_linkedin"></a>
        <a data-id="@pid" class="btnshare addthis_button_tumblr" id="addthis_button_tumblr"></a>
        <a data-id="@pid" class="btnshare addthis_button_email" id="addthis_button_email"></a>
    </div>
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=undefined"></script>
	<!-- AddThis Button END -->
}

@{
    Node currentNode = new Node(CurrentPage.Id);

    var storiesTitle = "";
    var storiesSummary = "";
    <section class="inside">
        <div class="slider-toptext">
            <h1 class="title">
                <img src="@Url.Content("~/images/dotted.png")" alt="" /> 
                Our Story 
                <img src="@Url.Content("~/images/dotted.png")" alt="" />
            </h1>
            <h3>AN ITALIAN <span class="bold">PASSION</span> SINCE 1899</h3>
        </div>
        <div id="bg-our-story-container" style="display: none;">
            <div id="our-story-container" class="scr_slider">
                <div id="content_1">
                    <div class="images_container">
                        <ul>
                            @foreach (Node children in currentNode.Children)
                            {
                                storiesTitle = children.GetProperty("storyTitle").Value;
                                storiesSummary = children.GetProperty("storySummary").Value;

                                int storiesMainMediaId;
                                bool storiesmainMediaImage = int.TryParse(children.GetProperty("storyMainImage").Value, out storiesMainMediaId);
                                if (storiesmainMediaImage == false)
                                {
                                    storiesMainMediaId = 1121;
                                }
                                Media storiesMainMedia = new Media(storiesMainMediaId);
                                var storiesMainImgUrl = storiesMainMedia.getProperty("umbracoFile").Value.ToString();

                                int storiesHoverMediaId;
                                bool storieshoverMediaImage = int.TryParse(children.GetProperty("storyHoverImage").Value, out storiesHoverMediaId);
                                if (storieshoverMediaImage == false)
                                {
                                    storiesHoverMediaId = 1122;
                                }
                                Media storiesHoverMedia = new Media(storiesHoverMediaId);
                                var storiesHoverImgUrl = storiesHoverMedia.getProperty("umbracoFile").Value.ToString();
            
                                <li>
                                    <a class="fancybox" href="#@children.Name">
                                        <div class="onload-show">
                                            <div class="story-year">
												<div class="story-year-container">
													@storiesTitle
												</div>
											</div>
                                            <div class="story-image"><img src="/ImageGen.ashx?image=@storiesMainImgUrl&width=153&height=164&pad=true&bgcolor=000000" alt="@children.Name" /></div>
                                        </div>
                                        <div class="onload-hide">
                                            <div class="story-year">@storiesTitle</div>
                                            <div class="year-text">
                                                <p>@Html.Raw(storiesSummary)</p>
                                            </div>
                                            <div class="story-image"><img src="/ImageGen.ashx?image=@storiesHoverImgUrl&width=164&height=68&pad=true&bgcolor=000000" alt="@children.Name" /></div>
                                        </div>
                                    </a> 
                                </li>
                            }  
                        </ul>
                    </div>
                </div>
            </div>
        </div>
  </section>
    <!-- fancybox Content-->
    foreach (Node children in currentNode.Children)
    {
        var completeUrl = "http://" + HttpContext.Current.Request.Url.Authority + children.Url;
        var popupContent = children.GetProperty("storyContent").Value;
        var sliderName = "slider" + children.Name;          
        @*var fancyboxSum = children.GetProperty("storySummary").Value;*@
		
        <div id="@children.Name" class="lightbox-our-story lightbox-container">
            <div class="leftsharebox">	
                <div class="fb-like" data-href="@completeUrl" data-send="false" data-layout="box_count" data-show-faces="false" data-font="segoe ui"></div>
				@*<fb:like class="fb-like" layout="button_count" href="@completeUrl" data-layout="box_count" data-show-faces="false" data-font="segoe ui"></fb:like>*@
                <span class='st_sharethis_large' displayText='ShareThis'></span>
                @socialmessage(children.Id)               
            </div>
            <div class="lightbox-story-container fltleft">
                <h3 class="heading">OUR STORY IN @children.Name</h3>
                <div class="lightbox-story-image-slider theme-default">
                    <div id="@sliderName" class="nivoSlider">
                        @{
        string storiesSlideMediaId = children.GetProperty("slideShowImages").Value;

        string[] storiesSlideMediaIds = storiesSlideMediaId.Split(',');

        foreach (var storiesImage in storiesSlideMediaIds)
        {
            try
            {
                Media storiesSlideMedia = new Media(int.Parse(storiesImage));
                var storiesSlideImgUrl = storiesSlideMedia.getProperty("umbracoFile").Value.ToString();
                                    <img src="/Imagegen.ashx?width=565&height=339&pad=true&image=@storiesSlideImgUrl" alt="" />
            }
            catch (Exception)
            {
                var storiesSlideImgUrl = "/Imagegen.ashx?width=565&height=339&pad=true&image=/media/1006/1899-01.png";
            }
        }                              
                        }                          
                    </div>
                </div>
                <div class="recipe-description">                   
                    @Html.Raw(popupContent)
					<p>&nbsp;</p>
					<p>&nbsp;</p>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(".fancybox").click(function () {				
                $("#@sliderName").nivoSlider({
                    randomStart: true
                });
            });
			$(document).ready(function() {
				var url = window.location.href;
				var openFancy = url.split('#')[1];
				//console.log(openFancy);
				$("#"+openFancy).fancybox().trigger('click');
				start_slide();				
			});
			function start_slide(){
				var url = window.location.href;
				var openFancy = url.split('#')[1];
				//console.log(openFancy);
				$("#slider"+openFancy).nivoSlider({
					randomStart: true
				});
			}
        </script>
    }
    
}
<script>
  FB.Event.subscribe('edge.create', function(href, widget) {
    console.log('You liked' + href);
  });
</script>