@using umbraco.NodeFactory
@using umbraco.cms.businesslogic.media
@inherits Umbraco.Web.Macros.PartialViewMacroPage
<script src="~/scripts/youngblood_400.font.js"></script>
<script src="~/scripts/cufon.js"></script>
<style>
    
.slider-toptext {
    margin: 0 auto;
    width: 656px !important;
}
    .social_container {
        width: 120px;
        height: auto;
        position: absolute;
        z-index: 9999;
        background: #ffffff;
        left: 0;
    }
    #social_container_close_button {
        float: right;
        border-style: none;
        color: #000000;
        font-size: 12px;
        background: url("@Url.Content("~/images/fancybox/btn-close.png")") no-repeat scroll 0 0 transparent;
        margin-top: 5px;
        margin-right: 1px;
    }
    .social_icons_container {
        width: 100%;
        display: inline-block;
        position: relative;
        margin: 10px 10px;
    }
    .tomato-journey-holder {
        width: 630px;
        margin: 0 auto;
        min-height: 487px;
        height: auto;
    }
    .tomato-journey-header-title {
        float: left;
        width: 630px;
        min-height: 54px;
        margin: 32px 0 0;
        height: auto;
        text-align: center
    }
    .tomato-journey-header-title p{
         font-family: helvetica,regular;
        font-size: 13pt;
        height: auto;
        line-height: 18pt;
        margin: 0 auto;
        min-height: 54px;
        text-align: center;
        width: 533px;
    }
     .tomato-journey-content-holder {
        width: 100%;
        min-height: 433px;
        margin: 0 auto;
        height: auto;
        text-align: center
    }
    .tomato-journey-product {
        float: left;
        width: 100%;
        height: auto;
        min-height: 227px;
    }
    .prodcut1 {
        float: left;
        width: 265px;
        height: 202px;
        margin-top: 22px;
    }
    .separator {
        float: left;
        background: url("@Url.Content("~/images/separator_img.png")") no-repeat;
        width: 39px;
        height: 227px; 
    }
     .prodcut1-fry-bg {
        float: left;
        width: 265px;
        height: 202px;
    }
    .tomato-bottom-text-holder {
        float: left;
        width: 100%;
        min-height: 59px;
        height: auto;
    }
    .product-tomato-text {
        float: left;
        width: 304px;
        height: 59px;
    }
    .product-tomato-text p{
        text-align: left;
    }
    .text-field-holder {
        float: left;
        width: 100%;
        height: 65px;
    }
    .see-journey-button-holder {
        float: left;
        width: 100%;
        
    }
    .see-journey-button {
        float: right;
        background: url("@Url.Content("~/images/seejourney.png")") no-repeat;
        width: 249px;
        height: 67px;
        margin-right: 78px;
    }
    input.seejourney {
        float: left;
        width: 249px;
        height: 37px;
        border: none;
        background: transparent;
        text-indent: -9999px;
    }
    .product-tomato-bacthnumber {
        float: left;
        width: 251px;
        height:33px;
        margin-right: 52px;
        background: url("@Url.Content("~/images/bacth-number-field.png")") no-repeat;
    }
    input.batch-number-field {
        float: left;
        margin: 7px 13px;
        width: 217px;
        color: #9e9e9e;
        font-size: 14px;
        border: none;
    }
    .dotted-separator {
        float: left;
        background: url("@Url.Content("~/images/hour-separator.png")") no-repeat;
        width: 13px;
        height: 32px; 
    }
    h1.title {
        height: 103px;    
    }
    .product-tomato-rightfields {
        float: left;
    }
    .hour-hfield-holder {
        float: left;
        width: 111px;
        height:33px;
        background: url("@Url.Content("~/images/hour-field.png")") no-repeat;
    }
    input.hours-field {
        float: left;
         border: none;
        margin: 7px 10px;
        width: 87px;
        font-size: 14px;
        color: #9e9e9e;
    }
    #result_container {
        text-align: center;
    }
    .margintop10content {
        font-weight: bold;
        font-size: 25px;
    }
</style>
@{
    Node currentNode = new Node(CurrentPage.Id);
    
    <section class="inside">
        <div class="slider-toptext">
            <h1 class="title">
                <img src="@Url.Content("~/images/dotted.png")" alt="" />
                Tomato Journey Tracker
                <img src="@Url.Content("~/images/dotted.png")" alt="" />
            </h1>
            <h3>JUST HOW LONG DID IT TAKE TO GO FROM THE VINE TO THE CAN?</h3>
        </div>
        <div id="content-inner-trip">
            <div id="our-story-container" class="scr_slider">
                <div class="tomato-journey-holder">
                    <div class="tomato-journey-header-title">
                        <p>Find the batch number and packaging time shown on the bottom of your Mutti Polpa Finely Diced Tomatoes can:</p>
                    </div>
                    <div class="tomato-journey-content-holder">
                        <div class="tomato-journey-product">
                            <div class="prodcut1">
                                <img src="@Url.Content("~/images/mutti-tomato-product.png")" width="265" height="202" alt=""/>
                            </div>
                            <div class="separator">
                                <img src="@Url.Content("~/images/separator_img.png")" alt="" />
                            </div>
                            <div class="prodcut1-fry-bg">
                                <img src="@Url.Content("~/images/mutti-tomato-product2.png")" width="265" height="202"  alt="" />
                            </div>
                        </div>
                        <div class="tomato-bottom-text-holder">
                            <div class="product-tomato-text">
                                <p>Enter the batch number (the alphanumeric code shown after the L, for example "N216"):</p>
                            </div>
                            <div class="product-tomato-text">
                                <p>Then enter the time (for example, 13:45) that you see printed below the batch number.</p>
                            </div>
                        </div>
                        <form id="journeytracking">
                            <div class="text-field-holder">
                                <div class="product-tomato-bacthnumber">
                                    <input type="text" value="Batch number.."  class="batch-number-field jqTransformInput" name="code" id="code"/>
                                </div>
                                <div class="product-tomato-rightfields">
                                    <div class="hour-hfield-holder">
                                        <input type="text" name="hour" value="00" class="hours-field jqTransformInput" id="hour" />
                                    </div>
                                    <span class="dotted-separator"></span>
                                    <div class="hour-hfield-holder">
                                        <input type="text" name="minutes" value="00" class="hours-field jqTransformInput" id="minutes" />
                                    </div>
                                </div>
                            </div>
                            <div class="see-journey-button-holder">
                                <div class="see-journey-button">
                                    <input type="submit" name="seejourney" class="seejourney" />
                                </div>
                            </div>       
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
<a href="#result_container" class="fancybox result_container-box" style="display: none;"></a>
<div class="registerpopup" id="result_container" style="display: none;">
    <h3>HERE'S YOUR RESULT</h3>
    <div class="margintop10content" id="result">
        <img src="@Url.Content("~/images/ajax-loader1.gif")" alt="Loading..." />
    </div>
    <div class="btnbacktoform">
        <button class="button green got-it-button"><span><span>GOT IT</span></span></button>
    </div>
</div>    
}
<script type="text/javascript">
	document.onkeydown = function(evt) {
		evt = evt || window.event;
		if (evt.keyCode == 27) {
			$(".fancybox-close").click();
			//$("#code").focus();
		}
	};
	
	function journeyTrackingCallback(data){
		if( data.error == 0 ){
			$('#result').html(data.time + " " + "minutes");
		}
		else if( data.error == 1 ){
			$('#result').html("wrong params");
		}
		else if( data.error == 2 ){
			$('#result').html("not found");
		}
	}
	$(function(){
		$('#journeytracking').submit(function() {
			//var url = 'http://www.mutti.localhost/journeytracking/service?' + $(this).serialize();  //dev
			var url = 'http://mutti.h-art.it/journeytracking/service?' + $(this).serialize();     //stage
			//var url = 'http://www.mutti-parma.com/journeytracking/service?' + $(this).serialize();//prod
			$.getJSON(url + "&?callback=?", function(data) {
			});
			$('#code').val("Batch number..");
			$('#hour').val("00");
			$('#minutes').val("00");
			return false;
		});
	});

	$('.seejourney').live('click', function () {
	    $('.result_container-box').click();
	});
	
	$(".fancybox-close").live("click",function(){
		$(".got-it-button").click();
	})	

	$(".got-it-button").each(function () {
	    $(this).click(function () {
			$('#result').html("<img src='/images/ajax-loader1.gif' alt='Loading...' />");
			$('#code').val("Batch number..");
			$('#hour').val("00");
			$('#minutes').val("00");
	        $(".fancybox-close").each(function () {
	            $(this).click();
	        });
	    });
	});
</script>
