@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    <div class="topnav_left_container">
        @RenderPage("/macroScripts/TopLeftNavigation.cshtml")    
    </div>
    <div class="topnav_right_container">
        @RenderPage("/macroScripts/TopRightNavigation.cshtml")    
    </div>    
}