@inherits Umbraco.Web.Macros.PartialViewMacroPage
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@using System
@using System.Collections.Generic
@using System.Drawing
@using System.Drawing.Drawing2D
@using System.Drawing.Imaging
@using System.IO
@using System.Linq
@using System.Threading.Tasks
@using System.Web
@using System.Xml
@using umbraco.BusinessLogic
@using umbraco.cms.businesslogic.media
@using Encoder = System.Text.Encoder
@using ImageHelper
@using wwwroot.Models
@using wwwroot.Controllers
@using Umbraco.Core.Logging
@{
    Layout = null;
}

@{
    var applicant = (ApplicantDetail)HttpContext.Current.Session["ApplicantSession"];
    if (applicant == null)
    {
        Response.Redirect("/");
    }
}

@{
    var isImagePost = false;
    if (IsPost)
    {
        var step = Request["step"];
        if (step == "1")
        {
            isImagePost = true;
            var thisImage = Request.Files[0];
            var extension = thisImage.FileName.Split('.').ToList().Last();
            string imageSrc = "";
            var imagename = "";
            var fileSize = thisImage.ContentLength;
            if (
                (extension.ToLower().Contains("jpeg")) ||
                (extension.ToLower().Contains("jpg")) ||
                (extension.ToLower().Contains("gif")) ||
                (extension.ToLower().Contains("png"))
                )
            {
                if (fileSize > 4194304)
                {
                    <script>
                        $(document).ready(function () {
                            $('#divEntryErrorMessage').empty().html(MaxFileSizeImage);
                            $("#clicksomethingwrongMessage").click();
                        });
                     </script>
                }
                else
                {
                    try
                    {
                        //var imageData = System.Drawing.Image.FromStream(thisImage.InputStream);
                        //imagename = thisImage.FileName;
                        //byte[] imagebyte = UmbracoMediaHelper.imageToByteArray(imageData);
                        //string imageBase64 = Convert.ToBase64String(imagebyte);
                        //imageSrc = string.Format("data:image/png;base64,{0}", imageBase64);

                        //IE9 filename issue fix
                        var resolvedFileName = Path.GetFileName(thisImage.FileName);

                        //fix for space, '#' and '&'  in filename
                        resolvedFileName = resolvedFileName.Trim().Replace(" ", "_");
                        resolvedFileName = resolvedFileName.Trim().Replace("#", "_");
                        resolvedFileName = resolvedFileName.Trim().Replace("&", "_");

                        //MCU-124 - multiple "." in uploaded filename
                        var splitCount = resolvedFileName.Split('.').Count();
                        if (splitCount > 2)
                        {
                            Char replaceChar = '.';
                            int lastIndex = resolvedFileName.LastIndexOf(replaceChar);
                            if (lastIndex != -1)
                            {
                                IEnumerable<Char> chars = resolvedFileName
                                    .Where((c, i) => c != replaceChar || i == lastIndex);
                                resolvedFileName = new string(chars.ToArray());
                            }
                        }


                        var tempVirtualDirectory = "//media//temp//";
                        var tempDirectory = String.Format(Server.MapPath(tempVirtualDirectory));
                        if (!Directory.Exists(tempDirectory))
                        {
                            Directory.CreateDirectory(tempDirectory);
                        }
                        var tempFile = String.Format("{0}{1}", tempVirtualDirectory, resolvedFileName);
                        //var tempFile = String.Format("{0}{1}", tempVirtualDirectory, thisImage.FileName);
                        thisImage.SaveAs(Server.MapPath(tempFile));

                        var mid = UmbracoMediaHelper.MakeNewMedia(1276, tempFile, applicant.FirstName + " " + applicant.LastName);
                        Media m = new Media(mid);
                
                <a href="#uploadimage" id="clickuploadimage"  class="fancybox"></a>
    
                    <div class="uploadimage" id="uploadimage" style="display: none;">
                        <form method="post" enctype="multipart/form-data">
                            <input type="hidden" id="step2" name="step" value="2" />
                            <input type="hidden" name="mid" value="@m.Id" />
                            <div id="myimage">
                                <img src="/ImageGen.ashx?width=455&height=323&pad=true&image=@m.GetImageUrl()" alt="image" class="myimage" />
                            </div>
            
                            <div class="uploadimageentryname">
                                @applicant.FirstName @applicant.LastName @DateTime.Now.ToString("dd/MM/yyyy")
                            </div>
                            <div class="imagecommand">
                                <div class="btnlink"  style="display: inline-block; margin-right: 10px;">
                            
                                                <button class="button green" onclick="removeuploadimage('@wwwroot.Utility.CompetitionHelper.EnterNodeNiceUrl');">
                                                    <span>
                                                        <span>CANCEL</span>
                                                    </span>
                                                </button>
                                        </div>
                                <div class="btnlink" style="display: inline-block" id="submitvideoentry">                                                
												<button class="button" type="submit" name="submitimage" id="submitimage">
                                                    <span>
                                                        <span>SUBMIT</span>
                                                    </span>
                                                </button>
                                        </div>
                            </div>
                        </form>
                     </div>
    
                     <script>
                         $(document).ready(function () {
                             $("#clickuploadimage").click();
                         });
                     </script>
    
                    }
                    catch (Exception ex)
                    {
                        LogHelper.Info(System.Reflection.MethodBase.GetCurrentMethod().DeclaringType, "Mutti: Error Uploading Image Entry , User - " + applicant.FirstName + " " + applicant.LastName + " " + ex.StackTrace);
                    }
                }
            }
            else
            {
                   <script>
                       $(document).ready(function () {
                           $('#divEntryErrorMessage').empty().html(InvalidExtensionImage);
                           $("#clicksomethingwrongMessage").click();
                       });
                     </script>
            }
        }
        if (step == "2")
        {
            isImagePost = true;
            //var dataimage = Request["imagedata"];
            //var filename = Request["filename"];

            //dataimage = dataimage.Replace("data:image/png;base64,", "");
            //var myimage = Convert.FromBase64String(dataimage);

            //var mid = UmbracoMediaHelper.MakeNewMedia(1276, filename);
            var mid = Request["mid"];
            Media m = new Media(int.Parse(mid));
            var entryName = m.Text;//String.Format("{0} - {1}", m.Text, m.Id);
            
            <script>
                //MCU-116 - '# and '&' in name fix
                $(document).ready(function () {
                    var ename = "@entryName";
                    var eurl = "@m.GetImageUrl()";
                    $.ajax({
                        type: "POST",
                        contentType: "application/x-www-form-urlencoded",
                        url: subdirectoryName + "/mutti/register/SubmitEntry/?entryName=" + encodeURIComponent(ename) + "&memberId=0&entryType=image&entryDescription=&entryUrl=" + eurl,
                        success: function (data) {
                            $("#clickuploadcongratulationMessage").click();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            $('#divEntryErrorMessage').empty().html(Generic);
                            $("#clicksomethingwrongMessage").click();
                        }
                    });


                });
            </script>
        }
    }
    if (!isImagePost)
    {
       
        <div class="uploadimage" id="uploadimage" style="display: none;">          
            <form method="post"  enctype="multipart/form-data">
                <input type="hidden" name="step" value="1" />
                <div id="myvideo">
                    <div class="mothertext">
                        @*<input type="text" class="uploadfalse" onclick="openimage();" />*@
						<label class="cabinet"> 
                            @{
        string uploadStyle = string.Empty;
        if (Request.Browser.Type.Contains("IE"))
        {
            uploadStyle = "width:430px !important;left:150px !important;";
        } 
                             }
							<input type="file" class="file" id="uploadtrue" name="image" style="@uploadStyle" />
							<div class="datafile">Choose File</div>
						</label>
                    </div>
                    <div class="btnlink uploadbtn">
                        <button class="button" id="browse_img_btn" type="button">
							<span>
								<span>BROWSE</span>
							</span>
							</button>
						<button class="button" type="submit">
							<span>
								<span>SUBMIT</span>
							</span>
						</button>
                    </div>                    
                </div>
            </form>
            <div class="uploadimageentryname">
                @applicant.FirstName @applicant.LastName @DateTime.Now.ToString("dd/MM/yyyy")
            </div>
        </div>
    }
}
  <a href="#uploadcongratulationMessage" id="clickuploadcongratulationMessage"  class="fancybox"></a>
<div class="removevideo" id="uploadcongratulationMessage"  style="display: none;">
    <h3 style="text-align: center;">CONGRATULATIONS!</h3>
    <div class="margintop20content">
        @Html.Raw(Umbraco.Field("imageUploadContratulationMessage"))
    </div>
    <div class="removevideocommand">
        <div class="btnlink"  style="display: inline-block; margin-right: 10px;">
                    
                        <button class="button" onclick="gotoentrypage('@wwwroot.Utility.CompetitionHelper.EntriesNodeNiceUrl')">
                            <span>
                                <span>VIEW ENTRIES</span>
                            </span>
                        </button>
                    
                </div>
        <div class="btnlink" style="display: inline-block">
            
                        <button class="button green" onclick="gotohome()">
                            <span>
                                <span>HOME</span>
                            </span>
                        </button>
                </div>
    </div>
</div>