@inherits Umbraco.Web.Macros.PartialViewMacroPage

@using umbraco.NodeFactory


@{
    var _winningEntryId = string.Empty;
    if (Model.MacroParameters != null && Model.MacroParameters.Count > 0)
    {
        _winningEntryId = Convert.ToString(Model.MacroParameters["winningEntryId"]);
        if (_winningEntryId == "0")
        {
            return;
        }
    }
}

<script src="http://connect.facebook.net/en_US/all.js"></script>
<script type="text/javascript" src="~/scripts/Comments.js"></script>

@*To view the entry, remove the style attribute for section tag*@
<section class="inside" style="display:none">
    <div class="slider-wrapper">
        <div class="slider-toptext">
            <div id="secondary-menu">
                <ul>

                    <li class="filter-entries active" data-id="all"></li>

                </ul>
            </div>
        </div>
        <div class="scr_slider entry_slider">
            <div id="content_1">
                <div class="images_container">
                    @Umbraco.RenderMacro("EntriesContent", new { winningEntryId = _winningEntryId })
                </div>
            </div>
        </div>
    </div>
</section>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
@*@Umbraco.RenderMacro("EntriesFancyBox")*@
@Umbraco.RenderMacro("AddComment")

