@inherits Umbraco.Web.Macros.PartialViewMacroPage
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using wwwroot.Models
@{
    Layout = null;
}

@{
    var applicant = (ApplicantDetail)HttpContext.Current.Session["ApplicantSession"];
    if (applicant == null)
    {
        Response.Redirect("/");
    }
}


<a id="clickwriteanentry" href="#writeanentry" class="fancybox"></a>
<div class="removevideo" id="writeanentry"  style="display: none;">
    <h3>TEXT ENTRY</h3>
    <div class="margintop10content">
        @Html.Raw(Umbraco.Field("textEntryDescription"))
    </div>
    <textarea class="writeentrytext">

    </textarea>
    <div class="btnbacktoform"  style="width: 145px; float: right;" >
        <button class="button got-it-button" onclick="submitwrite()"><span><span>PREVIEW</span></span></button>
    </div>
    
</div>

<a id="clicknotext" href="#notext" class="fancybox"></a>
<div class="removevideo" id="notext"  style="display: none;">
    <h3>YOU NEED TO ENTER TEXT TO SUBMIT AND ENTRY</h3>
    <div class="margintop10content" id="divMaxTextEntryWordError">
        @Html.Raw(Umbraco.Field("enterTextMessage"))
    </div>
    <div class="terms">
        <p style="color:#444">For full Terms and Conditions <a href="#terms-and-condition" class="fancybox"><span title="Terms and Conditions">click here</span></a></p>
        </div>
    <div class="btnbacktoform"  >
        <button class="button green got-it-button margintop20content" onclick="returntowrite()"><span><span>OK</span></span></button>
    </div>
</div>

<a id="clickpreviewtext" href="#previewtext" class="fancybox"></a>
<div class="previewtext" id="previewtext"  style="display: none;">
    <div class="nameintext"><div class="ename">@applicant.FirstName @applicant.LastName</div>  @DateTime.Now.ToString("dd/MM/yyyy")</div>
    <div class="writetxt">
        <div class="quote-left"></div>
            <div class="writetxtcontent"></div>
        <div class="quote-right"></div>
    </div>

    <div class="writetextcommand ">
        <div class="btnlink"  style="display: inline-block; margin-right: 10px;">
                    <a href="#writeanentry" class="fancybox">
                        <button class="button green">
                            <span>
                                <span>EDIT</span>
                            </span>
                        </button>
                    </a>
                </div>
        <div class="btnlink" style="display: inline-block" id="submitvideoentry" onclick="submitwritetext();">
                        <button class="button">
                            <span>
                                <span>SUBMIT</span>
                            </span>
                        </button>
                </div>
    </div>
</div>

  <a id="clickcongratulationMessageText" href="#congratulationMessageText" class="fancybox"></a>
<div class="removevideo" id="congratulationMessageText"  style="display: none;">
    <h3 style="text-align: center;">CONGRATULATIONS!</h3>
    <div class="margintop20content">
        
        @Html.Raw(Umbraco.Field("writeTextCongratulationMessage"))
    </div>
    <div class="removevideocommand">
        <div class="btnlink"  style="display: inline-block; margin-right: 10px;">
                       <a href="@wwwroot.Utility.CompetitionHelper.EntriesNodeNiceUrl">
                        <button class="button" onclick="gotoentrypage('@wwwroot.Utility.CompetitionHelper.EntriesNodeNiceUrl')">
                            <span>
                                <span>VIEW ENTRIES</span>
                            </span>
                        </button>
                           </a>
                    
                </div>
        <div class="btnlink" style="display: inline-block">
            <a href="/">
                        <button class="button green" onclick="gotohome()">
                            <span>
                                <span>HOME</span>
                            </span>
                        </button>
                </a>
                </div>
    </div>
</div>