﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using umbraco.NodeFactory;
@using umbraco.cms.businesslogic.web;
@using uComponents.DataTypes.UrlPicker.Dto;
@using Umbraco.Web;

@{         
             
    <nav class="nav-adjust">
        @{                   
            Node node = uQuery.GetNodesByName("Navigation")
                   .Where(n => n.NodeTypeAlias == "MenuItemMaster").FirstOrDefault();

            var NavigationItems = node.ChildrenAsList.Where(obj => obj.NodeTypeAlias.Equals("MenuItem")).OrderBy(obj => obj.GetProperty<int>("menuItemIndex"));


            Node currentNode = Node.GetCurrent();

            foreach (var page in NavigationItems)
            {
                string PageUrl = string.Empty;
                var urlPickerState = UrlPickerState.Deserialize(page.GetProperty<string>("link"));
                if (urlPickerState != null)
                {
                    var pickerMode = urlPickerState.Mode;
                    PageUrl = urlPickerState.Url;
                    if (pickerMode == uComponents.DataTypes.UrlPicker.UrlPickerMode.URL)
                    {
                        if (PageUrl.StartsWith("http://") || PageUrl.StartsWith("https://"))
                        {

                        }
                        else
                        {
                            PageUrl = "http://" + PageUrl;
                        }

                        if (urlPickerState.NewWindow == false)
                        {
            <a href="@PageUrl">@Html.Raw(page.GetProperty<string>("menuName"))</a><span>|</span> 
                        }
                        else
                        {
            <a href="@PageUrl" target="_blank">@Html.Raw(page.GetProperty<string>("menuName"))</a><span>|</span>
                        }
                    }
                    else
                    {
                        string nodeTypeAlias = currentNode.NodeTypeAlias;
                        if (string.Equals(PageUrl, currentNode.NiceUrl, StringComparison.OrdinalIgnoreCase) || PageUrl == "/" && nodeTypeAlias =="HomePage" )
                        {
            <a class="selected" href="@PageUrl">@page.Name</a><span>|</span> 
                        }
                        else
                        {
            <a href="@PageUrl">@page.Name</a><span>|</span> 
                        }

                    }
                }
            }
        }
    </nav>
    <div class="cboth"></div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.nav-adjust span').last().remove();
    });

</script>
