@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Core.Models.IPublishedContent>
@using umbraco.MacroEngines.Library;
@using System.Web.Mvc.Html;
@using Umbraco.Web;
@using umbraco.NodeFactory

   <nav class="container-inner nav-adjust">


        @{        
            var homePage = Model.AncestorOrSelf(1);           
        }
       <span>|</span>
        <a href="@homePage.Url()"> @homePage.GetPropertyValue("navigationTitle")</a> 
       <span>|</span>
   
        @foreach (var page in homePage.Children.Where("showInHeader"))
        {            
            
      
            
                <a href="@page.Url()" >@page.GetPropertyValue("navigationTitle")</a> <span>|</span>
             
            
            
            
        }
         @{
         Node Entries = new Node(wwwroot.Utility.CompetitionHelper.EntriesNodeId);
        string EntryUrl= Entries.GetProperty<string>("navigationTitle");
        bool show=Entries.GetProperty<bool>("showInHeader");
         if (show)
         {
              <a href="@Entries.NiceUrl" >@EntryUrl</a> <span>|</span>
         }
         }
</nav>
