﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="installer.ascx.cs" Inherits="usercontrols_FacebookConnect_installer" %>
FacebookAPIKey:<br />
<asp:TextBox ID="FacebookAPIKey" runat="server" Width="250" /><br /><br />
FacebookSecret:<br />
<asp:TextBox ID="FacebookSecret" runat="server" Width="250" /><br /><br />
<asp:Button ID="FacebookSubmit" runat="server" Text="Save" 
    onclick="FacebookSubmit_Click" />
    
<hr />
<h2>Create Facebook Application</h2>
<object classid='clsid:d27cdb6e-ae6d-11cf-96b8-444553540000' codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,115,0' width='560' height='345'><param name='movie' value='http://screenr.com/Content/assets/screenr_1116090935.swf' /><param name='flashvars' value='i=80123' /><param name='allowFullScreen' value='true' /><embed src='http://screenr.com/Content/assets/screenr_1116090935.swf' flashvars='i=80123' allowFullScreen='true' width='560' height='345' pluginspage='http://www.macromedia.com/go/getflashplayer'></embed></object>
<div><i>Watch video on how to create a Facebook Application</i></div><br /><br />
<a href="http://www.facebook.com/developer" target="_blank">Go to facebook developer page</a>