p.bold-descr {
    font-weight: bold;
}
span.bold-descr {
    font-weight: bold;
}
p.product-text1 {
    line-height: normal;
    text-shadow: 0 1px 1px #666;
    background: url(../images/border-top-double.png) no-repeat center top;
    font-size: 55px;
    font-family: 'AkzidenzGroteskBE-Cn';
    margin-bottom: 10px;
}
span.product-text1 {
    line-height: normal;
    text-shadow: 0 1px 1px #666;
    background: url(../images/border-top-double.png) no-repeat center top;
    font-size: 55px;
    font-family: 'AkzidenzGroteskBE-Cn';
    margin-bottom: 10px;
}
span.home_heading {
    line-height: normal;
    text-shadow: 0 1px 1px #666;
    background: url(../images/border-top-double.png) no-repeat center bottom;
    font-size: 163px;
    font-family: 'Youngblood';
    margin-bottom: 10px;
	color: #143476;
	padding-bottom:10px;
}
p.home_heading {
    line-height: normal;
    text-shadow: 0 1px 1px #666;
    background: url(../images/border-top-double.png) no-repeat center bottom;
    font-size: 163px;
    font-family: 'Youngblood';
    margin-bottom: 10px;
	color: #143476;
	padding-bottom:10px;
	margin-top:-32px;
}


p.small_text {
    line-height: normal;
    text-shadow: 0 1px 1px #666;    
    font-size: 33px;
    font-family: 'AkzidenzGroteskBE-Cn';
	vertical-align:middle;
}
span.small_text {
    line-height: normal;
    text-shadow: 0 1px 1px #666;    
    font-size: 33px;
    font-family: 'AkzidenzGroteskBE-Cn';
	vertical-align:middle;
}
span.square-bullet {
	list-style-type: square;
}
p.square-bullet {
	list-style-type: square;
}
ul.square-bullet {
	list-style-type: square;
}
li.square-bullet {
	list-style-type: square;
}
a.square-bullet {
	list-style-type: square;
}
.square-bullet {
	list-style-type: square;
}













/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
.product-text1 {
line-height: normal; text-shadow: 0 1px 1px #666;font-size:55px;font-family: 'AkzidenzGroteskBE-Cn';
}

.home_heading {
line-height: normal;     text-shadow: 0 1px 1px #666;     background: url(../images/border-top-double.png) no-repeat center bottom;     font-size: 163px;     font-family: 'Youngblood';     margin-bottom: 10px;color:#143476;
}

.small_text {
line-height: normal;     text-shadow: 0 1px 1px #666;         font-size: 33px;     font-family: 'AkzidenzGroteskBE-Cn'; vertical-align:middle;
}

.square-bullet {
background:url("../images/square-bullet.png") no-repeat scroll 0 6px transparent; padding-left:15px !important; margin-left:86px;
}

