@font-face {
	font-family: 'HelveticaLTStdRegular';
	src: url('../fonts/HelveticaLTStd-Roman.eot');
	src: url('../fonts/HelveticaLTStd-Romand41d.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/HelveticaLTStd-Roman.woff') format('woff'),
		 url('../fonts/HelveticaLTStd-Roman.ttf') format('truetype'),
		 url('../fonts/HelveticaLTStd-Roman.html#HelveticaLTStdRegular') format('svg');
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}

@font-face {
	font-family: 'HelveticaLTStd-Bold';
	src: url('../fonts/HelveticaLTStd-Bold.eot');
	src: url('../fonts/HelveticaLTStd-Boldd41d.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/HelveticaLTStd-Bold.woff') format('woff'),
		 url('../fonts/HelveticaLTStd-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}


@font-face {
	font-family: 'AkzidenzGroteskBE-BoldCn';
	src: url('../fonts/akzidenzgroteskbeboldcn.eot');
	src: url('../fonts/akzidenzgroteskbeboldcnd41d.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/akzidenzgroteskbeboldcn.woff') format('woff'),
		 url('../fonts/akzidenzgroteskbeboldcn.ttf') format('truetype'),
		 url('../fonts/akzidenzgroteskbeboldcn.svg#akzidenzgroteskbeboldcn') format('svg');
	font-weight: normal;
	font-style: normal;
}


/** Font Face for AkzidenzGroteskBE-MdCn Starts here (UI)**/
@font-face {
	font-family: 'AkzidenzGroteskBE-MediumCn';
	src: url('../fonts/gfmc___-webfont.eot');
	src: url('../fonts/gfmc___-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/gfmc___-webfont.woff') format('woff'),
		 url('../fonts/gfmc___-webfont.ttf') format('truetype'),
		 url('../fonts/gfmc___-webfont.svg#AkzidenzGroteskBE-MediumCn') format('svg');
	font-weight: normal;
	font-style: normal;
}
/** Font Face for AkzidenzGroteskBE-MdCn Ends here (UI)**/
/** Font Face for AkzidenzGroteskBE-LightCn Starts here (UI)**/
@font-face {
	font-family: 'AkzidenzGroteskBE-LightCn';
	src: url('../fonts/gflc___-webfont.eot');
	src: url('../fonts/gflc___-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/gflc___-webfont.woff') format('woff'),
		 url('../fonts/gflc___-webfont.ttf') format('truetype'),
		 url('../fonts/gflc___-webfont.svg#AkzidenzGroteskBE-LightCn') format('svg');
	font-weight: normal;
	font-style: normal;
}
/** Font Face for AkzidenzGroteskBE-LightCn Ends here (UI)**/


@font-face {
	font-family: 'AkzidenzGroteskBE-Cn';
	src: url('../fonts/akzidenzgroteskbecn.eot');
	src: url('../fonts/akzidenzgroteskbecnd41d.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/akzidenzgroteskbecn.woff') format('woff'),
		 url('../fonts/akzidenzgroteskbecn.ttf') format('truetype'),
		 url('../fonts/akzidenzgroteskbecn.svg#akzidenzgroteskbecn') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'League_Gothic-webfont';
	src: url('../fonts/League_Gothic-webfont.eot');
	src: url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/League_Gothic-webfont.woff') format('woff'),
		 url('../fonts/League_Gothic-webfont.ttf') format('truetype'),
		 url('../fonts/League_Gothic-webfont.svg#League_Gothic-webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Youngblood';
	src: url('../fonts/youngblood.eot');
	src: url('../fonts/youngbloodd41d.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/youngblood.woff') format('woff'),
		 url('../fonts/youngblood.ttf') format('truetype'),
		 url('../fonts/youngblood.svg#youngblood') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'YoungbloodAlternateTwo';
	src: url('../fonts/youngbloodalternatetwo.eot');
	src: url('../fonts/youngbloodalternatetwod41d.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/youngbloodalternatetwo.woff') format('woff'),
		 url('../fonts/youngbloodalternatetwo.ttf') format('truetype'),
		 url('../fonts/youngbloodalternatetwo.svg#youngbloodalternatetwo') format('svg');
	font-weight: normal;
	font-style: normal;
}