/*.header-inner {
	background: #e02f39;
	/*background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e0525a), to(#CF101C));
	background: -webkit-linear-gradient(#e0525a, #CF101C);
	background: -moz-linear-gradient(#e0525a, #CF101C);
	background: -ms-linear-gradient(#e0525a, #CF101C);
	background: -o-linear-gradient(#e0525a, #CF101C);
	background: linear-gradient(#e0525a, #CF101C);
	-pie-background: linear-gradient(#e0525a, #CF101C);
	-moz-box-shadow: 0 0 12px #999999;
	-webkit-box-shadow: 0 0 12px #999999;
	box-shadow: 0 0 12px #999999;
	behavior:url(../pie/PIE.htc);*/
}*/
.footer {
	box-shadow: 0 0 8px #666;
	behavior:url(../pie/PIE.htc);
}

.ie .footer {box-shadow: 0 0 12px #666;}




/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
