﻿@charset "utf-8";

/*Common css start*/
body {
	margin: 0 !important; 
	padding-top:0 !important;
    min-width: 867px !important;
}
* {
    outline: none;
}
#container-main {
    background-image: -o-linear-gradient(bottom, #232323 0%, #2a2a2a 100%);
    background-image: -moz-linear-gradient(bottom, #232323 0%, #2a2a2a 100%);
    background-image: -webkit-linear-gradient(bottom, #232323 0%, #2a2a2a 100%);
    background-image: -ms-linear-gradient(bottom, #232323 0%, #2a2a2a 100%);
    background-image: linear-gradient(to bottom, #232323 0%, #2a2a2a 100%);
    position: relative;
    width: 100%;
    z-index: 1;
    background-color: #232323;
    box-shadow: 0px 5px 16px 0px rgba(13, 13, 13, 0.3);
    -webkit-box-shadow: 0px 5px 16px 0px rgba(13, 13, 13, 0.3);
    -moz-box-shadow: 0px 5px 16px 0px rgba(13, 13, 13, 0.3);
    min-width:1240px;

}
.mt-bgshadow {
    box-shadow: 5px 5px 14px #0d0d0d;
    -webkit-box-shadow: 5px 5px 14px #0d0d0d;
    -moz-box-shadow: 5px 5px 14px #0d0d0d; 
}

.no-box-shadow {
	box-shadow: none;
}
.container-inner {
	width: 800px; margin: 0 auto;
}
.tile {
	width: 100%;
	min-height: 150px;
	background-color: white;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}
.homeProductBG {
	background-image: url(../images/homeProductBG.jpg); display: inline-block; width: 100%;min-width:1240px; min-height:383px; margin-bottom: -5px;
}
.page-container {
	background-color: #edebe1; width: 100%; height:100%; float: left; /*margin-top: 15px;*/min-width:1240px;
    margin-bottom: 55px;
}
.page-container-black {
	background-color: #191919; width: 100%; height:100%; float: left;min-width:1240px;margin-bottom: 55px;
}

a,a:active,a:focus {
	text-decoration:none !important; font-style:inherit; color: #9a9a9a;
    outline:none;
}
a:hover, nav a.selected {
	cursor: pointer; color: #e1bc70;
}
/*a:active {
	color: #e1bc70;
}*/
a:selected {
	color: #e1bc70;
}
.selected {
	color: #e1bc70;
}
.gradBG {
	background: rgb(201,173,116);
	background: -moz-linear-gradient(top, rgba(224,197,141,1) 10%, rgba(182,155,97,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,rgba(224,197,141,1)), color-stop(100%,rgba(182,155,97,1)));
	background: -webkit-linear-gradient(top, rgba(224,197,141,1) 10%, rgba(182,155,97,1) 100%);
	background: -o-linear-gradient(top, rgba(224,197,141,1) 10%, rgba(182,155,97,1) 100%);
	background: -ms-linear-gradient(top, rgba(224,197,141,1) 10%, rgba(182,155,97,1) 100%);
	background: linear-gradient(top, rgba(224,197,141,1) 10%, rgba(182,155,97,1) 100%);
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0c58d', endColorstr='#b69b61',GradientType=0 );*/
	color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(13, 13, 13, 0.3); 
    text-shadow: 0px 1px 0px rgba(13, 13, 13, 0.3);
	filter: dropshadow(color=#a48347, offx=0, offy=1);
    border-top: 1px solid #e6d1a4;
    border-left: 1px solid #d1b57d;
    border-bottom: 1px solid #b69b61;
    border-right: 1px solid #b69b61;
    outline: none;
}
.gradBG:hover {
    background: -moz-linear-gradient(top, rgba(224,197,141,1) 10%, rgba(182,155,97,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,rgba(224,197,141,1)), color-stop(100%,rgba(182,155,97,1)));
	background: -webkit-linear-gradient(top, rgba(224,197,141,1) 10%, rgba(182,155,97,1) 100%);
	background: -o-linear-gradient(top, rgba(224,197,141,1) 10%, rgba(182,155,97,1) 100%);
	background: -ms-linear-gradient(top, rgba(224,197,141,1) 10%, rgba(182,155,97,1) 100%);
	background: linear-gradient(top, rgba(224,197,141,1) 10%, rgba(182,155,97,1) 100%);
    text-shadow: 0px 2px 15px rgba(255, 255, 255, 0.8), 0px 2px 10px rgba(255, 255, 255, 0.8);
    outline: none;
}
.gradBG:active {
    background: -moz-linear-gradient(top, rgba(182,155,97,1) 10%, rgba(224,197,141,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,rgba(182,155,97,1)), color-stop(100%,rgba(224,197,141,1)));
	background: -webkit-linear-gradient(top, rgba(182,155,97,1) 10%, rgba(224,197,141,1) 100%);
	background: -o-linear-gradient(top, rgba(182,155,97,1) 10%, rgba(224,197,141,1) 100%);
	background: -ms-linear-gradient(top, rgba(182,155,97,1) 10%, rgba(224,197,141,1) 100%);
	background: linear-gradient(top, rgba(182,155,97,1) 10%, rgba(224,197,141,1) 100%);
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b69b61', endColorstr='#e0c58d',GradientType=0 );*/
    outline: none;
}
.gradBGprimary {
	background: rgb(185,137,39);
	background: -moz-linear-gradient(top, rgba(208,155,44,1) 0%, rgba(171,127,36,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(208,155,44,1)), color-stop(100%,rgba(171,127,36,1)));
	background: -webkit-linear-gradient(top, rgba(208,155,44,1) 0%, rgba(171,127,36,1) 100%);
	background: -o-linear-gradient(top, rgba(208,155,44,1) 0%, rgba(171,127,36,1) 100%);
	background: -ms-linear-gradient(top, rgba(208,155,44,1) 0%, rgba(171,127,36,1) 100%);
	background: linear-gradient(top, rgba(208,155,44,1) 0%, rgba(171,127,36,1) 100%);
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d09b2c', endColorstr='#ab7f24',GradientType=0 );*/
	color: #ffffff;
	filter: dropshadow(color=#6f5011, offx=0, offy=1);
    box-shadow: 0px 2px 5px 0px rgba(13, 13, 13, 0.3); 
    text-shadow: 0px 1px 0px rgba(13, 13, 13, 0.3);
    border-top: 1px solid #d9af56;
    border-left: 1px solid #c29129;
    border-bottom: 1px solid #ab7f24;
    border-right: 1px solid #ab7f24;
    outline: none;
}
.gradBGprimary:hover {
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8), 0px 0px 10px rgba(255, 255, 255, 0.8);
    outline: none;
}
.gradBGprimary:active {
    background: -moz-linear-gradient(top, rgba(172,127,36,1) 20%, rgba(208,155,44,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,rgba(172,127,36,1)), color-stop(100%,rgba(208,155,44,1)));
	background: -webkit-linear-gradient(top, rgba(172,127,36,1)20%, rgba(208,155,44,1) 100%);
	background: -o-linear-gradient(top, rgba(172,127,36,1) 20%, rgba(208,155,44,1) 100%);
	background: -ms-linear-gradient(top, rgba(172,127,36,1) 20%, rgba(208,155,44,1) 100%);
	background: linear-gradient(top, rgba(172,127,36,1) 20%, rgba(208,155,44,1) 100%);
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab7f24', endColorstr='#d09b2c',GradientType=0 );*/
    outline: none;
}
.main-button {
	height:33px;
    line-height:27px;
    color: #ffffff;  text-transform:uppercase; font-family: 'franklin-gothic-urw-comp'; -webkit-border-radius: 2px; border-radius: 2px; font-size: 13px; cursor: pointer; 
    letter-spacing: 2px;
    /*border-top: 1px solid #D1B577;
    border-right: 1px solid #584928;
    border-bottom: 1px solid #584928;
    border-left: 1px solid #D1B577;*/
    box-shadow: 0px 2px 5px 0px rgba(13, 13, 13, 0.3);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(13, 13, 13, 0.3);
     -moz-box-shadow: 0px 2px 5px 0px rgba(13, 13, 13, 0.3); 
     width: 205px;
     outline: none;
}

.mt-textshadow {
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8), 0px 0px 10px rgba(255, 255, 255, 0.8);
}

.main-button-active {
	
}
.main-button-inactive {
	
}
.main-button:hover {
	
}
.gradBGgray {
	/*background: -moz-linear-gradient(top, rgba(187,182,172,1) 0%, rgba(156,152,143,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(187,182,172,1)), color-stop(100%,rgba(156,152,143,1)));
	background: -webkit-linear-gradient(top, rgba(187,182,172,1) 0%, rgba(156,152,143,1) 100%);
	background: -o-linear-gradient(top, rgba(187,182,172,1) 0%, rgba(156,152,143,1) 100%);
	background: -ms-linear-gradient(top, rgba(187,182,172,1) 0%, rgba(156,152,143,1) 100%);
	background: linear-gradient(top, rgba(187,182,172,1) 0%, rgba(156,152,143,1) 100%);
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbb6ac', endColorstr='#9c988f',GradientType=0 );*/
   /* box-shadow: 0px 2px 5px 0px rgba(13, 13, 13, 0.3);
	filter: dropshadow(color=#676866, offx=0, offy=1);*/
	background-color: transparent;
    color: #ffffff;
    text-shadow: 0px 1px 0px rgba(13, 13, 13, 0.3);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    outline: none;
    background-image: url('../images/viewProduct.png');
    background-repeat: no-repeat;
    border: none;
    box-shadow: 0px 0px 0px !important;
    height: 41px;
    width: 211px;
    background-position: -1px 0px;
}
    .gradBGgray.postcomm{
        background-image: url('../images/postcomp-view-prod.png');
    width: 298px;
    line-height: 41px;
    text-align: center;
    padding: 0;
    background-position: 3px 0px;
    }
    .gradBGgray.postcomm:active {
         background-image: url('../images/postcomp-view-prod.png');
          width: 298px;
        line-height: 41px;
        text-align: center;
        padding: 0;
        background-position: 3px 0px;
    }
.gradBGgray:hover {
    text-shadow: 0px 2px 15px rgba(255, 255, 255, 0.8), 0px 2px 10px rgba(255, 255, 255, 0.8);
}

.gradBGgray:active {
     background-image: url('../images/viewProductActive.png');
   /* background: -moz-linear-gradient(top, rgba(156,152,143,1) 0%, rgba(187,182,172,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(156,152,143,1)), color-stop(100%,rgba(187,182,172,1)));
	background: -webkit-linear-gradient(top, rgba(156,152,143,1) 0%, rgba(187,182,172,1) 100%);
	background: -o-linear-gradient(top, rgba(156,152,143,1) 0%, rgba(187,182,172,1) 100%);
	background: -ms-linear-gradient(top, rgba(156,152,143,1) 0%, rgba(187,182,172,1) 100%);
	background: linear-gradient(top, rgba(156,152,143,1) 0%, rgba(187,182,172,1) 100%);*/
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c988f', endColorstr='#bbb6ac',GradientType=0 );*/
}
.gradBGDarkgray {
	background: rgb(60,57,57);
	background: -moz-linear-gradient(top, rgba(60,57,57,1) 0%, rgba(38,36,36,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(60,57,57,1)), color-stop(100%,rgba(38,36,36,1)));
	background: -webkit-linear-gradient(top, rgba(60,57,57,1) 0%, rgba(38,36,36,1) 100%);
	background: -o-linear-gradient(top, rgba(60,57,57,1) 0%, rgba(38,36,36,1) 100%);
	background: -ms-linear-gradient(top, rgba(60,57,57,1) 0%, rgba(38,36,36,1) 100%);
	background: linear-gradient(top, rgba(60,57,57,1) 0%, rgba(38,36,36,1) 100%);
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3939', endColorstr='#262424',GradientType=0 );*/
	color: #ffffff;
	text-shadow: 0px 2px 0px rgba(13, 13, 13, 0.3);
	filter: dropshadow(color=#53733c, offx=0, offy=1);
    outline: none;
}
.border-gray {
	/*border-top: 1px solid #a9a49b; */float: right; /* border-bottom: 1px solid #81817E; border-left: 1px solid #a9a49b; border-right: 1px solid #a9a49b;*/
}
.border-black {
	border-top: 1px solid #353535; float: right; padding: 9px 50px; 
	border-bottom: 1px solid #000000; 
	border-left: 1px solid #000000; 
	border-right: 1px solid #000000;
}
#nimbbLoader
{
   position: absolute;
    margin-top: -212px;
    left: 45%;
    background-image: url(../images/ajax-loader.gif);
    background-repeat: no-repeat;
    width: 131px;
    height: 131px;
    z-index: 99999;
}

img {
	border: none;
}
/*Common css end*/

/*Popup Overlay start*/
.fadeBG {
	background-color:#ffffff; position:absolute; left: 0; top: 0; width: 100%; height: 100%; opacity:0.5; -webkit-opacity:0.5; display: none; z-index: 100;
}
.popupOverlay {
	width: 620px; height: 600px; display: none; position:absolute; top: 50%; left: 50%; margin-left:-320px;/*margin-top:-300px; */background: #000000; z-index: 101;
}
.lightcaseTitle {
	font-size: 18px; font-family: 'Steagal-Re'; text-transform:uppercase; color: #ffffff; padding-bottom: 4px; line-height: 42px; letter-spacing: 7px; text-align: center; padding-top: 25px;
}
.popup-close {
	position:absolute; right: 12px; top: 12px; cursor: pointer;
}
p:first-child {
	-webkit-margin-before: 0;
}
/*Popup Overlay end*/

/*Container css start*/
nav { width:100%; padding: 30px 0; color: #615f5f; text-transform:uppercase; letter-spacing: 5px; font-family:'Steagal-Re';  font-size: 10px; 	text-align: center;
}
nav a {
	padding: 0 15px;	
}
    nav a:hover {
        color:#ffffff;
    }
footer nav span {
	letter-spacing: normal;
	text-transform: none;
	color: #5b5b5b;
	font-family: 'Steagal-Re';
	font-size: 9px;
	line-height: 20px;
}
.logoAdjust {
	/*position: absolute; margin-top: 10px; padding-left: 134px;*/
    margin-top: 14px;padding-left: 6px;float: left;
}
.nav-adjust{
    padding-left: 29px;float: left;height: 20px;width: auto;max-width: 826px;
}
.social-links {
    float: right;margin-top: -49px;
	/*position: absolute; top: 30px; right:30px;*/
}
.social-links ul li{
	list-style:none; display:inline-block; padding: 0 3px;
}
    .social-links ul li a { text-indent:-999999px; display:block
    }
.social-links ul li:hover{
	cursor: pointer;
}
.container-inner.header {
display: table;
width: 1200px;
margin: 0 auto;
height: 80px;
}
.social-links ul{/*position:relative; width:90px*/}
.social-links ul li{margin:0;padding:0;list-style:none;float: left;/*position:absolute;top:0;*/}
.social-links ul li, .social-links ul li a{height:24px;display:block;}

#facebook_icon{left:0px;width:26px;}
#facebook_icon{background: url(../images/social-icons.png) no-repeat 0 0;}
#facebook_icon a:hover{background:url(../images/social-icons.png) no-repeat 0px -27px;}

#twitter_icon{left:30px;width:26px;}
#twitter_icon{background:url(../images/social-icons.png) no-repeat -30px 0;}
#twitter_icon a:hover{background: url(../images/social-icons.png) no-repeat -30px -27px;}

#instagram_icon{left:62px; width:26px;}
#instagram_icon{background:url(../images/social-icons.png) no-repeat -61px 0;}
#instagram_icon a:hover{background: url(../images/social-icons.png) no-repeat -61px -27px;}



/*Container css end*/

/*Home css start*/
.hero-image {
	width: 100%;
    min-height:450px;
    display:none;
	/*background: url(../images/hero-image.png) !important;
	max-height:450px;
	background-color: #000000;*/
}
.hero-image img {
	/*max-width: 1200px;*/
    width:100%;
    margin: 0 auto;
    max-width: 1500px;
}
.hero-title {
	text-transform: uppercase;
	letter-spacing: 8px;
	font-family: 'Steagal-Re';
	font-size: 17px;
	text-align: center;
	margin-top: 26px;
}
.hero-name {
	text-transform: uppercase;
	letter-spacing: 0;
	font-family: 'Steagal-Re';
	font-size: 70px;
	text-align: center;
	margin-top: 24px;
    margin-bottom: 25px;
}
.hero-name img {
    /*width: 582px;*/
}
.hero-ornament {
	line-height: 58px;
    margin-bottom: 26px;
}
.hero-body {
	/*position: absolute; height:auto; width: 100%; top: 72px; color: white; text-align: center; padding-top: 40px;*/
    height: 399px !important;
    width: 100%; 
    color: white;
    text-align: center;
    padding-top: 40px; 
    margin: 0 auto;
    /*background: url('/media/705771/hero-image.jpg.ashx?width=1500&amp;bgcolor=black&amp;Scale=canvas');*/
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 489px;
    background-color: #000; 
    padding-bottom: 50px;
    min-width:1240px;
}

.hero-body .container-inner .hero-body-copy {
	width: 591px; margin: 0 auto; font-family:'Times New Roman'; font-size: 14px;
}
.hero-body-copy p {
	-webkit-margin-after: 0 !important;
	margin: 0 !important;
}
.homeProduct {
	float: left; position:relative; padding-right: 10px; /*padding-left: 60px; padding-top: 20px;*/ text-align:center;
}
.homeProduct img {
        margin-top: 40px;
}
.homeProductContainer {
	float: left; position:relative; width:275px; padding-top: 75px; margin-left: 20px;
}
.homeProductTitle {
	font-size: 24px; font-family: 'franklin-gothic-urw-comp'; text-transform:uppercase; color: #003374; border-bottom: 1px solid #c9d3de;
padding-bottom: 2px; line-height: 34px; letter-spacing: 4px; text-align: center;
float:left;
padding-bottom: 10px;
}
.homeProductTitle-wrap {
    border-bottom: 1px solid #c9d3de;
    padding-bottom:2px;
    float: left;
}
    .homeProductTitle span {
    float:left;
    }
.homeProductTitle div {
	font-size: 18px;
	letter-spacing: -3px;
    float: left;
margin-top: 1px;
}
.homeProductTitle div:first-child{
    margin-right: 15px;
}
.homeProductTitle .bRight{
    margin-left: 8px;
}
.homeProductText {
	color: #727272; font-size: 15px; font-family: 'HelveticaNeue-Light', Helvetica, Arial, sans-serif; padding-top: 20px;
    float:left;
}
/*Home css end*/

/*Footer css start*/
footer {
	position: relative; bottom: 0px; width: 100%;height:52px; float: left; background: white; border-top:  1px solid rgba(235,234,229,1);min-width:1240px;
}
footer nav {
	padding: 6px 0;
    color: #d6d6d6;
}
footer nav a{
	letter-spacing: normal; text-transform:none !important; color: #5b5b5b; font-family: 'Steagal-Re'; font-size: 9px;  line-height: 20px; 
}
footer nav a:hover {
    color: #d01b08;
}
footer nav .letter-space{
	letter-spacing: 3px;
}
/*Footer css end*/

/*Home PostComp css start*/
.homeCompContainer {
	position:relative; width:800px; padding-top: 40px; text-align: center;
}
.homeCompTitle {
	font-size: 35px; font-family: 'franklin-gothic-urw-comp'; text-transform:uppercase; color: #003374; padding-bottom: 4px; line-height: 34px; letter-spacing: 2px; text-align: center; border-bottom: 1px solid #c9d3de; 
}
.Font-Steagal-Re {
     font-family: 'Steagal-Re';
}

.Font-Times-Roman {
     font-family:"Times New Roman", Times, serif !important;	
     width:590px !important;	
}


.homeCompTitle span{
	border-bottom: 1px solid #c9d3de; font-family: 'franklin-gothic-urw-comp';
}
.fontSize22 {
	font-size: 22px;
}

.homeCompText {
	color: #615f5f; font-size: 14px; font-family: 'HelveticaNeue-Light', Helvetica, Arial, sans-serif; padding-top: 38px; text-align: center; margin: 0 auto; width: 600px; line-height: 21px; text-shadow:1px 1px rgba(13, 13, 13, 0.3);
}

.homeCompContainer .ptop15 {
  color:#FFFFFF;  
}

.ptop15 {
	padding-top: 15px;
}
.homeCompImage {
	width: 800px; height: auto; margin-top: 24px;
}
.homeCompBtnPadding {
	padding: 9px 100px;
}
/*Home PostComp css end*/

/*Products css start*/
.no-border {
	border: none;
}
.border-bottom-space {
	padding-bottom: 25px;
	border-bottom: 1px solid #c9d3de;

}
.border-bottom {
	margin-top: 2px; 
	border-bottom: 1px solid #c9d3de;
	margin-bottom: 25px;
}

.product-border-bottom {
	border-bottom: 1px solid #c9d3de;
	width: 230px;
	text-align:center;
	float: left;
	margin: 0 14px;
	margin-bottom: 20px;
}
.product-container {
	text-align:center;
	margin: 20px 25px 0 0;
	width: 235px;
	color: #615f5f;
	font-family:'Arial';
}
#productTbl {
    border-spacing: 32px;
    border-collapse: separate;
    padding-bottom:52px;
}
#productTbl td, #productTbl th {
	border-bottom: 1px solid #c9d3de;
}
.productTitle {
	font-size: 24px;
}
.product-title {
	text-transform:uppercase;
	font-size: 18px;
	font-family: 'franklin-gothic-urw-comp';
	font-weight: bold;
	color: #003374;
	margin-top: 25px;
	letter-spacing: 2px;
}
.product-subtitle {
	text-transform:uppercase;
	font-size: 14px;
	color: #003374;
	font-family: 'franklin-gothic-urw-comp';
	letter-spacing: 1px;
}
/*.product-container:nth-child(3n-3) {
	 margin: 20px 0 20px 0;
}*/
.product-container:nth-child(3n+2) {
 	/*padding-left: 20px;*/
}
.product-container:nth-child(3n+3) {
 	/*padding-left: 20px;*/
}

.product-desc {
	font-family: 'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
	font-size: 12px;
	display:inline-block;
	text-align: left;
	border-top: 1px solid #c9d3de;
    /*border-bottom: 1px solid #c9d3de;*/
	padding: 20px 0 0 0;	
	margin-top: 5px;
    width: 100%;
}
.product-desc ul {
	 display:inline-block;
	 text-align: left;
	 padding: 0; 
	 font-size: 13px;
     margin: 0 0 0 13px;
}
.product-desc ul li {
	 padding-bottom: 15px;
	 list-style-image:url(../images/blue-bullet.png);
}


.product-desc p {
	padding-bottom: 15px;
	margin: 0;
	background-position: 0 5px;
	padding-left:15px;
	line-height: 15px;
    text-align: center;
}
.product-desc p span {
    font-weight: bold;
}
/*Products css end*/


/*Entries Finalists css start*/
.off-white-text {
	color: #FFFFFF;
    text-shadow:1px 1px rgba(13, 13, 13, 0.3);
}
.ornament-bottom-space {
	padding: 25px 0 5px 140px;
	text-align: center;
	position: absolute;
}
.ornament-entries img{
    position: relative !important;
    margin-top: 20px !important;
    left: 0 !important;
}

.container-main-entry {
	/*background: url(../images/entry-bg1.jpg) !important;*/
	float: left;
	width: 100%;
    
}
.container-entries {
	width: 876px !important;
   /* margin-top: 34px;*/
}
.entry-container {
	font-family:'Arial';
	padding-top: 5px;
	width: 280px;
    margin: 25px  0 ;
}

.entry-container-first {
    margin-top:15px;
}

.entry-container-right .entry-container {
    border-bottom: 1px solid #8b8888;
}
td
{
	vertical-align:top;
}
#entryVideo {
    border-spacing: 20px;
    border-collapse: separate;
    width: 876px !important;
}
#entryVideo .entry-container {
    width: 280px  !important;
}
#entryVideo tbody{
    margin-top: 60px;
}
#entryVideo td {
	border-spacing: 10px;
    border-bottom: 1px solid #c9d3de;
}
#entryVideo td:nth-child(3n) {
	border-spacing: 0;
}
.entry-image {
	height: 195px;
   box-shadow: 0 0 10px #000000;
}


.entry-image img {
    display: block;
    height: 195px !important;
    width: 278px !important;
}
/*.entry-container:nth-child(3n-3){
	margin: 20px 0 20px 0;
}*/
.entry-title {
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    margin-top: 16px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    padding-left: 5px;
    font-family: 'Steagal-Re' !important;
    word-break: break-all;
}

.entry-title-heading {
    font-size: 22px !important;
    margin-top: 28px;
    margin-bottom: 4px;
}

.fSize16 {
	font-size: 16px;
}
.frank1313 {
	font-family: 'franklin-gothic-urw-comp';
	font-size: 13px;
}
.entry-details {
	text-transform:uppercase;
	font-size: 14px;
	color: #8d8d8d;
	text-transform: none;
	padding-left: 5px;
	font-family:'Times New Roman';
    word-break: break-all;
}
.entry-views {
	margin-top: -5px;
	color: #ffffff;
	margin-top: 6px;
	letter-spacing: 2px;
	padding-bottom: 15px;
	padding-left: 5px;
	font-family:'Steagal-Re' !important;
	text-transform:uppercase;
	font-size: 12px;
}

.sortLabel {
	text-transform:uppercase;
	color: #ffffff;
	font-family:'Steagal-Re' !important;
	font-size: 22px;
	letter-spacing: 4px;
	float: left;
	position:relative; 
	margin-right: 62px;
	padding-top: 6px;
}
.sort-button {
	text-transform:uppercase;
	color: #ffffff;
	font-family: 'franklin-gothic-urw-comp';
	float: left;
	position:relative; 
	background-color: #232323;
    background: -moz-linear-gradient(top, rgba(42,42,42,1) 20%, rgba(35,35,35,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,rgba(42,42,42,1)), color-stop(100%,rgba(35,35,35,1)));
	background: -webkit-linear-gradient(top, rgba(42,42,42,1) 20%, rgba(35,35,35,1) 100%);
	background: -o-linear-gradient(top, rgba(42,42,42,1) 20%, rgba(35,35,35,1) 100%);
	background: -ms-linear-gradient(top, rgba(42,42,42,1) 20%, rgba(35,35,35,1) 100%);
	background: linear-gradient(top, rgba(42,42,42,1) 20%, rgba(35,35,35,1) 100%);
	/*padding: 9px 10px;*/
	font-size: 12px;
	letter-spacing: 1px;
	margin-right: 2px;
	border-top: 1px solid #363333;
    border-left: 1px solid #363333;
    -moz-box-shadow: 0px 2px 5px 0px rgba(13, 13, 13, 0.3);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(13, 13, 13, 0.3);
    box-shadow: 0px 2px 5px 0px rgba(13, 13, 13, 0.3);
    height: 30px;
    width: 71px;
    text-align: center;
    line-height: 30px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.sort-entries {
    background: -moz-linear-gradient(top, rgba(42,42,42,1) 20%, rgba(35,35,35,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,rgba(42,42,42,1)), color-stop(100%,rgba(35,35,35,1)));
	background: -webkit-linear-gradient(top, rgba(42,42,42,1) 20%, rgba(35,35,35,1) 100%);
	background: -o-linear-gradient(top, rgba(42,42,42,1) 20%, rgba(35,35,35,1) 100%);
	background: -ms-linear-gradient(top, rgba(42,42,42,1) 20%, rgba(35,35,35,1) 100%);
	background: linear-gradient(top, rgba(42,42,42,1) 20%, rgba(35,35,35,1) 100%);
	text-transform:uppercase;
	color: #999999;
	font-family: 'Arial';
	float: left;
	position:relative; 
    height: 30px;
    line-height: 30px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.row-height {
	padding: 25px 15px; float: right;
}
.sortPositionSet {
    margin-top: 30px;
    float: right;
    margin-right: -23px;
}
@-moz-document url-prefix() { 
  .sortPositionSet {
     margin-right: -23px;
  }
}
#timeSeperator {
    margin-top: 260px;
    color: #ffffff;
    position: absolute;
    margin-left: 124px;
}
.ApplicationAlign {
	margin-top: 25px;
	float: right;
}
.cboth {
	clear: both;
}

		/*customised drop down start*/
		.wrapper-dropdown-2 {
			/* Size and position */
			position: relative; /* Enable absolute positioning for children and pseudo elements */
			width: 187px !important;
			margin: 0 auto;
			/*padding: 10px 20px;
            padding: 8px 10px 10px 10px;*/
			background-color: #242424;
			cursor: pointer;
			outline: none;
			letter-spacing: 2px;
			font-family: 'franklin-gothic-urw-comp';
			font-size: 12px;
			border-left: 1px solid #363333;
			border-top: 1px solid #363333;
			background-image:url(../images/down-arrow.png);
			background-repeat:no-repeat;
			background-position: 97% 50%;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
            -moz-box-shadow: 2px 2px 7px 0px #000000;
            -webkit-box-shadow: 2px 2px 7px 0px #000000;
            box-shadow: 2px 2px 7px 0px #000000;
            padding-left: 15px;
		}
        .mt-shadow {
            -moz-box-shadow: 2px 2px 7px 0px #000000;
            -webkit-box-shadow: 2px 2px 7px 0px #000000;
            box-shadow: 2px 2px 7px 0px #000000;
        }
		
		.wrapper-dropdown-2 .dropdown {
		  /* Size & position */
			position: absolute;
			top: 31px;
			right: 0px;
			z-index: 10;
		 
			/* Styles */
			background: white;
			transition: all 0.3s ease-out;
			list-style: none;
		 
			/* Hiding */
			opacity: 0;
			pointer-events: none;
		}
		
		.wrapper-dropdown-2 ul {
			padding: 0;
		}
		
		.wrapper-dropdown-2 .dropdown li a {
			display: block;
			text-decoration: none;
			color: #333;
			padding: 5px 10px;
			transition: all 0.3s ease-out;
			border-bottom: 1px solid #e5e5e5;
			width: 182px;
		}
		 
		.wrapper-dropdown-2 .dropdown li:hover a {
			background-color: #faf5e9;
		}
		.wrapper-dropdown-2.active {
			background-image:url(../images/up-arrow.png);
		}
		.wrapper-dropdown-2.active:after {
			background-image:url(../images/up-arrow.png);
		}
		 
		.wrapper-dropdown-2.active .dropdown {
			opacity: 1;
			pointer-events: auto;
		}
		/*customised dropdown end*/

.video-overlay-button {
	bottom: 196px;
	left: 0;
	width: 278px;
	height: 195px;
}
.entry-image a {
	bottom: 196px;
	left: 0;
	width: 278px;
	height: 195px;
    display: inline-block;
    background: url(../images/video-play-out.png) no-repeat;
    position: relative;
}

.video-overlay-button:hover {
	background: url(../images/video-play.png) no-repeat;	
	display: block;
	cursor: pointer;
}

/*Entries Finalists css end*/

/*Entry Page Running start*/
.container-running-entry {
	float: left;
	width: 100%;
	color: #ffffff;
    background-color: #000000;
    height: 370px;
}
.container-running-entry img{
	position: absolute;
}

.runnerContainerLeft {
	width: 45%;
	position: relative;
	float: left;
	height: 374px;
	text-align:center;
	font-family: 'Arial';
}
.runnerSubTitle {
	font-size: 17px;
	letter-spacing: 8px;
	text-transform:uppercase;
	padding-top: 100px;
	font-family: 'Steagal-Re';
}
.runnerTitle {
	font-size: 41px;
	letter-spacing: 0px;
	text-transform: uppercase;
	padding-top: 5px;
	line-height: 53px;
	font-family: 'Steagal-Re';
}
.runnerContainerRight {
	width: 37%;
	position: relative;
	float: right;
	height: 374px;
}
.runnerCopy {
	padding-top: 100px;
	font-size: 14px;
	line-height: 20px;
	font-family:"Times New Roman", Times, serif;
}
.btnWidth {
	width: 294px;
}
/*Entry Page Running end*/

/*Entry Page start*/
.page-container-faded-black {
	background-color: #1A1A1A;
	width: 100%;
	height: 100%;
     min-width: 1240px;
	float: left;
}
.container-entry {
	width: 900px;
	margin: 0 auto;
}
.submit-success {
	color: #ffffff;
	font-family: 'franklin-gothic-urw-comp';
	font-size: 13px;
	letter-spacing: 1px;
	background-color: #96be52;
	margin-right: 44px;
	position: absolute;
	width: 855px;
	z-index: 100;
	padding: 4px 0;
	text-align: center;
	text-transform: uppercase;
	display: none;
}
.entry-container-left {
	width: 500px;
	margin-bottom: 55px;
	float: left;
	padding-right: 36px;
}

.entry-page-image {
	height: 284px;
}

.video-overlay-button-entry {
	position: relative;
	/*bottom: 204px;
	left: 208px;
	width: 80px;
	height: 80px;*/
    bottom: 255px;
	left: 114px;
	width: 195px;
	height: 278px;
	background: url(../images/video-play-out.png) no-repeat;
	z-index: 15;
}
.video-overlay-button-entry:hover {
	background: url(../images/video-play.png) no-repeat;	
	display: block;
	cursor: pointer;
}

.entry-container-right {
	width: 320px;
    margin-bottom: 55px;
	float: right;
	position: relative;
	padding-left: 40px;
	border-left: 2px solid #1f1f1f;
	border-right: 2px solid #1f1f1f;
	background-color: #131313;
}
.entryPageSubmitBtn {
	width: 277px;
}
.mBottom {
	margin-bottom: 22px;	
}
.btn-left-arrow {
	background-image: url(../images/btn-left-arrow.png) no-repeat;
}
.btn-left-entry-page {
	position:relative;
	cursor: pointer;
}
.btn-left-entry-page:after {
	content: "";
	position: absolute;
	top: 49px;
	left: -1px;
	width: 0;
	height: 0;
	border-color: transparent transparent transparent #1A1A1A;
	border-style: solid;
	border-width: 0 12px 19px;
}
.btn-left-entry-page-bot {
	position:relative;
	cursor: pointer;
}
.btn-left-entry-page-bot:after {
	content: "";
	position: absolute;
	top: 66px;
	left: -1px;
	width: 0;
	height: 0;
	border-color: transparent transparent transparent #1A1A1A;
	border-style: solid;
	border-width: 21px 12px 0;
}
.entryPageBtnAlign {
	float: right;
	cursor: pointer;
	padding-right: 5px;
}
.entryPageBtnAlign img{
	margin: 2px 2px;
	border-radius: 3px;
	float: left;
    width: 59px;
}
.centerAlign {
	text-align:center;
	margin-bottom: 0;
}
.comment-counts {
	font-size: 14px;
	border-bottom: none;
	padding-top: 15px;
}
.pBottom {
	 
    padding-bottom: 18px;
	padding-top: 4px;
}
.comments-section {
	-webkit-padding-start: 0;
	-webkit-margin-start: 0px;
	list-style: none;
}
.newComment:nth-last-child(2) {
	border-bottom: none;
}
.newComment {
	border-bottom: 1px solid #575151;
	padding-bottom: 15px;
	padding-top: 15px;
	float:left;
	position:relative;
	color: #ffffff;
	font-size: 12px;
	font-family: "Times New Roman", Times, serif;
	width: 100%;
}
.newComment img{ 
	float:left;
	margin-right: 13px;
}
.newComment textarea{
	width: 413px;
	margin-bottom: 10px;
	color: #575151;
}
.visitor-name {
	font-weight:bold;
	position:relative;
	float:left;
}
.newComment span{
	color: #bebdbd;
	padding: 0 10px;
	float:left;
}
.comment-time-elapsed {
	float:left;
	color: #bebdbd;
}
.comment-copy{
	font-family:"Times New Roman", Times, serif;
	padding-left: 73px;
	padding-top: 10px;
}
.comment-reply {
	color: #bebdbd;
	padding-left: 73px;
}
.width100 {
	width: 100%;
}
.ornament-entry-page {
	padding: 25px 0 5px 20px;
	text-align: center;
}

		/*Disqus comments blog class overwrite start*/

.use-opacity-transitions .post-content footer .voting, .post-content footer menu li:nth-child(1), .post-content footer menu:before, .post-content footer menu:after {
	display: none !important;
}
.post-content footer .bullet {
	display: none !important;
}
.post-content footer .share {
	display: none !important;
}
.post-content footer .share:hover {
	display: none !important;
}
.post-content footer {
	display: none !important;
}
		
		/*Disqus comments blog class overwrite end*/

/*Entry Page end*/

/*video player setting start*/
	#video-element {
	width: 498px;
	height: 284px;
	background: none !important;
	}
    #video-element video {
        background-color: #000000;
    }
    /*.html-player-poster {
        width: 498px !important;
        height: 284px !important;
    }*/
	.html-player-video-controls .html-player-alternative-versions .html-player-current-version {
		display: none;
		position:fixed !important;
	}
	.html-player-video-controls .html-player-alternative-versions {
		display: none;
		position:fixed !important;
	}
	.html-player-video-controls .html-player-alternative-versions:hover  {
		display: none;
		position:fixed !important;
	}
	.html-player-video-controls .html-player-fullscreen {
		display:none;
	}
	.html-player-video-controls .html-player-fullscreen.hover {
		display:none;
	}
	.html-player-video-controls {
		bottom: 15px !important;
		width: 460px !important;
		left: 20px !important;
		border-radius: 3px;
		-webkit-border-radius: 3px;
        background: rgba(0,0,0,0.25) !important;
	}
	.html-player-video-controls .html-player-time-display {
		font: normal 11px Arial,Helvetica,sans-serif;
		position: absolute !important;
		left: 93px !important;
        background: none !important;
	}
    .html-player-volume-button {
        background-image: url('../img/volume_1.png');
        background-position: 21px 12px;
        background-repeat:no-repeat;
    }
	.html-player-video-controls .html-player-time-display>div:nth-child(2) {
		color: #ffffff;
	}
	
	.html-player-video-controls .html-player-volume {
		position: absolute !important;
		left: 33px !important;
        background-image: none;/*url('../img/volume_1.png');*/
        background-position: 21px 12px;
	}
	.html-player-video-controls .html-player-volume.hover{
		/*background-image: url('../img/volume_2.png');
        background-position: 17px 8px;*/
        /*background-position: -571px 0 !important;*/
        background-image:none;
	}
        .html-player-video-controls .html-player-volume.hover .html-player-volume-button {
            background-image: url('../img/volume_2.png');
            background-position: 17px 8px;
        }
	.html-player-video-controls .html-player-progress-bar {
		position: absolute !important;
		left: 186px !important;
		background: none !important;
		width: 277px !important;
	}
       .html-player-video-controls .html-player-volume.hover .html-player-volume-button.muted {
             background-image:url("../img/mute_2.png") !important;
        background-position:17px 8px !important;
        }
        .html-player-video-controls .html-player-volume.hover .html-player-volume-button.muted:parent {
            background-image:none !important;
        }
	 .html-player-video-controls .html-player-volume .html-player-volume-button.muted {
		/*background-position: -160px 0 !important;*/
        background-image:url("../img/mute_1.png");
        background-position: 21px 12px;
       /*display:none;*/ 
	}
	
/*video player setting end*/

/*Competition Registry start*/
.container-main {
	background-color: #181818;
	width: 100%;
	float:left;
    min-width:1240px;
	border-bottom: 1px solid #303030;
}
.brief-black-bg {
	background-color: #000000;
}
.brief-nav {
	font-family:"Times New Roman", Times, serif;
	font-size: 12px;
	width: 800px;
	letter-spacing: 3px;
    color: #ffffff !important;
    float:left;
}
.brief-nav span.brief-nav-seperator {
   /* color: #838383;*/
    font-size: 0px;
    background-image:url("../images/breadcrum-arrow.png");
    background-repeat:no-repeat;
    width: 6px;
    height: 10px;
    float:left;
    margin-top:6px;
   /* display: inline-block;*/
}
.brief-nav span {
    margin: 0 15px;
    float:left;
}
.brief-nav a:hover {
	text-decoration:none;
}
u {
	cursor: pointer;
}
#enter-details {
	color: #aca9a9;
}
#enter-details p {
    color: #ffffff;
}
#top-copy {
    color: #ffffff;
}
.frm-row-odd {
	width:800px;
	float:left;
	position:relative;
	height: 25px;
	padding-left: 70px;
}
.frm-row-even {
	width:800px;
	float:left;
	position:relative;
	height: 60px;
	padding-left: 70px;
}
.frm-cell {
	width: 325px;
	float:left;
	position:relative;
}
#dd {
    cursor: default;
}
#enter-details label {
/*	padding: 15px;*/
	color: #ffffff;
	font-family: 'franklin-gothic-urw-comp';
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
    cursor: default;
    margin-left: 11px;
}
#enter-details label#agree, #enter-details label#fulfill{
    text-transform: none !important;
    margin-left: -3px !important;
}
.normalText {
    text-transform: initial !important;
}
#enter-details input[type="text"], input[type="email"]{
	width: 300px;
	height: 22px;
	border-radius: 3px;
	border: none;
	padding: 6px;
	color: #aca9a9;
	font-family:"Times New Roman", Times, serif;
	font-size: 14px;
}
input {
outline-style: none !important;
}
#enter-details .failed{
	background-color: #e6d0a2;
}
/*
#enter-details input[type="checkbox"] { 
	float: left;
	margin-bottom: 10px;
	margin-right: 17px;
    margin-top: -20px;
}
#enter-details #agree, #enter-details #fulfill { 
	padding-left: 0;
    margin-left: 34px;
}
  */

.wrapper-dropdown-2-details {
	background: #ffffff;
	border-top-radius: 3px;
	margin-left: 0;
	width: 292px;
	background-image: url(../images/down-arrow-gray.png);
	background-repeat: no-repeat;
	background-position: 97% 51%;
	text-transform: uppercase;
    position: relative; /* Enable absolute positioning for children and pseudo elements */
    padding: 7px 10px 2px 10px;

	cursor: pointer;
	outline: none;
	letter-spacing: 2px;
	font-family: 'franklin-gothic-urw-comp';
	font-size: 12px;
	border-left: 1px solid #716b6b;
	border-top: 1px solid #716b6b;

	background-repeat:no-repeat;

    border-radius: 3px;
    -webkit-border-radius: 3px;
}
.wrapper-dropdown-2-details .dropdown {
	top: 32px;
	right: 0;
	width: 312px;
	z-index: 10;
	font-family: 'franklin-gothic-urw-comp';
	font-size: 12px;
    position: absolute;
    background: white;
	transition: all 0.3s ease-out;
	list-style: none;
    display:none;
	pointer-events: none;
}
.terms-conditions {
	font-family:"Times New Roman", Times, serif;
	font-size: 12px;
}
.frm-row-even label {
    width: 600px
}
.wrapper-dropdown-2-details .dropdown li {
	width: 282px;
    display: block;
	text-decoration: none;
	color: #333;
	padding: 10px 15px;
	transition: all 0.3s ease-out;
	border-bottom: 1px solid #e5e5e5;
    cursor:pointer;
}
.wrapper-dropdown-2-details .dropdown li:hover {
	background-color: #faf5e9;
}
.wrapper-dropdown-2-details.active {
	background-image:url(../images/up-arrow-gray.png);

}
.wrapper-dropdown-2-details.active:after {
	background-image:url(../images/up-arrow-gray.png);
}
.wrapper-dropdown-2-details.active .dropdown {
	display:block;
	pointer-events: auto;
}
.brief-title{
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 8px;
	font-family: 'Steagal-Re';
	font-size: 22px;
	text-align: center;
	margin: 30px 0;
    position:relative;
    z-index:99;
}
.EYDetails {
    margin: 36px 0 28px 0 !important;
}
.brief-copy{
	color: #ffffff;
	padding: 0 64px;
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
}
.brief-copy-thanks {
    color: #ffffff;
    padding: 0 64px;
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    text-align: center;
}
.thanks-center {
    text-align: center;
}
.thanks-btn-width {
    width: 247px;
    margin-bottom: 35px;
}
.brief-copy p {
	margin: 0;
}
.brief-step{
	color: #ffffff;
	padding: 0 44px;
	margin: 0 auto;
	width: 1036px;
	text-align:center;
}
.brief-step ul{
	list-style: none;
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
    margin: 0 0 10px 0 !important;
}
.brief-step ul .right-strip{
	float: left;
}
.brief-step li{
	width: 244px;
	padding: 18px 50px;
	float: left;
    margin-bottom: 30px;
}
.brief-step li span{
	display: block;
	margin-bottom: 12px;
}
.st-underline {
	text-decoration:underline;
}
#enter-details label.error, #entery-details label.error {
    color: #FB3A3A;
    display: inline-block;
    margin: -11px 0 5px 12px;
    padding: 0;
    text-align: left;
    width: 300px;
	text-transform: lowercase;
	font-family: 'Steagal-Re';
	font-size: 10px;
	display: block;
	background-image:url(../images/error-up-arrow.png);
	background-repeat:no-repeat;
	background-position: 0 7px;
	padding-left: 13px;
}
#enter-details #agree label.error {
	margin: 4px 0 5px 32px;
}
#enter-details label[for=agree].error, #enter-details label[for=fulfill].error {
	margin: 2px 0 5px 40px !important;
    position:absolute; top:20px;
}
#enter-details #agree, #enter-details #fulfill {
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 0;
}
/*Competition Registry end*/

/*Upload Entry Registry start*/
#uploadVideo {
	display: block;
    /*min-height: 638px;*/
    /*min-height:670px;
    min-height: 697px;*/
    height:100%;
    position:absolute;
    margin-top: 81px;
}
#recordVideo {
	display: none;
    border-bottom:0;
     height: 100%;
     padding-bottom:52px;
     position: absolute;
     margin-top:81px;
}
#bottom-copy {
	display: none;
    
}
    #bottom-copy.record {
    margin-top: 363px;
    }
#recordingUploaded {
	display: none;
    margin-bottom: 50px;
    width: 213px;
    height: 33px;
    line-height: 31px;
    margin-top: 29px;
}
#recordingUploadedOuter {
    position: relative;
    float: left;
    display: block;
    width: 100%;
}
#uploadRecording1 {
	cursor:default;
}
.video-title {
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: 'franklin-gothic-urw-comp';
	font-size: 14px;
	text-align: center;
	margin: 11px 0;
}

.video-step{
	color: #aca9a9;
	padding: 0 44px;
	margin: 0 auto;
	width: 1002px;
	text-align:center;
}
.video-step li a:hover{
	text-decoration:none;
}
.video-step ul{
	list-style: none;
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	margin-top: 28px;
}
.video-step-align {
	background-repeat:no-repeat;
	width: 44px;
	height: 44px;
	margin-left: 70px;
}
.video-step .upload-file{
	background-image:url(../images/upload-file.png);
}
.video-step div a:hover > .upload-file{
	background-image:url(../images/upload-file-hover.png);
}
.upload-file input {
    opacity: 0;
    margin-left: -41px;
    width: 140px;
    height: 76px;
}
.upload-file1 input {
	filter: alpha(opacity=1);
   	opacity: 0;
	margin-left: -41px;
	width: 140px;
	height: 76px;
}
.video-step div, .video-step ul li a{
    display: block;
    width: 138px;
    margin: 10px auto;
    color: #ffffff;
}
.video-step .record-video{
	background-image:url(../images/record-video.png);
}
.video-step div a:hover > .record-video{
	background-image:url(../images/record-video-hover.png);
}
.video-step .youtube-video{
	background-image:url(../images/youtube-video.png);
}
.video-step div a:hover > .youtube-video{
	background-image:url(../images/youtube-video-hover.png);
}
.video-step div a:hover {
    color: #e1bc70;
}
.video-step ul .right-strip{
	float: left;
	height: 160px;
    margin-top: 14px;
}
.video-step li{
	width: 217px;
	padding: 24px 48px 22px 48px;
	float: left;
}
.video-step li span{
	display: block;
	margin-bottom: 10px;
	/*margin-top: 27px;*/
    text-align: center;
    margin: 26px auto 10px auto;
}
.youtubeUrl {
	display: none;
	position: absolute;
	top: 200px;
	left: 400px;
	background-color: #000000;
	text-align:center;
	width: 570px;
	height: 325px;
	z-index: 101;
}
.youtubeUrl-top {
	background-color: #181818;
	padding:20px 68px 16px 68px;
	border-bottom: 1px solid #212121;
}
.youtubeUrl-bottom { 
	padding:0 68px 0 68px;
}
.youtubeUrl-button {
	width: 201px !important;
}
.youtubeUrl-title {
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 8px;
	font-family: 'Steagal-Re';
	font-size: 18px;
	text-align: center;
	margin: 10px 0 12px 0;
}
.youtubeUrl-copy {
	font-family:"Times New Roman", Times, serif;
	font-size: 12px;
	text-align:left;
}
.youtube-url {
	font-family: 'franklin-gothic-urw-comp';
	font-size: 14px;
}
.youtubeUrl-ornament {
	margin-bottom: 15px;
}

.uploadaFile {
    display: none;
    /*position: absolute;*/
    top: 200px;
    left: 400px;
    background-color: #000000;
    text-align: center;
    width: 562px;
    height: 272px;
    /*padding-top: 27px;*/
    z-index: 101;
}
.custom-upload {
    position: relative;
    height: 40px;
    width: 211px;
    margin-top: 64px;
    margin-left: 174px;
    margin-top: 14px;
}
.custom-upload input[type=file]
{
    outline:none;
    position: relative;
    text-align: right;    
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
    width:100%;
    height:100%;
    
}
.custom-upload .fake-file
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 350px;
    padding: 0;
    margin: 0;
    z-index: 1;
    line-height: 100%;
}
.custom-upload .fake-file input
{
    font-size:16px;
    height:40px;
    width:300px;
}
#videoElement1 {
    width: 500px;
    height: 290px;
}
#hiddenFP {
    width: 200px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    left: 173px;
}

.uploadimageentryname {
    color: #000000;
}
#saveaFile {
    padding-left: 60px;
    padding-right: 60px;
}
.FileUrl-bottom {
padding: 0 38px 0 38px;
}
#enter-details .youtubeUrl label  {
	float: left;
    padding-left: 12px;
    margin-top: 7px;
}
#enter-details .youtubeUrl input[type="text"] {
	width: 415px;
}
#submitting {
	height: 33px;
	background-color: #2778bc;
	left: 217px;
	width: 0;
	position: relative;
	top: -33px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	display: none;
	z-index:100;
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'franklin-gothic-urw-comp';
	font-size: 13px;
	letter-spacing: 2px;
	line-height: 34px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}
#submitting span{
	width: 210px;
	padding-left: 61px;
}
#btnTextSubmitting {
    width: 219px;
    height: 25px;
    background-color: red;
    position: relative;
    float: right;
    margin-top: -29px;
    color: #ffffff;
	text-transform: uppercase;
	font-family: 'franklin-gothic-urw-comp';
	font-size: 13px;
	letter-spacing: 2px;
	line-height: 34px;
}
/*---------*/
.btn-left-record-page {
	position:relative;
	cursor: pointer;
}
.btn-left-record-page:after {
	content: "";
	position: absolute;
	top: 20px;
	left: 100px;
	width: 0;
	height: 0;
	border-color: transparent transparent transparent #000000;
	border-style: solid;
	border-width: 0 12px 26px;
}
.btn-left-record-page-bot {
	position:relative;
	cursor: pointer;
}
.btn-left-record-page-bot:after {
	content: "";
	position: absolute;
	top: 36px;
	left: 100px;
	width: 0;
	height: 0;
	border-color: transparent transparent transparent #000000;
	border-style: solid;
	border-width: 24px 12px 0;
}
.btn-left-record-page-adjust:after {
	border-width: 0 12px 17px;
}
.container-video {
	width: 525px;
	margin: 0 auto;
    min-height: 500px;
}
.container-video-title {
	margin-top: 106px;
}
.container-video-copy {
	color: #ffffff;
	padding: 0 44px;
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;	
}
.gradBG-b4startRecordingBlack {
   /*background-image:url("../images/record-btn.png");*/
    background-repeat:no-repeat;
	background-color: #232323 !important;
	color: #ffffff;
	text-shadow: 0px 1px 0px rgba(13, 13, 13, 0.3);
	border: 1px solid #2E2B2B;	
    height:33px;
    line-height:30px;
    width: 204px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
    /*padding: 6px 45px;*/
}
.gradBG-b4startRecordingBlack:hover {
   /* text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8), 0px 0px 10px rgba(255, 255, 255, 0.8);   */
}

.active-startrecording-btn:hover , .gradBG-endRecordingYellow:hover {
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8), 0px 0px 10px rgba(255, 255, 255, 0.8); /*add*/
}

.gradBG-b4startRecordingYellow {
	background-color: #574a2c;
	color: #635c5c;
	text-shadow: 0px 1px 0px rgba(13, 13, 13, 0.3);
	border: 1px solid #5c5036;
	/*padding: 6px 45px;*/
    height:30px;
    line-height:25px;
    width: 204px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}

.gradBG-startRecordingYellow {
	background-color: #72603b;
	color: #e6d9bd;
	text-shadow: 0px 2px 0px rgba(13, 13, 13, 0.3);
	border: 1px solid #816e45;
	padding: 6px 45px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}
#startRecording1 div {
	background-color: #ff0000;
	width: 8px;
	height: 8px;
	position: absolute;
	margin-left: 32px;
	border-radius: 5px;
	margin-top: 11px;
}
#buttonsRecording div.red-dot {
    background-color: rgba(255,0,0,0.4);
	width: 8px;
	height: 8px;
	position: absolute;
	margin-left: 79px;
    border-radius: 5px;
    margin-top: -20px;
}
button#startRecording1 {
padding: 0 !important;
}

/* cahnge */
.gradBG-progRecordingBlack {
	/*background-color: #343131;
	color: #e7e5e0;
	text-shadow: 0px 2px 0px rgba(13, 13, 13, 0.3);
	border: 1px solid #4a4848;
    height:33px;
    line-height:31px;
    width: 205px;
	border-radius: 3px;
	-webkit-border-radius: 3px;*/
    color: #e7e5e0;
    text-shadow: 0px 2px 0px rgba(13, 13, 13, 0.3);
    padding: 6px 45px;
    height: 33px;
    line-height: 31px;
    width: 204px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    background-image: url('../images/record-btn.png');
    background-repeat: no-repeat;
    background-color: transparent;
    box-shadow:none;
    border: 0px;
}
#startRecording1:hover > div {
	background-color: #ff0000;
}
.gradBG-progRecordingYellow {
	background-color: #8e7339;
	color: #e6d9bd;
	text-shadow: 0px 2px 0px rgba(13, 13, 13, 0.3);
	border: 1px solid #816e45;
	/*padding: 6px 45px;*/
    height:33px;
    line-height:31px;
    width: 205px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}
.gradBG-endRecordingYellow {
	background: rgb(185,137,39);
	background: -moz-linear-gradient(top, rgba(205,153,43,1) 0%, rgba(172,128,36,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,153,43,1)), color-stop(100%,rgba(172,128,36,1)));
	background: -webkit-linear-gradient(top, rgba(205,153,43,1) 0%, rgba(172,128,36,1) 100%);
	background: -o-linear-gradient(top, rgba(205,153,43,1) 0%, rgba(172,128,36,1) 100%);
	background: -ms-linear-gradient(top, rgba(205,153,43,1) 0%, rgba(172,128,36,1) 100%);
	background: linear-gradient(top, rgba(205,153,43,1) 0%, rgba(172,128,36,1) 100%);
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd992b', endColorstr='#ac8024',GradientType=0 );*/
	color: #ffffff;
	text-shadow: 0px 2px 0px rgba(13, 13, 13, 0.3);
	filter: dropshadow(color=#53733c, offx=0, offy=1);
	border: 1px solid #816e45;
	/*padding: 6px 45px;*/
    height:33px;
    line-height:31px;
    width: 205px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}
.gradBG-endRecordingGreen {
	background: rgb(161,205,86);
	background: -moz-linear-gradient(top, rgba(161,205,86,1) 0%, rgba(122,153,71,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(161,205,86,1)), color-stop(100%,rgba(122,153,71,1)));
	background: -webkit-linear-gradient(top, rgba(161,205,86,1) 0%, rgba(122,153,71,1) 100%);
	background: -o-linear-gradient(top, rgba(161,205,86,1) 0%, rgba(122,153,71,1) 100%);
	background: -ms-linear-gradient(top, rgba(161,205,86,1) 0%, rgba(122,153,71,1) 100%);
	background: linear-gradient(top, rgba(161,205,86,1) 0%, rgba(122,153,71,1) 100%);
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1cd56', endColorstr='#7a9947',GradientType=0 );*/
	color: #ffffff;
	text-shadow: 0px 2px 0px rgba(13, 13, 13, 0.3);
	filter: dropshadow(color=#7a9947, offx=0, offy=1);
	/*border: 1px solid #7a9947;
	padding: 6px 35px;
	border-radius: 2px;*/
	-webkit-border-radius: 2px;
	/*margin-left: 27px;*/
	float: right;
	margin-top: 10px;
    height:33px;
    line-height:31px;
    width: 205px;
}
#recordContainer {
	margin: 0px auto;
	width: 500px;
	height: 275px;
	/*background-color: #201f1f;*/
	border: none;
}
#recordContainer video{
	width: 500px;
	height: 290px;
}
#videoElement {
	width: 500px;
    height: 275px;
}
#bottom-copy p {
	margin-top: 26px;
	margin-bottom: 16px;
    position:relative;
}
#bottom-copy label{
	color: #ffffff;
	font-family: 'franklin-gothic-urw-comp';
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 1px;
	padding-left: 15px;
    cursor: auto;
}
#bottom-copy label span {
	font-size: 13px;
}
.entryDetails-button {
	width: 207px;
}
#submitVideo {
	width: 213px;
    padding-left: 0 !important; 
    margin-left: 7px;
}
#bottom-copy input[type="text"] {
	width: 423px;
	margin-bottom: 0;
}
#charCount {
	left: 39%;
	position: absolute;
	width: 436px;
	top: 34px;
}
	/*customise recording html5 player start*/
video::-webkit-media-controls-mute-button {
	/*display: none !important;*/
    position: absolute !important;
    left: 50px !important;
}
video::-webkit-media-controls-fullscreen-button {
	display: none !important;	
}
input[type="range"]::-webkit-slider-runnable-track { 
	display: none !important;	
}
audio::-webkit-media-controls-play-button, video::-webkit-media-controls-play-button {
	display: block !important;	
}
audio::-webkit-media-controls-timeline, video::-webkit-media-controls-timeline {
	background-color: #cf9a30 !important;
	border-top: 1px solid #000000 !important;
	border-bottom: 1px solid #000000 !important;
	height: 4px !important;
	margin-left: 120px;
}
input[type="range"]::-webkit-slider-thumb {
	background:red;
}
video::-webkit-media-controls-time-remaining-display {
	display:block !important;
	font-size: 12px !important;
    position: absolute !important;
    left: 90px !important;
}
video::-webkit-media-controls-current-time-display {
	font-size: 12px !important;
	color: #ffffff !important;
    position: absolute !important;
    left: 130px !important;
}   
video::-webkit-media-controls-panel {
	width: 99% !important;
	/*left: 13% !important;*/
	opacity: .7 !important;
	/*padding-left: 10px !important;*/
}
input[type="range"]::-webkit-media-slider-thumb, input[type="range"]::-webkit-slider-thumb, input[type="range"]::-webkit-media-slider-thumb {
	/*background-image:url(../images/icons.png) !important;*/
	background-repeat:no-repeat !important;
	width: 5px;
    border-radius: 5px;
}
audio::-webkit-media-controls-volume-slider, video::-webkit-media-controls-volume-slider {
	display: none !important;
}

	
	/*customise recording html5 player end*/
	
	
/*Upload Entry Registry end*/

/*Adjustment css start*/
.mtop20 {
	margin-top: 20px;
}
.mtop25 {
	margin-top: 25px;
}
.mtop10 {
	margin-top: 10px;
}
.mtop {
	margin-top: 30px;
}
.mtop50 {
	margin-top: 53px;
}
.mbottom {
	margin-bottom: 40px;
}
.mleft {
	margin-left: 20px;
}
.mleft7 {
	margin-left: 7px !important;
    padding: 6px 10px !important;
}
.mleft8 {
	margin-left: 8px !important;
}
.mleft100 {
	margin-left: 100px;
}
.floatr {
	float: right;
}
.floatl {
	float: left;
}
.floatn {
	float: none;
}
.lh73 {
	line-height: 73px;
}
.mright88 {
margin-right: 88px;
}
.wid100 {
	width: 200px;
}
.paddingleft0 {
	padding-left: 0;
}
.centeralign {
	text-align: center;
	padding-left: 0;
}
.uploadEntryOrnament {
	text-align: center;
	/*padding-top: 75px;*/
}
.recordOrnPos
{
    margin-left: 231px;
    padding: 0;
}
#videoElement1 {
    background-color: #000000 !important;
    box-shadow: 0px 0px 10px #000;
}
.recordOrnPosBot
{
    margin-left: 44%;
    padding: 0;
}
.jspContainer {
	font-family:'Times New Roman' !important; font-size:12px !important;
}
.unicode-symbols {
    display: none;
    background-image: url("../images/submit-correct.png");
    background-repeat: no-repeat;
    position: relative;
    width: 37px;
    height: 40px;
    left: 396px;
    top: 123px;
}
.entryFinalOrnament {
	text-align: center;
	margin-top: 31px;
}

.entery-details-top {
	padding: 29px 39px;
}
.entery-details-top label {
	padding: 0 35px;
}
.entery-details {
	padding-left: 38px;
}
.scroll-pane {
	outline: none !important;
}
.width275 {
    width: 275px;
    margin-top: 33px;
}
/*Adjustment css end*/

/*Hide all popups. solves page refresh popup issue but opens jsrollpan no scroll issue*/
/*#Description-popup {
    visibility:hidden;
}
#Rules-popup {
    visibility:hidden;
}
#Terms-condition-popup {
    visibility:hidden;
}*/
/*.popupOverlay {
    visibility:hidden;
}*/

#nimbb
{
    position : relative !important;
}

/*new Style */
span.error{
    background-image: url("../images/error-up-arrow.png");
    background-position: 0 7px;
    background-repeat: no-repeat;
    color: #FB3A3A;
    display: block;
    font-family: 'Steagal-Re';
    font-size: 10px;
    margin: -11px 0 5px 12px;
    padding: 0 0 0 13px;
    text-align: left;
    text-transform: lowercase;
    width: 300px;
}



.inputRadio-button input[type=checkbox] { 
	opacity: 0;
    float:left;
    width:30px;
    height:27px;
	}
.inputRadio-button input[type=checkbox] + label.checklabel,  
.inputRadio-button input[type=checkbox] + label.errorchk {
    margin: 0;
    clear: none;    
    /* Left padding makes room for image */
    padding: 5px 0 4px 40px;
    /* Make look clickable because they are */
    cursor: pointer;
	background: url(../images/cb-normal.png) top left no-repeat;

	}
.inputRadio-button input[type=checkbox]:checked + label.checklabel {
	background: url(../images/cb-selected.png) top left no-repeat;
	}
.inputRadio-button input[type=checkbox]:checked + label.checklabel:hover {
	background: url(../images/cb-selected.png) top left no-repeat;
	}
    .inputRadio-button input[type=checkbox] + label.checklabel:hover {
/*    background: url(../images/cb-hover.png) top left no-repeat;*/
    }

     .inputRadio-button input[type=checkbox] + label.errorchk {
    background: url(../images/cb-error.png) top left no-repeat!important;
    }

#fbshare
{
   margin-top: 2px !important;
}

.pluginButton
{
    height:19px !important;
}

#timer
{
    color: white;
    display: none;
    position: relative;
    margin-top: -36px;
margin-left: 10px;
    z-index: 99;
}

#timer1
{
    color: white;
    display: none;
    position: relative;
    margin-top: -20px;
    margin-left: 47px;
    z-index: 99;
}

input[type="button"].playerControl
{
    color: transparent;
    display: none;
    position: relative;
    margin-top: -51px;
    margin-left: -23px;
    z-index: 99;
    background-color:rgba(0,0,0,0.5);
    border:0px;
    border-radius:34px;
    display:none; 
    background-image:url(../images/icons/play_dark.png); 
    width: 34px; 
    height: 34px;
}


.html-player-volume.muted {
    background-image: url('../img/mute_1.png');
background-position: 21px 12px;
}
    .html-player-volume.muted.hover {
    background-image: url('../img/mute_2.png');
background-position: 17px 8px;
    }
.html-player-volume.muted.hover .html-player-volume-button  {
    /*background-position: -209px 0 !important;*/
}

div.volume-bar{
    background: url('../../img/volume-height-bar.png');
    position: absolute;
    height: 7px;
    width: 19px;
    background-repeat: no-repeat;
    top:-7px;
    margin-left: 0px;
}

/*label.checklabel:active {
    border-left:2px solid #d09c2c;
}*/
.frm-cell {
 width: 340px;
 float:left;
 position:relative;
}
#enter-details label.error, #entery-details label.error {
    color: #FB3A3A;
    display: inline-block;
    margin: -10px 0 5px 12px;
    padding: 0;
    text-align: left;
    width: 300px;
     text-transform: lowercase;
     font-family: 'Steagal-Re';
     font-size: 10px;
     display: block;
     background-image:url(../images/error-up-arrow.png);
     background-repeat:no-repeat;
     background-position: 0 7px;
     padding-left: 13px;
}
.frm-cell label {
    margin-left:12px;
}
.focus {
    border-left: 2px solid #d09c2c;
    display: block;
    height: 32px;
    left: -6px;
    position: absolute;
    top:2px;
}

.focus-checkBox {
    border-left: 2px solid #d09c2c;
    display: block;
    height: 23px;
    left: 64px;
    position: absolute;
    top:2px;
}

.focus-button {
    border-left: 2px solid #d09c2c;
    float: right;
    height: 32px;
    margin-right: 5px;
    margin-top:1px;
}
.fb_iframe_widget iframe {
    margin-top:2px;
}
.fb_iframe_widget {
    margin-left: 7px;
    margin-top: 0px;
    float: left;
    margin-right: 7px;
}

.sort-entries div#dd:hover {
background-color: #454545;
}
.container-running-entry img.hero-img {
    height:370px;
    min-width:1240px;
}
body {
padding:0px !important;
}

.record-opacity {
    opacity:0.4;
    filter: alpha(opacity = 40);
}
#bottom-copy input[type="text"]#applicationName {
    width: 416px;
}
#uploadRecording1[disabled], #uploadRecording1:disabled ,button:disabled,#startRecording1:disabled,#startRecording1[disabled]{
     color:#fff;
     text-shadow:none;
}
#youtubeUrlMsg {
    position: relative;
    top: -10px;
    left: -10px;
}
input, input:focus {
    outline:none;
    outline:0;
}
.html-player-video-controls .html-player-progress-bar .html-player-progress-wrapper .html-player-progress-play {
    height:6px;
    top:13px;
    border-radius:2px;
}
html,body {
    height:100%;
}
.wrapper {
    min-height: 100%;
	height: auto !important;
	height: 100%;
    position:relative;
    overflow:hidden;
    min-width:1240px;
     margin-bottom:-55px;
	/*margin-bottom:-55px;*/
  /* equal to footer height */
}
    .wrapper.bgcolor {
        background-color: #edebe1;
    }
.wrapper:after {
  content: "";
  display: block;
}
#entry-details-container {
    height: 100%;
    margin-bottom: 32px;
    /*position:absolute;
    margin-top:81px;*/
}
#startRecording1 {
   /* background-color: #232323;*/
   width:207px;
   text-align:center;
   padding:0;
}
#uploadRecording1 {
     background-color: #574a2c;
    padding:0 42px;
}
#buttonsSubmitting {
    position: relative;
    float:left;
}
.left-link {
    float: right;
    text-transform: uppercase;
   /* padding: 30px 0;*/
   margin-top: -49px;
    margin-left: 30px;
    margin-right: 90px;
    color: #e1bc70;
    letter-spacing: 5px;
    font-family: 'Steagal-Re';
    font-size: 10px;
}
.left-link:hover {
color: #b7a47f;
}
.nav-adjust span {
    padding: 0px 7px;
}
.nav-adjust span, .nav-adjust a {
float: left;
}