/**
 * @license
 * MyFonts Webfont Build ID 2756950, 2014-02-26T22:37:48-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Steagal by insigne
 * URL: http://www.myfonts.com/fonts/insigne/steagal/regular/
 * Copyright: Generated in 2013 by FontLab Studio. Copyright info pending.
 * Licensed pageviews: 10,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2756950
 * 
 * © 2014 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
/*@import url("//hello.myfonts.net/count/2a1156");*/

  
@font-face {font-family: 'Steagal-Re';src: url('../webfonts/2A1156_0_0.eot');src: url('../webfonts/2A1156_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/2A1156_0_0.woff') format('woff'),url('../webfonts/2A1156_0_0.ttf') format('truetype');}
 