html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

a {
    text-decoration: none;
}

body {
	background-color: #f4f2e8;
	background-image: url(../images/Mutti_HomePage_Background_Wide.jpg);
	background-position: center -420px;
    background-repeat: repeat-x;
}

.heroText {
    position: absolute;
    left: 150px;
}

.bottom-links {
    position:absolute;
    bottom: 140px;
    left: 150px;
}

.terms {
    width: 800px;
    margin: 0 auto;
    position: relative;
    top: -110px;
}

.terms p {
    color: #fff;
    text-shadow: 0px 2px 4px #000;
    text-align: center;
    font-weight: bold;
}

.button {
    overflow: visible;
    width: auto;
    min-width: 143px;
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
}

    .button span {
        display: block;
        height: 22px;
        border: none;
        background: url("../images/buttons.png") no-repeat left top;
        padding: 0 0 12px 10px;
        line-height: 20px;
        text-align: center;
        white-space: nowrap;
    }

        .button span span {
            border: 0;
            padding: 6px 18px 6px 10px;
            background: url("../images/buttons.png") no-repeat right top;
        }

.green span {
    background: url("../images/buttons.png") no-repeat left -34px;
}

    .green span span {
        background: url("../images/buttons.png") no-repeat right -34px;
    }

.large span {
    background: url("../images/buttons.png") no-repeat left -68px;
    height: 25px;
}

    .large span span {
        background: url("../images/buttons.png") no-repeat right -68px;
    }

.blue span {
    background: url("../images/buttons.png") no-repeat left -104px;
    height: 37px;
}

    .blue span span {
        background: url("../images/buttons.png") no-repeat right -104px;
        line-height: 18px;
    }

.btnlink {
        display: inline-block;
        background: url("../images/bg-shadow-btn.png") no-repeat center bottom;
        padding: 0 0 25px 0;
    }

.btnlink span {
            line-height: 20px;
        }

.btnlink button {
            width: 143px;
        }



#heroLeft {
    float: left;
}

#heroRight {
    height: 100%;
    background-image: url('../images/heroRightBG.png');
    background-repeat: no-repeat;
    background-position: center 40px;
    width: 50%;
    right: 70px;
    top: 100px;
    position: absolute;
}

.wrapper {
	margin: 0 auto;
	width: 1100px;
}

#hero {
	height: 510px;
	position: relative;
	top: -90px;
}



header {
    position: relative;
    z-index: 100;
    height: 120px;
    display: block;
    overflow: hidden;
    /*min-width: 1300px;*/
    max-width: 100%;
    width: 100%;
}

section {
    position: relative;
}

.inner-footer {
	display:none;
		}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 33px;
    width: 100%;
    float: none;
    z-index: 99999;
    clear: both;
    display: block;
    overflow: hidden;
	
    /*padding-top: 25px;*/
}

section {
	float:left;
    margin: -105px 0 0 0;
    padding: 105px 0 0 0;
    min-width: 1024px;
}


.header-inner {
    background: url("../images/header-front-bg.png") repeat-x scroll 0 0 #D80612;
    clear: both;
    display: block;
    height: 86px;
}
.head-wrapper {
    margin: 0 auto;
    width: 1024px;
}

.nav, .nav-inner {
    display: block;
    clear: both;
    height: 68px;
}

/*.nav {
    background: url(../images/bg-menu-stripe.png) no-repeat left top;
}

.nav-inner {
    background: url(../images/bg-menu-stripe.png) no-repeat right -68px;
}*/

nav {
    margin: 0 auto;
    position: relative;
    width: 780px;
    padding: 28px 0 0 0;
    height: 48px;
}

    nav a {
        text-shadow: 0 2px 1px #666;
        text-transform: uppercase;
    }

    nav li {
        float: left;
        height: 29px;
        line-height: 32px;
        position: relative;
        top: 5px;
        border-left: 1px solid #f09ca1;
        padding: 0 32px;
    }

    nav ul.left {
        float: left;      
    }

    /*nav ul.right {
        float: right;
    }*/

        nav ul.right li {
            border-left: none;
            border-right: 1px solid #f09ca1;
        }
.topnav_left_container {
    display: inline-block;
    float: left;
    text-align: right;
}
.topnav_right_container {
    display: inline-block;
    float: right;
    text-align: left;
    width: 39%;
}
.logo {
  left: 50%;
    margin: 7px 0 0 -85px;
    position: absolute;
    width: 170px;
}

    .logo a {
        display: block;
        width: 170px;
        overflow: hidden;
    }

.fb-icon {
    position:relative;
    top: -3px;
}

.social-link {
    position: absolute;
    left: 832px;
    top: 35px;
    width: 205px;
}

    .social-link a {
        text-shadow: 0 2px 1px #666;
        line-height: 24px;
        display: block;
    }

        .social-link a span, .social-link a img {
            display: inline-block;
        }

        .social-link a img {
            margin-right: 5px;
            vertical-align: middle;
        }

.footer {
    background: #FFF;
    height: 45px;
    text-align: center;
    position: relative;
    display: block;
    clear: both;
    line-height: 35px;
    overflow: hidden;
	z-index:99999;
}

    .footer a {
        color: #A6A6A6;
    }

.footer-nav {
    bottom: -10px;
    float: left;
    height: 45px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.footer-nav-wrapper {
   background: url("../images/bg-fnav.png") repeat-x scroll left top transparent;
    float: left;
    height: 45px;
    left: 0;
    top: 24px;
    width: 100%;
    /*min-width: 1300px;
    position: fixed;*/
}

.fnav-inner {
    margin: -4px auto 0;
    background: url("../images/bg-fnav2.png") no-repeat left top;
    width: 897px;
    height: 37px;
    position: relative;
}

    .fnav-inner ul {
        width: 897px;
        margin: 0 auto;
        zoom: 1;
    }

        .fnav-inner ul:after,
        .fnav-inner ul:before {
            content: "";
            display: table-cell;
        }

        .fnav-inner ul:after {
            clear: both;
        }

        .fnav-inner ul li {
            /*padding-top: 10px;*/
            width: 448px;
        }

            .fnav-inner ul li.first {
                float: left;
            }

            .fnav-inner ul li.last {
                float: right;
            }

            .fnav-inner ul li a.link {
                text-shadow: 0 1px 1px #69614b;
            }

.boxwrapper {
    float:left;
    width: 448px;
    height:49px;
    bottom:1px important;
    height: 280px;
    background: url(../images/bg-boxwrapper.png) 0 0 no-repeat;
    position: absolute;
    bottom: -244px;
    -moz-box-shadow: 0 0 6px 1px #666;
    -webkit-box-shadow: 0 0 6px 1px #666;
    box-shadow: 0px 0 6px 1px #666;
    z-index: 99999;
}

.boxwrapper-opened {
    background-position: -448px 0;
}

.boxwrapper-app {
    left: 0;
}

.boxwrapper-tracker {
    right: 0;
}

.boxwrapper .boxheader {
    height: 34px;
    display: block;
    clear: both;
    text-align: center;
    padding: 10px 0 0 0;
}

    .boxwrapper .boxheader a.fnlink {
        text-shadow: 0 1px 1px #69614b;
        padding: 0 20px 0 0;
    }

.boxheader a.fnlink {
    background: url(../images/arrow-up.png) no-repeat right center;
}

.boxwrapper-opened .boxheader a.fnlink {
    background: url(../images/arrow-down.png) no-repeat right center;
}

.boxcontent {
    display: block;
    clear: both;
    overflow: hidden;
    border-bottom: 1px dotted #132f67;
    text-align: left;
    padding: 15px 15px 0 22px;
    min-height: 215px;
}

    .boxcontent h4 {
        text-shadow: 0 2px 0 #b8b8b8;
    }

.boxwrapper-app .boxcontent h4 {
    margin: 0 0 15px 12px;
}

.boxwrapper-tracker .boxcontent h4 {
    margin: 0 0 23px 0;
}

.boxcontent .left {
    float: left;
    width: auto;
}

.boxcontent .right {
    float: right;
}

.boxwrapper-app .boxcontent .right {
    width: 209px;
    padding: 8px 0 0 0;
}

.boxwrapper-tracker .boxcontent .right {
    padding: 35px 0 0 0;
}

.boxcontent .right p {
    margin: 0 0 17px 0;
    text-align: left;
}

    .boxcontent .right p.center {
        text-align: center;
    }


/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
