.registerpopup-termsandcondition {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
    width: 650px;
    display: none;
}
.registerpopup {
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 30px;
    width: 350px;
    display: none;
}

.margintop20content {
    margin-top: 20px;
}
.margintop10content {
    margin-top: 10px;
}
.hiddentextbox {
    display: none;
}

.agree-terms-and-condition {
    display: none;
}
.btnbacktoform {
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
}
.nobigpadding {
    padding: 6px 18px 6px 10px !important;
}
.submitimages {
        margin-top: 25px;
    }
.ordiv {
   position: absolute;
    margin-left: -37px;
    background-color: #FFF;
    height: 20px;
    margin-top: 140px;
}
.ordiv h3{
    padding-top: 0px !important;
}
button.button {
    height: 36px;
}
.record-video {
    width: 510px;
}

.entryname {
    border-bottom: 1px dotted;
    padding-bottom: 7px;
    width: 500px;
}
.videocommand {
float: right;
margin-top: 15px;
margin-right: 12px;
margin-bottom: 5px;
}
#myvideo {
    margin-top:2px;
    
    margin-right:1px;
}
.removevideo {
    width: 382px;
    padding: 10px 30px 0px 20px;
}
.removevideocommand {
    float: right;
margin-top: 15px;
text-align: center;
width: 382px;
margin-bottom: 5px;
}
.btnbacktoform {
    background: url("../images/bg-shadow-btn.png") no-repeat scroll center bottom transparent;
    height: 60px;
}
.entrybtn {
    background: url("../images/bg-shadow-btn.png") no-repeat scroll center bottom transparent;
    margin-top: 0 !important;
    height: 60px;
    text-align: center;
}
.writeentrytext {
    border: 2px solid #BBB;
    border-radius: 5px 5px 5px 5px;
    height: 81px;
    margin-top: 15px;
    color: #5A4B44;
    width: 370px;
    padding: 4px;
}
.quote-left {
     background: url("../images/quote-left.png") no-repeat scroll center bottom transparent;
    float: left;
    height: 20px;
    width: 20px;
}
.quote-right {
     background: url("../images/quote-right.png") no-repeat scroll center bottom transparent;
    float: right;
    height: 20px;
    margin-right: 4px;
    margin-top: -21px;
    width: 20px;
}
.previewtext {
   width: 430px;
   padding: 10px 20px 0px 10px;
}
.nameintext {
  border-bottom: 4px double;
    color: #122F7C;
    font-size: 23px;
    padding-bottom: 20px;
}
.writetextcommand {
float: right;
margin-top: 15px;

margin-bottom: 5px;
}

.writetxt {
       border-bottom: 1px dotted;
    margin-top: 15px;
    padding-bottom: 30px;
}
.writetxtcontent {
  color: #8E8D8D;
    font-size: 24px;
    font-style: italic;
    line-height: 27px;
    padding-left: 30px;
    padding-right: 30px;

}

.mothertext {
      background: url("../images/form/input/input_text_left.gif") no-repeat scroll left top transparent;
    display: inline;
    float: left;
    height: 33px;
    width: 280px;
}

.mothertext input {
  background: url("../images/form/input/input_text_right.gif") no-repeat scroll right top transparent;
    border: medium none;
    float: right;
    height: 30px;
    padding-left: 10px;
    width: 270px;
}
.uploadbtn {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -2px;
}
.uploadimage {
    margin-left: 10px;
    margin-right: 20px;
    padding-top: 10px;
    
     
}
.uploadimageentryname {
    border-bottom: 1px dotted;
    padding-bottom: 7px;
    width: 100%;
    margin-top: 5px;
}
.myimage {
    height: 265px;
}
#myimage {
    margin-top:2px;
    margin-right:1px;
}
.imagecommand {
    float: right;
    margin-top: 15px;
    margin-bottom: 5px;
}

.entryname .ename{
      display: inline-block;
}
.nameintext .ename{
      display: inline-block;
}
.logincomment {
  width: 270px;
   padding: 10px 20px 0px 25px;
   min-height: 285px;
    height: 410px;
	background:#fff;
}
.descriptlogin {
    width: 250px;
}

/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
