.left-lineborder {
    background: url("../images/leftborder.png") no-repeat scroll 0 0 transparent;
    height: 83px;
    position: absolute;
    top: 3px;
    width: 5px;
}
#home {
	background-color: #f4f2e8;
	background-image: url(../images/bg.jpg);
	background-position: center -350px;
    background-repeat: repeat-x;
}

#heroLeft {
    padding-top:58px;
}
.homebodytext {
 color: #FFFFFF;
    float: left;
    font-size: 11px;
    height: auto;
    left: 64px;
	/* padding-bottom: 82px;*/
    line-height: 12px;
   /* margin: 660px auto;*/
    min-height: 100px;
    position: relative;
    margin-top: 38%;
    width: 890px;
	font-weight:bold;
	text-align:center;
	z-index:999;
}
.homebodytext a {
	color: #FFFFFF;
}
.right-lineborder {
    background: url("../images/rightlineborder.png") no-repeat scroll 0 0 transparent;
    height: 83px;
    position: absolute;
    top: 3px;
    right: 0;
    width: 5px;
}
.innercontent {
	display: block;
	width: 1024px;
	margin: 0 auto;
	position: relative;
}
.button {
    overflow: visible;
    width: auto;
    min-width: 143px;
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
}

    .button span {
        display: block;
        height: 22px;
        border: none;
        background: url(../images/buttons.png) no-repeat left top;
        padding: 0 0 12px 10px;
        line-height: 20px;
        text-align: center;
        white-space: nowrap;
    }

        .button span span {
            border: 0;
            padding: 6px 18px 6px 10px;
            background: url(../images/buttons.png) no-repeat right top;
        }

.green span {
    background: url(../images/buttons.png) no-repeat left -34px;
}

    .green span span {
        background: url(../images/buttons.png) no-repeat right -34px;
    }

.large span {
    background: url(../images/buttons.png) no-repeat left -68px;
    height: 25px;
}

    .large span span {
        background: url(../images/buttons.png) no-repeat right -68px;
    }

.blue span {
    background: url(../images/buttons.png) no-repeat left -104px;
    height: 37px;
}

    .blue span span {
        background: url(../images/buttons.png) no-repeat right -104px;
        line-height: 18px;
    }

h3 {
    line-height: 23px;
    text-shadow: 0 1px 1px #aaaaaa;
}
/*--------------------------------------------------------------------------------------------------------------*/
.wrapper, section, footer {
    width: 100%;
}

header {
    position: relative;
    z-index: 100;
    height: 120px;
    display: block;
    overflow: hidden;
    /*min-width: 1300px;*/
    max-width: 100%;
    width: 100%;
}

section {
    position: relative;
}

.inner-footer {
	display:none;
		}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 33px;
    width: 100%;
    float: none;
    z-index: 99999;
    clear: both;
    display: block;
    overflow: hidden;
	
    /*padding-top: 25px;*/
}

section {
	float:left;
    margin: -105px 0 0 0;
    padding: 105px 0 0 0;
    min-width: 1024px;
}


.header-inner {
    background: url("../images/header-front-bg.png") repeat-x scroll 0 0 #D80612;
    clear: both;
    display: block;
    height: 86px;
}
.head-wrapper {
    margin: 0 auto;
    width: 1024px;
}

.nav, .nav-inner {
    display: block;
    clear: both;
    height: 68px;
}

/*.nav {
    background: url(../images/bg-menu-stripe.png) no-repeat left top;
}

.nav-inner {
    background: url(../images/bg-menu-stripe.png) no-repeat right -68px;
}*/

nav {
    margin: 0 auto;
    position: relative;
    width: 780px;
    padding: 28px 0 0 0;
    height: 48px;
}

    nav a {
        text-shadow: 0 2px 1px #666;
        text-transform: uppercase;
    }

    nav li {
        float: left;
        height: 29px;
        line-height: 29px;
        border-left: 1px solid #f09ca1;
        padding: 0 32px;
    }

    nav ul.left {
        float: left;      
    }

    /*nav ul.right {
        float: right;
    }*/

        nav ul.right li {
            border-left: none;
            border-right: 1px solid #f09ca1;
        }
.topnav_left_container {
    display: inline-block;
    float: left;
    text-align: right;
}
.topnav_right_container {
    display: inline-block;
    float: right;
    text-align: left;
    width: 39%;
}
.logo {
  left: 50%;
    margin: 7px 0 0 -85px;
    position: absolute;
    width: 170px;
}

    .logo a {
        display: block;
        width: 170px;
        overflow: hidden;
    }

.social-link {
    position: absolute;
    left: 832px;
    top: 28px;
    width: 205px;
}

    .social-link a {
        text-shadow: 0 2px 1px #666;
        line-height: 24px;
        display: block;
    }

        .social-link a span, .social-link a img {
            display: inline-block;
        }

        .social-link a img {
            margin-right: 5px;
            vertical-align: middle;
        }

.footer {
    background: #FFF;
    height: 45px;
    text-align: center;
    position: relative;
    display: block;
    clear: both;
    line-height: 35px;
    overflow: hidden;
	z-index:99999;
}

    .footer a {
        color: #A6A6A6;
    }

.footer-nav {
    bottom: -10px;
    float: left;
    height: 45px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.footer-nav-wrapper {
   background: url("../images/bg-fnav.png") repeat-x scroll left top transparent;
    float: left;
    height: 45px;
    left: 0;
    top: 24px;
    width: 100%;
    /*min-width: 1300px;
    position: fixed;*/
}

.fnav-inner {
    margin: -4px auto 0;
    background: url(../images/bg-fnav2.png) no-repeat left top;
    width: 897px;
    height: 37px;
    position: relative;
}

    .fnav-inner ul {
        width: 897px;
        margin: 0 auto;
        zoom: 1;
    }

        .fnav-inner ul:after,
        .fnav-inner ul:before {
            content: "";
            display: table-cell;
        }

        .fnav-inner ul:after {
            clear: both;
        }

        .fnav-inner ul li {
            /*padding-top: 10px;*/
            width: 448px;
        }

            .fnav-inner ul li.first {
                float: left;
            }

            .fnav-inner ul li.last {
                float: right;
            }

            .fnav-inner ul li a.link {
                text-shadow: 0 1px 1px #69614b;
            }

.boxwrapper {
	float:left;
    width: 448px;
	height:49px;
	bottom:1px important;
    height: 280px;
    background: url(../images/bg-boxwrapper.png) 0 0 no-repeat;
    position: absolute;
    bottom: -244px;
    -moz-box-shadow: 0 0 6px 1px #666;
    -webkit-box-shadow: 0 0 6px 1px #666;
    box-shadow: 0px 0 6px 1px #666;
    z-index: 99999;
}

.boxwrapper-opened {
    background-position: -448px 0;
}

.boxwrapper-app {
    left: 0;
}

.boxwrapper-tracker {
    right: 0;
}

.boxwrapper .boxheader {
    height: 34px;
    display: block;
    clear: both;
    text-align: center;
    padding: 10px 0 0 0;
}

    .boxwrapper .boxheader a.fnlink {
        text-shadow: 0 1px 1px #69614b;
        padding: 0 20px 0 0;
    }

.boxheader a.fnlink {
    background: url(../images/arrow-up.png) no-repeat right center;
}

.boxwrapper-opened .boxheader a.fnlink {
    background: url(../images/arrow-down.png) no-repeat right center;
}

.boxcontent {
    display: block;
    clear: both;
    overflow: hidden;
    border-bottom: 1px dotted #132f67;
    text-align: left;
    padding: 15px 15px 0 22px;
    min-height: 215px;
}

    .boxcontent h4 {
        text-shadow: 0 2px 0 #b8b8b8;
    }

.boxwrapper-app .boxcontent h4 {
    margin: 0 0 15px 12px;
}

.boxwrapper-tracker .boxcontent h4 {
    margin: 0 0 23px 0;
}

.boxcontent .left {
    float: left;
    width: auto;
}

.boxcontent .right {
    float: right;
}

.boxwrapper-app .boxcontent .right {
    width: 209px;
    padding: 8px 0 0 0;
}

.boxwrapper-tracker .boxcontent .right {
    padding: 35px 0 0 0;
}

.boxcontent .right p {
    margin: 0 0 17px 0;
    text-align: left;
}

    .boxcontent .right p.center {
        text-align: center;
    }

.home-container {
    float: left;
    width: 100%;
    margin: -82px 0 0 0;
    position: relative;
}

.background {
    position: fixed;
    overflow: hidden;
    z-index: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

    /*.background img {
        width: 100%;
        height: 100%;
    }*/

.product-box {
    margin: 0 auto;
    width: 1024px;
    position: relative;
    z-index: 1;
    left: 0;
   /* top: 190px;*/
}

.product-image {
    float: left;
	width: auto;
	margin: 0 0 0 20px;
	position: absolute;
}

.product-text {
    float: left;
	width: 295px;
	text-align: center;
	padding: 0 124px;
	background: url(../images/bg-wintext.png) no-repeat center top;
	min-height: 320px;
	position: absolute;
	left: 420px;
}

    .product-text h3 {
        line-height: normal;
        text-shadow: 0 1px 1px #666;
        background: url(../images/border-top-double.png) no-repeat center top;
        padding: 8px 0 0 0;
        width: 285px;
    }

    .product-text span.to {
        display: block;
        clear: both;
        text-align: center;
        text-shadow: 0 1px 1px #69614b;
        margin: 0 0 5px 0;
        padding-top: 5px;
    }

        .product-text span.to img {
            vertical-align: middle;
        }

    .product-text p img {
        margin-top: -15px;
    }

    .product-text .bottom-links {
        display: block;
        clear: both;
        padding: 25px 0 0 0;
        width: 515px;
        height: 111px;
        /*background: url(../images/bg-whiteshade.png) no-repeat center center;*/
        margin: 0 0 0 -110px;
    }

    .product-text .btnlink {
        display: inline-block;
        background: url(../images/bg-shadow-btn.png) no-repeat center bottom;
        padding: 0 0 25px 0;
    }

        .product-text .btnlink span {
            line-height: 20px;
        }

        .product-text .btnlink button {
            width: 143px;
        }

.content-inner {
    margin: 0 auto;
    position: relative;
    width: 1024px;
}

h1.title {
    line-height: normal;
    display: block;
    clear: both;
    text-align: center;
    text-shadow: 0 2px 1px #999;
    background: url(../images/border-top-double.png) repeat-x left bottom;
    padding: 5px 0 15px 0px;
    margin: 0 0 15px 0;
}

.page_entryform {
    width: 593px;
    margin: 0 auto;
}

.content-inner p {
    margin: 0 0 18px 0;
}

.instruction_step {
    float: left;
    width: 100%;
    margin: 5px 0 0 0;
	 padding-bottom: 52px;
}

    .instruction_step ul {
        float: left;
        width: 100%;
    }

        .instruction_step ul li {
            float: left;
            width: 160px;
            float: left;
            border-right: 1px dashed #3e5080;
            min-height: 368px;
            padding: 0 18px;
        }

            .instruction_step ul li.last {
                border: none;
                padding-right: 0px;
            }

    .instruction_step h3 {
        margin: 0 0 23px 8px;
        padding: 6px 0 0 0;
    }

        .instruction_step h3 span {
            background: url(../images/bg-no.png) no-repeat left top;
            display: inline-block;
            height: 22px;
            line-height: 32px;
            margin: -6px 11px 0 0;
            padding: 0 6px 10px 6px;
            text-align: center;
            width: 22px;
            float: left;
        }

    .instruction_step p {
        margin: 0;
    }

        .instruction_step p.image {
            clear: both;
            display: block;
            min-height: 136px;
            text-align: center;
            margin: 0;
        }

    .instruction_step.form h3 {
        margin: 5px 0 15px 0;
        text-align: center;
    }

    .instruction_step.form p {
        margin: 0 0 25px 0;
    }

        .instruction_step.form p.image {
            margin: 0;
        }

    .instruction_step.form ul li {
        width: 168px;
        padding: 0 14px;
        position: relative;
    }

.ordivider {
    background: none repeat scroll 0 0 #FFF;
    position: absolute;
    right: -11px;
    top: 50%;
}

.btn-bottom {
    background: url(../images/bg-shadow-btn.png) no-repeat center bottom;
    display: block;
    clear: both;
    padding-bottom: 20px;
    text-align: center;
}

.slider-wrapper {
    float: left;
    width: 100%;
    min-height: 720px;
}

.slider-toptext {
    margin: 0 auto;
    width: 607px;
}

    .slider-toptext #secondary-menu ul li a {
        width: 107px;
        text-align: center;
    }

    .slider-toptext h3 {
 
        text-align: center;
        display: block;
         color: #143476;
         font-size: 21px;
    }

.product_slider {
    float: left;
    width: 100%;
    padding: 35px 0 0 0;
    min-height: 600px;
}

    .product_slider ul {
        float: left;
        width: 100%;
        background: url(../images/bg-shadedivider.png) repeat-x left 61%;
        text-align: center;
        padding: 0 0 35px 0;
    }

        .product_slider ul li {
            display: inline-block;
            margin-left: -4px;
            padding: 0 16px 110px;
            position: relative;
            width: 170px;
			z-index:99;
        }

            .product_slider ul li .image {
                text-align: center;
            }

            .product_slider ul li .description {
                display: none;
                text-align: center;
                position: absolute;
                bottom: 0;
                left: 0;
                height: 90px;
                overflow: hidden;
            }

                .product_slider ul li .description p.title {
                    border-top: 1px dashed #143476;
                    border-bottom: 1px dashed #143476;
                    padding: 6px 0 4px 0;
                    margin: 0 0 5px 0;
                }

            .product_slider ul li:hover .description {
                display: block;
            }

.join_button {
    display: block;
    clear: both;
    text-align: center;
    padding: 10px 0 20px 0;
}

.images_container {
    display: block;
    clear: both;
    float: left;
    width: 100.1%;
}

.entry_slider {
    float: left;
    width: 100%;
    margin: -35px 0 0 0;
}

    .entry_slider ul {
        float: left;
        width: 100%;
        margin: 0;
        padding: 50px 0 50px 0;
    }

        .entry_slider ul li {
            float: left;
            width: 153px;
            margin: 0 5px 0 0;
        }

            .entry_slider ul li .imgbox, .entry_slider ul li .txtbox, .entry_slider ul li .vidbox {
                float: left;
                width: 153px;
                height: 137px;
                background: #cccccc;
                margin: 0 0 5px 0;
                position: relative;
                z-index: 0;
            }

                .entry_slider ul li .txtbox:hover .entry-content, .entry_slider ul li .imgbox:hover .entry-content, .entry_slider ul li .vidbox:hover .entry-content {
                }

                .entry_slider ul li .txtbox:hover, .entry_slider ul li .imgbox:hover, .entry_slider ul li .vidbox:hover {
                    z-index: 99;
                }

                .entry_slider ul li .txtbox .entry-title {
                    text-align: center;
                    background: url(../images/dotted-border.png) no-repeat center top;
                    margin: 38px 0 0 0;
                    padding: 0 10px;
                }

                    .entry_slider ul li .txtbox .entry-title p {
                        background: url(../images/dotted-border.png) no-repeat center bottom;
                        margin: 0;
                        padding: 9px 0 8px 0;
                        line-height: 21px;
                    }

.entry-content {
    display: none;
    background: #8e8e8e;
    position: absolute;
    width: 242px;
    min-height: 218px;
    left: -44px;
    top: -44px;
    z-index: 99999;
    -moz-box-shadow: 0 0 3px 1px #333;
    -webkit-box-shadow: 0 0 3px 1px #333;
    box-shadow: 0 0 3px 1px #333;
}

    .entry-content .background {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        zoom: 1;
        filter: alpha(opacity=60);
        opacity: 0.6;
    }

    .entry-content .content-inner {
        position: absolute;
        width: 242px;
        margin: 7px 0 0 0;
        z-index: 1;
    }

    .entry-content .copy {
        background: url(../images/dotted-border.png) no-repeat center top;
        margin: 0 0 3px 0;
    }

        .entry-content .copy p {
            text-align: center;
            padding: 10px 20px 12px 20px;
            background: url(../images/dotted-border.png) no-repeat center bottom;
            line-height: 21px;
            margin: 0;
        }

            .entry-content .copy p a {
                display: block;
                clear: both;
            }

    .entry-content .share-icons {
        display: block;
        clear: both;
        text-align: center;
    }

        .entry-content .share-icons span {
            display: inline-block;
        }

            .entry-content .share-icons span.share {
                background: url(../images/icon-share.png) no-repeat left center;
                padding: 0 0 0 15px;
                line-height: 14px;
            }

            .entry-content .share-icons span.like {
                background: url(../images/icon-like.png) no-repeat left center;
                padding: 0 0 0 15px;
                margin: 0 50px;
            }

            .entry-content .share-icons span.view {
                background: url(../images/icon-view.png) no-repeat left center;
                padding: 0 0 0 15px;
            }

.entry_slider ul li .imgbox .content-inner {
    background: url(../images/icon-image.png) no-repeat top center;
	margin-top:35px;
    padding: 35px 0 0 0;
}

.entry_slider ul li .txtbox .content-inner {
    background: url(../images/icon-written.png) no-repeat top center;
	margin-top:35px;
    padding: 35px 0 0 0;
}

.entry_slider ul li .vidbox .content-inner {
    background: url(../images/icon-video.png) no-repeat top center;
	margin-top:35px;
    padding: 35px 0 0 0;
}

.imgbox .entry-content, .vidbox .entry-content {
    background: #000;
}

.imgbox .content-inner, .vidbox .content-inner {
    margin-top: 15px;
}

.entry-popup-box {
    float: left;

    display: none;
    width: 860px;
}

    .entry-popup-box.small .main_content {
        min-height: 323px;
    }

    .entry-popup-box.small .left_panel {
        min-height: 343px;
    }

    .entry-popup-box.medium .main_content {
        height: 388px;
    }

    .entry-popup-box.medium .left_panel {
        height: 408px;
    }

    .entry-popup-box.vid {
        width: 908px;
    }

.vid .main_content {
    width: 570px;
}

    .vid .main_content .block-img {
        width: 508px;
    }

.main_content {
    float: left;
    width: 521px;
    background: #fff;
	height:auto;
    min-height: 383px;
    border-right: 1px dashed #3e5080;
    padding: 10px;
}

    .main_content.brdleft {
        background: #fff url(../images/border-left.gif) repeat-y left top;
    }

.left_panel {
    background: #ebebeb;
    float: right;
    width: 313px;
    height: 515px;
    border-left: 1px dashed #3e5080;
    overflow: hidden;
}

.block-img {
    float: left;
    width: 455px;
    margin: 5px 0 0 0;
}

    .block-img p {
        margin: 0 0 12px 0;
    }

        .block-img p.image-label {
            margin: 0;
        }

.noskin .fancybox-skin {
    background: none!important;
    padding: 0!important;
    border: none!important;
}

.noskin .fancybox-opened .fancybox-skin {
    box-shadow: none;
    border: none;
}

.leftsharebox {
    float: left;
    width: 50px;
    margin: 0 12px 0 0;
}

    .leftsharebox span {
        display: block;
        clear: both;
    }
/* --------------------- SHARE ICON --------------------- */
.st_facebook_vcount .stBubble, .st_fb_like_vcount .stBubble {
    background: url(../images/Facebook_arrow_below.png) no-repeat left top!important;
}

.st_facebook_vcount .stBubble_count, .st_fb_like_vcount .stBubble_count {
    border: none!important;
    background: none!important;
}

.stButton .stBubble_count {
    background: none!important;
    border-radius: 0!important;
}

.stButton .stBubble {
    height: 30px!important;
}

.stButton .stBubble_count {
    border-radius: 0!important;
    color: gray!important;
    font-family: Arial, Helvetica, sans-serif!important;
    font-size: 14px!important;
    height: 25px!important;
    padding-top: 5px!important;
    padding-left: 20px!important;
    position: relative!important;
    text-align: left!important;
    width: 21px!important;
    z-index: 0!important;
}

.stButton .st-facebook-counter {
    background: url(../images/facebook_counter.png) no-repeat left top!important;
    width: 47px!important;
    height: 21px!important;
}

    .stButton .st-facebook-counter img {
        display: none!important;
        visibility: hidden!important;
        height: 0!important;
        width: 0!important;
    }

.st_sharethis_large {
    background: url(../images/icon-sharethis.jpg) no-repeat left top!important;
    width: 48px!important;
    height: 28px!important;
    margin: 0 0 5px 0!important;
}

    .st_sharethis_large img {
        display: none!important;
        visibility: hidden!important;
    }

.stButton span {
    background: none!important;
}

.stButton .stLarge {
    height: 28px!important;
    width: 28px!important;
    overflow: hidden;
}

.st_twitter_large {
    background: url(../images/icon-sharethis-social.jpg) no-repeat left 0px!important;
    margin-left: 12px!important;
}

.st_pinterest_large {
    background: url(../images/icon-sharethis-social.jpg) no-repeat left -32px!important;
    margin-left: 12px!important;
}

.st_googleplus_large {
    background: url(../images/icon-sharethis-social.jpg) no-repeat left -64px!important;
    margin-left: 12px!important;
}

.st_linkedin_large {
    background: url(../images/icon-sharethis-social.jpg) no-repeat left -96px!important;
    margin-left: 12px!important;
}

.st_tumblr_large {
    background: url(../images/icon-sharethis-social.jpg) no-repeat left -128px!important;
    margin-left: 12px!important;
}

.st_email_large {
    background: url(../images/icon-sharethis-social.jpg) no-repeat left -160px!important;
    margin-left: 12px!important;
}
/* --------------------- SCROLLER --------------------- */
.scr_slider .mCSB_horizontal.mCustomScrollBox .mCSB_scrollTools {
    position: relative!important;
    margin: 0 auto;
    /*width: 400px;*/
	width: 100%;
    background: #fff;
    height: 34px;
	top: -341px !important;
    background: none;
}

.scr_slider .mCSB_horizontal .mCSB_scrollTools .mCSB_draggerRail {
    border-radius: 0;
    background: none;
}

.scr_slider .mCSB_horizontal .mCSB_scrollTools a + .mCSB_draggerContainer {
    margin: 0;
}
.mCSB_scrollTools {
	overflow:visible !important;
	}
.scr_slider .mCSB_horizontal .mCSB_scrollTools .mCSB_dragger {
    width: 25px!important;
    margin: 7px 0 0 0;
}

    .scr_slider .mCSB_horizontal .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
        height: 12px;
        width: 12px;
        background: none;
    }

.scr_slider .mCSB_horizontal .mCSB_scrollTools .mCSB_buttonLeft, .scr_slider .mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight {
    position: relative;
    top: 50%;
    height: 81px;
    width: 46px;
    z-index: 99999;
    opacity: 0;
    filter: alpha(opacity=100);
}

#our-story-container.scr_slider .mCSB_horizontal .mCSB_scrollTools .mCSB_buttonLeft, #our-story-container.scr_slider .mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight {
    position: fixed;
    top: 45%;
    height: 81px;
    width: 46px;
    z-index: 99999;
}

.scr_slider .mCSB_horizontal .mCSB_scrollTools .mCSB_buttonLeft {
    left: -4px;
    background: url(../images/scroll-arrow-left.png) no-repeat left top;
}

.scr_slider .mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight {
    right: -5px;
    background: url(../images/scroll-arrow-right.png) no-repeat left top;
}

.sitemap {
    margin: 0 auto;
    width: 500px;
    padding: 50px 50px 100px 50px;
    overflow: hidden;
}

    .sitemap li {
        float: left;
        width: 100%;
        border-bottom: 1px dotted #ccc;
        margin: 5px 0;
        padding: 5px 0;
    }

        .sitemap li a {
            text-decoration: none;
        }

.post_form {
    display: block;
    clear: both;
    padding: 18px 15px 0 15px;
}

    .post_form .jqTransformInputWrapper {
        width: 280px!important;
    }

    .post_form li {
        float: left;
        width: 100%;
        margin-bottom: 10px;
    }

    .post_form p.note {
        width: 140px;
        float: left;
        line-height: normal;
        background: url(../images/icon-i.png) no-repeat left top;
        padding: 0 0 0 18px;
    }

    .post_form button.button {
        min-width: 116px!important;
        float: right;
    }

.comments-block {
        clear: both;
    display: block;
    height: 408px;
    overflow-y: scroll;
    padding: 0 15px;
}

    .comments-block .avatar {
        float: left;
        width: 34px;
    }

    .comments-block p, .comments-block span {
        margin: 0 0 0 46px;
    }

        .comments-block p.author {
            margin-bottom: 8px;
            line-height: normal;
        }

        .comments-block p.comment {
            line-height: 14px;
            margin-bottom: 8px;
        }

    .comments-block span {
        display: block;
        clear: both;
        line-height: normal;
    }

    .comments-block ul {
        float: left;
        width: 100%;
    }

        .comments-block ul li {
            float: left;
            width: 100%;
            border-top: 1px dashed #3e5080;
            padding: 15px 0 15px 0;
        }

.post-content {
    display: block;
    clear: both;
    margin: 10px 0 0 20px;
    overflow: hidden;
    width: 416px;
}

    .post-content h4 {
        background: url(../images/border-top-double.png) repeat-x left bottom;
        line-height: normal;
        padding: 0 0 22px 0;
        margin-bottom: 22px;
    }

.post_text {
    line-height: 28px;
    background: url(../images/quote-left.png) no-repeat left 5px;
    padding: 0 30px 12px 29px;
    border-bottom: 1px dashed #3e5080;
}

    .post_text p {
        background: url(../images/quote-right.png) no-repeat right bottom;
        padding: 0;
	 width: 385px;
    }

.spotlight_over {
    background: url(../images/bg-spotlight.png) repeat-y -2061px top;
    min-height: 850px;
}

    .spotlight_over .inside {
        background: none;
    }

.fltleft {
    float: left!important;
}

.fltright {
    float: right!important;
}

.alncenter {
    text-align: center!important;
}

.all-clear {
    clear: both;
}

.full-width {
    width: 100%;
}

.nobdr {
    border: none transparent!important;
}

.pb20 {
    padding-bottom: 20px!important;
}

.mt10 {
    margin-top: 10px!important;
}

.mb25 {
    margin-bottom: 25px!important;
}

.half-width {
    width: 48%;
}

#accordion .half-width {
    width: 50%;
    float: left;
}

#accordion {
    margin-top: 20px;
    margin-bottom: 70px;
}

    #accordion dt {
        line-height: 33px;
        padding: 7px 0 7px 0px;
        border-bottom: 1px dotted #3e5080;
    }

        #accordion dt span {
            display: none;
            visibility: hidden;
        }

        #accordion dt a {
            background: url(../images/arrow-down-accordian.png) right center no-repeat transparent;
            padding: 0 26px 0 0;
            text-shadow: 0 1px 1px #999;
            text-transform: uppercase;
        }

        #accordion dt.ui-state-active a {
            background: url(../images/arrow-up-accordian.png) right center no-repeat transparent;
        }

    #accordion li {
        line-height: 20px;
    }

        #accordion li a {
            text-decoration: none;
        }

            #accordion li a:hover {
                text-decoration: underline;
            }

.ui-accordion .ui-accordion-icons {
    padding: 0;
}

.ui-accordion .ui-accordion-header {
    background: none transparent;
    margin: 0;
    padding: 0;
    text-align: center;
    border-radius: 0;
    border: none transparent;
}

.ui-accordion-content {
    background: none transparent!important;
    border: none transparent!important;
    border-bottom: 1px dotted #3e5080!important;
    border-radius: 0!important;
}

.product-container, .product-title, .product-image-full-width, .product-description, .product-recipes, .product-text-container, #secondary-menu, #recipe-list-container {
    margin: 0 auto 0 auto;
}

.inside {
    background: url(../images/content-inner-sheow.png) no-repeat center 0;
    /*min-height: 800px;*/
	min-height: 581px;
}

    .inside.noheight {
        height: auto;
        min-height: inherit;
    }

#secondary-menu {
    width: 624px;
    background: url(../images/shadow-sec-menu.png) center 52px no-repeat transparent;
    height: 76px;
}

    #secondary-menu ul {
        list-style-type: none;
    }

        #secondary-menu ul li {
            display: inline;
            background: url(../images/bg-sec-menu.png) top left repeat-x transparent;
            height: 34px;
            float: left;
        }

            #secondary-menu ul li.first a {
                border: none transparent;
            }

            #secondary-menu ul li a {
                border-left: 1px dotted #FFFFFF;
                padding: 8px 22px 8px 22px;
                float: left;
                line-height: 18px;
            }

            #secondary-menu ul li:hover, #secondary-menu ul li.active {
                background: url(../images/bg-sec-menu-hover.png) repeat-x top left transparent;
            }

                #secondary-menu ul li a:hover, #secondary-menu ul li a:active, #secondary-menu ul li.active a {
                    background: url(../images/arrow-down-sec-menu.png) center 26px no-repeat transparent;
                    padding: 8px 22px 18px 22px;
                }

#recipe-list-container {
    margin: 20px auto 60px auto;
    display: inline-block;
}

.recipe-content {
    width: 240px;
    height: 215px;
    display: block;
    overflow: hidden;
    position: relative;
}

ul.recipe-list {
    list-style-type: none;
    margin-bottom: 21px;
    float: left;
}

    ul.recipe-list li {
        float: left;
        height: 215px;
        width: 240px;
        display: inline-block;
        margin-left: 21px;
    }

        ul.recipe-list li.first {
            margin-left: 0px;
        }

.recipe-image, .recipe-image img {
    width: 240px;
    height: 215px;
}

.recipe-details {
    background: url(../images/bg-black-trans.png) repeat top left transparent;
    position: relative;
    width: 220px;
    padding: 10px 10px 5px 10px;
    line-height: 17px;
    min-height: 20px;
    bottom: 0px;
    position: absolute;
}

.recipe-other-details {
    border-top: 1px dotted #fff;
    display: none;
}

.recipe-name {
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
}

.recipe-content:hover .recipe-other-details {
}

.cooking-time {
    margin-top: 5px;
}

.product-title {
    width: 607px;
    margin-bottom: 20px;
}

.page-title h1.title {
    line-height: 72px;
    line-height: normal;
    display: block;
    clear: both;
    text-align: center;
    text-shadow: 0 1px 1px #999;
    background: url(../images/border-top-double.png) repeat-x left bottom;
}

    .page-title h1.title img {
        position: relative;
        margin-bottom: 7px;
    }

.product-text-container {
    width: 607px;
}

.product-image-full-width {
    width: 753px;
    margin-bottom: 30px;
    margin-top: 45px;
}

.product-description, .product-recipes {
    clear: both;
    display: block;
    overflow: hidden;
    padding-left: 25px;
    width: 607px;
    margin-bottom: 20px;
}

.bdr-dotted-blue {
    border-bottom: 1px dotted #3e5080;
}

.section-text-container {
    border-bottom: 1px dotted #3e5080;
    width: 100%;
    padding: 20px 0 2px 0px;
    float: left;
}

.product-description p.half-width {
    width: 265px;
}

.recipe-container-box {
    float: left;
    width: 176px;
    margin-bottom: 30px;
}

.recipe-container-box-middle {
    margin-left: 20px;
    margin-right: 20px;
}

.recipe-container-box img {
    clear: both;
    margin: 0;
}

.recipe-container-box .recipe-content {
    display: block;
    height: 157px;
    overflow: hidden;
    position: relative;
    width: 176px;
    margin-bottom: 10px;
}

.recipe-container-box .recipe-image, .recipe-container-box .recipe-image img {
    height: 157px;
    width: 176px;
}

.recipe-container-box .recipe-details {
    width: 157px;
}

.instruction_step ul {
    margin-bottom: 20px;
}

.btn-conetainer {
    background: url(../images/btn-shadow.png) no-repeat left 49px transparent;
	float: right;
	padding: 15px 10px 27px 0px;
}

    .btn-conetainer button.button span span.entry-form-btn {
        padding: 6px 60px 6px 50px;
    }

h3.number-list {
    padding: 6px 0 0 0;
}

    h3.number-list span {
        background: url(../images/bg-no.png) no-repeat left top;
        display: inline-block;
        text-align: center;
        height: 20px;
        width: 32px;
        line-height: 32px;
        margin: -6px 11px 0 0;
        padding: 0 0 12px 0;
        float: left;
    }

 span.bgno1 {
        background: url(../images/bg-no1.png) no-repeat left top !important;
        display: inline-block;
        text-align: center;
        height: 20px;
        width: 32px;
        line-height: 32px;
        margin: -6px 11px 0 0;
        padding: 0 0 12px 0;
        float: left;
    }
 span.bgno2 {
        background: url(../images/bg-no2.png) no-repeat left top !important;
        display: inline-block;
        text-align: center;
        height: 20px;
        width: 32px;
        line-height: 32px;
        margin: -6px 11px 0 0;
        padding: 0 0 12px 0;
        float: left;
    }

#register-block {
    width: 280px;
    padding-right: 20px;
    border-right: 1px dotted #3e5080;
    position: relative;
    float: left;
}

.register-inner-container {
    float: left;
    width: 100%;
}

    .register-inner-container h3 {
        display: block;
        clear: both;
    }

#product-code-block {
    width: 280px;
    padding-left: 20px;
    float: right;
}

.btn-fb-conetainer {
    background: url(../images/bg-shadow-fb.png) no-repeat left 37px transparent;
    margin: 10px 0 10px 0px;
    padding-bottom: 10px;
}

    .btn-fb-conetainer button.button span span {
        padding: 0 18px 0 10px;
    }

button.blue span span.fb {
    background: url(../images/icon-fb.png) no-repeat 0 2px transparent;
    padding: 10px 10px 6px 38px;
    height: 16px;
}

p.devider {
    border-bottom: 1px dotted #3e5080;
    text-align: center;
    width: 265px;
    height: 8px;
    margin-bottom: 30px;
}

    p.devider span {
        text-shadow: 0 1px 1px #AAAAAA;
        background: #FFF;
        padding: 2px 2px 2px 2px;
        width: 30px;
        line-height: 0;
        background: #fff;
    }

#registration-form {
    width: 280px;
}

    #registration-form ul, #registration-form ul li {
        float: left;
        width: 100%;
        margin: 17px 0 0 0;
    }

    #registration-form .jqTransformSelectWrapper ul, #registration-form .jqTransformSelectWrapper ul li {
        margin: 0;
    }

    #registration-form ul li {
        margin: 0 0 10px 0;
    }

span.asterisk {
    line-height: normal;
    text-align: left;
    float: left;
    margin: -3px 5px 0 0;
    width: 10px;
}

#registration-form input, .jqTransformInputInner div input, #form-product-code .jqTransformInputInner div input {
    width: 251px;
    padding: 0!important;
}

.arrow-diveder {
    position: absolute;
    right: -8px;
    top: 220px;
    /*background: url(../images/bg-inner-pages.png) no-repeat top left;*/
    padding: 2px 2px 2px 2px;
}

#form-product-code {
    margin: 20px 0 0 0;
}

    #form-product-code .jqTransformInputWrapper {
        width: 251px!important;
    }

.terms {
    width: 100%;
    float: left;
    margin-top: 10px;
    line-height: 26px;
}
.terms1 {
    width: 100%;
    float: left;
    margin-top: 10px;
    line-height: 26px;
}
.terms1 p {
    margin:0;
}

    .terms span {
        margin-right: 5px;
    }

    .terms a {
        text-decoration: underline;
    }

        .terms a:hover {
            text-decoration: none;
        }

.jqTransformInputInner div {
    height: 33px!important;
    margin: 0px 0 0 8px;
}

.jqTransformInputWrapper {
    background: transparent url(../images/form/input/input_text_left.gif) no-repeat left top;
    height: 33px!important;
    padding: 0px;
    float: left;
}

.jqTransformInputWrapper_hover {
    background-position: left -33px!important;
}

    .jqTransformInputWrapper_hover div.jqTransformInputInner {
        background-position: right -33px!important;
    }

.jqTransformInputWrapper_focus {
    background-position: left -66px!important;
}

    .jqTransformInputWrapper_focus div.jqTransformInputInner {
        background-position: right -66px!important;
    }

.jqTransformSelectWrapper a.jqTransformSelectOpen {
    height: 33px!important;
    width: 34px!important;
}

.jqTransformSelectWrapper {
    height: 33px!important;
}

    .jqTransformSelectWrapper, .jqTransformSelectWrapper ul {
        width: 148px!important;
    }

        .jqTransformSelectWrapper ul {
            z-index: 111;
        }

.btn-conetainer button.button span span.enter-comp-btn {
    padding: 6px 40px 6px 30px;
}

.btn-competition {
    background: url(../images/bg-shadow-fb.png) no-repeat bottom center transparent;
    padding-bottom: 26px;
    text-align: center;
}

.logo {
    z-index: 111;
}

.fancybox-skin {
    background: #fff!important;
    padding: 13px 0 10px 10px!important;
}

.fancybox-close {
    top: 5px!important;
    right: 5px!important;
    width: 9px!important;
    height: 9px!important;
}

/*.fancybox-skin {
    border-radius: 0!important;
    border-top: 1px dotted #3E5080!important;
}*/

.fancybox-nav, .fancybox-next {
    display: none!important;
}

    #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
        background-image: url(../images/fancybox/btn-close.png)!important;
    }

.fancybox-title {
    position: absolute!important;
    top: 15px;
    left: 15px;
}

.lightbox-container {
    background: #ffffff;
    display: none;
}

.lightbox-product {
    overflow: hidden;
    float: left;
    width: 820px;
}

.lightbox-container .lightbox-social-icons {
    width: 60px;
    text-align: left;
    margin-right: 10px;
}

.lightbox-container .lightbox-product-container {
    float: left;
    width: 758px;
}

.lightbox-product-image {
    width: 740px;
    display: block;
    clear: both;
    overflow: hidden;
}
.lightbox-container .heading {
    margin: 10px 0 15px 0px;
    display: block;
    clear: both;
}

.lightbox-recipe-details {
    margin: 10px 0 10px 0px;
}

    .lightbox-recipe-details span {
        float: left;
        clear: both;
        margin-bottom: 5px;
    }

    .lightbox-recipe-details p {
        clear: both;
    }

.recipe-coocking-time, .recipe-category, .recipe-serve-no {
    float: left;
}

.recipe-category {
    width: 310px;
}

.recipe-coocking-time {
    width: 305px;
}

.recipe-serve-no {
    width: 100px;
}

    .recipe-coocking-time .time, .recipe-category .category, .recipe-serve-no .serve {
        line-height: 26px;
    }

.recipe-category .icon, .recipe-coocking-time .icon {
    margin: 0 10px 0 0;
}

.lightbox-discription {
    padding: 20px 0 20px 0px;
    display: block;
    clear: both;
    overflow: hidden;
}

    .lightbox-discription p {
        clear: both;
    }

#our-story-container {
    float: left;
    width: 100%;
}

#bg-our-story-container {
    background: url(../images/our-story/bg_shadow-ourstory.png) repeat-x left bottom transparent;
    margin: 47px 0 50px 0px;
    position: relative;
    display: block;
    clear: both;
    overflow: hidden;
}

#our-story-container ul {
    list-style-type: none;
    padding: 20px 0;
    text-align: center;
    float: left;
    width: 100%;
    display: block;
}

    #our-story-container ul li {
        width: 153px;
        height: 300px;
        position: relative;
        display: inline-block;
    }

        #our-story-container ul li.first {
            margin-left: 0px;
        }

#our-story-container .pre {
    position: absolute;
    top: 100px;
    left: 0px;
}

#our-story-container .next {
    position: absolute;
    top: 100px;
    right: 0px;
}

.onload-show {
    display: block;
    width: 153px;
    height: 279px;
    background: #cccccc;
    float: left;
    position: relative;
    text-align: center;
    z-index: 1;
}

.onload-hide {
    display: none;
    width: 164px;
    height: 297px;
    background: #8e8e8e;
    float: left;
    position: absolute;
    top: -8px;
    left: -5px;
    text-align: center;
    -webkit-box-shadow: 0 0 5px 1px #000000;
    box-shadow: 0 0 5px 1px #000000;
    z-index: 2;
}

    .onload-show .story-year, .onload-hide .story-year {
        text-align: center;
    
    }

.onload-show .story-year {
 	border-bottom: 1px dotted #FFFFFF;
    border-top: 1px dotted #FFFFFF;
    float: left;
    height: 48px;
    margin-left: 17px;
    margin-top: 18px;
    position: relative;
    text-align: center;
}

.story-year-container {
	margin-top:4px;
	width:100%;
	position:relative;
}

.onload-hide .story-year {
   border-bottom: 1px dotted #FFFFFF;
    border-top: 1px dotted #FFFFFF;
    float: left;
    line-height: normal;
    margin: 18px 45px;
    padding: 3px 0 2px;
}

.onload-show .story-image, .onload-hide .story-image {
    position: absolute;
    bottom: 0px;
}

.onload-show .story-image {
    height: 164px;
}

.onload-hide .story-image {
    height: 68px;
}

.year-text {
    text-align: center;
    height: 18px;
    padding: 0 6px 0 6px;
}

#our-story-container ul li:hover {
    z-index: 999;
}

.lightbox-our-story {
    float: left;
    height: 550px;
    overflow-x: hidden;
    width: 659px;
}

.lightbox-story-container {
    width: 565px;
    margin-right: 10px;
}

.lightbox-story-image-slider {
    display: block;
    float: left;
    height: 339px;
    margin: 0 0 20px;
    position: relative;
    width: 565px;
}

    .lightbox-story-image-slider img {
        width: 100%;
        height: auto;
    }

    .lightbox-story-image-slider .nivoSlider {
        height: 339px!important;
    }

.bx-viewport {
    width: 565px!important;
    border: none!important;
}

.bx-wrapper .bx-viewport {
    left: 0!important;
}

.bx-wrapper .bx-pager {
    width: auto!important;
    height: 10px!important;
    background: #fff!important;
    padding: 3px 6px 3px 6px!important;
    left: 230px;
    top: 290px!important;
}

    .bx-wrapper .bx-pager.bx-default-pager a {
        background: url(../images/slider-pager.png) -8px 0 no-repeat transparent!important;
        height: 8px!important;
        width: 8px!important;
        display: block!important;
    }

        .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
            background: url(../images/slider-pager.png) 0 0 no-repeat transparent!important;
        }

.bx-wrapper .bx-prev {
    background: url(../images/arrow-bx-slider.png) 0 0 no-repeat transparent!important;
    left: 0!important;
}

.bx-wrapper .bx-next {
    background: url(../images/arrow-bx-slider.png) -30px 0 no-repeat transparent!important;
    right: 0!important;
}

.bx-wrapper .bx-controls-direction a {
    height: 54px!important;
    width: 28px!important;
}

.content-inner-part {
    width: 890px;
    margin: 0 auto;
}

.content-inner-left {
    float: left;
    width: 500px;
    margin-top: 70px;
}

.content-inner-right {
    float: right;
    width: 332px;
    margin-top: 97px;
}

.inner-right-title {
    float: left;
    width: 100%;
    padding-bottom: 25px;
}

    .inner-right-title .title-text {
        padding: 0 10px 0 3px;
    }

    .inner-right-title p {
        float: left;
        padding-right: 7px;
        padding-top: 5px;
    }

.inner-right-text {
    width: 300px;
}

    .inner-right-text p {
        padding-bottom: 18px;
    }

.content-inner-right h1 {
    line-height: 100px;
    text-shadow: 0 2px 2px #AAAAAA;
}

.black-btn {
    float: left;
    padding-top: 12px;
}

    .black-btn p {
        float: left;
        margin-right: 7px;
        background: url(../images/black-btn-sheadow.png) no-repeat center bottom;
        height: 78px;
    }

.content-inner-full {
    float: left;
    width: 100%;
    background: url(../images/sheadow-2.png) repeat-x left 78%;
}

.content-inner-trip {
    background: url("../images/bg-page-competition2.png") no-repeat scroll center -220px transparent;
    float: left;
    margin: -40px 0 0;
    min-height: 639px;
    padding: 70px 0 0;
    width: 100%;
}

.inner-trip-part {
    width: 610px;
    margin: 0 auto;
}
.inner_trip {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
}
.inner_trip1 {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    line-height: 11em;
}
    .inner-trip-part h3.title {        
        background: url(../images/brd.png) no-repeat center bottom;
        padding: 0 0 11px 0;
    }

        .inner-trip-part h3.title img {
            vertical-align: middle;
            margin: 0 5px;
        }

.trip-part-left {
    float: left;
    width: 270px;
    margin-left: 35px;
}

.trip-part-right p {
    padding-bottom: 35px;
}

.trip-part-right {
    float: right;
    width: 275px;
    padding-top: 42px;
}

    .trip-part-right button {
        width: 250px;
    }

.competition-page header {
    height: 69px;
}

.competition-page .content-inner-trip {
    padding-top: 69px;
}

.trip-part {
    float: left;
    width: 286px;
    margin-left: 200px;
    background: url(../images/brd.png) no-repeat 0 bottom;
    padding-bottom: 12px;
    text-align: center;
}

    .trip-part .title-text {
        padding: 0 10px 0 3px;
        line-height: normal;
    }

    .trip-part p {
        padding-right: 7px;
        padding-top: 5px;
        display: inline-block;
    }

        .trip-part p img {
            vertical-align: middle;
        }

.trit-part-content {
    float: left;
    width: 618px;
    margin-top: 135px;
}

    .trit-part-content h3 {
	    width: 700px;
        padding-bottom: 18px;
    }

span.largetext {
    /*text-align: center;
    line-height: normal;
    float: left;
    width: 100%;
    margin: -24px 0 0 0;
    text-shadow: 0 1px 2px #666;*/
}

button.inner span {
    background: url(../images/buttons.png) no-repeat left -68px;
    height: 25px;
}

    button.inner span span {
        background: url(../images/buttons.png) no-repeat right -68px;
    }

.entry_msg_box {
    display: none;
    border: 1px solid #f3f3f3;
    padding: 10px 15px;
}

    .entry_msg_box h3 {
        margin: 0 0 10px 0;
        visibility: visible;
    }

cufon {
    visibility: visible;
}

.textbox {
    width: 435px;
    height: 280px;
}

    .textbox.standard {
        width: 405px;
        height: auto;
        padding: 10px 10px 20px 10px;
    }

        .textbox.standard p {
            margin: 0 0 20px 0;
        }

    .textbox textarea {
        width: 420px;
        height: 80px;
        resize: none;
        border: 1px solid #909090;
        border-radius: 5px;
        padding: 5px;
        margin: 20px 0 10px 0;
        -moz-box-shadow: inset 0 0 5px #666;
        -webkit-box-shadow: inset 0 0 5px #666;
        box-shadow: inset 0 0 5px #666;
    }

.entry_msg_box .post_text {
    margin-bottom: 20px;
}

.mbg .fancybox-skin {
    padding: 5px!important;
}

.post-image .label, .post-video .label {
    padding: 6px 0 10px 0;
    border-bottom: 1px dotted #3e5080;
    margin-bottom: 10px;
}

.entry_msg_box .right {
    text-align: right;
}

.entry_msg_box .left {
    text-align: left;
}

.entry_msg_box .center {
    text-align: center;
}

#our-story-container .mCSB_horizontal .mCSB_container.mCS_no_scrollbar {
    width: 100%!important;
}

.theme-default .nivo-controlNav {
    bottom: 20px;
    padding: 0!important;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 99999;
}

    .theme-default .nivo-controlNav a {
        background-color: #fff!important;
        height: 17px!important;
        margin: 0!important;
    }

.theme-default .nivo-directionNav a {
    height: 54px!important;
    width: 27px!important;
}

.theme-default a.nivo-prevNav {
    left: 0!important;
}

.theme-default a.nivo-nextNav {
    right: 0!important;
}

.post_form .jqTransformInputInner div input {
    padding-left: 5px!important;
}
/* --------------------- IE 7 --------------------- */
.ie7 .social-link a span, .ie7 .social-link a img, .ie7 .product-text .btnlink, .ie7 .entry-content .share-icons span, .ie7 .product_slider ul li, .ie7 #our-story-container ul li, .ie7 .trip-part p, audio, canvas, video {
    display: inline;
    zoom: 1;
}

.ie7 .product-text .btnlink {
    padding: 0 5px 25px 5px;
}

.ie7 .boxcontent {
    padding: 8px 15px 0 15px;
}

.ie7 .instruction_step h3 {
    padding: 0;
}

.ie7 #accordion .half-width {
    width: 45%;
}

.ie7 #accordion dt a {
    background: url(../images/arrow-down-accordian.png) right 10px no-repeat transparent;
}

.ie7 #bg-our-story-container {
    margin: 45px 0 100px 0px;
}

.ie7 #our-story-container ul li.first {
    margin-right: 4px;
}

.ie7 .onload-show, .ie7 .onload-hide {
    text-align: left;
}

    .ie7 .onload-show .story-year, .ie7 .onload-hide .story-year {
        padding: 0 0 12px 0px;
    }

.ie7 span.largetext {
    margin: -14px 0 0 0;
}

.ie7 .entry_msg_box button {
    width: 143px;
    margin-left: 10px;
}

    .ie7 .entry_msg_box button.green.xl {
        width: 180px;
    }

.ie7 footer {
    position: fixed;
}

.ie7 .jqTransformInput, .ie8 .jqTransformInput {
    line-height: 30px;
}

.scr_slider:hover .mCSB_horizontal .mCSB_scrollTools .mCSB_buttonLeft {
    opacity: 0.9;
}

.scr_slider:hover .mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight {
    opacity: 0.9;
}

/*added by accelerate*/
.recipe-description p {
    text-align: justify;
}
.bold-descr {
    font-weight: bold;
}

.mobilefont {
    /*color: #14326E;
	display: inline-block;
	font-family: AkzidenzGroteskBE-Cn;
	font-size: 90px;
	height: 49px;
	margin-left: 29px;
	margin-top: 50px;
	padding-bottom: 16px;
	position: relative;
	text-shadow: 0 2px 1px #666;
	text-transform:uppercase;*/
	color: #14326E;
	display: inline-block;
	font-family: AkzidenzGroteskBE-Cn;
	font-size: 90px;
	height: auto;
	margin-left: 43px;
	position: relative;
	text-shadow: 0 2px 1px #666;
	text-transform: uppercase;
}

.stockist_nav {
    width: 100%;
    display: inline-block;
}
.stockist_nav li {
    width: 100%;
    min-height: 41px;
}
.stockist_nav li a {
    display: inline-block;
    width: 100%;
}
.stockist_divider {
    min-height: 0 !important;
    border-bottom: solid 1px #e2e6ec;
}
.stockist_suburb {
    display: inline-block;
    position: relative;
    margin-top: 12px;
    margin-bottom: 8px;
    font-family: HelveticaLTStd-Bold;
    width: 100px;
    float: left;
	margin-right: 5px;
}
.stockist_name {
    display: inline-block;
    position: relative;
    margin-top: 12px;
    margin-bottom: 8px;
    font-family: HelveticaLTStd-Bold;
    width: 117px;
    float: left;
	margin-right: 5px;
}
.stockist_address {
    display: inline-block;
    position: relative;
    line-height: 41px;
    font-family: HelveticaLTStdRegular;
    font-size: 13px;
    text-shadow: none;
    float: left;
    color: #143476;
    margin-left: 5px;
	width:290px;
	margin-right: 5px;
}
.stockist_phone {
    display: inline-block;
    position: relative;
    margin-top: 12px;
    margin-bottom: 8px;
    font-family: HelveticaLTStd-Bold;
    float: right;
	margin-right: 5px;
}
.bottomdotted-bg {
    float: left;
    height: 13px;
    width: 100%;   
}
.topdotted-bg {
    float: left;
    height: 14px;
    width: 100%;   
}
.column {
	min-height:72px;
}



























































































































































/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
