.button span {
    color: #eeeeee;
    font-size: 24px;
    text-shadow: 0 2px 1px #666666;
    text-transform: uppercase;
}

.blue span span {
    font-size: 20px;
}

nav {
    font-size: 20px;
}

.social-link {
    font-size: 15px;
}

.fnav-inner ul li a.link {
    font-size: 20px;
}

.button:hover span, nav a, .social-link a, .fnav-inner ul li a.link, .boxwrapper .linkclose a.fnlink, .entry_slider ul li .txtbox .entry-title, .entry-content, .entry-content .copy p a, #secondary-menu ul li a, .recipe-container-box .recipe-content, .recipe-container-box .recipe-image, .recipe-container-box .recipe-details, ul.recipe-list li, .onload-show .story-year, .onload-hide .story-year, .year-text {
    color: #ffffff;
}

h3 {
    color: #143476;
    font-size: 22px;
}

.footer {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #a6a6a6;
}

.boxwrapper .linkclose a.fnlink {
    font-size: 20px;
}

.boxcontent h4 {
    font-size: 22px;
    color: #143476;
}

.product-text {
    font-size: 33px;
    color: #143476;
}

    .product-text h3 {
        font-size: 55px;
    }

h1.title {
    font-size: 80px;
    color: #143476;
}

.product_slider ul li .description p.title {
    font-size: 20px;
    color: #143476;
}

.entry_slider ul li .txtbox .entry-title {
    font-size: 20px;
}

.entry-content .copy p {
    font-size: 20px;
}

.entry-content .author {
    text-align: center;
    font-size: 10px;
}

.block-img p.image-label {
    font-family: 'HelveticaLTStd-Bold';
}

.sitemap li a {
    color: #333;
    font-size: 14px;
}

.post_form p.note {
    color: #d40d18;
    font-size: 12px;
}

.comments-block p.author {
    font-family: 'HelveticaLTStd-Bold';
}

.comments-block span {
    font-family: 'HelveticaLTStd-Bold';
    font-size: 11px;
}

.post-content h4 {
    font-family: 'HelveticaLTStd-Bold';
    font-size: 24px;
    color: #143476;
}

.post_text {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #777777;
}

#accordion dt {
    font-size: 32px;
}

    #accordion dt, #accordion dt a, #accordion li a {
        color: #143476;
    }

#accordion li {
    font-size: 13px;
    font-family: 'HelveticaLTStdRegular';
}

#secondary-menu ul li a {
    font-size: 18px;
}

    #secondary-menu ul li a:hover, #secondary-menu ul li a:active, #secondary-menu ul li.active a {
        color: #415e8e;
    }

.recipe-details {
    font-size: 17px;
}

.page-title h1.title {
    font-size: 72px;
    color: #143476;
}

.product-description p.half-width {
    font-size: 13px;
}

.btn-conetainer button.button span {
    font-size: 24px;
}

p.devider span {
    color: #143476;
    font-size: 22px;
}

span.asterisk {
    font-size: 21px;
}

.terms {
    color: #143476;
}
.terms1 {
    color: #143476;
}

    .terms a {
        color: #3e5080;
    }
	
    .terms-homepage a {
        color: #FFFFFF;
	text-decoration: none;
    }

.lightbox-recipe-details .title {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.recipe-coocking-time .time, .recipe-category .category, .recipe-serve-no .serve {
    font-size: 23px;
    color: #6a6a6a;
    font-family: Arial, Helvetica, sans-serif;
}

p.bold-discr {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.inner-right-title p {
    font-size: 24px;
    color: #143476;
    font-family: 'AkzidenzGroteskBE-BoldCn';
}

.inner-right-text p {
    font-size: 13px;
    font-family: 'HelveticaLTStdRegular';
}

.content-inner-right h1 {
    font-size: 143px;
    color: #143476;
}

.trip-part p {
    font-size: 31px;
    color: #143476;
}

span.largetext {
    font-size: 127px;
    color: #143476;
}

.textbox textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #666666;
}

.post-image .label, .post-video .label {
    font-family: 'HelveticaLTStd-Bold';
}

.post_form .jqTransformInputInner div input, #registration-form input, .jqTransformInputInner div input, #form-product-code .jqTransformInputInner div input, .jqTransformSelectWrapper div span {
    color: #9e9e9e;
}

.onload-show .story-year {
    float: left !important;
    font-size: 82px;
    padding-top: 34px !important;
}

.onload-hide .story-year {
    font-size: 42px;
}

.year-text {
    font-size: 17px;
}

.inner-trip-part h3.title {
    font-size: 32px;
}

#accordion dt, .product-text h3, .product-text span.to, h3, .boxcontent h4, p.devider span, button.button span, .recipe-name, .description p.title, .onload-show .story-year, .onload-hide .story-year, .year-text, .entry-content p, .entry-title, .trip-part .title-text {
    font-family: 'AkzidenzGroteskBE-Cn';
}

    .fnav-inner ul li a.link, .boxwrapper .linkclose a.fnlink, #secondary-menu ul li a, h3 span.bold, nav, .social-link a span {
        font-family: 'AkzidenzGroteskBE-BoldCn';
    }

h1, span.largetext {
    font-family: 'Youngblood';
}

    h1.title.yat {
        font-family: 'YoungbloodAlternateTwo';
    }

.cooking-time {
    font-size: 11px;
}




















/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
